Repository irontec/ivozprovider, pull requests merged in 2018-12, with the labels that each got.

#815 web/admin: fixed broken order argument in ExternalCallFiltersResidential
  web/admin/application/configs/klear/model/ExternalCallFiltersResidential.yaml
Labels: +bug, = artemis =, web/admin

#812 web/admin: fixed carrier billable calls screen
  web/admin/application/configs/klear/CarriersList.yaml
Labels: +bug, = artemis =, web/admin

#818 Updated abstractions
  asterisk/agi/src/Agi/Action/ExternalFaxCallAction.php
  asterisk/agi/src/Agi/Action/FaxReceiveAction.php
  asterisk/agi/src/Agi/Action/FaxReceiveStatusAction.php
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Dialplan/FaxDial.php
  asterisk/agi/src/Dialplan/FaxDialStatus.php
  asterisk/agi/src/Dialplan/FaxSendStatus.php
  microservices/recordings/src/Recording/Encoder.php
  microservices/workers/app/config/services.yml
  microservices/workers/src/Worker/Multimedia.php
  microservices/workers/src/Worker/Rates.php
  microservices/workers/src/Worker/Xmlrpc.php
Labels: +enhancement, = artemis =, as, microservices

#819 core: carrier sync balances refactoring
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Service/Carrier/SyncBalances.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/SyncBalancesSpec.php
  scheme/tests/Provider/Carrier/CarrierRepositoryTest.php
Labels: +enhancement, = artemis =, core, tests

#822 core: fixed CallCsvReport/CreateByScheduler service
  library/DataFixtures/ORM/ProviderCallCsvScheduler.php
  library/DataFixtures/ORM/ProviderInvoiceScheduler.php
  library/DataFixtures/ORM/ProviderNotificationTemplate.php
  library/DataFixtures/ORM/ProviderNotificationTemplateContent.php
  library/Ivoz/Provider/Application/Service/CallCsvReport/CallCsvReportDtoAssembler.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/Invoice/CreateByScheduler.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvReport/CreateBySchedulerSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Invoice/CreateBySchedulerSpec.php
  scheme/app/config/config_test.yml
  scheme/app/config/services_test.yml
  scheme/tests/DbIntegrationTestHelperTrait.php
  scheme/tests/Provider/CallCsvReport/CreateBySchedulerServiceTest.php
  scheme/tests/Provider/CallCsvScheduler/CallCsvSchedulerLifeCycleTest.php
  scheme/tests/Provider/Invoice/CreateBySchedulerServiceTest.php
  scheme/tests/Provider/InvoiceScheduler/InvoiceSchedulerSchedulerLifeCycleTest.php
  scheme/tests/Provider/NotificationTemplate/NotificationTemplateRepositoryTest.php
  web/rest/brand/features/provider/notificationTemplate/postNotificationTemplate.feature
  web/rest/brand/features/provider/notificationTemplateContent/postNotificationTemplateContent.feature
Labels: +bug, = artemis =, core

#800 i18n: user portal, security and api sections translation
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/api_rest.po
  doc/sphinx/locale/es/LC_MESSAGES/basics.po
  doc/sphinx/locale/es/LC_MESSAGES/brand.po
  doc/sphinx/locale/es/LC_MESSAGES/company.po
  doc/sphinx/locale/es/LC_MESSAGES/maintenance.po
  doc/sphinx/locale/es/LC_MESSAGES/platform.po
  doc/sphinx/locale/es/LC_MESSAGES/residential.po
  doc/sphinx/locale/es/LC_MESSAGES/retail.po
  doc/sphinx/locale/es/LC_MESSAGES/security.po
  doc/sphinx/locale/es/LC_MESSAGES/security_and_maintenance.po
  doc/sphinx/locale/es/LC_MESSAGES/third_party_integrations.po
  doc/sphinx/locale/es/LC_MESSAGES/user_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/userportal.po
  doc/sphinx/security_and_maintenance/security/concurrent_call_limit.rst
Labels: +enhancement, = artemis =, doc, i18n

#830 Artemis: fix maxcalls mechanism
  doc/sphinx/locale/es/LC_MESSAGES/security_and_maintenance.po
  doc/sphinx/security_and_maintenance/security/concurrent_call_limit.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/admin/application/configs/klear/model/Brands.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +bug, = artemis =, doc, i18n, trunks, users, web/admin

#831 web/admin: fix simulators timezones
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/BillingService.php
  web/admin/application/controllers/KlearCustomTarificatorController.php
Labels: +bug, = artemis =, billing, core, web/admin

#833 scheme: change rp.activation_time type
  library/DataFixtures/ORM/CgrTpRatingProfile.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/TpRatingProfileAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/TpRatingProfileDtoAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/TpRatingProfileInterface.php
  library/Ivoz/Cgr/Domain/Service/TpRatingProfile/UpdateByRatingProfile.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingProfile.TpRatingProfileAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20181221113443.php
Labels: +bug, = artemis =, billing, core, scheme

#835 doc: update ChangeLog for 2.8.1 release
  ChangeLog
  README.md
Labels: = artemis =, doc

#837 scheme: update initial.sql for 2.9 version
  scheme/initial.sql
Labels: = artemis =, scheme
