Repository irontec/ivozprovider, pull requests merged in 2018-08, with the labels that each got.

#563 Add support for Timings to Rating plans
  debian/systemd/cgrates-loader.service
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlan.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanDtoAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanInterface.php
  library/Ivoz/Cgr/Domain/Model/TpTiming/TpTiming.php
  library/Ivoz/Cgr/Domain/Service/TpRatingPlan/InheritRatingPlanTag.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/CreatedByTpRatingPlan.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/DeletedByTpRatingPlan.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/TpTimingLifecycleEventHandlerInterface.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/TpTimingLifecycleServiceCollection.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/UpdatedTpTimingNotificator.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingPlan.TpRatingPlanAbstract.orm.yml
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineEntityPersister.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/DoctrineEventSubscriber.php
  library/Ivoz/Provider/Domain/Model/Destination/Destination.php
  library/Ivoz/Provider/Domain/Model/DestinationRate/DestinationRate.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroup.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupInterface.php
  scheme/app/DoctrineMigrations/Version20180802142456.php
  web/admin/application/configs/klear/TpRatingPlansList.yaml
  web/admin/application/configs/klear/model/TpRatingPlans.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Filter/RouteTag.php
Labels: +feature, = artemis =, billing, core, scheme, web/admin

#611 agis: fix agi read and playback apps
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Wrapper.php
Labels: +bug, as

#602 Carrier ASR/ACD quality measurements
  cgrates/config/cgrates.json
  kamailio/trunks/config/kamailio.cfg
  library/CoreBundle/Resources/config/orm_target_entities.yml
  library/CoreBundle/Resources/config/services/infraestructure/cgrates.yml
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStat.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatDto.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatDtoAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatInterface.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatRepository.php
  library/Ivoz/Cgr/Domain/Model/TpCdrStat/TpCdrStatTrait.php
  library/Ivoz/Cgr/Domain/Service/TpCdrStat/CreateByCarrier.php
  library/Ivoz/Cgr/Domain/Service/TpCdrStat/FetchCallStatsServiceInterface.php
  library/Ivoz/Cgr/Domain/Service/TpRatingProfile/UpdateByRatingProfile.php
  library/Ivoz/Cgr/Infrastructure/Domain/Service/Cgrates/FetchCallStatsService.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpCdrStat.TpCdrStat.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpCdrStat.TpCdrStatAbstract.orm.yml
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/LoadTpRatingProfile.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierInterface.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Carrier.Carrier.orm.yml
  library/spec/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/LoadTpRatingProfileSpec.php
  scheme/app/DoctrineMigrations/Version20180803114755.php
  web/admin/application/configs/klear/CarriersList.yaml
  web/admin/application/configs/klear/model/Carriers.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Ghost/Carriers.php
Labels: !wip, +feature, core, scheme, web/admin

#622 Use BillableCalls table in rerating mechanism
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/RerateCallService.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Service/BillableCall/MigrateFromTrunksCdr.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  web/admin/application/controllers/KlearCustomTarificatorController.php
Labels: +feature, billing, core, web/admin

#621 Update invoicer process with new entity BillableCall
  library/Ivoz/Core/Infrastructure/Persistence/Doctrine/Traits/GetGeneratorByConditionsTrait.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Service/Invoice/CheckValidity.php
  library/Ivoz/Provider/Domain/Service/Invoice/Generator.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  library/spec/Ivoz/Provider/Domain/Service/Invoice/CheckValiditySpec.php
  microservices/workers/src/Worker/Invoices.php
Labels: = artemis =, core, microservices

#620 Update AGI wrapper with readLocution and playbackLocution
  asterisk/agi/src/Agi/Action/ConditionalRouteAction.php
  asterisk/agi/src/Agi/Action/DdiAction.php
  asterisk/agi/src/Agi/Action/ExternalFilterAction.php
  asterisk/agi/src/Agi/Action/HuntGroupStatusAction.php
  asterisk/agi/src/Agi/Action/IvrAction.php
  asterisk/agi/src/Agi/Action/QueueFullAction.php
  asterisk/agi/src/Agi/Action/QueueTimeoutAction.php
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Action/VoiceMailAction.php
  asterisk/agi/src/Agi/Wrapper.php
Labels: +enhancement, = artemis =, as

#623 Fix manual inovice generation from web interface
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceInterface.php
  library/Ivoz/Provider/Domain/Service/Invoice/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/Invoice/SendGenerateOrder.php
  library/spec/Ivoz/Provider/Domain/Model/Invoice/InvoiceSpec.php
  web/admin/application/configs/klear/InvoicesList.yaml
Labels: +bug, = artemis =, billing, core, web/admin

#624 doc: update changelog for 2.6.0
  ChangeLog
  README.md
Labels: +enhancement, = artemis =, doc

#627 Remove kam_trunks_cdrs unneeded fields
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180817101632.php
Labels: core, scheme, trunks

#626 Show Call registries for retail/residential client types
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdr.php
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdrInterface.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  web/admin/application/configs/klear/KamUsersCdrsList.yaml
  web/admin/application/configs/klear/KamUsersCdrsResidentialList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/KamUsersCdrs.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/BrandOperator.php
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/MainOperator.php
  web/admin/application/library/IvozProvider/Klear/Ghost/UsersCdr.php
Labels: core, i18n, web/admin

#629 bug: fixed call to nonexistent method
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
Labels: +bug, = artemis =

#632 microservices: fix Rates importer tp_destination_rates tag
  microservices/workers/src/Worker/Rates.php
Labels: +bug, = artemis =, billing, microservices

#633 core: use global composer repository in applications
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/bin/composer-install
  library/composer.json
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  scheme/composer.json
  scheme/composer.lock
  web/rest/composer.json
  web/rest/composer.lock
Labels: +enhancement, = artemis =, core

#640 core: ensure cascade persist on n-m relationships
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ExternalCallFilter.ExternalCallFilter.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Invoice.Invoice.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/InvoiceScheduler.InvoiceScheduler.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RoutingPattern.RoutingPattern.orm.yml
Labels: +bug, = artemis =, core

#641 bug: persistence error handler enhancement
  library/Ivoz/Core/Domain/Service/PersistErrorHandlerInterface.php
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineEntityPersister.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/DoctrineEventSubscriber.php
  library/Ivoz/Core/Infrastructure/Persistence/Doctrine/Events.php
  library/Ivoz/Core/Infrastructure/Persistence/Doctrine/OnErrorEventArgs.php
  library/Ivoz/Provider/Domain/Service/User/PersistErrorHandler.php
Labels: +bug, +enhancement, = artemis =
