Repository irontec/ivozprovider, pull requests merged in 2018-03, with the labels that each got.

#406 Retail account voicemail
  asterisk/agi/application/controllers/CallsController.php
  asterisk/agi/library/Agi/Action/CallForwardRetailAction.php
  asterisk/agi/library/Agi/Action/VoiceMailAction.php
  library/IvozProvider/Mapper/Sql/Companies.php
  library/IvozProvider/Mapper/Sql/DbTable/AstVoicemail.php
  library/IvozProvider/Mapper/Sql/DbTable/RetailAccounts.php
  library/IvozProvider/Mapper/Sql/Raw/AstVoicemail.php
  library/IvozProvider/Mapper/Sql/Raw/RetailAccounts.php
  library/IvozProvider/Mapper/Sql/RetailAccounts.php
  library/IvozProvider/Model/Brands.php
  library/IvozProvider/Model/Raw/AstVoicemail.php
  library/IvozProvider/Model/Raw/RetailAccounts.php
  library/IvozProvider/Model/RetailAccounts.php
  portals/application/configs/klear/CallForwardSettingsList.yaml
  portals/application/modules/rest/controllers/AstVoicemailController.php
  scheme/deltas/082-retailaccount-voicemail.sql
Labels: +enhancement, as, core, scheme, web/admin

#409 doc: Add documentation for new features in 1.7
  doc/sphinx/locale/es/LC_MESSAGES/pbx_features.po
  doc/sphinx/locale/es/LC_MESSAGES/retail.po
  doc/sphinx/locale/es/LC_MESSAGES/security.po
  doc/sphinx/pbx_features/conditional_routes.rst
  doc/sphinx/pbx_features/huntgroups.rst
  doc/sphinx/pbx_features/img/users_call_fwd2.png
  doc/sphinx/pbx_features/index.rst
  doc/sphinx/pbx_features/route_locks.rst
  doc/sphinx/pbx_features/services.rst
  doc/sphinx/pbx_features/users.rst
  doc/sphinx/retail/retail_accounts.rst
  doc/sphinx/retail/retail_filters.rst
  doc/sphinx/security/img/call_limit.png
  doc/sphinx/security/index.rst
  portals/application/languages/es_ES/es_ES.po
Labels: doc

#407 Fix user voicemail names
  asterisk/agi/library/Agi/Action/VoiceMailAction.php
  debian/ivozprovider-profile-data.install
  library/IvozProvider/Model/Users.php
  scheme/deltas/083-fix-user-voicemail.sql
  scripts/UpdateMailboxNames.pl
Labels: +bug, as, scheme

#410 Huntgroups: prevent missed calls feature
  asterisk/agi/src/Agi/Action/HuntGroupCallAction.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HuntGroup.HuntGroupAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180308143534.php
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/model/HuntGroups.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +feature, as, i18n, scheme, web/admin

#411 Fix voicemail-user-extension logic
  asterisk/agi/src/Agi/Action/VoiceMailAction.php
  library/Ivoz/Provider/Domain/Model/User/User.php
Labels: +enhancement, as, core

#413 core: reviewed fields
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HuntGroup.HuntGroupAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180306160405.php
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/model/Companies.yaml
Labels: +enhancement, core, scheme

#414 Limit the number of voice channels per brand
  asterisk/agi/src/Dialplan/Headers.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Brand.BrandAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180308171319.php
  web/admin/application/configs/klear/BrandsList.yaml
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/model/Brands.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +feature, as, i18n, scheme, trunks, users, web/admin

#419 Kamailio: remove unwanted logics and log messages
  asterisk/agi/src/Dialplan/Headers.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, as, trunks, users

#422 Restore basic CSV prices importer
  library/CoreBundle/Resources/config/services/gearmand.yml
  library/Ivoz/Core/Infrastructure/Domain/Service/Gearman/Jobs/RatesImporter.php
  microservices/workers/app/config/services.yml
  microservices/workers/src/Worker/Rates.php
  profiles/portal/etc/supervisor/conf.d/rates-importer.conf
  web/admin/application/configs/klear/DestinationRatesList.yaml
  web/admin/application/configs/klear/conf.d/importPricesHelp.yaml
  web/admin/application/controllers/ImportCustomFileController.php
  web/admin/public/zf.php
  web/admin/samples/pricesSample.csv
Labels: +feature, core, microservices, packaging

#423 Get terminal provisioning back
  library/CoreBundle/Resources/config/logger.yml
  library/Ivoz/Provider/Domain/Model/Language/LanguageDto.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  web/admin/application/bin/template.php
  web/admin/application/configs/application.ini
  web/admin/application/configs/klear/TerminalManufacturersList.yaml
  web/admin/application/controllers/KlearCustomRestoreBackupController.php
  web/admin/application/controllers/KlearCustomRestoreDefaultController.php
  web/admin/application/controllers/KlearCustomRunCodeController.php
  web/admin/application/modules/provision/controllers/IndexController.php
  web/admin/public/dev.php
  web/admin/public/e2e.php
  web/admin/public/index.php
  web/admin/public/zf.php
  web/admin/templates/provisioning/SPA502G/specific.cfg
  web/admin/templates/provisioning/SPA504G/specific.cfg
  web/admin/templates/provisioning/SPA509G/specific.cfg
  web/admin/templates/provisioning/SPA514G/specific.cfg
  web/admin/templates/provisioning/SPA525G2/specific.cfg
  web/admin/templates/provisioning/YealinkT21P/specific.cfg
  web/admin/templates/provisioning/YealinkT21P_E2/specific.cfg
  web/admin/templates/provisioning/YealinkT23P/specific.cfg
  web/admin/templates/provisioning/YealinkT27P/specific.cfg
  web/admin/templates/provisioning/YealinkT46G/specific.cfg
  web/admin/templates/provisioning/YealinkT48G/specific.cfg
  web/admin/templates/provisioning/YealinkW5XP/specific.cfg
Labels: +bug, provisioning, web/admin

#424 core: fixed faxesInOut file storage
  library/CoreBundle/Resources/config/services/assemblers.yml
  library/CoreBundle/Resources/config/services/path_resolvers.yml
  library/Ivoz/Provider/Application/Service/FaxesInOut/FaxesInOutAssembler.php
  library/Ivoz/Provider/Application/Service/FaxesInOut/FaxesInOutDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOut.php
Labels: +bug, core

#425 i18n: reviewed web/admin translation files
  web/admin/application/configs/klear/model/RoutingPatternGroupsRelPatterns.yaml
  web/admin/application/controllers/ImportCustomFileController.php
  web/admin/application/controllers/KlearCustomExtraAuthController.php
  web/admin/application/controllers/KlearCustomGenerateInvoiceController.php
  web/admin/application/controllers/KlearCustomInvoiceTemplateTesterController.php
  web/admin/application/controllers/KlearCustomUploadFileController.php
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Importer/GenericForm.php
Labels: +enhancement, i18n, web/admin

#428 Add support for prepaid/pseudoprepaid billing
  asterisk/agi/src/Dialplan/Headers.php
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180319174246.php
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
Labels: +feature, as, billing, core, scheme, trunks, web/admin
