Repository irontec/ivozprovider, pull requests merged in 2018-04, with the labels that each got.

#434 Add enable/disable toggle to user call forward settings
  asterisk/agi/src/Agi/Action/UserCallAction.php
  asterisk/agi/src/Agi/Action/UserStatusAction.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingInterface.php
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallForwardSetting.CallForwardSettingAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniquenessSpec.php
  scheme/app/DoctrineMigrations/Version20180328102026.php
  web/admin/application/configs/klear/CallForwardSettingsList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/rest/features/provider/callForwardSetting/getCallForwardSetting.feature
  web/rest/features/provider/callForwardSetting/postCallForwardSetting.feature
  web/rest/features/provider/callForwardSetting/putCallForwardSetting.feature
  web/user/app/languages/locale-es.json
  web/user/app/modules/detours/detoursEditCtrl.js
  web/user/app/views/detours/edit.html
  web/user/app/views/detours/new.html
  web/user/app/views/detours/table-detours.html
Labels: +feature, as, core, i18n, scheme, web/admin, web/user

#435 web/user: fixed cfs enabled attribute
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingDto.php
  web/rest/features/provider/callForwardSetting/getCallForwardSetting.feature
  web/rest/features/provider/callForwardSetting/postCallForwardSetting.feature
  web/user/app/languages/locale-es.json
  web/user/app/modules/detours/detoursEditCtrl.js
  web/user/app/views/detours/new.html
Labels: +bug, web/user

#436 agis: Make mail template configurable by brand
  asterisk/agi/application/controllers/VoicemailController.php
  asterisk/agi/library/Agi/Action/FaxCallAction.php
Labels: +enhancement, as

#437 web/user: Fix terminal registration info
  web/rest/src/Controller/My/StatusAction.php
Labels: +bug, web/user

#440 Hide Timings selector in RatingPlans list
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanDtoAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanInterface.php
  library/Ivoz/Cgr/Domain/Service/TpRatingPlan/InheritRatingPlanTag.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingPlan.TpRatingPlanAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180405103050.php
  web/admin/application/configs/klear/TpRatingPlansList.yaml
Labels: +enhancement, billing, core, scheme, web/admin

#445 Less logs but more accurate
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, trunks, users

#447 Upgrade to Kamailio 5.1.2
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregInterface.php
  library/Ivoz/Kam/Domain/Model/UsersActiveWatcher/UsersActiveWatcherAbstract.php
  library/Ivoz/Kam/Domain/Model/UsersActiveWatcher/UsersActiveWatcherInterface.php
  library/Ivoz/Kam/Domain/Model/UsersLocation/UsersLocationAbstract.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksDomainAttr.TrunksDomainAttrAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksUacreg.TrunksUacregAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersActiveWatcher.UsersActiveWatcherAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersLocation.UsersLocationAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/LcrRule.LcrRuleAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180410164407.php
Labels: +enhancement, core, scheme, trunks, users

#458 Rename kam_pike_trusted table
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/CoreBundle/Resources/config/lifecycle/kam.yml
  library/CoreBundle/Resources/config/lifecycle/kam/pike_trusted.yml
  library/CoreBundle/Resources/config/lifecycle/kam/trusted.yml
  library/CoreBundle/Resources/config/orm_target_entities.yml
  library/DataFixtures/ORM/KamTrusted.php
  library/Ivoz/Kam/Domain/Model/PikeTrusted/PikeTrustedRepository.php
  library/Ivoz/Kam/Domain/Model/Trusted/Trusted.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedAbstract.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedDto.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedInterface.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedRepository.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedTrait.php
  library/Ivoz/Kam/Domain/Service/PikeTrusted/PikeTrustedLifecycleEventHandlerInterface.php
  library/Ivoz/Kam/Domain/Service/Trusted/CheckValidity.php
  library/Ivoz/Kam/Domain/Service/Trusted/TrustedLifecycleEventHandlerInterface.php
  library/Ivoz/Kam/Domain/Service/Trusted/TrustedLifecycleServiceCollection.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/PikeTrusted/SendTrunksPermissionsReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/PikeTrusted/SendUsersPermissionsReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/Trusted/SendTrunksPermissionsReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/Trusted/SendUsersPermissionsReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/Trusted.Trusted.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/Trusted.TrustedAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrustedDoctrineRepository.php
  scheme/app/DoctrineMigrations/Version20180419105002.php
  web/admin/application/configs/klear/KamTrustedList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/KamTrusted.yaml
  web/admin/e2e/tests/features/1-platform/07-antifloodTrustedIPs.feature
Labels: +enhancement, core, scheme, trunks, users, web/admin

#460 Implement basic wholesale client interfaces
  library/Ivoz/Kam/Domain/Model/Trusted/Trusted.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Feature/Feature.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180418161848.php
  web/admin/application/assets/js/customMenu.js
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/KamTrunksCdrsWholesaleList.yaml
  web/admin/application/configs/klear/KamTrustedList.yaml
  web/admin/application/configs/klear/KamUsersCdrsRetailList.yaml
  web/admin/application/configs/klear/RetailDDIsList.yaml
  web/admin/application/configs/klear/WholesaleClientsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/admin/application/controllers/KlearCustomExtraAuthController.php
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/admin/application/library/IvozProvider/Klear/Filter/Features.php
  web/admin/application/library/IvozProvider/Klear/Filter/RetailFeatures.php
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
Labels: +feature, core, scheme, web/admin

#461 Kamailio wholesale basics
  debian/ivozprovider.postinst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +feature, packaging, trunks, users
