Repository irontec/ivozprovider, pull requests merged in 2018-09, with the labels that each got.

#651 Fix routing failover
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, = artemis =, trunks

#660 core: remove orphaned TrunksLcrRuleTargets service
  library/Ivoz/Kam/Domain/Model/TrunksLcrRuleTarget/TrunksLcrRuleTargetRepository.php
  library/Ivoz/Kam/Domain/Service/TrunksLcrRuleTarget/RemoveByOutgoingRouting.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksLcrRuleTargetDoctrineRepository.php
Labels: +bug, = artemis =, core

#671 Numeric transformations depending on outgoing route
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRouting.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/OutgoingRouting.OutgoingRoutingAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180906173440.php
  web/admin/application/configs/klear/OutgoingRoutingList.yaml
  web/admin/application/configs/klear/model/OutgoingRouting.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +feature, = artemis =, core, scheme, trunks, web/admin

#670 web/admin: Carrier/Company balances changed to ghost fields
  library/CoreBundle/Resources/config/services/infraestructure/cgrates.yml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/library/IvozProvider/Klear/Ghost/Carriers.php
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
Labels: +enhancement, = artemis =, web/admin

#673 kamtrunks: Avoid failover for 480 responses
  kamailio/trunks/config/kamailio.cfg
Labels: +enhancement, = artemis =, trunks

#677 core: fix external call filter
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/Schedule/Schedule.php
Labels: +bug, = artemis =, core

#683 pkg: make rtpengine private address configurable from install menu
  debian/ivozprovider-profile-proxy.config
  debian/ivozprovider-profile-proxy.postinst
  debian/ivozprovider-profile-proxy.templates
Labels: +feature, = artemis =, packaging

#682 scheme: fix old migrations to avoid rating plans loss
  scheme/app/DoctrineMigrations/Version20180726142227.php
  scheme/app/DoctrineMigrations/Version20180802142456.php
Labels: +bug, = artemis =, scheme

#684 i18n: improved tests to detect empty and fuzzy translations
  library/bin/test-i18n
  web/admin/application/configs/klear/model/Carriers.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +enhancement, = artemis =, i18n

#688 web/admin: fix call simulator for Carrier rating profiles
  web/admin/application/configs/klear/CarriersList.yaml
  web/admin/application/controllers/KlearCustomTarificatorController.php
Labels: +bug, = artemis =, web/admin

#689 web/admin: add uniques to destinationRate-timings
  library/CoreBundle/Resources/config/lifecycle/provider/rating_plan.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingPlan.TpRatingPlanAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Provider/Domain/Service/RatingPlan/PersistErrorHandler.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RatingPlan.RatingPlanAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20180919144526.php
  web/admin/application/configs/klear/RatingPlansList.yaml
  web/admin/application/configs/klear/errors.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +enhancement, = artemis =, web/admin

#687 Pricing plan csv
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanAbstract.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanInterface.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupInterface.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupRepository.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RatingPlan.RatingPlanAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RatingPlanGroup.RatingPlanGroup.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/RatingPlanGroupDoctrineRepository.php
  web/admin/application/configs/klear/RatingProfilesCompanyList.yaml
  web/admin/application/configs/klear/RatingProfilesList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/controllers/KlearCustomDownloadRatingPlanController.php
  web/admin/application/controllers/KlearCustomTarificatorController.php
  web/admin/application/library/IvozProvider/Service/RestClient.php
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/app/config/api/resources.yml
  web/rest/brand/app/config/routing.yml
  web/rest/brand/app/config/services.yml
  web/rest/brand/src/Controller/My/RatingPlanPricesAction.php
  web/rest/brand/src/Model/RatingPlanPrices.php
  web/rest/client/app/config/services.yml
Labels: +feature, = artemis =, core, web/admin, web/rest

#690 web/admin: improved destination autocomplete filter
  web/admin/application/configs/klear/DestinationRatesList.yaml
Labels: +enhancement, = artemis =, web/admin

#691 Fixed user portal preferences
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/rest/client/app/config/api/raw/provider.yml
  web/user/app/modules/preferences/preferencesCtrl.js
Labels: +bug, = artemis =, web/user

#693 billing: rounding precision and method
  cgrates/config/cgrates.json
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
Labels: +enhancement, = artemis =, billing

#696 scheme: add indexes to make portals faster
  scheme/deltas/085-create-cdr-indexes.sql
Labels: = oasis =, scheme, web/admin

#694 recordings: Improved downloaded file name
  kamailio/recordings/application/controllers/RecordingsController.php
  library/IvozProvider/Klear/Ghost/RecordingsType.php
Labels: +enhancement, = oasis =

#695 web/admin: download multiple recording files
  portals/application/configs/klear/RecordingsList.yaml
Labels: +feature, = oasis =
