Repository irontec/ivozprovider, pull requests merged in 2018-05, with the labels that each got.

#465 bug: fixed invoice timezone conversion
  library/IvozProvider/Gearmand/Invoices/Generator.php
Labels: +bug, core

#483 doc: install from packages repositories
  doc/sphinx/basics/installation/debian_install.rst
Labels: billing, doc

#482 corrected typo in debian config script
  debian/ivozprovider.config
Labels: +bug, packaging

#481 include branch name in doc links
  README.md
Labels: +bug, doc

#480 include branch name in doc links - oasis
  README.md
Labels: +bug, doc

#490 Fix initial terminal passwords
  scheme/initial.sql
Labels: +bug, scheme

#494 Update README with installation tutorial for oasis
  README.md
Labels: +enhancement, doc

#496 Redesign bouncing logic
  asterisk/agi/src/Agi/Action/ExternalCallAction.php
  asterisk/agi/src/Agi/Action/ExternalDdiCallAction.php
  asterisk/agi/src/Agi/Action/ExternalFaxCallAction.php
  asterisk/agi/src/Agi/Action/ExternalFriendCallAction.php
  asterisk/agi/src/Agi/Action/ExternalRetailCallAction.php
  asterisk/agi/src/Agi/Action/ExternalUserCallAction.php
  asterisk/agi/src/Dialplan/Headers.php
  asterisk/config/dialplan/bouncer.conf
  asterisk/config/dialplan/default.conf
  asterisk/config/pjsip.conf
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, as, trunks, users

#497 Remove route by regexp
  library/DataFixtures/ORM/ProviderRoutingPattern.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRule.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleInterface.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPattern.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternDto.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternInterface.php
  library/Ivoz/Provider/Domain/Service/LcrRule/CreateByOutgoingRoutingAndRoutingPattern.php
  library/Ivoz/Provider/Domain/Service/LcrRule/UpdateByRoutingPattern.php
  library/Ivoz/Provider/Domain/Service/RoutingPattern/UpdateByBrand.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RoutingPattern.RoutingPatternAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleSpec.php
  library/spec/Ivoz/Provider/Domain/Service/LcrRule/CreateByOutgoingRoutingAndRoutingPatternSpec.php
  library/spec/Ivoz/Provider/Domain/Service/LcrRule/UpdateByRoutingPatternSpec.php
  scheme/app/DoctrineMigrations/Version20180523162834.php
  web/admin/application/configs/klear/model/OutgoingRouting.yaml
  web/admin/application/configs/klear/model/RoutingPatterns.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/rest/features/provider/routingPattern/getRoutingPattern.feature
  web/rest/features/provider/routingPattern/postRoutingPattern.feature
  web/rest/features/provider/routingPattern/putRoutingPattern.feature
  web/rest/features/provider/routingPatternGroupsRelPattern/getRoutingPatternGroupsRelPattern.feature
  web/rest/features/provider/routingPatternGroupsRelPattern/postRoutingPatternGroupsRelPattern.feature
  web/rest/features/provider/routingPatternGroupsRelPattern/putRoutingPatternGroupsRelPattern.feature
Labels: !breaking, +bug, core, scheme, tests, web/admin, web/rest

#502 trunks: LCR AVPs and database fields reordered
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderLcrGateway.php
  library/DataFixtures/ORM/ProviderLcrRule.php
  library/Ivoz/Provider/Domain/Model/LcrGateway/LcrGatewayAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrGateway/LcrGatewayDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrGateway/LcrGatewayInterface.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleDto.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleInterface.php
  library/Ivoz/Provider/Domain/Model/PeerServer/PeerServer.php
  library/Ivoz/Provider/Domain/Model/PeerServer/PeerServerInterface.php
  library/Ivoz/Provider/Domain/Service/LcrGateway/UpdateByPeerServer.php
  library/Ivoz/Provider/Domain/Service/LcrRule/CreateByOutgoingRoutingAndRoutingPattern.php
  library/Ivoz/Provider/Domain/Service/LcrRule/UpdateByRoutingPattern.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/LcrGateway.LcrGatewayAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/LcrRule.LcrRuleAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/LcrRule/LcrRuleSpec.php
  library/spec/Ivoz/Provider/Domain/Service/LcrGateway/UpdateByPeerServerSpec.php
  library/spec/Ivoz/Provider/Domain/Service/LcrRule/CreateByOutgoingRoutingAndRoutingPatternSpec.php
  library/spec/Ivoz/Provider/Domain/Service/LcrRule/UpdateByRoutingPatternSpec.php
  scheme/app/DoctrineMigrations/Version20180524170318.php
Labels: +enhancement, core, scheme, tests, trunks

#504 portals: fix Routing Pattern Groups GUI
  web/admin/application/configs/klear/RoutingPatternGroupsList.yaml
  web/admin/application/configs/klear/RoutingPatternGroupsRelPatternsList.yaml
  web/admin/application/configs/klear/model/RoutingPatternGroups.yaml
Labels: +bug, web/admin

#505 portals: fix retail and wholesale submenu title
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: +bug, i18n

#512 web/admin: fixed feature based klear menu filters
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/DDIsList.yaml
  web/admin/application/configs/klear/PeeringContractsList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/WholesaleClientsList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/controllers/KlearCustomExtraAuthController.php
  web/admin/application/library/IvozProvider/Klear/Auth/Adapter.php
Labels: +bug, web/admin

#516 kamtrunks: Skip GW if contains unresolvable domain
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks
