Repository irontec/ivozprovider, pull requests merged in 2018-02, with the labels that each got.

#385 web/user: call history enhancements
  web/rest/app/config/api/resources.yml
  web/rest/src/Controller/My/CallHistoryAction.php
  web/user/app/modules/calls/callsCtrl.js
Labels: +enhancement, web/user

#398 Maxcalls per brand
  asterisk/agi/application/controllers/CallsController.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/IvozProvider/Mapper/Sql/DbTable/Brands.php
  library/IvozProvider/Mapper/Sql/DbTable/Companies.php
  library/IvozProvider/Mapper/Sql/DbTable/KamAccCdrs.php
  library/IvozProvider/Mapper/Sql/Raw/Brands.php
  library/IvozProvider/Mapper/Sql/Raw/Companies.php
  library/IvozProvider/Model/Raw/Brands.php
  library/IvozProvider/Model/Raw/Companies.php
  library/IvozProvider/Model/Raw/KamAccCdrs.php
  portals/application/configs/klear/BrandsList.yaml
  portals/application/configs/klear/CompaniesList.yaml
  portals/application/configs/klear/RetailClientsList.yaml
  portals/application/configs/klear/model/Brands.yaml
  portals/application/configs/klear/model/Companies.yaml
  portals/application/configs/klear/model/RetailClients.yaml
  portals/application/controllers/KlearCustomUploadFileController.php
  portals/application/languages/en_US/en_US.po
  portals/application/languages/es_ES/es_ES.po
  portals/application/modules/rest/controllers/BrandsController.php
  portals/application/modules/rest/controllers/CompaniesController.php
  scheme/deltas/078-brand-maxcalls.sql
Labels: +enhancement, as, i18n, scheme, trunks, users, web/admin

#400 Add enable/disable toggle to user call forward settings
  asterisk/agi/library/Agi/Action/UserCallAction.php
  library/IvozProvider/Mapper/Sql/CallForwardSettings.php
  library/IvozProvider/Mapper/Sql/DbTable/CallForwardSettings.php
  library/IvozProvider/Mapper/Sql/Raw/CallForwardSettings.php
  library/IvozProvider/Model/CallForwardSettings.php
  library/IvozProvider/Model/Raw/CallForwardSettings.php
  library/IvozProvider/Model/Users.php
  portals/application/configs/klear/CallForwardSettingsList.yaml
  portals/application/configs/klear/UsersList.yaml
  portals/application/configs/klear/model/CallForwardSettings.yaml
  portals/application/languages/en_US/en_US.po
  portals/application/languages/es_ES/es_ES.po
  portals/application/modules/rest/controllers/CallForwardSettingsController.php
  portals/application/modules/userweb/controllers/CallForwardSettingsController.php
  scheme/deltas/079-disable-cfw.sql
  userweb/app/languages/locale-es.json
  userweb/app/modules/detours/detoursCtrl.js
  userweb/app/modules/detours/detoursEditCtrl.js
  userweb/app/views/detours/edit.html
  userweb/app/views/detours/new.html
  userweb/app/views/detours/table-detours.html
Labels: +enhancement, web/admin, web/user

#401 kam+agis: Fix misleading maxcalls implementation
  asterisk/agi/application/controllers/CallsController.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  portals/application/configs/klear/model/Brands.yaml
  portals/application/configs/klear/model/Companies.yaml
  portals/application/languages/en_US/en_US.po
  portals/application/languages/es_ES/es_ES.po
Labels: +enhancement, as, i18n, trunks, users, web/admin

#402 RingAll huntgroup: CANCEL with "Answered elsewhere" as an option
  asterisk/agi/library/Agi/Action/HuntGroupAction.php
  asterisk/agi/library/Agi/Action/UserCallAction.php
  library/IvozProvider/Mapper/Sql/DbTable/HuntGroups.php
  library/IvozProvider/Mapper/Sql/Raw/HuntGroups.php
  library/IvozProvider/Model/Raw/HuntGroups.php
  portals/application/configs/klear/HuntGroupsList.yaml
  portals/application/configs/klear/model/HuntGroups.yaml
  portals/application/languages/en_US/en_US.po
  portals/application/languages/es_ES/es_ES.po
  portals/application/modules/rest/controllers/HuntGroupsController.php
  scheme/deltas/080-ringall-missed-calls.sql
Labels: +feature, as

#403 Add call forward settings to retail accounts
  asterisk/agi/application/controllers/CallsController.php
  asterisk/agi/library/Agi/Action/CallForwardRetailAction.php
  asterisk/agi/library/Agi/Action/CallForwardUserAction.php
  asterisk/agi/library/Agi/Action/RetailCallAction.php
  asterisk/agi/library/Agi/Action/UserCallAction.php
  asterisk/config/dialplan/default.conf
  library/IvozProvider/Klear/Filter/TargetTypes.php
  library/IvozProvider/Mapper/Sql/CallForwardSettings.php
  library/IvozProvider/Mapper/Sql/DbTable/CallForwardSettings.php
  library/IvozProvider/Mapper/Sql/DbTable/RetailAccounts.php
  library/IvozProvider/Mapper/Sql/Raw/CallForwardSettings.php
  library/IvozProvider/Mapper/Sql/Raw/RetailAccounts.php
  library/IvozProvider/Model/Raw/CallForwardSettings.php
  library/IvozProvider/Model/Raw/RetailAccounts.php
  library/IvozProvider/Model/RetailAccounts.php
  portals/application/configs/klear/CallForwardSettingsList.yaml
  portals/application/configs/klear/RetailAccountsList.yaml
  portals/application/configs/klear/model/CallForwardSettings.yaml
  portals/application/modules/rest/controllers/CallForwardSettingsController.php
  scheme/deltas/081-retailaccount-cfw.sql
Labels: +feature :new:, as, scheme :file_cabinet:, web/admin

#405 kam: Make sanity checks topmost logic
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +bug, trunks, users

#404 kam: Make sanity checks topmost logic
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +bug, trunks, users
