Repository irontec/ivozprovider, pull requests merged in 2019-12, with the labels that each got.

#1198 web/rest: do not join tables on zero depth responses (collections usu…
  library/Ivoz/Api/Doctrine/Orm/Extension/DynamicLoadingExtension.php
  library/Ivoz/Api/Doctrine/Orm/Extension/UnpaginatedResultGeneratorExtension.php
Labels: * artemis *, +enhancement, web/rest

#1191 Optimized CompanyService/RemoveByBrandService queries
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Service/CompanyService/RemoveByBrandService.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/spec/Ivoz/Provider/Domain/Service/CompanyService/RemoveByBrandServiceSpec.php
  schema/tests/Provider/Company/CompanyRepositoryTest.php
Labels: * artemis *, core, tests

#1201 Api nullable filter
  library/Ivoz/Api/Swagger/Metadata/Resource/ResourceMetadata/FilterMetadataFactory.php
Labels: * artemis *, +enhancement, web/rest

#1186 Unit test refactoring
  library/Ivoz/Provider/Domain/Service/BillableCall/MigrateFromUnparsedTrunksCdr.php
  library/spec/HelperTrait.php
  library/spec/Ivoz/Provider/Domain/Service/BalanceNotification/NotifyBrokenThresholdSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CsvExporterSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/MigrateFromTrunksCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/MigrateFromUnparsedTrunksCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateDtoByDefaultRunTpCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvReport/CreateBySchedulerSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvReport/CsvAttacherSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvReport/EmailSenderSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvScheduler/NextExecutionResolverSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniquenessSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/DecrementBalanceSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/IncrementBalanceSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/SearchBrokenThresholdsSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/SyncBalancesSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Company/DecrementBalanceSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Company/IncrementBalanceSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Company/SyncBalancesSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CompanyService/PropagateBrandServicesSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CompanyService/RemoveByBrandServiceSpec.php
Labels: * artemis *, +enhancement, tests

#1204 core: bump symfony/symfony from 3.4.32 to 3.4.36
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.json
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +enhancement, core

#1207 web/admin: minimal web changes
  asterisk/agi/src/Agi/Action/IvrAction.php
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/InvoiceTemplatesList.yaml
  web/admin/application/configs/klear/ResidentialClientsList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/IvrEntries.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, i18n, web/admin

#1205 core: filter billable calls with direction instead of carrierId
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
Labels: * artemis *, +bug, core

#1206 web/rest: don't use limit/offset on unpaginated API requests
  library/Ivoz/Api/Doctrine/Orm/Extension/UnpaginatedResultGeneratorExtension.php
  library/phpstan.neon
Labels: * artemis *, web/rest

#1208 web/admin: hide call registry for non vpbx
  doc/sphinx/administration_portal/client/residential/calls/call_registry.rst
  doc/sphinx/administration_portal/client/residential/calls/index.rst
  doc/sphinx/administration_portal/client/retail/calls/call_registry.rst
  doc/sphinx/administration_portal/client/retail/calls/index.rst
  web/admin/application/configs/klear/klear.yaml
Labels: * artemis *, +enhancement, doc, web/admin

#1211 Api web portal url type
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/provider/webPortal/getWebPortal.feature
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/brand/tests/DataAccessControl/Provider/WebPortalTest.php
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
Labels: * artemis *, web/rest

#1215 core: use client timezone in schedule checks
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriod.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/Schedule/Schedule.php
  library/Ivoz/Provider/Domain/Model/Schedule/ScheduleInterface.php
  library/spec/Ivoz/Provider/Domain/Model/Schedule/ScheduleSpec.php
Labels: * artemis *, +bug, core

#1210 doc: added API use case example
  doc/sphinx/api_rest/multilevel.rst
  doc/sphinx/api_rest/use_case.rst
  doc/sphinx/index.rst
Labels: * artemis *, doc

#1213 core: skip cgrates calls on cdrmixer/invoicer if cgrates_mode is 1
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ProcessExternalCdr.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ReloadService.php
  library/Ivoz/Kam/Domain/Service/TrunksClientInterface.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  library/Ivoz/Provider/Domain/Service/Invoice/AutoRateCalls.php
  library/spec/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ProcessExternalCdrSpec.php
Labels: * artemis *, +enhancement, core

#1218 Scheduler dst bug
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerInterface.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceScheduler.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerInterface.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverTrait.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvScheduler/NextExecutionResolverSpec.php
  library/spec/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverSpec.php
Labels: * artemis *, +bug, core

#1212 kamtrunks: handle incoming calls to T.38 retail accounts
  asterisk/agi/src/Agi/Action/DdiAction.php
  asterisk/agi/src/Agi/Action/RetailCallAction.php
  asterisk/agi/src/Agi/Action/RouterAction.php
  asterisk/config/dialplan/default.conf
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/library/IvozProvider/Klear/Options/OptionsCustomizer.php
Labels: * artemis *, +enhancement, trunks

#1209 doc: updated API changelog for 2.13.2
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
Labels: * artemis *, ci-no-tests, doc, web/rest

#1217 doc: update changelog for 2.13.2 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, ci-no-tests, doc

#1220 agis: fix CalendarPeriod checking in ExternalCallFilter
  asterisk/agi/src/Agi/Action/DdiAction.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
Labels: * artemis *, +bug, as, core

#1221 web/rest: Expose new fields on api
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorDto.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  web/rest/brand/features/provider/administrator/getAdministrators.feature
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/client/features/provider/company/getCompany.feature
  web/rest/platform/features/provider/administrator/getAdministrators.feature
Labels: * artemis *, +enhancement, web/rest

#1222 CDRs: transport residentialDeviceId to kam_trunks_cdrs
  asterisk/agi/src/Dialplan/Headers.php
  asterisk/agi/src/Dialplan/Residentials.php
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  schema/app/DoctrineMigrations/Version20191220152436.php
Labels: * artemis *, +enhancement, core, schema, trunks

#1223 Set retailAccountId for T.38 retail outbound calls
  asterisk/agi/src/Dialplan/Headers.php
  asterisk/agi/src/Dialplan/Retails.php
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +bug, as, blocked

#1224 Calendar period date sanitize
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriod.php
  library/spec/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodSpec.php
  web/admin/application/configs/klear/errors.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, core, tests, web/admin
