Repository irontec/ivozprovider, pull requests merged in 2019-06, with the labels that each got.

#1000 schema: update DDI E.164 number field with country information
  schema/app/DoctrineMigrations/Version20190529132608.php
Labels: * artemis *, +enhancement, schema

#1004 web/admin: make DDIProvider - DDI assignment optional
  doc/sphinx/administration_portal/client/vpbx/ddis.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  web/admin/application/configs/klear/model/Ddis.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: * artemis *, +enhancement, doc, i18n, web/admin

#1003 web/rest: allow file sizes up to 30M on destinationRateGroup importer
  debian/ivozprovider-web-admin.postinst
  library/CoreBundle/Resources/config/services/path_resolvers.yml
  library/Ivoz/Provider/Application/Service/DestinationRateGroup/DestinationRateGroupDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroup.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupDto.php
  web/admin/application/configs/klear/DestinationRateGroupsList.yaml
  web/admin/application/configs/klear/model/DestinationRateGroups.yaml
Labels: * artemis *, +enhancement, core, web/rest

#1002 schema: add indexes to speedup cdrmixer call migrator
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpCdr.TpCdrAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190603115458.php
Labels: * artemis *, +enhancement, schema

#984 Kamailio reload request
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineEntityPersister.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Gearman/Jobs/Cgrates.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/Trusted/SendUsersPermissionsReloadRequest.php
  library/Ivoz/Provider/Domain/Service/Brand/BrandLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/DdiProvider/DdiProviderLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/DdiProvider/DdiProviderLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Domain/DeleteByBrand.php
  library/Ivoz/Provider/Domain/Service/Domain/DeleteByCompany.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/RoutingPattern/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/Service/UpdateByBrand.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/Company/SendUsersAddressPermissionsReloadRequest.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/Company/SendUsersTrustedPermissionsReloadRequest.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/DdiProvider/SendTrunksAddressPermissionsReloadRequest.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/RoutingPattern/SendTrunksLcrReloadRequest.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/RoutingPatternGroup/SendTrunksLcrReloadRequest.php
  schema/tests/DbIntegrationTestHelperTrait.php
  schema/tests/Provider/ApplicationServer/ApplicationServerLifeCycleTest.php
  schema/tests/Provider/Company/CompanyLifeCycleTest.php
  schema/tests/Provider/Company/CompanySoftDeleteTest.php
  schema/tests/Provider/DdiProvider/DdiProviderLifeCycleTest.php
  web/rest/brand/features/provider/company/postCompanies.feature
Labels: * artemis *, +bug, core

#1005 Choose outbound DDI using prefix
  asterisk/agi/src/Agi/Agents/UserAgent.php
  doc/sphinx/administration_portal/client/vpbx/user_configuration/outgoing_ddi_rules.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderOutgoingDdiRulesPattern.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRule/OutgoingDdiRule.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRule/OutgoingDdiRuleInterface.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPattern.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/OutgoingDdiRulesPattern.OutgoingDdiRulesPatternAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternSpec.php
  schema/app/DoctrineMigrations/Version20190604091022.php
  web/admin/application/configs/klear/OutgoingDDIRulesPatternsList.yaml
  web/admin/application/configs/klear/model/OutgoingDdiRulesPatterns.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Ghost/OutgoingRule.php
  web/rest/client/features/provider/outgoingDdiRulesPattern/getOutgoingDdiRulesPattern.feature
  web/rest/client/features/provider/outgoingDdiRulesPattern/postOutgoingDdiRulesPattern.feature
Labels: * artemis *, +feature, as, core, doc, i18n, schema, users, web/admin

#1008 Handle api file uploads
  library/ApiBundle/Resources/config/services.yml
  library/Ivoz/Api/Behat/Context/FeatureContext.php
  library/Ivoz/Api/Entity/Serializer/Normalizer/EntityDenormalizer.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/CustomParameterDecorator.php
  library/Ivoz/Api/Symfony/EventListener/MultipartRequestListener.php
  library/Ivoz/Api/Symfony/HttpFoundation/File/UploadedFile.php
  library/Ivoz/Core/Domain/Service/TempFile.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandDto.php
  library/Ivoz/Provider/Domain/Model/Locution/LocutionDto.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHoldDto.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  web/rest/client/features/provider/locution/postLocution.feature
  web/rest/client/features/provider/locution/putLocution.feature
  web/rest/client/features/provider/musicOnHold/postMusicOnHold.feature
  web/rest/client/features/provider/musicOnHold/putMusicOnHold.feature
  web/rest/platform/app/config/routing.yml
  web/rest/platform/features/provider/brand/postBrands.feature
  web/rest/platform/features/provider/brand/putBrands.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/provider/webPortal/putWebPortal.feature
Labels: * artemis *, +feature, web/rest

#1006 Allow unassigned route in Call Forward Settings
  asterisk/agi/src/Agi/Action/RouterAction.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallForwardSetting.CallForwardSettingAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190604110803.php
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
  web/user/app/languages/locale-en.json
  web/user/app/languages/locale-es.json
  web/user/app/modules/detours/detoursEditCtrl.js
  web/user/app/modules/detours/detoursNewCtrl.js
  web/user/app/views/detours/edit.html
  web/user/app/views/detours/new.html
  web/user/app/views/detours/table-detours.html
Labels: * artemis *, +enhancement, schema, web/admin

#1018 Map nullable on delete cascade fk fields properly
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/HolidayDate/HolidayDateAbstract.php
  library/Ivoz/Provider/Domain/Model/HolidayDate/HolidayDateInterface.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryAbstract.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryInterface.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingInterface.php
  library/Ivoz/Provider/Domain/Model/QueueMember/QueueMemberAbstract.php
  library/Ivoz/Provider/Domain/Model/QueueMember/QueueMemberInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallForwardSetting.CallForwardSettingAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HolidayDate.HolidayDateAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/IvrEntry.IvrEntryAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/OutgoingRouting.OutgoingRoutingAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/QueueMember.QueueMemberAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190618064619.php
Labels: * artemis *, +enhancement, core

#1019 Add support for specific schedule periods in calendars
  asterisk/agi/src/Agi/Action/DdiAction.php
  asterisk/agi/src/Agi/Action/ExternalFilterAction.php
  doc/sphinx/administration_portal/client/vpbx/routing_tools/calendars.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  library/CoreBundle/Resources/config/orm_target_entities.yml
  library/Ivoz/Provider/Domain/Model/Calendar/CalendarDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Calendar/CalendarInterface.php
  library/Ivoz/Provider/Domain/Model/Calendar/CalendarTrait.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriod.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodAbstract.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodDto.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodInterface.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodRepository.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriod/CalendarPeriodTrait.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelSchedule.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleAbstract.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleDto.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleInterface.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleRepository.php
  library/Ivoz/Provider/Domain/Model/CalendarPeriodsRelSchedule/CalendarPeriodsRelScheduleTrait.php
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CalendarPeriodDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CalendarPeriodsRelScheduleDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Calendar.Calendar.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CalendarPeriod.CalendarPeriod.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CalendarPeriod.CalendarPeriodAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CalendarPeriodsRelSchedule.CalendarPeriodsRelSchedule.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CalendarPeriodsRelSchedule.CalendarPeriodsRelScheduleAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190617101841.php
  web/admin/application/configs/klear/CalendarPeriodsList.yaml
  web/admin/application/configs/klear/CalendarsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/model/CalendarPeriods.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Filter/CalendarPeriodSelectLocution.php
Labels: * artemis *, +feature, as, core, schema, web/admin

#1023 Show passwd on retail and residential
  library/DataFixtures/ORM/ProviderResidentialDevice.php
  library/DataFixtures/ORM/ProviderRetailAccount.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDto.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDto.php
  web/rest/client/features/provider/residentialDevices/getResidentialDevice.feature
  web/rest/client/features/provider/residentialDevices/postResidentialDevice.feature
  web/rest/client/features/provider/residentialDevices/putResidentialDevice.feature
  web/rest/client/features/provider/retailAccount/getRetailAccount.feature
  web/rest/client/features/provider/retailAccount/postRetailAccount.feature
  web/rest/client/features/provider/retailAccount/putRetailAccount.feature
Labels: * artemis *, +bug, tests, web/rest

#1021 Add API changelog
  web/rest/brand/CHANGELOG.md
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/client/CHANGELOG.md
  web/rest/client/app/config/api/raw/kam.yml
  web/rest/client/app/config/api/raw/provider.yml
  web/rest/client/app/config/api/resources.yml
  web/rest/platform/CHANGELOG.md
Labels: * artemis *, doc, web/rest

#1024 Updated assembler
  library/Ivoz/Core/Application/Service/Assembler/CustomDtoAssemblerInterface.php
  library/Ivoz/Provider/Application/Service/Brand/BrandAssembler.php
  library/Ivoz/Provider/Application/Service/Brand/BrandDtoAssembler.php
  library/Ivoz/Provider/Application/Service/CallCsvReport/CallCsvReportAssembler.php
  library/Ivoz/Provider/Application/Service/CallCsvReport/CallCsvReportDtoAssembler.php
  library/Ivoz/Provider/Application/Service/DestinationRateGroup/DestinationRateGroupAssembler.php
  library/Ivoz/Provider/Application/Service/DestinationRateGroup/DestinationRateGroupDtoAssembler.php
  library/Ivoz/Provider/Application/Service/FaxesInOut/FaxesInOutAssembler.php
  library/Ivoz/Provider/Application/Service/FaxesInOut/FaxesInOutDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Friend/FriendDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Invoice/InvoiceAssembler.php
  library/Ivoz/Provider/Application/Service/Invoice/InvoiceDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Locution/LocutionAssembler.php
  library/Ivoz/Provider/Application/Service/Locution/LocutionDtoAssembler.php
  library/Ivoz/Provider/Application/Service/MusicOnHold/MusicOnHoldAssembler.php
  library/Ivoz/Provider/Application/Service/MusicOnHold/MusicOnHoldDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Recording/RecordingAssembler.php
  library/Ivoz/Provider/Application/Service/Recording/RecordingDtoAssembler.php
  library/Ivoz/Provider/Application/Service/ResidentialDevice/ResidentialDeviceDtoAssembler.php
  library/Ivoz/Provider/Application/Service/RetailAccount/RetailAccountDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Terminal/TerminalDtoAssembler.php
  library/Ivoz/Provider/Application/Service/User/UserAssembler.php
  library/Ivoz/Provider/Application/Service/WebPortal/WebPortalAssembler.php
  library/Ivoz/Provider/Application/Service/WebPortal/WebPortalDtoAssembler.php
Labels: * artemis *, +enhancement, core

#1028 API create user regression
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/rest/client/app/config/api/raw/provider.yml
  web/rest/client/features/provider/user/getUser.feature
  web/rest/client/features/provider/user/postUser.feature
  web/rest/client/features/provider/user/putUser.feature
  web/rest/client/features/provider/user/removeUser.feature
  web/rest/client/tests/DataAccessControl/Provider/UserTest.php
Labels: * artemis *, +bug, tests, web/rest

#1025 Fixed rating plan duplicated weight error
  library/Ivoz/Core/Domain/Service/PersistErrorHandlerServiceCollection.php
  library/Ivoz/Provider/Domain/Service/RatingPlan/PersistErrorHandler.php
  library/spec/HelperTrait.php
  library/spec/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/DoctrineEventSubscriberSpec.php
Labels: * artemis *, +bug, +enhancement, core, tests

#1026 ci: skip Pull Request tests when ci-no-test label is present
  Jenkinsfile
Labels: * artemis *, +enhancement, ci-no-tests, schema

#1029 web/admin: forced close of add/edit tabs on emulation
  web/admin/application/assets/js/customMenu.js
  web/admin/application/controllers/KlearCustomExtraAuthController.php
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: * artemis *, i18n, web/admin

#1031 schema: add indexes on Changelog and BillableCall
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Changelog.ChangelogAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190625143639.php
  schema/tests/Provider/Extension/ExtensionLifeCycleTest.php
Labels: * artemis *, schema

#1030 Log mass updates
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineQueryRunner.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/CommandPersister.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
  schema/tests/Provider/BillableCall/BillableCallRepositoryTest.php
Labels: * artemis *, +enhancement, core, tests

#1033 core: added response cache on DataAccessControlParser
  library/Ivoz/Api/Core/Security/DataAccessControlParser.php
Labels: * artemis *, +enhancement, core, web/rest

#1032 web/admin: made BillableCall direction translatable
  web/admin/application/configs/klear/model/BillableCalls.yaml
Labels: i18n, web/admin
