Repository irontec/ivozprovider, pull requests merged in 2019-07, with the labels that each got.

#1039 pkg: set UTC as default timezone for php
  debian/ivozprovider-asterisk-agi.postinst
  debian/ivozprovider-profile-as.postinst
  debian/ivozprovider-profile-portal.postinst
  debian/ivozprovider-recordings.postinst
  debian/ivozprovider-web-admin.postinst
Labels: * artemis *, +enhancement, packaging

#1046 Sort rates by destination
  library/Ivoz/Core/Application/Service/QueryBuilderFactory.php
  web/admin/application/configs/klear/model/DestinationRates.yaml
Labels: * artemis *, +bug, web/admin

#1048 Db constraint review
  library/CoreBundle/Resources/config/lifecycle/provider/destination.yml
  library/CoreBundle/Resources/config/lifecycle/provider/error_handlers.yml
  library/CoreBundle/Resources/config/lifecycle/provider/friend.yml
  library/CoreBundle/Resources/config/lifecycle/provider/rating_plan.yml
  library/CoreBundle/Resources/config/lifecycle/provider/terminal_model.yml
  library/CoreBundle/Resources/config/lifecycle/provider/user.yml
  library/Ivoz/Provider/Domain/Service/DdiProviderRegistration/DdiProviderRegistrationLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/DdiProviderRegistration/PersistErrorHandler.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DdiProviderRegistration.DdiProviderRegistrationAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HolidayDate.HolidayDateAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190702101426.php
Labels: * artemis *, +enhancement, core, schema

#1047 web/admin: fixed holiday date importer
  web/admin/application/controllers/ImportFileController.php
Labels: * artemis *, +bug, web/admin

#1049 core: removed some invoice validity checks
  library/Ivoz/Provider/Domain/Service/Invoice/CheckValidity.php
  library/spec/Ivoz/Provider/Domain/Service/Invoice/CheckValiditySpec.php
Labels: * artemis *, +enhancement, core

#1037 Restrict file uploads on api
  library/Ivoz/Api/Swagger/Metadata/Resource/ResourceMetadata/FileOperationMetadataFactory.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/CustomParameterDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/MissingReferenceFixerDecorator.php
  library/Ivoz/Core/Domain/Model/TempFileContainnerTrait.php
  library/Ivoz/Core/Domain/Service/FileContainerInterface.php
  library/Ivoz/Provider/Domain/Model/Brand/Brand.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Domain/Model/CallCsvReport/CallCsvReport.php
  library/Ivoz/Provider/Domain/Model/CallCsvReport/CallCsvReportInterface.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroup.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupInterface.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOut.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOutInterface.php
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceInterface.php
  library/Ivoz/Provider/Domain/Model/Locution/Locution.php
  library/Ivoz/Provider/Domain/Model/Locution/LocutionInterface.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHold.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHoldInterface.php
  library/Ivoz/Provider/Domain/Model/Recording/Recording.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingInterface.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortal.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalInterface.php
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
Labels: * artemis *, +enhancement, core, web/rest

#1051 doc: Release 2.11.1 changelog
  ChangeLog
  README.md
  library/ApiBundle/Resources/config/api_platform_base.yml
Labels: * artemis *, ci-no-tests, doc

#1052 core: retry mass updates on lock issues
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineQueryRunner.php
Labels: * artemis *, +enhancement, core

#1080 Brand user locations
  library/Ivoz/Provider/Domain/Model/Friend/FriendDto.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDto.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDto.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalDto.php
  web/rest/brand/app/config/api/raw/kam.yml
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/provider/friend/getFriendStatus.feature
  web/rest/brand/features/provider/residentialDevice/getResidentialDeviceStatus.feature
  web/rest/brand/features/provider/retailAccount/getRetailAccountStatus.feature
  web/rest/brand/features/provider/terminal/getTerminalStatus.feature
Labels: * artemis *, +feature, ci-no-tests, tests, web/rest

#1055 Api deprecated attributes
  library/Ivoz/Api/Swagger/Metadata/Property/Factory/PropertyMetadataOverwriteFactory.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/rest/client/app/config/api/raw/provider.yml
  web/rest/client/app/config/api/resources.yml
  web/rest/client/bin/test-api-spec
  web/rest/client/features/my/call_forward_settings/getCallForwardSettings.feature
  web/rest/client/features/my/call_forward_settings/postCallForwardSettings.feature
  web/rest/client/features/provider/callForwardSetting/putCallForwardSetting.feature
  web/rest/client/features/provider/extension/postExtension.feature
  web/rest/client/features/provider/extension/putExtension.feature
  web/rest/client/features/provider/huntGroup/putHuntGroup.feature
  web/rest/client/features/provider/huntGroupsRelUser/putHuntGroupsRelUser.feature
  web/rest/client/features/provider/ivr/getIvr.feature
  web/rest/client/features/provider/ivrEntry/putIvrEntry.feature
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/queueMember/putQueueMember.feature
  web/rest/client/features/provider/user/getUser.feature
  web/rest/client/features/provider/user/postUser.feature
  web/rest/client/features/provider/user/putUser.feature
Labels: * artemis *, core, web/rest

#1076 Fix rating profile exporter
  library/Ivoz/Api/Behat/Context/FeatureContext.php
  web/admin/application/controllers/KlearCustomDownloadRatingPlanController.php
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/admin/application/library/IvozProvider/Service/RestClient.php
  web/rest/brand/app/config/api/resources.yml
  web/rest/brand/app/config/routing.yml
  web/rest/brand/features/my/ratingPlanPrice/getRatingPlanPrices.feature
  web/rest/client/app/config/api/raw/provider.yml
  web/rest/client/app/config/api/resources.yml
  web/rest/client/app/config/routing.yml
  web/rest/client/app/config/services.yml
  web/rest/client/features/provider/ratingPlanGroup/getPrices.feature
  web/rest/client/features/provider/ratingProfile/getRatingProfile.feature
  web/rest/client/src/Controller/Provider/RatingPlanPricesAction.php
  web/rest/client/src/Model/RatingPlanPrices.php
Labels: * artemis *, +bug, tests, web/admin, web/rest

#1056 web/admin: fixed multi delete on queues
  web/admin/application/library/IvozProvider/Klear/Filter/QueueStrategies.php
Labels: * artemis *, +bug, ci-no-tests, web/admin

#1085 ci: include phpunit in docker testing image
  Jenkinsfile
  tests/docker/Dockerfile
Labels: * artemis *, +enhancement, devops

#1081 Avoid destination ambiguity in DDI-prefix and routing-tags
  asterisk/agi/src/Agi/Agents/UserAgent.php
  doc/sphinx/administration_portal/brand/routing/routing_tags.rst
  doc/sphinx/administration_portal/client/vpbx/user_configuration/outgoing_ddi_rules.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/basic_concepts.po
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderRoutingTag.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPattern.php
  library/Ivoz/Provider/Domain/Model/RoutingTag/RoutingTag.php
  library/spec/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternSpec.php
  library/spec/Ivoz/Provider/Domain/Model/RoutingTag/RoutingTagSpec.php
  schema/tests/Provider/RoutingPatternGroupsRelPattern/RoutingPatternGroupsRelPatternLifeCycleTest.php
  schema/tests/Provider/RoutingTag/RoutingTagLifeCycleTest.php
  web/admin/application/configs/klear/model/OutgoingDdiRulesPatterns.yaml
  web/admin/application/configs/klear/model/RoutingTags.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/rest/brand/features/provider/outgoingRouting/getOutgoingRouting.feature
  web/rest/brand/features/provider/routingTag/getRoutingTag.feature
  web/rest/brand/features/provider/routingTag/postRoutingTag.feature
  web/rest/brand/features/provider/routingTag/putRoutingTag.feature
  web/rest/client/features/provider/outgoingDdiRulesPattern/putOutgoingDdiRulesPattern.feature
Labels: * artemis *, +enhancement, core, doc, i18n, tests, users, web/admin, web/rest

#1086 Remove unused api models
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/UnusedDefinitionRemover.php
  web/rest/brand/CHANGELOG.md
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/client/CHANGELOG.md
Labels: * artemis *, doc, web/rest

#1064 schema: update Timezone countries relation
  schema/app/DoctrineMigrations/Version20190709121932.php
Labels: * artemis *, +enhancement, schema

#1087 core: properly handle OutgoingDDIRule keep action
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRule/OutgoingDdiRule.php
Labels: * artemis *, +bug, as, core

#1083 github: add templates for bug reports and pull requests
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  FAQ.md
  README.md
Labels: * artemis *, +feature, ci-no-tests, doc

#1084 doc: update changelog for 2.11.2 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, ci-no-tests, doc
