Repository irontec/ivozprovider, pull requests merged in 2019-09, with the labels that each got.

#1121 web/rest: show register status on ddi provider registrations
  library/CoreBundle/Resources/config/services/assemblers.yml
  library/Ivoz/Core/Application/Model/DtoNormalizer.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/DdiProviderRegistrationStatus.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  library/Ivoz/Provider/Application/Service/DdiProviderRegistration/DdiProviderRegistrationDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistrationDto.php
  library/spec/Ivoz/Provider/Application/Service/DdiProviderRegistration/DdiProviderRegistrationDtoAssemblerSpec.php
  web/rest/brand/app/config/api/raw/kam.yml
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/provider/ddiProviderRegistration/getDdiProviderRegistration.feature
Labels: * artemis *, +feature, web/rest

#1116 Show domain event subscribers on service collections
  library/Ivoz/Core/Application/Helper/LifecycleServiceHelper.php
  library/Ivoz/Core/Domain/Service/LifecycleEventHandlerInterface.php
  library/Ivoz/Core/Infrastructure/Symfony/DependencyInjection/Compiler/DomainServiceCompiler.php
  library/Ivoz/Provider/Domain/Service/BalanceNotification/BalanceNotificationLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/BillableCall/BillableCallLifecycleServiceCollection.php
  schema/src/EntityGeneratorBundle/Command/UpdateServiceCollectionsCommand.php
Labels: * artemis *, +enhancement, core

#1127 web/admin: filter timezone based on selected country
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
Labels: * artemis *, +enhancement, web/admin

#1126 schema: add notification templates for CA and IT languages
  schema/app/DoctrineMigrations/Version20190912162641.php
Labels: * artemis *, +bug, schema

#1125 schema: update migrated Administrators brandid
  schema/app/DoctrineMigrations/Version20190912161620.php
Labels: * artemis *, +bug, schema

#1124 web/admin: country code in residential external filter screens
  web/admin/application/configs/klear/ExternalCallFiltersResidentialList.yaml
  web/admin/application/configs/klear/model/ExternalCallFiltersResidential.yaml
Labels: * artemis *, +bug, web/admin

#1123 Expose inverse relationships on api
  library/CoreBundle/Resources/config/autoload.yml
  library/CoreBundle/Resources/config/services/assemblers.yml
  library/CoreBundle/Resources/config/services/path_resolvers.yml
  library/Ivoz/Api/Core/Annotation/AttributeDefinition.php
  library/Ivoz/Api/Entity/Serializer/Normalizer/EntityDenormalizer.php
  library/Ivoz/Api/Swagger/Metadata/Property/Factory/PropertyMetadataOverwriteFactory.php
  library/Ivoz/Api/Swagger/Metadata/Property/Factory/PropertySwaggerContextFactory.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/MissingReferenceFixerDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/OrphanAttributeFixerDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/ReferenceFixerDecorator.php
  library/Ivoz/Provider/Application/Service/Brand/BrandDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Company/CompanyDtoAssembler.php
  library/Ivoz/Provider/Application/Service/ConditionalRoutesCondition/ConditionalRoutesConditionDtoAssembler.php
  library/Ivoz/Provider/Application/Service/ExternalCallFilter/ExternalCallFilterDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Ivr/IvrDtoAssembler.php
  library/Ivoz/Provider/Application/Service/OutgoingRouting/OutgoingRoutingDtoAssembler.php
  library/Ivoz/Provider/Application/Service/PickUpGroup/PickUpGroupDtoAssembler.php
  library/Ivoz/Provider/Application/Service/RoutingPatternGroup/RoutingPatternGroupDtoAssembler.php
  library/Ivoz/Provider/Application/Service/User/UserDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandDto.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesCondition/ConditionalRoutesConditionDto.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterDto.php
  library/Ivoz/Provider/Domain/Model/Ivr/IvrDto.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingDto.php
  library/Ivoz/Provider/Domain/Model/PickUpGroup/PickUpGroupDto.php
  library/Ivoz/Provider/Domain/Model/RoutingPatternGroup/RoutingPatternGroupDto.php
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/rest/brand/app/config/api/raw/kam.yml
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/brand/features/provider/company/putCompanies.feature
  web/rest/brand/features/provider/outgoingRouting/getOutgoingRouting.feature
  web/rest/brand/features/provider/outgoingRouting/postOutgoingRouting.feature
  web/rest/brand/features/provider/outgoingRouting/putOutgoingRouting.feature
  web/rest/brand/features/provider/routingPatternGroup/getRoutingPatternGroups.feature
  web/rest/brand/features/provider/routingPatternGroup/postRoutingPatternGroups.feature
  web/rest/brand/features/provider/routingPatternGroup/putRoutingPatternGroups.feature
  web/rest/client/app/config/api/raw/kam.yml
  web/rest/client/app/config/api/raw/provider.yml
  web/rest/client/features/provider/conditionalRoutesCondition/getConditionalRoutesCondition.feature
  web/rest/client/features/provider/conditionalRoutesCondition/postConditionalRoutesCondition.feature
  web/rest/client/features/provider/conditionalRoutesCondition/putConditionalRoutesCondition.feature
  web/rest/client/features/provider/externalCallFilter/getExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilter/postExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilter/putExternalCallFilter.feature
  web/rest/client/features/provider/ivr/getIvr.feature
  web/rest/client/features/provider/ivr/postIvr.feature
  web/rest/client/features/provider/ivr/putIvr.feature
  web/rest/client/features/provider/pickUpGroup/getPickUpGroup.feature
  web/rest/client/features/provider/pickUpGroup/postPickUpGroup.feature
  web/rest/client/features/provider/pickUpGroup/putPickUpGroup.feature
  web/rest/client/features/provider/user/getUser.feature
  web/rest/client/features/provider/user/postUser.feature
  web/rest/client/features/provider/user/putUser.feature
  web/rest/platform/app/config/api/raw/provider.yml
  web/rest/platform/features/provider/brand/getBrands.feature
  web/rest/platform/features/provider/brand/postBrands.feature
  web/rest/platform/features/provider/brand/putBrands.feature
Labels: * artemis *, tests, web/rest

#1130 web/admin: improved error handling on rating profiles csv exporter
  doc/sphinx/administration_portal/client/vpbx/rating_profiles.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  web/admin/application/assets/js/customRemoteFileDownloader.js
  web/admin/application/configs/klear/RatingProfilesCompanyList.yaml
  web/admin/application/configs/klear/RatingProfilesList.yaml
  web/admin/application/controllers/KlearCustomDownloadRatingPlanController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Service/RestClient.php
Labels: * artemis *, +enhancement, web/admin

#1134 web/admin: fixed filters on external call CSV exporters
  doc/sphinx/administration_portal/brand/invoicing/invoices.rst
  doc/sphinx/administration_portal/brand/providers/carriers.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  schema/tests/Provider/CallCsvReport/CreateBySchedulerServiceTest.php
  web/admin/application/controllers/KlearCustomBillableCallsController.php
  web/admin/application/library/IvozProvider/Service/RestClient.php
Labels: * artemis *, +bug, web/admin
