Repository irontec/ivozprovider, pull requests merged in 2019-03, with the labels that each got.

#901 Enum constants
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Provider/Domain/Model/BrandUrl/BrandUrlAbstract.php
  library/Ivoz/Provider/Domain/Model/CallAcl/CallAclAbstract.php
  library/Ivoz/Provider/Domain/Model/CallAclRelMatchList/CallAclRelMatchListAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/Codec/CodecAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoute/ConditionalRouteAbstract.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesCondition/ConditionalRoutesConditionAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterAbstract.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOutAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/HolidayDate/HolidayDateAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceAbstract.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/Ivr/IvrAbstract.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryAbstract.php
  library/Ivoz/Provider/Domain/Model/Locution/LocutionAbstract.php
  library/Ivoz/Provider/Domain/Model/MatchListPattern/MatchListPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHoldAbstract.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateAbstract.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplateContent/NotificationTemplateContentAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRule/OutgoingDdiRuleAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRulesPattern/OutgoingDdiRulesPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRouting.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlan.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanAbstract.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalAbstract.php
  library/Ivoz/Provider/Domain/Model/TransformationRule/TransformationRuleAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserAbstract.php
  scheme/src/EntityGeneratorBundle/Tools/AbstractEntityGenerator.php
  scheme/src/EntityGeneratorBundle/Tools/AssertionGenerator.php
Labels: * artemis *, +enhancement, core

#900 Hunt groups rel user filters
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUser.php
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Filter/HuntGroupsRelUsers.php
Labels: * artemis *, +bug, +enhancement, core, web/admin

#910 ci: add specific agent for each pipeline step
  Jenkinsfile
Labels: * artemis *, +enhancement, devops

#909 tests: reviewed klear e2e tests
  web/admin/e2e/tests/dataFixtures/brand/carrierServers/new.json
  web/admin/e2e/tests/dataFixtures/brand/fixedCosts/new.json
  web/admin/e2e/tests/dataFixtures/company/ddis/new.json
  web/admin/e2e/tests/dataFixtures/company/huntGroupsRelUsersFilterRingAll/new.json
  web/admin/e2e/tests/features/2-brand/02-2-carrierServers.feature
  web/admin/e2e/tests/features/3-company/14-1-huntGroupsRelUsersFilterRingAll.feature
  web/admin/e2e/tests/features/3-company/14-2-huntGroupsRelUsers.feature
  web/admin/e2e/tests/pages/dashboard.js
Labels: * artemis *, tests

#908 web/admin: show locale fields on new brand screen
  web/admin/application/configs/klear/BrandsList.yaml
Labels: * artemis *, +enhancement, web/admin

#902 kamusers: fix NOTIFY handling (for unsolicited MWI)
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, users

#907 Strict change detection
  library/Ivoz/Core/Domain/Model/ChangelogTrait.php
  scheme/tests/Provider/ApplicationServer/ApplicationServerLifeCycleTest.php
  scheme/tests/Provider/CallCsvReport/CallCsvReportLifeCycleTest.php
  scheme/tests/Provider/Carrier/CarrierLifeCycleTest.php
  scheme/tests/Provider/DdiProviderAddress/DdiProviderAddressLifeCycleTest.php
  scheme/tests/Provider/DdiProviderRegistration/DdiProviderRegistrationLifeCycleTest.php
  scheme/tests/Provider/Queue/QueueLifeCycleTest.php
  scheme/tests/Provider/RoutingPatternGroupsRelPattern/RoutingPatternGroupsRelPatternLifeCycleTest.php
Labels: * artemis *, +bug, tests

#912 ci: Jenkins workspace cleanup
  Jenkinsfile
Labels: * artemis *, +enhancement, devops

#916 scheme: enable all features in DemoBrand
  scheme/app/DoctrineMigrations/Version20190312114056.php
Labels: * artemis *, +enhancement, scheme

#918 core: update endpoints pickupgroups when user or extension changes
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByExtension.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUser.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByExtensionSpec.php
  scheme/tests/Provider/Extension/ExtensionLifeCycleTest.php
  scheme/tests/Provider/User/UserLifeCycleTest.php
Labels: * artemis *, +bug, core

#921 tests: remove some e2e test
  web/admin/e2e/tests/features/1-platform/02-domains.feature
  web/admin/e2e/tests/features/1-platform/11-billableCalls.feature
  web/admin/e2e/tests/features/2-brand/07-brandServices.feature
  web/admin/e2e/tests/features/2-brand/08-brandDDIs.feature
  web/admin/e2e/tests/features/2-brand/09-brandResidentialDevices.feature
  web/admin/e2e/tests/features/2-brand/15-2-invoices.feature
  web/admin/e2e/tests/features/2-brand/17-billableCalls.feature
  web/admin/e2e/tests/features/3-company/21-services.feature
Labels: * artemis *, +enhancement, tests

#922 doc: update changelog for 2.9.3 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, doc

#920 core: add timezone to every date time
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdr.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOut.php
  library/Ivoz/Provider/Domain/Service/BalanceNotification/NotifyBrokenThreshold.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/Invoice/CreateByScheduler.php
Labels: * artemis *, +enhancement, core

#927 Disable carrier ASR/ACD quality measurements
  cgrates/config/cgrates.json
  web/admin/application/configs/klear/CarriersList.yaml
Labels: * artemis *, billing, web/admin

#930 core: ensure no duplicated username on platform admins
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorRepository.php
  library/Ivoz/Provider/Domain/Service/Administrator/AdministratorLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/Administrator/AdministratorLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Administrator/CheckUniqueness.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorDoctrineRepository.php
Labels: * artemis *, +enhancement, core
