Repository irontec/ivozprovider, pull requests merged in 2019-04, with the labels that each got.

#941 App console tests
  Jenkinsfile
  asterisk/agi/app/config/security.yml
  library/CoreBundle/Resources/config/security.yml
  library/bin/test-app-console
  microservices/balances/app/config/security.yml
  microservices/recordings/app/config/security.yml
  microservices/scheduler/app/config/security.yml
  microservices/workers/app/config/security.yml
Labels: * artemis *, +bug, +enhancement, tests

#935 Agent data on commandlog
  library/ApiBundle/Resources/config/services.yml
  library/CoreBundle/Resources/config/services/entities.yml
  library/Ivoz/Api/EventListener/RegisterCommandListener.php
  library/Ivoz/Core/Application/Event/CommandEventInterface.php
  library/Ivoz/Core/Application/Event/CommandWasExecuted.php
  library/Ivoz/Core/Application/Service/DataGateway.php
  library/Ivoz/Core/Infrastructure/Domain/Service/DoctrineEntityPersister.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/CommandPersister.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Lifecycle/DoctrineEventSubscriber.php
  library/Ivoz/Core/Infrastructure/Persistence/Doctrine/Events.php
  library/Ivoz/Provider/Domain/Model/Commandlog/Commandlog.php
  library/Ivoz/Provider/Domain/Model/Commandlog/CommandlogAbstract.php
  library/Ivoz/Provider/Domain/Model/Commandlog/CommandlogDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Commandlog/CommandlogInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Commandlog.CommandlogAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20190325123659.php
  scheme/tests/DbIntegrationTestHelperTrait.php
  web/admin/application/library/IvozProvider/Controller/Plugin/Auth.php
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/Base.php
Labels: * artemis *, +enhancement, core, scheme, web/rest

#929 web/rest: added token exchange endpoint
  library/Ivoz/Api/Core/Security/DataAccessControlParser.php
  library/Ivoz/Api/EventListener/WriteListener.php
  library/Ivoz/Api/Operation/ExchangeToken.php
  web/rest/brand/app/config/api/resources.yml
  web/rest/brand/app/config/routing.yml
  web/rest/brand/app/config/security.yml
  web/rest/brand/app/config/services.yml
  web/rest/brand/src/Controller/Auth/TokenExchangeAction.php
  web/rest/brand/src/Model/Token.php
  web/rest/client/app/config/api/resources.yml
  web/rest/client/app/config/routing.yml
  web/rest/client/app/config/security.yml
  web/rest/client/app/config/services.yml
  web/rest/client/src/Controller/Auth/TokenExchangeAction.php
  web/rest/client/src/Model/Token.php
Labels: * artemis *, +feature, web/rest

#937 core: register commands on microservices
  library/Ivoz/Core/Application/RegisterCommandTrait.php
  microservices/balances/app/MicroKernel.php
  microservices/recordings/app/MicroKernel.php
  microservices/scheduler/src/BillableCallController.php
  microservices/scheduler/src/CallCsvController.php
  microservices/scheduler/src/InvoiceSchedulerController.php
  microservices/workers/src/Worker/Cgrates.php
  microservices/workers/src/Worker/Invoices.php
  microservices/workers/src/Worker/Multimedia.php
  microservices/workers/src/Worker/Rates.php
  microservices/workers/src/Worker/Xmlrpc.php
Labels: * artemis *, +enhancement, core, microservices

#945 core: added agent argument on CommandWasExecuted
  asterisk/agi/app/MicroKernel.php
  library/Ivoz/Core/Application/RegisterCommandTrait.php
  microservices/balances/app/MicroKernel.php
  microservices/recordings/app/MicroKernel.php
Labels: * artemis *, +bug

#942 agis: fix Voicemail action for Residential Devices
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Agi/Action/RouterAction.php
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Action/VoiceMailAction.php
  asterisk/agi/src/Agi/Agents/AgentInterface.php
  asterisk/agi/src/Agi/Agents/AgentTrait.php
  asterisk/agi/src/Agi/Agents/ResidentialAgent.php
  asterisk/agi/src/Agi/Agents/UserAgent.php
Labels: * artemis *, +bug, as

#951 tests: updated e2e admin tests
  web/admin/e2e/tests/dataFixtures/brand/companyURLs/new.json
  web/admin/e2e/tests/dataFixtures/brand/webPortals/admin.json
  web/admin/e2e/tests/dataFixtures/brand/webPortals/client.json
  web/admin/e2e/tests/dataFixtures/brand/webPortals/new.json
  web/admin/e2e/tests/dataFixtures/company/faxes/new.json
  web/admin/e2e/tests/dataFixtures/company/friends/new.json
  web/admin/e2e/tests/dataFixtures/platform/webPortal/new.json
  web/admin/e2e/tests/features/1-platform/01-3-webPortals.feature
  web/admin/e2e/tests/features/2-brand/04-1-clientPortals.feature
  web/admin/e2e/tests/features/2-brand/04-2-companyURLs.feature
  web/admin/e2e/tests/features/3-company/04-2-friendsPatterns.feature
Labels: * artemis *, +enhancement, tests

#949 scheme: review migration for better oasis compatibility
  scheme/app/DoctrineMigrations/Version20170911135717.php
  scheme/app/DoctrineMigrations/Version20180116104420.php
  scheme/app/DoctrineMigrations/Version20180212173438.php
  scheme/app/DoctrineMigrations/Version20180306160405.php
  scheme/app/DoctrineMigrations/Version20180406102202.php
  scheme/app/DoctrineMigrations/Version20180621134613.php
  scheme/app/DoctrineMigrations/Version20180705161808.php
  scheme/app/DoctrineMigrations/Version20180713123645.php
  scheme/app/DoctrineMigrations/Version20180726142227.php
  scheme/app/DoctrineMigrations/Version20180809101240.php
  scheme/app/DoctrineMigrations/Version20180914104258.php
  scheme/app/DoctrineMigrations/Version20181019144832.php
  scheme/app/DoctrineMigrations/Version20181220182244.php
Labels: * artemis *, +enhancement, scheme

#947 Invoice scheduler regression
  library/Ivoz/Core/Application/RegisterCommandTrait.php
  library/Ivoz/Core/Application/Service/EntityTools.php
  library/Ivoz/Core/Domain/Model/ChangelogTrait.php
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Service/Invoice/SendGenerateOrder.php
  library/spec/Ivoz/Provider/Domain/Model/Invoice/InvoiceSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Invoice/SendGenerateOrderSpec.php
  microservices/workers/src/Worker/Invoices.php
  scheme/tests/Provider/Invoice/InvoiceLifeCycleTest.php
  scheme/tests/Provider/InvoiceNumberSequence/InvoiceNumberSequenceLifeCycleTest.php
  scheme/tests/Provider/OutgoingRouting/OutgoingRoutingLifeCycleTest.php
  scheme/tests/Provider/RoutingPattern/RoutingPatternLifeCycleTest.php
  scheme/tests/Provider/RoutingTag/RoutingTagLifeCycleTest.php
  scheme/tests/Provider/Terminal/TerminalLifeCycleTest.php
  scheme/tests/Provider/TerminalModel/TerminalModelLifeCycleTest.php
  scheme/tests/Provider/TransformationRule/TransformationRuleLifeCycleTest.php
  scheme/tests/Provider/TransformationRuleSet/TransformationRuleSetLifeCycleTest.php
  scheme/tests/Provider/User/UserLifeCycleTest.php
  web/rest/brand/features/my/ratingPlanPrice/getRatingPlanPrices.feature
  web/rest/brand/features/provider/fixedCostsRelInvoice/getFixedCostsRelInvoice.feature
  web/rest/brand/features/provider/fixedCostsRelInvoice/postFixedCostsRelInvoice.feature
  web/rest/brand/features/provider/fixedCostsRelInvoice/putFixedCostsRelInvoice.feature
  web/rest/brand/features/provider/invoice/getInvoice.feature
  web/rest/brand/features/provider/invoice/postInvoice.feature
  web/rest/brand/features/provider/invoice/putInvoice.feature
  web/rest/brand/features/requestPayloadTzConversions.feature
Labels: * artemis *, +bug, core, tests

#954 Client klear login
  web/admin/application/library/IvozProvider/Klear/Auth/Adapter.php
  web/admin/application/library/IvozProvider/Service/RestClient.php
  web/admin/e2e/nightwatch.conf.js
  web/admin/e2e/package.json
  web/admin/e2e/tests/dataFixtures/brand/webPortals/admin.json
  web/admin/e2e/tests/dataFixtures/brand/webPortals/client.json
  web/admin/e2e/tests/dataFixtures/platform/brandOperators/new.json
  web/admin/e2e/tests/dataFixtures/platform/webPortal/new.json
  web/admin/e2e/tests/features/1-platform/01-2-brandOperator.feature
  web/admin/e2e/tests/features/1-platform/01-3-webPortals.feature
  web/admin/e2e/tests/features/1-platform/09-mainOperators.feature
  web/admin/e2e/tests/features/2-brand/03-3-companyAdmins.feature
  web/admin/e2e/tests/features/2-brand/04-1-clientPortals.feature
  web/admin/e2e/tests/features/2-brand/04-2-brandPortals.feature
  web/admin/e2e/tests/features/login.feature
  web/admin/e2e/tests/steps/login.js
Labels: * artemis *, +bug, tests

#958 core: improved duplicated friend priority error handler
  library/CoreBundle/Resources/config/lifecycle/provider/friend.yml
  library/Ivoz/Provider/Domain/Service/Friend/PersistErrorHandler.php
  web/admin/application/configs/klear/errors.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: * artemis *, +enhancement, core, web/admin

#966 Enable T.38 passthrough in Asterisk
  asterisk/agi/src/Dialplan/Headers.php
  asterisk/agi/src/Dialplan/Retails.php
  doc/sphinx/administration_portal/brand/routing/outgoing_routings.rst
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends.rst
  doc/sphinx/administration_portal/client/vpbx/terminals.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/security_and_maintenance.po
  doc/sphinx/security_and_maintenance/security/firewall.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointDtoAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointInterface.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByFriend.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByResidentialDevice.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByRetailAccount.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByTerminal.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RetailAccount.RetailAccountAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Terminal.TerminalAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20190423104815.php
  scheme/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/TerminalsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/configs/klear/model/Terminals.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/rest/client/features/provider/friend/postFriend.feature
  web/rest/client/features/provider/friendsPattern/getFriendsPattern.feature
  web/rest/client/features/provider/friendsPattern/postFriendsPattern.feature
  web/rest/client/features/provider/friendsPattern/putFriendsPattern.feature
  web/rest/client/features/provider/residentialDevices/postResidentialDevice.feature
  web/rest/client/features/provider/terminal/postTerminal.feature
Labels: * artemis *, +feature, core, doc, i18n, scheme, trunks, users, web/admin

#961 Inter-vPBX calls through Friends
  asterisk/agi/src/Agi/Action/FriendCallAction.php
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/index.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/internal_friends.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/index.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByFriend.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/Friend/FriendSpec.php
  scheme/app/DoctrineMigrations/Version20190408170724.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/library/IvozProvider/Klear/Filter/FriendInterCompany.php
  web/admin/application/library/IvozProvider/Klear/Ghost/RegisterStatus.php
  web/rest/client/features/provider/friend/postFriend.feature
  web/rest/client/features/provider/friendsPattern/getFriendsPattern.feature
  web/rest/client/features/provider/friendsPattern/postFriendsPattern.feature
  web/rest/client/features/provider/friendsPattern/putFriendsPattern.feature
Labels: * artemis *, +feature, as, core, doc, scheme, users, web/admin

#968 God web portal filter
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortal.php
  scheme/app/DoctrineMigrations/Version20190429075931.php
  web/admin/application/configs/klear/ClientPortalsList.yaml
  web/admin/application/configs/klear/PlatformPortalsList.yaml
Labels: * artemis *, +bug, core, web/admin

#970 agis: fix call forward settings for routes to voicemail
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Agi/Action/ConditionalRouteAction.php
  asterisk/agi/src/Agi/Action/ExternalFilterAction.php
  asterisk/agi/src/Agi/Action/HuntGroupStatusAction.php
  asterisk/agi/src/Agi/Action/IvrAction.php
  asterisk/agi/src/Agi/Action/QueueFullAction.php
  asterisk/agi/src/Agi/Action/QueueTimeoutAction.php
  asterisk/agi/src/Agi/Action/RouterAction.php
Labels: * artemis *, +bug, as

#969 recordings: ignore files below a size threshold
  microservices/recordings/src/Recording/Encoder.php
Labels: * artemis *, +bug, microservices

#967 Active call endpoints
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  scheme/tests/Provider/Company/CompanySoftDeleteTest.php
  web/rest/brand/app/config/api/resources.yml
  web/rest/brand/app/config/routing.yml
  web/rest/brand/features/my/activeCalls/getActiveCalls.feature
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/brand/src/Controller/My/ActiveCallsAction.php
  web/rest/brand/src/Model/ActiveCalls.php
  web/rest/platform/app/config/api/resources.yml
  web/rest/platform/app/config/routing.yml
  web/rest/platform/app/config/services.yml
  web/rest/platform/features/my/activeCalls/getActiveCalls.feature
  web/rest/platform/src/Controller/My/ActiveCallsAction.php
  web/rest/platform/src/Model/ActiveCalls.php
Labels: * artemis *, +enhancement, +feature, core, web/rest

#972 kamtrunks: 486 in incoming maxcalls rejected calls
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +enhancement, trunks

#971 core: run rtpengine.reload when changes in media-relays
  library/Ivoz/Kam/Domain/Service/Rtpengine/RtpengineLifecycleEventHandlerInterface.php
  library/Ivoz/Kam/Domain/Service/Rtpengine/RtpengineLifecycleServiceCollection.php
  library/Ivoz/Kam/Domain/Service/TrunksClientInterface.php
  library/Ivoz/Kam/Domain/Service/UsersClientInterface.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/Rtpengine/SendTrunksRtpengineReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Domain/Service/Rtpengine/SendUsersRtpengineReloadRequest.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  library/Ivoz/Kam/Infrastructure/Kamailio/UsersClient.php
Labels: * artemis *, +enhancement, core

#973 doc: update changelog for 2.10.0 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, doc

#975 web/admin: version bump to 2.11
  doc/dev/RELEASE.md
  library/ApiBundle/Resources/config/api_platform_base.yml
Labels: * artemis *, doc, web/admin
