Repository irontec/ivozprovider, pull requests merged in 2019-02, with the labels that each got.

#872 scheme: update russian numeric transformation to E.164
  scheme/app/DoctrineMigrations/Version20190121183004.php
Labels: +bug, = artemis =, scheme

#878 web/admin: fix retail/residential DDI list filter
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/ResidentialDDIs.php
  web/admin/application/library/IvozProvider/Klear/Filter/RetailDDIs.php
Labels: +bug, = artemis =, web/admin

#880 scheme: set aors for retail accounts
  scheme/app/DoctrineMigrations/Version20190115143446.php
Labels: +bug, = artemis =, scheme

#882 retail clients: recordings feature
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/client/retail/ddis.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  kamailio/users/config/kamailio.cfg
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/RetailFeatures.php
Labels: +enhancement, = artemis =, doc, users, web/admin

#881 kamusers: add support for KamUsers additional IP addresses
  kamailio/users/config/kamailio.cfg
  kamailio/users/config/multisocket.cfg.in
Labels: +feature, = artemis =, users

#883 N to m regression
  library/Ivoz/Provider/Domain/Model/Brand/BrandTrait.php
  library/Ivoz/Provider/Domain/Model/Calendar/CalendarTrait.php
  library/Ivoz/Provider/Domain/Model/CallAcl/CallAclTrait.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierTrait.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyTrait.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoute/ConditionalRouteTrait.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesCondition/ConditionalRoutesConditionTrait.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderTrait.php
  library/Ivoz/Provider/Domain/Model/Destination/DestinationTrait.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupTrait.php
  library/Ivoz/Provider/Domain/Model/Domain/DomainTrait.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionTrait.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterTrait.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendTrait.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupTrait.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceTrait.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerTrait.php
  library/Ivoz/Provider/Domain/Model/Ivr/IvrTrait.php
  library/Ivoz/Provider/Domain/Model/MatchList/MatchListTrait.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateTrait.php
  library/Ivoz/Provider/Domain/Model/OutgoingDdiRule/OutgoingDdiRuleTrait.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingTrait.php
  library/Ivoz/Provider/Domain/Model/OutgoingRoutingRelCarrier/OutgoingRoutingRelCarrierTrait.php
  library/Ivoz/Provider/Domain/Model/PickUpGroup/PickUpGroupTrait.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupTrait.php
  library/Ivoz/Provider/Domain/Model/RatingProfile/RatingProfileTrait.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceTrait.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountTrait.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternTrait.php
  library/Ivoz/Provider/Domain/Model/RoutingPatternGroup/RoutingPatternGroupTrait.php
  library/Ivoz/Provider/Domain/Model/RoutingTag/RoutingTagTrait.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalTrait.php
  library/Ivoz/Provider/Domain/Model/TransformationRuleSet/TransformationRuleSetTrait.php
  library/Ivoz/Provider/Domain/Model/User/UserTrait.php
  scheme/bin/test-orm
  scheme/src/EntityGeneratorBundle/Tools/TraitGenerator.php
Labels: +bug, = artemis =, core

#885 Improved api unpaginated requests
  library/ApiBundle/Resources/config/api_platform_base.yml
  library/ApiBundle/Resources/config/services.yml
  library/ApiBundle/Resources/config/services/hydra.yml
  library/ApiBundle/Resources/config/services/swagger.yml
  library/CoreBundle/Resources/config/services/infraestructure.yml
  library/CoreBundle/Resources/config/services/infraestructure/filesystem.yml
  library/DataFixtures/ORM/ProviderBillableCalls.php
  library/Ivoz/Api/Core/Serializer/Mixer/MixerInterface.php
  library/Ivoz/Api/Csv/Serializer/Mixer/CsvMixer.php
  library/Ivoz/Api/Doctrine/Orm/Extension/UnpaginatedResultGeneratorExtension.php
  library/Ivoz/Api/Entity/Metadata/Property/Factory/PropertyNameCollectionFactory.php
  library/Ivoz/Api/Json/Serializer/Mixer/JsonMixer.php
  library/Ivoz/Api/Json/Serializer/Normalizer/EntityNormalizer.php
  library/Ivoz/Api/JsonLd/Serializer/Mixer/JsonLdMixer.php
  library/Ivoz/Api/JsonLd/Serializer/Normalizer/EntityNormalizer.php
  library/Ivoz/Api/Swagger/Metadata/Resource/ResourceMetadata/FilterMetadataFactory.php
  library/Ivoz/Api/Symfony/EventListener/DomainExceptionListener.php
  library/Ivoz/Api/Symfony/Serializer/ProgressiveSerializer.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByDomain.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUser.php
  library/Ivoz/Core/Infrastructure/Persistence/Filesystem/TempFileHelper.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByDomainSpec.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByPickUpRelUserSpec.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUserSpec.php
  library/spec/Ivoz/Provider/Domain/Model/Brand/BrandSpec.php
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/app/config/api/resources.yml
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/postBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/putBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/removeBillableCalls.feature
  web/rest/client/app/config/api/resources.yml
  web/rest/platform/app/config/api/raw/provider.yml
  web/rest/platform/features/pagination.feature
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/postBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/removeBillableCalls.feature
Labels: * artemis *, +enhancement, tests, web/rest

#888 Open api v2 spec compliant
  Jenkinsfile
  library/ApiBundle/Resources/config/api_platform_base.yml
  library/ApiBundle/Resources/config/services/swagger.yml
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/CustomParameterDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/MissingReferenceFixerDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/ReferenceFixerDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/SearchFilterDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/UnusedDefinitionRemover.php
  library/Ivoz/Api/Swagger/Ui/SwaggerUiAction.php
  tests/docker/Dockerfile
  web/rest/brand/bin/generate-keys
  web/rest/brand/bin/test-api
  web/rest/brand/bin/test-api-spec
  web/rest/client/bin/generate-keys
  web/rest/client/bin/test-api
  web/rest/client/bin/test-api-spec
  web/rest/platform/bin/generate-keys
  web/rest/platform/bin/test-api
  web/rest/platform/bin/test-api-spec
Labels: * artemis *, +enhancement, devops, web/rest

#893 kamtrunks: fix DDI recognition logic
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +bug, trunks

#890 Api improved list parameters
  library/ApiBundle/Resources/config/config.yml
  library/Ivoz/Api/Swagger/Metadata/Resource/ResourceMetadata/FilterMetadataFactory.php
  web/rest/brand/app/config/config.yml
  web/rest/client/app/config/config.yml
  web/rest/platform/app/config/config.yml
Labels: * artemis *, +enhancement, +feature, web/rest

#891 web/rest: convert filter datetime arguments from user tz to utc
  library/ApiBundle/Resources/config/filters.yml
  library/ApiBundle/Resources/config/services.yml
  library/ApiBundle/Resources/config/services/swagger.yml
  library/CoreBundle/Resources/config/services/infraestructure/rest.yml
  library/DataFixtures/ORM/ProviderAdministrator.php
  library/DataFixtures/ORM/ProviderBillableCalls.php
  library/Ivoz/Api/Behat/Context/CoverageContext.php
  library/Ivoz/Api/Behat/Context/FeatureContext.php
  library/Ivoz/Api/Doctrine/Orm/Filter/DateFilter.php
  library/Ivoz/Api/Doctrine/Orm/Filter/SearchFilter.php
  library/Ivoz/Api/Entity/Serializer/Normalizer/DateTimeNormalizer.php
  library/Ivoz/Api/Entity/Serializer/Normalizer/DateTimeNormalizerInterface.php
  library/Ivoz/Api/Entity/Serializer/Normalizer/EntityDenormalizer.php
  library/Ivoz/Api/Json/Serializer/Normalizer/EntityNormalizer.php
  library/Ivoz/Api/JsonLd/Serializer/Normalizer/EntityNormalizer.php
  library/Ivoz/Api/Swagger/Metadata/Property/Factory/PropertySwaggerContextFactory.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/OrphanAttributeFixerDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/SearchFilterDecorator.php
  library/Ivoz/Api/Swagger/Serializer/DocumentationNormalizer/TimezoneSelectorDecorator.php
  library/Ivoz/Core/Domain/Model/Helper/DateTimeHelper.php
  library/Ivoz/Core/Infrastructure/Service/Rest/Client.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceDto.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Infrastructure/Api/Timezone/UserTimezoneInjector.php
  library/bin/test-all
  library/bin/test-api
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CsvExporterSpec.php
  web/rest/brand/behat.yml
  web/rest/brand/bin/prepare-test-db
  web/rest/brand/bin/test-api
  web/rest/brand/features/bootstrap/CoverageContext.php
  web/rest/brand/features/bootstrap/FeatureContext.php
  web/rest/brand/features/provider/administrator/postAdministrators.feature
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/invoice/getInvoice.feature
  web/rest/brand/features/provider/invoice/postInvoice.feature
  web/rest/brand/features/provider/invoice/putInvoice.feature
  web/rest/brand/features/provider/invoice/removeInvoice.feature
  web/rest/brand/features/requestPayloadTzConversions.feature
  web/rest/brand/src/Controller/My/RatingPlanPricesAction.php
  web/rest/client/behat.yml
  web/rest/client/bin/prepare-test-db
  web/rest/client/bin/test-api
  web/rest/client/features/bootstrap/FeatureContext.php
  web/rest/platform/behat.yml
  web/rest/platform/bin/prepare-test-db
  web/rest/platform/bin/test-api
  web/rest/platform/features/bootstrap/CoverageContext.php
  web/rest/platform/features/provider/administrator/getAdministrators.feature
  web/rest/platform/features/provider/administrator/postAdministrators.feature
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/tzConversions.feature
Labels: * artemis *, +bug, web/rest

#894 trunks: make bouncer optional
  kamailio/trunks/config/custom_settings.cfg.in
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +enhancement, trunks

#898 Outgoing routing api endpoints
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingDto.php
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/provider/outgoingRouting/getOutgoingRouting.feature
  web/rest/brand/features/provider/outgoingRouting/postOutgoingRouting.feature
  web/rest/brand/features/provider/outgoingRouting/putOutgoingRouting.feature
  web/rest/brand/features/provider/outgoingRouting/removeOutgoingRouting.feature
  web/rest/client/app/config/api/raw/provider.yml
Labels: * artemis *, +bug, tests, web/rest

#896 Fixed brand and client billable call CSV exporter
  web/admin/application/controllers/KlearCustomBillableCallsController.php
  web/admin/application/library/IvozProvider/Service/RestClient.php
Labels: * artemis *, +bug, web/admin

#895 Control received simultaneous calls in residential clients
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  scheme/app/DoctrineMigrations/Version20190226111402.php
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
Labels: * artemis *, +enhancement, core, doc, scheme, web/admin

#897 doc: update changelog for 2.9.2 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, doc
