Repository irontec/ivozprovider, pull requests merged in 2019-05, with the labels that each got.

#976 scheme: update initial.sql for 2.11 version
  schema/initial.sql
Labels: * artemis *, +enhancement, schema

#980 web/rest: add required attribute to API doc
  library/Ivoz/Api/Swagger/Metadata/Property/Factory/PropertySwaggerContextFactory.php
Labels: * artemis *, +enhancement, web/rest

#981 Fixed 1 month interval scheduler operations
  library/Ivoz/Core/Domain/Model/Helper/DateTimeHelper.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/Invoice/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverTrait.php
  library/spec/Ivoz/Core/Domain/Model/Helper/DateTimeHelperSpec.php
Labels: * artemis *, +bug, core, tests

#988 kamusers: keep From displayName
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, users

#989 schema: speed up external calls
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20190515094552.php
  web/admin/application/configs/klear/BillableCallsClientList.yaml
Labels: * artemis *, +enhancement, schema, web/admin

#990 core: remove some deprecation warnings
  library/ApiBundle/Resources/config/services.yml
  library/CoreBundle/Resources/config/services/events.yml
  library/Ivoz/Api/Behat/Context/FeatureContext.php
  library/Ivoz/Core/Infrastructure/Symfony/DependencyInjection/Compiler/RepositoryCompiler.php
Labels: * artemis *, +enhancement

#994 Fixed roles on refreshed token
  library/composer.json
  library/composer.lock
  schema/src/Entity/AbstractRefreshToken.orm.yml
  schema/src/Entity/RefreshToken.orm.yml
  web/rest/brand/app/config/config.yml
  web/rest/brand/composer.lock
  web/rest/client/app/config/config.yml
  web/rest/client/composer.lock
  web/rest/platform/app/config/config.yml
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, web/rest

#991 T38 passthrough fix
  asterisk/agi/src/Agi/Action/ExternalNumberAction.php
  asterisk/agi/src/Agi/Agents/AgentInterface.php
  asterisk/agi/src/Agi/Agents/AgentTrait.php
  asterisk/agi/src/Agi/Agents/FriendAgent.php
  asterisk/agi/src/Agi/Agents/ResidentialAgent.php
  asterisk/agi/src/Agi/Agents/RetailAgent.php
  asterisk/agi/src/Agi/Agents/UserAgent.php
  asterisk/agi/src/Dialplan/Retails.php
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  doc/sphinx/administration_portal/client/vpbx/terminals.rst
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/security_and_maintenance.po
  doc/sphinx/security_and_maintenance/security/firewall.rst
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointDtoAbstract.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  schema/app/DoctrineMigrations/Version20190520145100.php
  schema/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
Labels: * artemis *, +bug, as, core, schema

#995 tests: moved some pending orm tests from scheme to schema
  schema/tests/Cgr/TpAccountAction/TpAccountActionRepositoryTest.php
  schema/tests/Cgr/TpCdr/TpCdrRepositoryTest.php
  schema/tests/Cgr/TpDerivedCharger/TpDerivedChargerRepositoryTest.php
  schema/tests/Cgr/TpDestinationRate/TpDestinationRateRepositoryTest.php
  schema/tests/Cgr/TpRate/TpRateRepositoryTest.php
  schema/tests/Cgr/TpRatingProfile/TpRatingProfileRepositoryTest.php
  schema/tests/Cgr/TpTiming/TpTimingRepositoryTest.php
  schema/tests/Kam/Rtpengine/RtpengineRepositoryTest.php
  schema/tests/Kam/TrunksAddress/TrunksAddressRepositoryTest.php
  schema/tests/Kam/TrunksDomainAttr/TrunksDomainAttrRepositoryTest.php
  schema/tests/Kam/TrunksHtable/TrunksHtableRepositoryTest.php
  schema/tests/Kam/TrunksUacreg/TrunksUacregRepositoryTest.php
  schema/tests/Kam/Trusted/TrustedRepositoryTest.php
  schema/tests/Kam/UsersActiveWatcher/UsersActiveWatcherRepositoryTest.php
  schema/tests/Kam/UsersAddress/UsersAddressRepositoryTest.php
  schema/tests/Kam/UsersHtable/UsersHtableRepositoryTest.php
  schema/tests/Kam/UsersLocation/UsersLocationRepositoryTest.php
  schema/tests/Kam/UsersLocationAttr/UsersLocationAttrRepositoryTest.php
  schema/tests/Kam/UsersPresentity/UsersPresentityRepositoryTest.php
  schema/tests/Kam/UsersPua/UsersPuaRepositoryTest.php
  schema/tests/Kam/UsersWatcher/UsersWatcherRepositoryTest.php
  schema/tests/Kam/UsersXcap/UsersXcapRepositoryTest.php
  schema/tests/Provider/Currency/CurrencyRepositoryTest.php
  schema/tests/Provider/Domain/DomainRepositoryTest.php
  schema/tests/Provider/Extension/ExtensionRepositoryTest.php
  schema/tests/Provider/ExternalCallFilterBlackList/ExternalCallFilterBlackListRepositoryTest.php
  schema/tests/Provider/ExternalCallFilterWhiteList/ExternalCallFilterWhiteListRepositoryTest.php
  schema/tests/Provider/MatchList/MatchListRepositoryTest.php
  schema/tests/Provider/MatchListPattern/MatchListPatternRepositoryTest.php
  schema/tests/Provider/RoutingTag/RoutingTagRepositoryTest.php
  schema/tests/Provider/WebPortal/WebPortalRepositoryTest.php
Labels: * artemis *, tests

#999 kamtrunks: order outgoing routes by priority
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +enhancement, trunks

#997 Fix rerating condition in findUnratedInGroup
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
Labels: * artemis *, +bug, core

#996 core: reset mailer transport before sending mail
  library/Ivoz/Core/Infrastructure/Domain/Service/Mailer/Client.php
Labels: * artemis *, +bug, core

#998 Retry to rate calls without cgrid on cdr to BillableCall migration
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/CoreBundle/Resources/config/services/infraestructure/http.yml
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ApiClient.php
  library/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ProcessExternalCdr.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdr.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdr.php
  library/spec/Ivoz/Core/Infrastructure/Domain/Service/Cgrates/ProcessExternalCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdrSpec.php
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
Labels: * artemis *, core, microservices
