Repository irontec/ivozprovider, pull requests merged in 2020-05, with the labels that each got.

#1377 microservices: improved sentinel suport in RT service
  microservices/realtime/src/Services/AbstractWsServer.php
  microservices/realtime/src/Services/Sentinel.php
Labels: * artemis *, +bug, microservices

#1380 agis: ignore user call timeout when call forwards are disabled
  asterisk/agi/src/Agi/Action/UserCallAction.php
Labels: * artemis *, +bug, agis

#1373 RT filters
  library/Ivoz/Provider/Domain/Model/Brand/BrandRepository.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BrandDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiProviderDoctrineRepository.php
  microservices/realtime/src/Services/RegistrationChannelResolver.php
  web/admin/application/assets/js/plugins/jquery.rt.js
  web/admin/application/assets/template/filters.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallBrandList.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallList.tmpl.html
  web/admin/application/controllers/KlearCustomRtController.php
Labels: * artemis *, core, web/admin

#1382 Visual filter issues
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroup.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupInterface.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingDto.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanDto.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HuntGroup.HuntGroupAbstract.orm.yml
  schema/DoctrineMigrations/Version20200512093347.php
  web/admin/application/configs/klear/model/OutgoingRouting.yaml
  web/rest/client/features/provider/huntGroup/postHuntGroup.feature
Labels: * artemis *, core, schema

#1384 Diversion related minor improvements
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Dialplan/Users.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdr.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  schema/DoctrineMigrations/Version20200513164526.php
Labels: * artemis *, +bug, core, schema, users

#1387 web/admin: multilang RT filters
  web/admin/application/assets/template/filters.tmpl.html
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +bug, web/admin

#1386 realtime: reduce redis log level
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, microservices

#1385 core: truncate entity error messages
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceScheduler.php
Labels: * artemis *, +bug, core

#1389 Share JWT key between cluster nodes
  asterisk/agi/composer.lock
  debian/ivozprovider-web-rest.postinst
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml.dist
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  tests/docker/bin/prepare-and-run
  web/rest/.gitignore
  web/rest/brand/composer.lock
  web/rest/brand/config/config_test.yml
  web/rest/brand/var/jwt
  web/rest/client/composer.lock
  web/rest/client/config/config_test.yml
  web/rest/client/var/jwt
  web/rest/platform/bin/generate-keys
  web/rest/platform/composer.lock
  web/rest/platform/config/config_test.yml
  web/rest/platform/var/jwt/.gitkeep
Labels: * artemis *, core, packaging

#1390 Fixed hints
  library/Ivoz/Ast/Domain/Model/Queue/QueueRepository.php
  library/Ivoz/Ast/Domain/Model/Voicemail/VoicemailRepository.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByExtension.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByFriend.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByResidentialDevice.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByRetailAccount.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByTerminal.php
  library/Ivoz/Ast/Domain/Service/Queue/UpdateByIvozQueue.php
  library/Ivoz/Ast/Domain/Service/Voicemail/UpdateByResidentialDevice.php
  library/Ivoz/Cgr/Domain/Model/TpRatingPlan/TpRatingPlanRepository.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  library/Ivoz/Provider/Domain/Model/CallAcl/CallAcl.php
  library/Ivoz/Provider/Domain/Model/CompanyService/CompanyServiceRepository.php
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOut.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOutInterface.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplate.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateInterface.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingInterface.php
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRoutingTrait.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanInterface.php
  library/Ivoz/Provider/Domain/Model/RatingPlan/RatingPlanTrait.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/Terminal/Terminal.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalInterface.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdr.php
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateDtoByDefaultRunTpCdr.php
  library/Ivoz/Provider/Domain/Service/Carrier/SyncBalances.php
  library/Ivoz/Provider/Domain/Service/Company/SyncBalances.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByCompany.php
  library/Ivoz/Provider/Domain/Service/User/UpdateByExtension.php
  library/Ivoz/Provider/Infrastructure/Api/Timezone/UserTimezoneInjector.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyServiceDoctrineRepository.php
  library/composer.lock
  schema/composer.lock
Labels: * artemis *, +enhancement, core

#1393 agis: do not enter UserStatus when Call forwards are disabled
  asterisk/agi/src/Agi/Action/UserCallAction.php
  asterisk/config/dialplan/default.conf
Labels: * artemis *, +bug, agis

#1394 Fix unsolicited MWI for residential clients
  library/DataFixtures/ORM/AstPsEndpoint.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByResidentialDevice.php
  schema/DoctrineMigrations/Version20200525104541.php
  schema/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
Labels: * artemis *, +bug, core, schema

#1396 doc: improve conditional routes explanation
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/conditional_routes.rst
  web/admin/application/configs/klear/model/ConditionalRoutesConditions.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, doc, web/admin

#1395 web/admin: show carrier and carrier server status icon
  doc/sphinx/administration_portal/brand/providers/carriers.rst
  library/Ivoz/Kam/Domain/Service/TrunksClientInterface.php
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  web/admin/application/configs/klear/CarrierServersList.yaml
  web/admin/application/configs/klear/CarriersList.yaml
  web/admin/application/configs/klear/model/CarrierServers.yaml
  web/admin/application/configs/klear/model/Carriers.yaml
  web/admin/application/library/IvozProvider/Klear/Ghost/CarrierServerStatus.php
Labels: * artemis *, +enhancement, core, doc, web/admin

#1397 acc: no users CDR for non-vpbx calls
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, trunks, users

#1391 kam: userId/friendId/faxId for inbound calls
  debian/ivozprovider.postinst
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/platform/external_calls.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, doc, trunks, users

#1398 kamtrunks: log carrier server inactivation and activation
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +enhancement, trunks

#1401 kam: antiflood improvements
  doc/sphinx/security_and_maintenance/security/antiflooding.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, doc, trunks, users

#1400 kam: avoid empty pointer free warning log
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, trunks, users
