Repository irontec/ivozprovider, pull requests merged in 2020-08, with the labels that each got.

#1470 Add unconditional call forward for retail accounts
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  kamailio/users/config/kamailio.cfg
  web/admin/application/library/IvozProvider/Klear/Filter/CallForwardTypes.php
Labels: * artemis *, +feature, doc, users, web/admin

#1476 web/admin: remove Antiflood trusted IPs section
  doc/sphinx/administration_portal/platform/antiflood_trusted_ips.rst
  doc/sphinx/administration_portal/platform/index.rst
  library/DataFixtures/ORM/KamTrusted.php
  library/Ivoz/Kam/Domain/Model/Trusted/Trusted.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedAbstract.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/Trusted.TrustedAbstract.orm.yml
  schema/DoctrineMigrations/Version20200810142815.php
  tests/docker/bin/prepare-and-run
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, core, doc, i18n, schema, web/admin

#1477 kamusers: copy fix contact logic from trunks
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, users

#1478 provisioning: add Snom D375, D717, D735, D785
  debian/ivozprovider-profile-portal.postinst
  profiles/portal/etc/apache2/sites-available/030-ivozprovider-prov.conf
  profiles/portal/etc/ssl/ca/Snom_CA.crt
  schema/DoctrineMigrations/Version20200812105255.php
  web/admin/templates/provisioning/SnomD375/generic.cfg
  web/admin/templates/provisioning/SnomD375/specific.cfg
  web/admin/templates/provisioning/SnomD717/generic.cfg
  web/admin/templates/provisioning/SnomD717/specific.cfg
  web/admin/templates/provisioning/SnomD735/generic.cfg
  web/admin/templates/provisioning/SnomD735/specific.cfg
  web/admin/templates/provisioning/SnomD785/generic.cfg
  web/admin/templates/provisioning/SnomD785/specific.cfg
Labels: * artemis *, +enhancement, provisioning, schema

#1479 kamusers: add geoIP filtering
  asterisk/agi/composer.lock
  debian/control
  doc/sphinx/administration_portal/brand/clients/residential.rst
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/security_and_maintenance/security/authorized_ip_ranges.rst
  doc/sphinx/security_and_maintenance/security/geoip_filter.rst
  doc/sphinx/security_and_maintenance/security/index.rst
  kamailio/users/config/geoip.cfg.in
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyTrait.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountry.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryAbstract.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryDto.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryInterface.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryRepository.php
  library/Ivoz/Provider/Domain/Model/CompanyRelGeoIPCountry/CompanyRelGeoIPCountryTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyRelGeoIPCountryDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.Company.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CompanyRelGeoIPCountry.CompanyRelGeoIPCountry.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CompanyRelGeoIPCountry.CompanyRelGeoIPCountryAbstract.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20200817135830.php
  schema/composer.lock
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/ResidentialClientsList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +feature, core, doc, i18n, packaging, schema, users, web/admin

#1475 core: validate retail call forward settings
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSetting.php
  library/spec/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingSpec.php
Labels: * artemis *, +enhancement, core

#1485 Max daily usage ends company calls
  doc/sphinx/security_and_maintenance/security/current_day_max_usage.rst
  kamailio/trunks/config/kamailio.cfg
  schema/DoctrineMigrations/Version20200825140817.php
Labels: * artemis *, +enhancement, doc, schema, trunks

#1487 web/admin: fix RerateCallService path
  web/admin/application/controllers/KlearCustomTarificatorController.php
Labels: * artemis *, +bug, web/admin

#1484 Unban anti brute-force banned sources
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/brand/views/bruteforce_attacks.rst
  library/Ivoz/Kam/Domain/Service/UsersClientInterface.php
  library/Ivoz/Kam/Infrastructure/Gearman/TrunksClient.php
  library/Ivoz/Kam/Infrastructure/Gearman/UsersClient.php
  library/Ivoz/Kam/Infrastructure/Kamailio/JsonRpcRequestTrait.php
  library/Ivoz/Provider/Domain/Service/BannedAddress/Unban.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/domain.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/gearman.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/admin/application/configs/klear/BruteForceAttacksList.yaml
  web/admin/application/controllers/KlearCustomBruteForceUnbanController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +enhancement, core, doc, i18n, web/admin

#1488 web/admin: add options in carrier BillableCalls list
  web/admin/application/configs/klear/CarriersList.yaml
Labels: * artemis *, +bug, web/admin

#1427 i18n: updated Italian translations
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, i18n
