Repository irontec/ivozprovider, pull requests merged in 2020-02, with the labels that each got.

#1266 core: parse trunksCdrs with parsed = null
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
Labels: * artemis *, microservices

#1264 schema: removed duplicated keys
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.yml
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/Voicemail.VoicemailAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpAccountAction.TpAccountActionAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpCdr.TpCdrAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpDestination.TpDestinationAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpDestinationRate.TpDestinationRateAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRate.TpRateAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingPlan.TpRatingPlanAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpRatingProfile.TpRatingProfileAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersPresentity.UsersPresentityAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersPua.UsersPuaAbstract.orm.yml
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersXcap.UsersXcapAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20200131103107.php
Labels: * artemis *, schema

#1268 Customized doctrine:migrations:diff
  library/composer.lock
  schema/app/AppKernel.php
  schema/app/config/services.yml
  schema/composer.lock
Labels: * artemis *, schema

#1270 kamtrunks: 0 as default value for trunksCdr.parsed
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
Labels: * artemis *, +enhancement, core, trunks

#1271 web/admin: round daily usage value
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
Labels: * artemis *, +enhancement, web/admin

#1256 Friends disable directmedia
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByFriend.php
  schema/app/DoctrineMigrations/Version20200127120901.php
Labels: * artemis *, +bug, core, schema

#1272 core: invoice number sequence error prevention
  library/Ivoz/Provider/Domain/Model/Invoice/Invoice.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceInterface.php
  library/Ivoz/Provider/Domain/Service/Invoice/SetInvoiceNumber.php
  library/spec/Ivoz/Provider/Domain/Service/Invoice/SetInvoiceNumberSpec.php
  microservices/workers/src/Worker/Invoices.php
Labels: * artemis *, core, microservices

#1245 Do not use entity setter on services
  library/Ivoz/Provider/Domain/Service/Domain/DeleteByBrand.php
  library/Ivoz/Provider/Domain/Service/Domain/DeleteByCompany.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByCompany.php
  library/Ivoz/Provider/Domain/Service/Invoice/SetInvoiceNumber.php
  library/Ivoz/Provider/Domain/Service/User/UpdateByExtension.php
  library/spec/Ivoz/Provider/Domain/Service/Domain/UpdateByBrandSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Domain/UpdateByCompanySpec.php
  library/spec/Ivoz/Provider/Domain/Service/User/UpdateByExtensionSpec.php
Labels: * artemis *, +enhancement, core

#1269 core: updated ivoz-core dependency
  library/composer.lock
Labels: * artemis *, +bug, core

#1275 kamtrunks: Improve routing selection logic logs
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/OutgoingRouting/OutgoingRouting.php
  schema/app/DoctrineMigrations/Version20200205123949.php
  web/admin/application/configs/klear/model/OutgoingRouting.yaml
Labels: * artemis *, +enhancement, core, schema, trunks, web/admin

#1277 doc: updated API changelog for 2.14.1
  web/rest/brand/CHANGELOG.md
Labels: * artemis *, ci-no-tests, doc

#1274 Sync one to one relationships between entities and dtos
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProviderAddress/DdiProviderAddressAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistrationAbstract.php
  library/Ivoz/Provider/Domain/Model/Destination/DestinationAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRate/DestinationRateAbstract.php
  library/composer.lock
  schema/composer.lock
  schema/tests/Provider/DdiProviderAddress/DdiProviderAddressLifeCycleTest.php
  schema/tests/Provider/Destination/DestinationLifeCycleTest.php
Labels: * artemis *, +bug, core

#1273 Do not use entity setter on services
  library/Ivoz/Cgr/Domain/Service/TpDestination/CreatedByDestination.php
  library/Ivoz/Cgr/Domain/Service/TpDestinationRate/UpdatedByDestinationRate.php
  library/Ivoz/Cgr/Domain/Service/TpRate/UpdatedByDestinationRate.php
  library/Ivoz/Kam/Domain/Service/TrunksAddress/UpdateByDdiProviderAddress.php
  library/Ivoz/Kam/Domain/Service/TrunksLcrGateway/UpdateByCarrierServer.php
  library/spec/Ivoz/Cgr/Domain/Service/TpDestination/CreatedByDestinationSpec.php
  library/spec/Ivoz/Cgr/Domain/Service/TpDestinationRate/UpdatedByDestinationRateSpec.php
  library/spec/Ivoz/Cgr/Domain/Service/TpRate/UpdatedByDestinationRateSpec.php
  library/spec/Ivoz/Kam/Domain/Service/TrunksLcrGateway/UpdateByCarrierServerSpec.php
Labels: * artemis *, +enhancement, core

#1282 web/rest: reviewed API endpoints
  library/DataFixtures/ORM/KamRtpengine.php
  library/DataFixtures/ORM/ProviderFixedCost.php
  library/DataFixtures/ORM/ProviderFixedCostsRelInvoiceScheduler.php
  library/DataFixtures/ORM/ProviderMediaRelaySet.php
  library/Ivoz/Kam/Domain/Model/Rtpengine/RtpengineDto.php
  library/Ivoz/Provider/Domain/Model/Changelog/Changelog.php
  library/Ivoz/Provider/Domain/Model/Commandlog/Commandlog.php
  library/Ivoz/Provider/Domain/Model/FixedCostsRelInvoice/FixedCostsRelInvoice.php
  library/Ivoz/Provider/Domain/Model/FixedCostsRelInvoiceScheduler/FixedCostsRelInvoiceSchedulerDto.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerDto.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/FixedCostsRelInvoiceScheduler.FixedCostsRelInvoiceSchedulerAbstract.orm.yml
  schema/app/DoctrineMigrations/Version20200211120351.php
  schema/tests/Provider/InvoiceScheduler/InvoiceSchedulerLifeCycleTest.php
  web/rest/brand/app/config/api/raw/kam.yml
  web/rest/brand/app/config/api/raw/provider.yml
  web/rest/brand/features/kam/usersCdr/getUsersCdrs.feature
  web/rest/brand/features/kam/usersCdr/postUsersCdrs.feature
  web/rest/brand/features/kam/usersCdr/putUsersCdrs.feature
  web/rest/brand/features/provider/fixedCost/getFixedCost.feature
  web/rest/brand/features/provider/fixedCost/postFixedCost.feature
  web/rest/brand/features/provider/fixedCostsRelInvoice/postFixedCostsRelInvoice.feature
  web/rest/brand/features/provider/fixedCostsRelInvoiceScheduler/getFixedCostsRelInvoiceScheduler.feature
  web/rest/brand/features/provider/fixedCostsRelInvoiceScheduler/postFixedCostsRelInvoiceScheduler.feature
  web/rest/brand/features/provider/fixedCostsRelInvoiceScheduler/putFixedCostsRelInvoiceScheduler.feature
  web/rest/brand/features/provider/fixedCostsRelInvoiceScheduler/removeFixedCostsRelInvoiceScheduler.feature
  web/rest/brand/features/provider/invoice/postInvoice.feature
  web/rest/brand/features/provider/invoiceScheduler/getInvoiceScheduler.feature
  web/rest/brand/features/provider/invoiceScheduler/postInvoiceScheduler.feature
  web/rest/brand/features/provider/invoiceScheduler/putInvoiceScheduler.feature
  web/rest/brand/features/provider/invoiceScheduler/removeInvoiceScheduler.feature
  web/rest/brand/features/requestPayloadTzConversions.feature
  web/rest/brand/tests/DataAccessControl/Provider/FixedCostsRelInvoiceSchedulerTest.php
  web/rest/brand/tests/DataAccessControl/Provider/InvoiceSchedulerTest.php
  web/rest/platform/app/config/api/raw/kam.yml
  web/rest/platform/app/config/api/raw/provider.yml
  web/rest/platform/features/kam/rtpengine/getRtpengine.feature
  web/rest/platform/features/kam/rtpengine/postRtpengine.feature
  web/rest/platform/features/kam/rtpengine/putRtpengine.feature
  web/rest/platform/features/kam/rtpengine/removeRtpengine.feature
Labels: * artemis *, schema, tests, web/rest

#1286 core: removed duplicated settings
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/ProviderBundle.php
  library/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/app/config/config.yml
  schema/composer.lock
  web/rest/brand/app/config/security.yml
  web/rest/brand/composer.lock
  web/rest/client/app/config/api/raw/kam.yml
  web/rest/client/app/config/security.yml
  web/rest/client/composer.lock
  web/rest/platform/app/config/security.yml
  web/rest/platform/composer.lock
Labels: * artemis *, +enhancement, core

#1284 Administrator ACLs
  library/DataFixtures/ORM/ProviderAdministrator.php
  library/DataFixtures/ORM/ProviderAdministratorRelPublicEntities.php
  library/DataFixtures/ORM/ProviderPublicEntities.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorAbstract.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorDto.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorInterface.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorTrait.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntity.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityAbstract.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityDto.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityInterface.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepository.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityTrait.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/Name.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntity.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityAbstract.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityDto.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityInterface.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityRepository.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityTrait.php
  library/Ivoz/Provider/Domain/Service/Administrator/AdministratorLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/AdministratorRelPublicEntityLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/AdministratorRelPublicEntityLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/AvoidUpdates.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/CreateAcls.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/UpdateAcls.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorRelPublicEntityDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Administrator.Administrator.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Administrator.AdministratorAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/AdministratorRelPublicEntity.AdministratorRelPublicEntity.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/AdministratorRelPublicEntity.AdministratorRelPublicEntityAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/PublicEntity.Name.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/PublicEntity.PublicEntity.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/PublicEntity.PublicEntityAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/PublicEntityDoctrineRepository.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  schema/app/DoctrineMigrations/Version20200204114637.php
  schema/app/DoctrineMigrations/Version20200210145816.php
  schema/app/DoctrineMigrations/Version20200210145817.php
  schema/app/DoctrineMigrations/Version20200210145818.php
  schema/app/DoctrineMigrations/Version20200211120351.php
  schema/tests/DbIntegrationTestHelperTrait.php
  schema/tests/Provider/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepositoryTest.php
  schema/tests/Provider/PublicEntity/PublicEntityRepositoryTest.php
  web/rest/brand/features/provider/administrator/getAdministrators.feature
  web/rest/brand/features/provider/administrator/postAdministrators.feature
  web/rest/brand/features/provider/administrator/putAdministrators.feature
  web/rest/brand/features/requestPayloadTzConversions.feature
  web/rest/platform/features/provider/administrator/getAdministrators.feature
  web/rest/platform/features/provider/administrator/postAdministrators.feature
  web/rest/platform/features/provider/administrator/putAdministrators.feature
Labels: * artemis *, +feature, core, schema, tests

#1293 kamusers: IP filter for non-INVITE requests
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, users

#1288 web/admin: fix vpbx service selector filter
  web/admin/application/library/IvozProvider/Klear/Filter/CompanyServices.php
Labels: * artemis *, +bug, web/admin

#1298 Dependency refactor
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/bin/composer-update
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  schema/composer.json
  schema/composer.lock
  schema/var/SymfonyRequirements.php
  web/rest/brand/composer.lock
  web/rest/brand/var/SymfonyRequirements.php
  web/rest/client/composer.lock
  web/rest/client/var/SymfonyRequirements.php
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
  web/rest/platform/var/SymfonyRequirements.php
Labels: * artemis *, +enhancement, core

#1289 kamtrunks: do not inactivate stopper route carriers
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +bug, trunks

#1295 On-demand record DTMFs supports both SIP INFO and DTMFs
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, i18n, web/admin

#1297 Revert t38 uneeded logic
  asterisk/agi/src/Agi/Action/DdiAction.php
  asterisk/agi/src/Agi/Action/RetailCallAction.php
  asterisk/agi/src/Agi/Action/RouterAction.php
  asterisk/agi/src/Agi/Agents/RetailAgent.php
  asterisk/agi/src/Dialplan/Retails.php
  asterisk/config/dialplan/default.conf
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, agis, trunks, users

#1300 schema: fixed merge issues
  schema/DoctrineMigrations/Version20200210145817.php
  schema/app/DoctrineMigrations/Version20200204114637.php
  schema/app/DoctrineMigrations/Version20200210145816.php
  schema/app/DoctrineMigrations/Version20200210145817.php
  schema/app/DoctrineMigrations/Version20200210145818.php
Labels: * artemis *, +bug, schema

#1292 Expose administrator ACLs on API
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityDto.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityDto.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/postAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/removeAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/getPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/postPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/putPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/removePublicEntities.feature
  web/rest/brand/tests/DataAccessControl/Provider/AdministratorRelPublicEntitiesTest.php
  web/rest/brand/tests/DataAccessControl/Provider/PublicEntityTest.php
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/administrator/getAdministrators.feature
  web/rest/platform/features/provider/administrator/putAdministrators.feature
  web/rest/platform/features/provider/administrator/removeAdministrators.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/postAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/removeAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/getPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/postPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/putPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/removePublicEntities.feature
Labels: * artemis *, +feature, tests, web/rest

#1301 Friends intervpbx need no regexp
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/index.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/internal_friends.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  schema/DoctrineMigrations/Version20200220142749.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/library/IvozProvider/Klear/Options/OptionsCustomizer.php
Labels: * artemis *, +enhancement, core, doc, schema, users, web/admin

#1310 Fixed api post response custom models
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/brand/features/provider/outgoingRouting/postOutgoingRouting.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/conditionalRoutesCondition/postConditionalRoutesCondition.feature
  web/rest/client/features/provider/externalCallFilter/postExternalCallFilter.feature
  web/rest/client/features/provider/ivr/postIvr.feature
  web/rest/client/features/provider/user/postUser.feature
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/brand/postBrands.feature
Labels: * artemis *, +bug, web/rest

#1312 Api reviewed required fields
  asterisk/agi/composer.lock
  library/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/config/api/raw/provider.yml
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, web/rest

#1291 Huntgroup external numbers
  asterisk/agi/config/services.yml
  asterisk/agi/src/Agi/Action/HuntGroupAction.php
  asterisk/agi/src/Agi/Action/HuntGroupCallAction.php
  asterisk/agi/src/Agi/Action/HuntGroupStatusAction.php
  asterisk/agi/src/Dialplan/HuntGroupMember.php
  asterisk/agi/src/Dialplan/HuntGroups.php
  asterisk/agi/src/MicroKernel.php
  asterisk/config/dialplan/default.conf
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/hunt_groups.rst
  library/DataFixtures/ORM/ProviderHuntGroupsRelUser.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUser.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserDto.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HuntGroupsRelUser.HuntGroupsRelUserAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserSpec.php
  schema/DoctrineMigrations/Version20200220113025.php
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/HuntGroupsRelUsersList.yaml
  web/admin/application/configs/klear/model/HuntGroupsRelUsers.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/HuntGroupsRelUsers.php
  web/rest/client/features/provider/huntGroupsRelUser/getHuntGroupsRelUser.feature
  web/rest/client/features/provider/huntGroupsRelUser/postHuntGroupsRelUser.feature
  web/rest/client/features/provider/huntGroupsRelUser/putHuntGroupsRelUser.feature
Labels: * artemis *, +feature, agis, core, schema, web/admin

#1296 Apply ACLs on API
  library/DataFixtures/ORM/ProviderAdministratorRelPublicEntities.php
  library/DataFixtures/ORM/ProviderPublicEntities.php
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorInterface.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorSecurityTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/AdministratorRelPublicEntity.AdministratorRelPublicEntityAbstract.orm.yml
  web/rest/brand/config/api/raw/kam.yml
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/api/resources.yml
  web/rest/brand/features/acl.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/getPublicEntities.feature
  web/rest/client/config/api/raw/kam.yml
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/api/resources.yml
  web/rest/platform/config/api/raw/kam.yml
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/config/api/resources.yml
  web/rest/platform/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/getPublicEntities.feature
Labels: * artemis *, +enhancement, tests, web/rest

#1311 web/admin: show red if runtime MaxDailyUsage is not equal to database value
  doc/sphinx/administration_portal/brand/billing/current_day_usages.rst
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
Labels: * artemis *, +enhancement, doc, web/admin

#1305 Propagate client side endpoint to trunks cdrs for outbound calls
  asterisk/agi/src/Agi/Action/ExternalFaxCallAction.php
  asterisk/agi/src/Dialplan/Friends.php
  asterisk/agi/src/Dialplan/Headers.php
  asterisk/agi/src/Dialplan/Users.php
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/DoctrineMigrations/Version20200221112255.php
Labels: * artemis *, +enhancement, agis, core, schema, trunks

#1302 web/admin: new Users view section for brand
  doc/sphinx/administration_portal/brand/views/index.rst
  doc/sphinx/administration_portal/brand/views/users.rst
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  web/admin/application/configs/klear/BrandUsersList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/Extensions.php
  web/admin/application/library/IvozProvider/Klear/Ghost/RegisterStatus.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/brand/features/provider/user/postUser.feature
  web/rest/brand/features/provider/user/putUser.feature
  web/rest/brand/features/provider/user/removeUser.feature
Labels: * artemis *, +enhancement, doc, web/admin

#1316 Call waiting zero means unlimited
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, doc, i18n, web/admin

#1315 queues: make missed calls configurable
  asterisk/agi/src/Agi/Action/QueueCallAction.php
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/queues.rst
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.yml
  schema/DoctrineMigrations/Version20200226155532.php
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/queue/postQueue.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/queueMember/putQueueMember.feature
Labels: * artemis *, +feature, agis, core, doc, i18n, schema, web/admin

#1319 web/admin: show carrierId on platform/brand external calls csv
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  web/admin/application/configs/klear/BillableCallsList.yaml
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
Labels: * artemis *, +enhancement, web/admin, web/rest

#1318 web/rest: expose company maxDailyUsage on brand API
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/brand/features/provider/company/putCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/getFeaturesRelCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/postFeaturesRelCompanies.feature
Labels: * artemis *, +bug, web/rest
