Repository irontec/ivozprovider, pull requests merged in 2020-03, with the labels that each got.

#1317 Save ddiId in BillableCalls
  asterisk/agi/src/Agi/Action/ExternalFaxCallAction.php
  asterisk/agi/src/Agi/Action/ExternalNumberAction.php
  asterisk/agi/src/Dialplan/Headers.php
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderBillableCalls.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/DoctrineMigrations/Version20200226175512.php
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/putBillableCalls.feature
  web/rest/client/features/provider/billableCall/getBillableCall.feature
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
Labels: * artemis *, +feature, core, schema

#1321 Limit cdrs to one year
  asterisk/agi/composer.lock
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/doctrine.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/admin/application/configs/klear/BillableCallsList.yaml
  web/admin/application/configs/klear/KamUsersCdrsList.yaml
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, +feature, web/admin

#1313 Remove ACLs on non restricted administrators
  doc/sphinx/administration_portal/brand/clients/residential.rst
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/administration_portal/brand/clients/wholesale.rst
  doc/sphinx/administration_portal/platform/brands.rst
  doc/sphinx/administration_portal/platform/main_operators.rst
  doc/sphinx/api_rest/acls.rst
  doc/sphinx/index.rst
  library/DataFixtures/ORM/ProviderAdministrator.php
  library/DataFixtures/ORM/ProviderAdministratorRelPublicEntities.php
  library/DataFixtures/ORM/ProviderPublicEntities.php
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepository.php
  library/Ivoz/Provider/Domain/Service/Administrator/AdministratorLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/CreateAcls.php
  library/Ivoz/Provider/Domain/Service/AdministratorRelPublicEntity/RemoveAcls.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorRelPublicEntityDoctrineRepository.php
  schema/DoctrineMigrations/Version20200210145816.php
  schema/DoctrineMigrations/Version20200210145817.php
  schema/DoctrineMigrations/Version20200210145818.php
  schema/tests/Provider/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepositoryTest.php
  web/admin/application/configs/klear/AdministratorRelPublicEntitiesList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/model/Administrators.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Auth/Administrator.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/administrator/getAdministrators.feature
  web/rest/brand/features/provider/administrator/postAdministrators.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/brand/features/provider/publicEntity/getPublicEntities.feature
  web/rest/brand/tests/DataAccessControl/Provider/AdministratorRelPublicEntitiesTest.php
  web/rest/brand/tests/DataAccessControl/Provider/PublicEntityTest.php
  web/rest/platform/features/provider/administrator/postAdministrators.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/putAdministratorRelPublicEntities.feature
  web/rest/platform/features/provider/publicEntity/getPublicEntities.feature
Labels: * artemis *, core, doc, i18n, tests, web/admin, web/rest

#1322 Inconditional cfw can coexist with remaining types
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/spec/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniquenessSpec.php
  schema/tests/Provider/CallForwardSetting/CallForwardSettingLifeCycleTest.php
  web/admin/application/configs/klear/errors.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/user/app/languages/locale-ca.json
  web/user/app/languages/locale-en.json
  web/user/app/languages/locale-es.json
  web/user/app/languages/locale-it.json
Labels: * artemis *, +enhancement, agis, core, i18n, web/admin, web/user

#1320 Improved call csv scheduler
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/residential/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/retail/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/wholesale/calls/call_csv_schedulers.rst
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDto.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CsvAttacher.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallCsvScheduler.CallCsvSchedulerAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CsvExporterSpec.php
  library/spec/Ivoz/Provider/Domain/Service/CallCsvReport/CsvAttacherSpec.php
  schema/DoctrineMigrations/Version20200227160910.php
  schema/tests/Provider/CallCsvReport/CallCsvReportLifeCycleTest.php
  web/admin/application/configs/klear/CallCsvSchedulersBrandList.yaml
  web/admin/application/configs/klear/CallCsvSchedulersList.yaml
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/OutgoingDDI.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/callCsvScheduler/getCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/postCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/putCallCsvScheduler.feature
  web/rest/brand/tests/DataAccessControl/Provider/CallCsvSchedulerTest.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/callCsvScheduler/getCallCsvScheduler.feature
  web/rest/client/features/provider/callCsvScheduler/postCallCsvScheduler.feature
  web/rest/client/features/provider/callCsvScheduler/putCallCsvScheduler.feature
  web/rest/client/tests/DataAccessControl/Provider/CallCsvReportTest.php
  web/rest/client/tests/DataAccessControl/Provider/CallCsvSchedulerTest.php
Labels: * artemis *, +feature, core, doc, i18n, schema, web/admin, web/rest

#1323 Dont allow updates on call csv reports
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/callCsvReport/putCallCsvReport.feature
  web/rest/brand/tests/DataAccessControl/Provider/CallCsvReportTest.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/callCsvReport/putCallCsvReport.feature
  web/rest/client/tests/DataAccessControl/Provider/CallCsvReportTest.php
Labels: * artemis *, +bug, web/rest

#1324 kamusers: increase TCP max conns
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, users

#1325 Alias importer
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/client/vpbx/extensions.rst
  library/Ivoz/Provider/Domain/Model/Country/CountryRepository.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionRepository.php
  library/Ivoz/Provider/Domain/Service/Extension/AliasImporter.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CountryDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ExtensionDoctrineRepository.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/domain.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  schema/tests/Provider/Country/CountryRepositoryTest.php
  schema/tests/Provider/Extension/ExtensionRepositoryTest.php
  web/admin/application/configs/klear/ExtensionsList.yaml
  web/admin/application/controllers/ImportAliasesCustomFileController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +feature, core, doc, i18n, web/admin

#1327 core: do not update domains if company is not vPBX
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByCompany.php
  library/spec/Ivoz/Provider/Domain/Service/Domain/UpdateByCompanySpec.php
Labels: * artemis *, +bug, core

#1314 Huntgroup call forward settings
  asterisk/agi/src/Agi/Action/UserCallAction.php
  asterisk/agi/src/Dialplan/HuntGroupMember.php
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/hunt_groups.rst
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/HuntGroup.HuntGroupAbstract.orm.yml
  schema/DoctrineMigrations/Version20200224120137.php
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/model/HuntGroups.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/huntGroup/postHuntGroup.feature
  web/rest/client/features/provider/huntGroupsRelUser/postHuntGroupsRelUser.feature
  web/rest/client/features/provider/huntGroupsRelUser/putHuntGroupsRelUser.feature
Labels: * artemis *, +enhancement, agis, doc, schema, web/admin

#1326 Show IPs blocked by antiflood and IP filter mechanisms
  doc/sphinx/administration_portal/brand/views/index.rst
  doc/sphinx/administration_portal/brand/views/ipfilter_blocked_addresses.rst
  doc/sphinx/administration_portal/platform/antiflood_banned_ips.rst
  doc/sphinx/administration_portal/platform/index.rst
  doc/sphinx/security_and_maintenance/security/antiflooding.rst
  doc/sphinx/security_and_maintenance/security/authorized_ip_ranges.rst
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderBannedAddress.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddress.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressAbstract.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressDto.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressInterface.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressRepository.php
  library/Ivoz/Provider/Domain/Model/BannedAddress/BannedAddressTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BannedAddressDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BannedAddress.BannedAddress.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BannedAddress.BannedAddressAbstract.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  schema/DoctrineMigrations/Version20200305163752.php
  web/admin/application/configs/klear/BannedAddressesList.yaml
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/IpFilterBlockedAddressesList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/BannedAddresses.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/bannedAddress/getBannedAddress.feature
  web/rest/brand/features/provider/bannedAddress/postBannedAddress.feature
  web/rest/brand/features/provider/bannedAddress/putBannedAddress.feature
  web/rest/brand/features/provider/bannedAddress/removeBannedAddress.feature
  web/rest/brand/tests/DataAccessControl/Provider/BannedAddressTest.php
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/bannedAddress/getBannedAddress.feature
  web/rest/platform/features/provider/bannedAddress/postBannedAddress.feature
  web/rest/platform/features/provider/bannedAddress/putBannedAddress.feature
  web/rest/platform/features/provider/bannedAddress/removeBannedAddress.feature
Labels: * artemis *, +enhancement, core, doc, i18n, schema, users, web/admin

#1328 Brand API: forbidden global record updates
  library/DataFixtures/FixtureHelperTrait.php
  library/DataFixtures/ORM/ProviderCallCsvReport.php
  library/DataFixtures/ORM/ProviderDestinationRateGroup.php
  library/DataFixtures/ORM/ProviderFaxesInOut.php
  library/Ivoz/Provider/Domain/Model/InvoiceTemplate/InvoiceTemplate.php
  library/Ivoz/Provider/Domain/Model/InvoiceTemplate/InvoiceTemplateDto.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplate.php
  library/Ivoz/Provider/Domain/Model/SpecialNumber/SpecialNumber.php
  library/Ivoz/Provider/Domain/Model/SpecialNumber/SpecialNumberDto.php
  web/rest/brand/features/provider/invoiceTemplate/getInvoiceTemplate.feature
  web/rest/brand/features/provider/invoiceTemplate/postInvoiceTemplate.feature
  web/rest/brand/features/provider/invoiceTemplate/putInvoiceTemplate.feature
  web/rest/brand/features/provider/specialNumber/getSpecialNumber.feature
  web/rest/brand/features/provider/specialNumber/postSpecialNumber.feature
  web/rest/brand/features/provider/specialNumber/putSpecialNumber.feature
Labels: * artemis *, +bug, core

#1332 Optimized CI pipeline
  Jenkinsfile
  schema/bin/test-orm
  tests/docker/bin/prepare-and-run
  web/rest/brand/bin/test-api
  web/rest/client/bin/test-api
  web/rest/platform/bin/test-api
Labels: * artemis *, tests

#1333 Improved API memory usage
  asterisk/agi/composer.lock
  library/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/config/api_platform.yml
  web/rest/brand/features/provider/country/getCountry.feature
  web/rest/brand/features/provider/timezone/getTimezone.feature
  web/rest/client/composer.lock
  web/rest/client/config/api_platform.yml
  web/rest/client/features/provider/country/getCountry.feature
  web/rest/client/features/provider/ratingPlanGroup/getPrices.feature
  web/rest/client/features/provider/timezone/getTimezone.feature
  web/rest/platform/composer.lock
  web/rest/platform/config/api_platform.yml
  web/rest/platform/features/pagination.feature
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/country/getCountry.feature
  web/rest/platform/features/provider/timezone/getTimezone.feature
Labels: * artemis *, +enhancement, web/rest

#1329 Improved call csv scheduler
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDto.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CsvAttacher.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallCsvScheduler.CallCsvSchedulerAbstract.orm.yml
  schema/DoctrineMigrations/Version20200309102734.php
  web/admin/application/configs/klear/CallCsvSchedulersBrandList.yaml
  web/admin/application/configs/klear/CallCsvSchedulersList.yaml
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
  web/admin/application/configs/klear/model/Carriers.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/BrandCompanies.php
  web/admin/e2e/commands/jqueryFillOutForm.js
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/callCsvScheduler/getCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/postCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/putCallCsvScheduler.feature
  web/rest/brand/features/provider/fax/getFax.feature
  web/rest/brand/features/provider/friend/getFriend.feature
  web/rest/brand/tests/DataAccessControl/Provider/FaxTest.php
  web/rest/brand/tests/DataAccessControl/Provider/FriendTest.php
  web/rest/client/features/provider/callCsvScheduler/getCallCsvScheduler.feature
  web/rest/client/features/provider/callCsvScheduler/postCallCsvScheduler.feature
  web/rest/client/features/provider/callCsvScheduler/putCallCsvScheduler.feature
Labels: * artemis *, +feature, web/admin, web/rest

#1330 Save DDI provider in external inbound calls
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/platform/external_calls.rst
  kamailio/trunks/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderBillableCalls.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksCdr.TrunksCdrAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/DoctrineMigrations/Version20200311114912.php
  web/admin/application/configs/klear/BillableCallsClientList.yaml
  web/admin/application/configs/klear/BillableCallsList.yaml
  web/admin/application/configs/klear/model/BillableCalls.yaml
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/putBillableCalls.feature
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
Labels: * artemis *, +enhancement, core, doc, schema, trunks, web/admin

#1338 Fixed dependencies
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  schema/composer.json
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, core

#1335 Call status realtime websocket service
  asterisk/agi/phpstan.neon
  debian/control
  debian/ivozprovider-realtime.install
  debian/ivozprovider-realtime.ivozprovider-realtime.service
  debian/ivozprovider-realtime.postinst
  debian/ivozprovider-realtime.preinst
  debian/rules
  debian/systemd/ivozprovider-realtime.service
  library/bin/composer-install
  library/bin/composer-require
  library/bin/composer-update
  library/bin/test-phpstan
  library/composer.json
  library/composer.lock
  library/phpstan.neon
  microservices/balances/phpstan.neon
  microservices/realtime/.gitignore
  microservices/realtime/bin/feed
  microservices/realtime/bin/run
  microservices/realtime/composer.json
  microservices/realtime/composer.lock
  microservices/realtime/ivozprovider-realtime.service
  microservices/realtime/phpstan.neon
  microservices/realtime/src/App.php
  microservices/realtime/src/Feeder/AbstractCall.php
  microservices/realtime/src/Feeder/Feeder.php
  microservices/realtime/src/Feeder/RandomStringGenerator.php
  microservices/realtime/src/Feeder/TrunksCall.php
  microservices/realtime/src/Feeder/UsersCallEvent.php
  microservices/realtime/src/Model/Message.php
  microservices/realtime/src/Model/RedisConf.php
  microservices/realtime/src/Model/Subscriber.php
  microservices/realtime/src/Services/AbstractWsServer.php
  microservices/realtime/src/Services/RedisClientFactory.php
  microservices/realtime/src/Services/RedisPool.php
  microservices/realtime/src/Services/Sentinel.php
  microservices/realtime/src/Services/WsServer.php
  microservices/recordings/phpstan.neon
  microservices/scheduler/phpstan.neon
  microservices/workers/phpstan.neon
  web/rest/brand/phpstan.neon
  web/rest/client/phpstan.neon
  web/rest/platform/phpstan.neon
Labels: * artemis *, +feature, microservices, packaging

#1339 Realtime symfony integration
  microservices/realtime/.gitignore
  microservices/realtime/bin/console
  microservices/realtime/composer.json
  microservices/realtime/composer.lock
  microservices/realtime/config/config.yml
  microservices/realtime/config/config_dev.yml
  microservices/realtime/config/config_prod.yml
  microservices/realtime/config/logger.yml
  microservices/realtime/config/parameters.yml
  microservices/realtime/config/security.yml
  microservices/realtime/config/services.yml
  microservices/realtime/src/App.php
  microservices/realtime/src/MicroKernel.php
  microservices/realtime/src/Model/SentinelConf.php
  microservices/realtime/src/Services/AbstractWsServer.php
  microservices/realtime/src/Services/JwtToken.php
  microservices/realtime/src/Services/RedisPool.php
  microservices/realtime/src/Services/Sentinel.php
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, microservices

#1336 kamailio: save realtime information in Redis
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +feature, trunks, users
