Repository irontec/ivozprovider, pull requests merged in 2020-11, with the labels that each got.

#1515 schema: new country for International Freephone Numbers
  schema/DoctrineMigrations/Version20201106131908.php
Labels: * artemis *, +enhancement, schema

#1512 kam: reduce amount of log messages
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  profiles/proxy/usr/sbin/kamlog
Labels: * artemis *, +enhancement, ci-no-tests, trunks, users

#1513 kamtrunks: End company calls from urlparam
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, trunks

#1517 core: review loggable entities
  library/Ivoz/Kam/Domain/Model/Rtpengine/Rtpengine.php
  library/Ivoz/Kam/Domain/Model/Rtpengine/RtpengineInterface.php
  library/Ivoz/Kam/Domain/Model/Trusted/Trusted.php
  library/Ivoz/Kam/Domain/Model/Trusted/TrustedInterface.php
  library/Ivoz/Kam/Domain/Model/UsersAddress/UsersAddress.php
  library/Ivoz/Kam/Domain/Model/UsersAddress/UsersAddressInterface.php
Labels: * artemis *, +enhancement, core

#1518 kamtrunks: do not inactivate stopper gateways
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, trunks

#1509 doc: update release information in README
  README.md
  web/admin/public/images/release-artemis-14b9bc.png
  web/admin/public/images/stable-2.16-blue.png
Labels: * artemis *, +enhancement, doc

#1519 core: persist invoice scheduler errors properly
  library/Ivoz/Provider/Domain/Service/Invoice/CreateByScheduler.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/SetExecutionError.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/UpdateLastExecutionDate.php
Labels: * artemis *, +bug, core

#1520 kam: changes in antiflooding mechanism
  doc/sphinx/administration_portal/platform/antiflood_banned_ips.rst
  doc/sphinx/security_and_maintenance/security/antibruteforce.rst
  doc/sphinx/security_and_maintenance/security/antiflooding.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, doc, trunks, users

#1523 web/admin: show/hide billing details to clients
  doc/sphinx/administration_portal/brand/clients/residential.rst
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/administration_portal/brand/clients/wholesale.rst
  doc/sphinx/administration_portal/client/residential/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/retail/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/rating_profiles.rst
  doc/sphinx/administration_portal/client/wholesale/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/platform/external_calls.rst
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Provider/Domain/Service/CallCsvReport/CsvAttacher.php
  web/admin/application/configs/klear/BillableCallsClientList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/rest/brand/features/kam/usersAddresses/getUsersAddresses.feature
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/getFeaturesRelCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/postFeaturesRelCompanies.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/services.yml
  web/rest/client/src/Service/BillableCallNormalizer.php
Labels: * artemis *, +enhancement, core, doc, web/admin, web/rest

#1525 doc: update changelog for 2.16.2 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, ci-no-tests, doc

#1527 schema: add new indexes to BillableCalls
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  schema/DoctrineMigrations/Version20201126114632.php
Labels: * artemis *, +enhancement, schema

#1528 core: avoid detecting balance changes for equal values
  library/Ivoz/Provider/Domain/Model/Carrier/Carrier.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Infrastructure/Domain/Service/Carrier/SendTrunksLcrReloadRequest.php
Labels: * artemis *, +bug, core
