Repository irontec/ivozprovider, pull requests merged in 2020-06, with the labels that each got.

#1407 Phpstan level 4
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateDtoByDefaultRunTpCdr.php
  library/Ivoz/Provider/Domain/Service/RoutingPatternGroup/UpdateByRoutingPatternAndCountry.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateDtoByDefaultRunTpCdrSpec.php
  microservices/realtime/src/Services/AbstractWsServer.php
  microservices/workers/src/Worker/Invoices.php
  microservices/workers/src/Worker/Multimedia.php
  microservices/workers/src/Worker/Rates.php
  microservices/workers/src/Worker/Xmlrpc.php
  web/rest/brand/src/Controller/My/ActiveCallsAction.php
  web/rest/brand/src/Controller/Provider/PutBillableCallRatingAction.php
  web/rest/client/src/Controller/My/CallForwardSettingsAction.php
  web/rest/client/src/Controller/My/CallHistoryAction.php
  web/rest/client/src/Controller/My/CallStatsAction.php
  web/rest/client/src/Controller/My/CompanyAssistantsAction.php
  web/rest/client/src/Controller/My/CompanyCountryAction.php
  web/rest/client/src/Controller/My/CompanyExtensionsAction.php
  web/rest/client/src/Controller/My/CompanyVoicemailsAction.php
  web/rest/client/src/Controller/My/PostCallForwardSettingsAction.php
  web/rest/client/src/Controller/My/ProfileAction.php
  web/rest/client/src/Controller/My/PutProfileAction.php
  web/rest/client/src/Controller/My/StatusAction.php
  web/rest/client/src/Controller/My/WebThemeAction.php
  web/rest/client/src/Controller/Provider/RatingPlanPricesAction.php
  web/rest/platform/src/Controller/My/ActiveCallsAction.php
  web/rest/platform/src/Controller/Provider/PutBillableCallRatingAction.php
Labels: * artemis *, +enhancement, core

#1404 kam: less logs per call
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, trunks, users

#1408 web/admin: fixed emulation issues
  web/admin/application/controllers/KlearCustomExtraAuthController.php
Labels: * artemis *, +bug, web/admin

#1409 kamusers: fix unsolicited NOTIFY MWI for residential devices with directConnectivity
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, users

#1410 Improved api security checks
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorInterface.php
  library/Ivoz/Provider/Domain/Model/Brand/Brand.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  web/rest/client/config/api/raw/kam.yml
  web/rest/client/config/api/raw/provider.yml
Labels: * artemis *, core, web/rest

#1414 Registration summary company filter
  library/Ivoz/Kam/Domain/Model/UsersLocation/UsersLocationRepository.php
  library/Ivoz/Kam/Domain/Service/UsersLocation/BrandRegistrationSummary.php
  library/Ivoz/Kam/Domain/Service/UsersLocation/CompanyRegistrationSummary.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/UsersLocationDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendRepository.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceRepository.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountRepository.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/FriendDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ResidentialDeviceDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/RetailAccountDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalDoctrineRepository.php
  web/rest/brand/config/api/resources.yml
  web/rest/brand/features/my/registrationSummary/getRegistrationSummary.feature
  web/rest/brand/src/Controller/My/RegistrationSummaryAction.php
  web/rest/client/config/api/resources.yml
  web/rest/client/config/routing.yml
  web/rest/client/features/my/registrationSummary/getRegistrationSummary.feature
  web/rest/client/src/Controller/My/RegistrationSummaryAction.php
  web/rest/client/src/Model/RegistrationSummary.php
Labels: * artemis *, +feature, core, tests, web/rest

#1416 web/admin: fix carrier and carrier server ghost fields
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/admin/application/library/IvozProvider/Klear/Ghost/CarrierServerStatus.php
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, dependencies, web/admin

#1415 Set missing multilang destination values
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DestinationDoctrineRepository.php
  microservices/workers/src/Worker/Rates.php
  schema/DoctrineMigrations/Version20200608091055.php
  web/admin/application/controllers/ImportDestinationRatesCustomFileController.php
Labels: * artemis *, +bug, core, microservices

#1411 Updated API changelog
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
Labels: * artemis *, ci-no-tests, doc

#1412 billing: deductible ConnectionFee (minCost)
  doc/sphinx/administration_portal/brand/billing/destination_rates.rst
  library/Ivoz/Cgr/Domain/Model/TpDestinationRate/TpDestinationRateAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpDestinationRate/TpDestinationRateInterface.php
  library/Ivoz/Cgr/Domain/Model/TpDestinationRate/TpDestinationRateRepository.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
  library/Ivoz/Cgr/Domain/Service/TpDestinationRate/UpdatedByDestinationRate.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpDestinationRate.TpDestinationRateAbstract.orm.yml
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/TpDestinationRateDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroup.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DestinationRateGroup.DestinationRateGroupAbstract.orm.yml
  microservices/workers/src/Worker/Rates.php
  schema/DoctrineMigrations/Version20200604125512.php
  web/admin/application/configs/klear/DestinationRateGroupsList.yaml
  web/admin/application/configs/klear/errors.yaml
  web/admin/application/configs/klear/model/DestinationRateGroups.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/features/provider/destinationRateGroup/postDestinationRateGroup.feature
Labels: * artemis *, +feature, billing, core, doc, i18n, schema, web/admin

#1417 Phpstan level 4
  asterisk/agi/composer.lock
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Agi/Action/ConditionalRouteAction.php
  asterisk/agi/src/Agi/Action/ConferenceRoomAction.php
  asterisk/agi/src/Agi/Action/DdiAction.php
  asterisk/agi/src/Agi/Action/ExtensionAction.php
  asterisk/agi/src/Agi/Action/ExternalFilterAction.php
  asterisk/agi/src/Agi/Action/FaxReceiveAction.php
  asterisk/agi/src/Agi/Action/FaxReceiveStatusAction.php
  asterisk/agi/src/Agi/Action/FriendCallAction.php
  asterisk/agi/src/Agi/Action/HuntGroupAction.php
  asterisk/agi/src/Agi/Action/HuntGroupCallAction.php
  asterisk/agi/src/Agi/Action/HuntGroupStatusAction.php
  asterisk/agi/src/Agi/Action/IvrAction.php
  asterisk/agi/src/Agi/Action/QueueAction.php
  asterisk/agi/src/Agi/Action/QueueCallAction.php
  asterisk/agi/src/Agi/Action/QueueFullAction.php
  asterisk/agi/src/Agi/Action/QueueTimeoutAction.php
  asterisk/agi/src/Agi/Action/ResidentialCallAction.php
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Action/VoiceMailAction.php
  asterisk/agi/src/Agi/Agents/AgentInterface.php
  asterisk/agi/src/Agi/Agents/FriendAgent.php
  asterisk/agi/src/Agi/ChannelInfo.php
  asterisk/agi/src/Dialplan/FaxDial.php
  asterisk/agi/src/Dialplan/FaxDialStatus.php
  asterisk/agi/src/Dialplan/FaxReceiveStatus.php
  asterisk/agi/src/Dialplan/FaxSend.php
  asterisk/agi/src/Dialplan/FaxSendStatus.php
  asterisk/agi/src/Dialplan/Queues.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/bin/test-phpstan
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +enhancement, agis

#1419 kamusers: anti brute-force attack mechanism
  doc/sphinx/security_and_maintenance/security/antibruteforce.rst
  doc/sphinx/security_and_maintenance/security/index.rst
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, users

#1421 kamusers: ban ipfilter addresses for 5 minutes
  doc/sphinx/administration_portal/brand/views/ipfilter_blocked_addresses.rst
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, doc, users

#1422 doc: update changelog for 2.15.2
  ChangeLog
  README.md
Labels: ci-no-tests, doc

#1420 Phpstan fixed issues
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByTerminal.php
  library/Ivoz/Cgr/Domain/Service/TpAccountAction/CreateByCarrier.php
  library/Ivoz/Cgr/Domain/Service/TpLcrRule/CreatedByOutgoingRouting.php
  library/Ivoz/Cgr/Domain/Service/TpRatingPlan/UpdateByRatingPlan.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/CreatedByRatingPlan.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/DdiProviderRegistrationStatus.php
  library/Ivoz/Provider/Application/Service/Brand/BrandAssembler.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Service/BrandService/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/Ivoz/Provider/Domain/Service/CompanyService/PropagateBrandServices.php
  library/Ivoz/Provider/Domain/Service/CompanyService/RemoveByBrandService.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverTrait.php
  library/Ivoz/Provider/Domain/Service/RoutingPatternGroup/UpdateByRoutingPatternAndCountry.php
  library/composer.lock
  library/phpstan.neon
Labels: * artemis *, core, tests

#1424 schema: update initial.sql for 2.16 version
  schema/DoctrineMigrations/Version20170911135717.php
  schema/initial.sql
Labels: * artemis *, +enhancement, schema

#1426 Moved core services
  asterisk/agi/composer.lock
  library/Ivoz/Ast/Infrastructure/Asterisk/ARI/ARIConnector.php
  library/Ivoz/Ast/Infrastructure/Asterisk/ARI/FakeARIConnector.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/BillingService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CarrierBalanceService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CompanyBalanceService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/EnableAccountService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/FetchCallStatsService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/ProcessExternalCdr.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/ReassembleTriggerService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/ReloadService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/RerateCallService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/SetMaxUsageThresholdService.php
  library/Ivoz/Kam/Infrastructure/Gearman/TrunksClient.php
  library/Ivoz/Kam/Infrastructure/Gearman/UsersClient.php
  library/Ivoz/Kam/Infrastructure/Gearman/XmlRpcTrunksRequest.php
  library/Ivoz/Kam/Infrastructure/Gearman/XmlRpcUsersRequest.php
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdr.php
  library/Ivoz/Provider/Domain/Service/Company/SendCgratesUpdateRequest.php
  library/Ivoz/Provider/Domain/Service/FaxesInOut/SendFaxFile.php
  library/Ivoz/Provider/Infrastructure/Api/Client/Client.php
  library/Ivoz/Provider/Infrastructure/Api/Client/FakeClient.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/model/provider/carrier.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/model/provider/company.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/asterisk.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/cgrates.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/gearman.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/kamailio.yml
  library/composer.lock
  library/spec/Ivoz/Cgr/Infrastructure/Cgrates/Service/ProcessExternalCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Company/SendCgratesUpdateRequestSpec.php
  library/spec/Ivoz/Provider/Domain/Service/FaxesInOut/SendFaxFileSpec.php
  microservices/balances/composer.lock
  microservices/balances/src/Services/ResetDailyUsageCounters.php
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  microservices/workers/src/Worker/Cgrates.php
  microservices/workers/src/Worker/Rates.php
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, +enhancement, core

#1428 microservices: forced realtime exit after shutdown
  microservices/realtime/src/Services/AbstractWsServer.php
Labels: * artemis *, +bug, microservices

#1430 Db index review
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpDestination.TpDestinationAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.yml
  schema/DoctrineMigrations/Version20200617093620.php
Labels: * artemis *, +enhancement, schema

#1431 Minor services fixes
  library/Ivoz/Ast/Infrastructure/Asterisk/ARI/ARIConnector.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CarrierBalanceService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CompanyBalanceService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/FetchCallStatsService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/ProcessExternalCdr.php
  library/spec/Ivoz/Cgr/Infrastructure/Cgrates/Service/ProcessExternalCdrSpec.php
Labels: * artemis *, +enhancement, core, tests

#1432 Doctrine unix socket support
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml.dist
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  schema/config/config_local.yml
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +enhancement

#1429 Split fixture data and persistance
  library/DataFixtures/ORM/AstPsEndpoint.php
  library/DataFixtures/ORM/AstQueue.php
  library/DataFixtures/ORM/AstVoicemail.php
  library/DataFixtures/Stub/Ast/PsEndpointStub.php
  library/DataFixtures/Stub/Ast/QueueStub.php
  library/DataFixtures/Stub/Ast/VoicemailStub.php
  library/DataFixtures/Stub/StubTrait.php
Labels: * artemis *, tests

#1437 kam: fix jansson error that cause realtime empty fields
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  profiles/proxy/etc/mysql/conf.d/kamailio.cnf
Labels: * artemis *, +bug, ci-no-tests, packaging, trunks, users

#1434 realtime: reload service on redis down instead of restarting it
  microservices/realtime/src/Services/AbstractWsServer.php
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, +enhancement, microservices

#1439 Transfomations e164 regression
  library/Ivoz/Provider/Domain/Service/TransformationRule/GenerateInRules.php
  schema/DoctrineMigrations/Version20200625094153.php
Labels: * artemis *, +bug, core, schema

#1443 core: removed deprecated constants
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  web/admin/application/controllers/KlearCustomTarificatorController.php
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
  web/admin/application/library/IvozProvider/Klear/Filter/CallForwardTypes.php
  web/admin/application/library/IvozProvider/Klear/Filter/RouteTypes.php
  web/admin/application/library/IvozProvider/Klear/Filter/TargetTypes.php
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
Labels: * artemis *, +enhancement, core

#1445 web/rest: allow DELETE on recordings
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/recording/removeRecording.feature
Labels: * artemis *, +bug, web/rest

#1442 Improved webadmin emulation checks
  web/admin/application/configs/klear/CalendarsList.yaml
  web/admin/application/configs/klear/CallACLList.yaml
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/CompanyServicesList.yaml
  web/admin/application/configs/klear/ConditionalRoutesList.yaml
  web/admin/application/configs/klear/ConferenceRoomsList.yaml
  web/admin/application/configs/klear/ExtensionsList.yaml
  web/admin/application/configs/klear/ExternalCallFiltersList.yaml
  web/admin/application/configs/klear/ExternalCallFiltersResidentialList.yaml
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/IvrList.yaml
  web/admin/application/configs/klear/LocutionsList.yaml
  web/admin/application/configs/klear/MatchListsList.yaml
  web/admin/application/configs/klear/MusicOnHoldList.yaml
  web/admin/application/configs/klear/OutgoingDDIRulesList.yaml
  web/admin/application/configs/klear/PickUpGroupsList.yaml
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/RouteLocksList.yaml
  web/admin/application/configs/klear/SchedulesList.yaml
  web/admin/application/configs/klear/TerminalsList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/e2e/tests/features/1-platform/05-proxyTrunks.feature
Labels: * artemis *, +bug, web/admin

#1440 microservices: wrap every worker code in try/catch
  microservices/workers/src/Worker/Cgrates.php
  microservices/workers/src/Worker/Invoices.php
  microservices/workers/src/Worker/Multimedia.php
  microservices/workers/src/Worker/Rates.php
  microservices/workers/src/Worker/Xmlrpc.php
Labels: * artemis *, +bug, microservices
