Repository irontec/ivozprovider, pull requests merged in 2020-07, with the labels that each got.

#1441 web/admin: filter field for emulation options
  web/admin/application/assets/js/customMenu.js
  web/admin/application/controllers/KlearCustomExtraAuthController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, web/admin

#1446 Revert ban ip filter addresses
  doc/sphinx/administration_portal/brand/views/ipfilter_blocked_addresses.rst
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, doc, users

#1452 core: corrected bodyType parsing in CSV scheduler emails
  library/Ivoz/Provider/Domain/Service/CallCsvReport/EmailSender.php
Labels: * artemis *, +bug, core, microservices

#1435 Improved rate importer
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroup.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DestinationRateGroup.DestinationRateGroupAbstract.orm.yml
  microservices/workers/src/Worker/Rates.php
  schema/DoctrineMigrations/Version20200619074304.php
  web/admin/application/configs/klear/model/DestinationRateGroups.yaml
  web/admin/application/library/IvozProvider/Klear/Ghost/DestinationRateGroups.php
  web/rest/brand/features/provider/destinationRateGroup/getDestinationRateGroup.feature
  web/rest/brand/features/provider/destinationRateGroup/postDestinationRateGroup.feature
  web/rest/brand/features/provider/destinationRateGroup/putDestinationRateGroup.feature
Labels: * artemis *, +enhancement, web/admin

#1449 microservices: fix sync balances
  library/DataFixtures/ORM/ProviderCarrier.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CarrierBalanceService.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/CompanyBalanceService.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Service/Carrier/SyncBalances.php
  library/Ivoz/Provider/Domain/Service/Company/SyncBalances.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/spec/Ivoz/Provider/Domain/Service/Carrier/SyncBalancesSpec.php
  schema/tests/Provider/Carrier/CarrierRepositoryTest.php
  web/admin/application/library/IvozProvider/Klear/Ghost/Carriers.php
  web/admin/application/library/IvozProvider/Klear/Ghost/Companies.php
  web/rest/brand/features/provider/carrier/getCarrier.feature
Labels: * artemis *, +bug, core, microservices, web/admin

#1454 core: updated composer dependencies
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, core

#1455 schema: unique administrator user names
  doc/UPGRADE-2.16.md
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Administrator.AdministratorAbstract.orm.yml
  schema/DoctrineMigrations/Version20200703083313.php
Labels: * artemis *, schema

#1450 web/admin: minor aesthetic changes
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/Base.php
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/BrandOperator.php
  web/admin/application/library/IvozProvider/Klear/Dynamic/Config/CompanyAdmin.php
Labels: * artemis *, +bug, ci-no-tests, web/admin

#1456 microservices: fixed duplicated resource import
  microservices/balances/config/services.yml
Labels: * artemis *, +bug, microservices

#1457 Remove API login web portal dependency
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalRepository.php
  library/Ivoz/Provider/Domain/Service/Administrator/AdministratorLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Administrator/CheckUniqueness.php
  library/Ivoz/Provider/Infrastructure/Api/Security/User/UserProviderTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/WebPortalDoctrineRepository.php
  schema/tests/Provider/WebPortal/WebPortalRepositoryTest.php
  web/rest/brand/src/Service/UserProvider.php
  web/rest/client/src/Service/UserProvider.php
  web/rest/platform/src/Service/UserProvider.php
Labels: * artemis *, core, tests, web/rest

#1453 pkg: fix storage permissions on fresh install
  debian/ivozprovider-profile-common.postinst
Labels: * artemis *, +bug, ci-no-tests, packaging

#1463 agis: add service handling for friends
  asterisk/agi/src/Dialplan/Friends.php
Labels: * artemis *, +enhancement, agis

#1462 friends: optional SIP auth for direct friends
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderFriend.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDto.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/Friend/FriendSpec.php
  schema/DoctrineMigrations/Version20200715090232.php
  schema/tests/Provider/Friend/FriendLifeCycleTest.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/rest/client/features/provider/friend/getFriend.feature
  web/rest/client/features/provider/friend/postFriend.feature
  web/rest/client/features/provider/friend/putFriend.feature
  web/rest/client/features/provider/friendsPattern/getFriendsPattern.feature
  web/rest/client/features/provider/friendsPattern/postFriendsPattern.feature
Labels: * artemis *, +enhancement, core, doc, schema, users, web/admin

#1464 friends: new always transform numbers option
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/internal_friends.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  schema/DoctrineMigrations/Version20200716075035.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, core, doc, i18n, schema, users, web/admin

#1467 scheme: add uniques in asterisk Endpoint/Voicemail tables
  library/DataFixtures/Stub/Ast/VoicemailStub.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.yml
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/Voicemail.VoicemailAbstract.orm.yml
  schema/DoctrineMigrations/Version20200721074242.php
Labels: * artemis *, +enhancement, schema

#1466 agis: ensure CFW services are only used by Residential clients
  asterisk/agi/src/Agi/Action/ServiceAction.php
Labels: * artemis *, +bug, agis

#1461 CallCSvScheduler residential fax filter
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDto.php
  web/admin/application/configs/klear/CallCsvSchedulersBrandList.yaml
  web/admin/application/configs/klear/CallCsvSchedulersList.yaml
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
Labels: * artemis *, +enhancement, core, microservices, web/admin

#1465 Csv scheduler ddi provider
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallCsvScheduler.CallCsvSchedulerAbstract.orm.yml
  schema/DoctrineMigrations/Version20200715110449.php
  web/admin/application/configs/klear/CallCsvSchedulersBrandList.yaml
  web/admin/application/configs/klear/CallCsvSchedulersList.yaml
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/callCsvScheduler/getCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/postCallCsvScheduler.feature
  web/rest/brand/features/provider/callCsvScheduler/putCallCsvScheduler.feature
  web/rest/brand/tests/DataAccessControl/Provider/CallCsvSchedulerTest.php
Labels: * artemis *, +enhancement, core, microservices, schema, web/admin

#1468 core: allow new call CSV scheduler filters
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/residential/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDto.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverTrait.php
  library/spec/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverSpec.php
  web/admin/application/configs/klear/CallCsvSchedulersBrandList.yaml
  web/admin/application/configs/klear/CallCsvSchedulersList.yaml
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/BrandCompanies.php
Labels: * artemis *, +enhancement, core, doc, web/admin
