Repository irontec/ivozprovider, pull requests merged in 2020-09, with the labels that each got.

#1490 kamusers: several websockets fixes
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, users

#1489 Billable calls endpoint name
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallInterface.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdr.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdrSpec.php
  schema/DoctrineMigrations/Version20200827083840.php
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/putBillableCalls.feature
  web/rest/client/features/provider/billableCall/getBillableCall.feature
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
Labels: * artemis *, +feature, core, schema, tests

#1492 Add SRTP support
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  doc/sphinx/administration_portal/client/vpbx/terminals.rst
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RetailAccount.RetailAccountAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Terminal.TerminalAbstract.orm.yml
  schema/DoctrineMigrations/Version20200904135939.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/TerminalsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/configs/klear/model/Terminals.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/terminal/postTerminal.feature
  web/rest/client/features/provider/terminal/putTerminal.feature
Labels: * artemis *, +feature, core, doc, i18n, schema, trunks, users, web/admin

#1486 Save client max daily usage
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateAbstract.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateInterface.php
  library/Ivoz/Provider/Domain/Service/Company/SyncDailyUsage.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Brand.BrandAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/NotificationTemplate.NotificationTemplateAbstract.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/model/provider/company.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/balances/src/MicroKernel.php
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20200826105344.php
  schema/composer.lock
  web/admin/application/configs/klear/BrandsList.yaml
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/DefaultNotificationTemplatesList.yaml
  web/admin/application/configs/klear/NotificationTemplatesContentsList.yaml
  web/admin/application/configs/klear/NotificationTemplatesList.yaml
  web/admin/application/configs/klear/ResidentialClientsList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/WholesaleClientsList.yaml
  web/admin/application/configs/klear/conf.d/notificationTemplateHelp.yaml
  web/admin/application/configs/klear/model/Brands.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/NotificationTemplates.yaml
  web/admin/application/configs/klear/model/NotificationTemplatesContents.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/NotificationTemplateMaxDailyUsage.php
  web/admin/application/library/IvozProvider/Klear/Options/OptionsCustomizerFilterForNotificationMaxDailyUsage.php
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, core, schema, web/admin

#1493 Notify max daily usage
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/brand/clients/residential.rst
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/administration_portal/brand/clients/wholesale.rst
  doc/sphinx/administration_portal/brand/settings/notification_templates.rst
  doc/sphinx/administration_portal/platform/default_notification_templates.rst
  library/DataFixtures/ORM/ProviderCompany.php
  library/DataFixtures/ORM/ProviderMaxUsageNotification.php
  library/DataFixtures/ORM/ProviderNotificationTemplate.php
  library/DataFixtures/ORM/ProviderNotificationTemplateContent.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotification.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationAbstract.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationDto.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationInterface.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationRepository.php
  library/Ivoz/Provider/Domain/Model/MaxUsageNotification/MaxUsageNotificationTrait.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateRepository.php
  library/Ivoz/Provider/Domain/Service/Company/CompanyLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/MaxUsageNotification/NotifyMaxDailyUsage.php
  library/Ivoz/Provider/Domain/Service/MaxUsageNotification/SearchBrokenMaxDailyUsage.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/MaxUsageNotification.MaxUsageNotification.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/MaxUsageNotification.MaxUsageNotificationAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/MaxUsageNotificationDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/NotificationTemplateDoctrineRepository.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20200907104925.php
  schema/composer.lock
  schema/tests/Provider/Company/CompanyLifeCycleTest.php
  schema/tests/Provider/MaxUsageNotification/MaxUsageNotificationRepositoryTest.php
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/CompanyBalancesList.yaml
  web/admin/application/configs/klear/CurrentdayUsageList.yaml
  web/admin/application/configs/klear/ResidentialClientsList.yaml
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/WholesaleClientsList.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/composer.lock
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/getFeaturesRelCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/postFeaturesRelCompanies.feature
  web/rest/brand/features/provider/notificationTemplate/postNotificationTemplate.feature
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +feature, doc, i18n, schema, tests, web/admin

#1496 API: add inbound and outbound calls to activeCalls endpoint
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Service/TrunksClientInterface.php
  library/Ivoz/Kam/Infrastructure/Gearman/TrunksClient.php
  web/rest/brand/features/my/activeCalls/getActiveCalls.feature
  web/rest/brand/src/Controller/My/ActiveCallsAction.php
  web/rest/brand/src/Model/ActiveCalls.php
  web/rest/client/features/my/activeCalls/getActiveCalls.feature
  web/rest/client/src/Controller/My/ActiveCallsAction.php
  web/rest/platform/features/my/activeCalls/getActiveCalls.feature
  web/rest/platform/src/Controller/My/ActiveCallsAction.php
  web/rest/platform/src/Model/ActiveCalls.php
Labels: * artemis *, +enhancement, trunks, web/rest

#1497 core: fixed CFS refression
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSetting.php
  library/spec/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingSpec.php
Labels: * artemis *, +bug, core, tests

#1498 core: fixed TpCdr instantiation under some circumstances
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdr.php
Labels: * artemis *, +bug

#1499 web/admin: no trim for select fields
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/Terminals.yaml
Labels: * artemis *, +bug, web/admin

#1500 Show endpoint name on web portal
  doc/sphinx/administration_portal/brand/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/residential/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/retail/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/vpbx/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/client/wholesale/calls/call_csv_schedulers.rst
  doc/sphinx/administration_portal/platform/external_calls.rst
  web/admin/application/configs/klear/BillableCallsClientList.yaml
  web/admin/application/configs/klear/BillableCallsList.yaml
  web/admin/application/configs/klear/model/BillableCalls.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, doc, i18n, web/admin

#1502 web/admin: allow using brand level matchlists
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
  web/admin/application/configs/klear/model/ExternalCallFiltersResidential.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/CompanyOrBrand.php
Labels: * artemis *, +bug
