Repository irontec/ivozprovider, pull requests merged in 2020-04, with the labels that each got.

#1340 Realtime security layer
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorRepository.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiProviderDoctrineRepository.php
  library/bin/test-phpspec
  microservices/realtime/bin/phpspec
  microservices/realtime/composer.json
  microservices/realtime/composer.lock
  microservices/realtime/config/logger.yml
  microservices/realtime/config/parameters.yml
  microservices/realtime/spec/Services/RegistrationChannelResolverSpec.php
  microservices/realtime/src/Feeder/AbstractCall.php
  microservices/realtime/src/Feeder/Feeder.php
  microservices/realtime/src/Feeder/TrunksCall.php
  microservices/realtime/src/Feeder/UsersCall.php
  microservices/realtime/src/Feeder/UsersCallEvent.php
  microservices/realtime/src/Services/RegistrationChannelResolver.php
  microservices/realtime/src/Services/WsServer.php
  schema/tests/Provider/Administrator/AdministratorRepositoryTest.php
  schema/tests/Provider/Carrier/CarrierRepositoryTest.php
  schema/tests/Provider/DdiProvider/DdiProviderRepositoryTest.php
Labels: * artemis *, +feature, microservices, tests

#1342 Realtime klear
  web/admin/application/assets/css/klearCustomRtCallList.tmpl.css
  web/admin/application/assets/js/plugins/jquery.rt.js
  web/admin/application/assets/template/klearCustomRtCallBrandList.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallClientList.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallList.tmpl.html
  web/admin/application/configs/klear/ActiveCallsBrandList.yaml
  web/admin/application/configs/klear/ActiveCallsClientList.yaml
  web/admin/application/configs/klear/ActiveCallsList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Utils/TokenHelper.php
Labels: * artemis *, web/admin

#1345 WS bugfixes
  microservices/realtime/src/Model/Subscriber.php
  microservices/realtime/src/Services/RedisPool.php
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, +bug, microservices

#1343 DDI In sane defaults and improved help
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +enhancement, doc, i18n, web/admin

#1344 web/admin: redesign SIP domains section
  doc/sphinx/administration_portal/platform/sip_domains.rst
  web/admin/application/configs/klear/DomainsList.yaml
  web/admin/application/configs/klear/model/Domains.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Ghost/Domains.php
  web/admin/application/library/IvozProvider/Klear/Ghost/DomainsScope.php
Labels: * artemis *, +enhancement, doc, i18n, web/admin

#1346 WSS through apache
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  web/admin/application/assets/js/plugins/jquery.rt.js
Labels: * artemis *, ci-no-tests, devops, microservices, web/admin

#1348 microservices: removed ssl related code on realtime service
  microservices/realtime/config/parameters.yml
  microservices/realtime/src/Services/AbstractWsServer.php
Labels: +bug, microservices

#1347 Better transaction error handling
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Service/Company/CompanyLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByCompany.php
  library/composer.lock
  library/spec/Ivoz/Provider/Domain/Service/Domain/UpdateByCompanySpec.php
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, core, tests

#1349 Updated symfony
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/realtime/composer.json
  microservices/realtime/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  schema/composer.json
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
Labels: * artemis *, core

#1352 web/admin: update Proxy, Brand and Client plural translations
  web/admin/application/configs/klear/ProxyTrunksList.yaml
  web/admin/application/configs/klear/ProxyUsersList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Brands.yaml
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +bug, i18n, web/admin

#1353 schema: make transport nulllable for friends/retails/residentials
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RetailAccount.RetailAccountAbstract.orm.yml
  schema/DoctrineMigrations/Version20200407133940.php
Labels: * artemis *, +bug, core, schema

#1350 doc: new Active Calls sections
  doc/sphinx/administration_portal/brand/calls/active_calls.rst
  doc/sphinx/administration_portal/brand/calls/index.rst
  doc/sphinx/administration_portal/client/residential/calls/active_calls.rst
  doc/sphinx/administration_portal/client/residential/calls/index.rst
  doc/sphinx/administration_portal/client/retail/calls/active_calls.rst
  doc/sphinx/administration_portal/client/retail/calls/index.rst
  doc/sphinx/administration_portal/client/vpbx/calls/active_calls.rst
  doc/sphinx/administration_portal/client/vpbx/calls/index.rst
  doc/sphinx/administration_portal/client/wholesale/calls/active_calls.rst
  doc/sphinx/administration_portal/client/wholesale/calls/index.rst
  doc/sphinx/administration_portal/platform/active_calls.rst
  doc/sphinx/administration_portal/platform/index.rst
  web/admin/application/assets/template/klearCustomRtCallBrandList.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallClientList.tmpl.html
  web/admin/application/assets/template/klearCustomRtCallList.tmpl.html
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, doc, i18n, web/admin

#1354 pkg: enable apache modules for ws service
  debian/ivozprovider-profile-portal.postinst
Labels: * artemis *, ci-no-tests, packaging

#1355 doc: update changelog for 2.15.0 release
  ChangeLog
  README.md
Labels: * artemis *, +enhancement, ci-no-tests, doc

#1357 web/admin: easy ALG/STUN guesser
  web/admin/application/library/IvozProvider/Klear/Ghost/RegisterStatus.php
Labels: * artemis *, +enhancement, web/admin

#1359 microservices: limit destination rates import file length
  microservices/workers/src/Worker/Rates.php
Labels: * artemis *, +bug, microservices

#1360 i18n: fix Carrier plural translation
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +bug, i18n, web/admin

#1361 microservices: sort inital realtime calls
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, +enhancement, microservices

#1363 kam: fix empty Party in client realtime
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, trunks, users

#1358 Regenerated entities to be phpstan level 4 compliant
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointInterface.php
  library/Ivoz/Ast/Domain/Model/Voicemail/VoicemailAbstract.php
  library/Ivoz/Ast/Domain/Model/Voicemail/VoicemailInterface.php
  library/Ivoz/Kam/Domain/Model/Rtpengine/RtpengineAbstract.php
  library/Ivoz/Kam/Domain/Model/Rtpengine/RtpengineInterface.php
  library/Ivoz/Kam/Domain/Model/TrunksLcrRule/TrunksLcrRuleAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksLcrRule/TrunksLcrRuleInterface.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvReport/CallCsvReportAbstract.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerAbstract.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerInterface.php
  library/Ivoz/Provider/Domain/Model/Country/CountryAbstract.php
  library/Ivoz/Provider/Domain/Model/Currency/CurrencyAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProviderAddress/DdiProviderAddressAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProviderAddress/DdiProviderAddressInterface.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistrationAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistrationInterface.php
  library/Ivoz/Provider/Domain/Model/Destination/DestinationAbstract.php
  library/Ivoz/Provider/Domain/Model/Destination/DestinationInterface.php
  library/Ivoz/Provider/Domain/Model/DestinationRate/DestinationRateAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRate/DestinationRateInterface.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/FaxesInOut/FaxesInOutAbstract.php
  library/Ivoz/Provider/Domain/Model/Feature/FeatureAbstract.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceAbstract.php
  library/Ivoz/Provider/Domain/Model/Language/LanguageAbstract.php
  library/Ivoz/Provider/Domain/Model/Locution/LocutionAbstract.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHoldAbstract.php
  library/Ivoz/Provider/Domain/Model/PublicEntity/PublicEntityAbstract.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingAbstract.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/Service/ServiceAbstract.php
  library/Ivoz/Provider/Domain/Model/Timezone/TimezoneAbstract.php
  library/Ivoz/Provider/Domain/Model/TransformationRuleSet/TransformationRuleSetAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalAbstract.php
  library/composer.lock
  schema/composer.lock
Labels: * artemis *, +enhancement, core

#1364 web/admin: removed BillableCalls only last year raw condition
  web/admin/application/configs/klear/BillableCallsList.yaml
Labels: * artemis *, +bug, web/admin

#1368 kamusers: fix roadwarrior registration ip filter
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, users

#1365 Remove brand delete regression
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Service/ProxyTrunksRelBrand/AvoidRemovingInUseAddresses.php
  library/composer.lock
  library/spec/Ivoz/Provider/Domain/Service/ProxyTrunksRelBrand/AvoidRemovingInUseAddressesSpec.php
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, core

#1362 Expose proxy trunk rel brand on platform api
  library/DataFixtures/ORM/ProviderProxyTrunk.php
  library/DataFixtures/ORM/ProviderProxyTrunkRelBrand.php
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/ProxyTrunksRelBrand/ProxyTrunksRelBrandDto.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  schema/DoctrineMigrations/Version20200414145121.php
  schema/tests/Provider/Brand/BrandLifeCycleTest.php
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/proxyTrunkRelBrand/getProxyTrunkRelBrand.feature
  web/rest/platform/features/provider/proxyTrunkRelBrand/postProxyTrunkRelBrand.feature
  web/rest/platform/features/provider/proxyTrunkRelBrand/putProxyTrunkRelBrand.feature
  web/rest/platform/features/provider/proxyTrunkRelBrand/removeProxyTrunkRelBrand.feature
Labels: * artemis *, +enhancement, core, tests

#1366 Expose proxy trunk on brand api
  library/Ivoz/Provider/Domain/Model/ProxyTrunksRelBrand/ProxyTrunksRelBrandRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ProxyTrunksRelBrandDoctrineRepository.php
  schema/tests/Provider/ProxyTrunksRelBrand/ProxyTrunkRelBrandRepositoryTest.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/services.yml
  web/rest/brand/features/provider/proxyTrunk/getProxyTrunk.feature
  web/rest/brand/tests/DataAccessControl/Provider/ProxyTrunkTest.php
Labels: * artemis *, tests, web/rest

#1370 realtime: remove unneeded Name fields
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  microservices/realtime/src/Feeder/TrunksCall.php
  microservices/realtime/src/Feeder/UsersCall.php
  web/admin/application/assets/js/plugins/jquery.rt.js
Labels: * artemis *, +enhancement, microservices, trunks, users, web/admin

#1371 realtime: fix carrier failover
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  microservices/realtime/src/Feeder/AbstractCall.php
  microservices/realtime/src/Feeder/TrunksCall.php
  microservices/realtime/src/Feeder/UsersCall.php
  web/admin/application/assets/js/plugins/jquery.rt.js
Labels: * artemis *, +bug, trunks, users, web/admin

#1372 Bounced outgoing calls: zero cost and no carrierId
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdr.php
Labels: * artemis *, +enhancement, trunks, web/admin

#1376 RT bugs
  microservices/realtime/spec/Services/RegistrationChannelResolverSpec.php
  microservices/realtime/src/Feeder/AbstractCall.php
  microservices/realtime/src/Services/RegistrationChannelResolver.php
  microservices/realtime/src/Services/WsServer.php
Labels: * artemis *, +bug, microservices

#1375 kamusers: improve wholesale logic
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +enhancement, ci-no-tests, users
