Repository irontec/ivozprovider, pull requests merged in 2021-09, with the labels that each got.

#1628 core: fixed CFW creation issues
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/spec/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniquenessSpec.php
Labels: +bug, * artemis *

#1630 Restrict service list in client api
  library/Ivoz/Provider/Domain/Model/BrandService/BrandServiceRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BrandServiceDoctrineRepository.php
  schema/tests/Provider/BrandService/BrandServiceRepositoryTest.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/services.yml
  web/rest/client/features/provider/service/getServices.feature
  web/rest/client/tests/DataAccessControl/Provider/ServiceTest.php
Labels: +bug, web/rest, * artemis *

#1631 Friend inter company
  web/admin/application/configs/klear/FriendsList.yaml
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/friend/postFriend.feature
  web/rest/brand/features/provider/friend/putFriend.feature
  web/rest/brand/features/provider/friend/removeFriend.feature
  web/rest/brand/tests/DataAccessControl/Provider/FriendTest.php
Labels: +bug, web/rest, * artemis *

#1633 Fixed index name
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersPresentity.UsersPresentityAbstract.orm.xml
  schema/DoctrineMigrations/Version20210413112300.php
Labels: +bug, schema, * halliday *

#1635 Brand api response fields
  library/Ivoz/Provider/Domain/Model/Brand/BrandDto.php
  web/rest/brand/features/provider/brand/getBrands.feature
  web/rest/brand/features/provider/brand/putBrands.feature
  web/rest/platform/features/provider/brand/getBrands.feature
Labels: +enhancement, web/rest, * artemis *

#1637 Api improved files spec
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Model/Brand/BrandDto.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupDto.php
  library/Ivoz/Provider/Domain/Model/Locution/LocutionDto.php
  library/Ivoz/Provider/Domain/Model/MusicOnHold/MusicOnHoldDto.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/realtime/composer.json
  microservices/realtime/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  schema/composer.json
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
  web/rest/platform/features/provider/brand/postBrands.feature
  web/rest/platform/features/provider/brand/putBrands.feature
Labels: +enhancement, web/rest, * artemis *

#1638 Companies on demand record validation
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  library/spec/Ivoz/Provider/Domain/Model/Company/CompanySpec.php
Labels: +bug, core, * artemis *

#1640 microservices: make CSV import faster
  library/Ivoz/Cgr/Domain/Model/TpDestination/TpDestinationRepository.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/TpDestinationDoctrineRepository.php
  microservices/workers/src/Worker/Rates.php
Labels: +enhancement, core, microservices, * artemis *

#1639 Invoice decimal precision
  library/Ivoz/Provider/Domain/Service/Invoice/Generator.php
  schema/DoctrineMigrations/Version20191226104551.php
  web/admin/templates/basic.txt
  web/admin/templates/detailed.txt
Labels: +enhancement, core, * artemis *

#1641 agi: add support to residential cfw to voicemail
  asterisk/agi/src/Agi/Action/ServiceAction.php
  doc/sphinx/administration_portal/brand/settings/generic_services.rst
Labels: +enhancement, agis, * artemis *

#1642 doc: updated API changelog for 2.18.1
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
Labels: +enhancement, doc, web/rest, * artemis *, ci-no-tests

#1643 doc: update changelog for 2.18.1 release
  ChangeLog
  README.md
Labels: doc, * artemis *, ci-no-tests
