Repository irontec/ivozprovider, pull requests merged in 2021-03, with the labels that each got.

#1568 Historic external calls
  debian/ivozprovider-scheduler.install
  debian/ivozprovider.postinst
  debian/rules
  debian/systemd/ivozprovider-scheduler-historic-calls.service
  debian/systemd/ivozprovider-scheduler-historic-calls.timer
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoric.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricDto.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricInterface.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricRepository.php
  library/Ivoz/Provider/Domain/Model/BillableCallHistoric/BillableCallHistoricTrait.php
  library/Ivoz/Provider/Domain/Service/BillableCallHistoric/ImportFromBillableCalls.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallHistoricDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCallHistoric.BillableCallHistoric.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCallHistoric.BillableCallHistoricAbstract.orm.yml
  microservices/scheduler/bin/run-billable-calls-historic
  microservices/scheduler/config/services.yml
  microservices/scheduler/src/BillableCallHistoricController.php
  microservices/scheduler/src/MicroKernel.php
  schema/DoctrineMigrations/Version20210225102902.php
  schema/config/config.yml
  schema/config/services.yml
  schema/src/IgnoreMappedEntitiesListener.php
  schema/tests/Provider/BillableCall/BillableCallRepositoryTest.php
  schema/tests/Provider/BillableCallHistoric/BillableCallHistoricRepositoryTest.php
  web/admin/application/configs/klear/BillableCallHistoricsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/BillableCallHistorics.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/BillableCallsBrand.php
Labels: * artemis *, +enhancement, packaging, schema, tests

#1567 web/admin: skip record count on large tables in the dashboard
  web/admin/application/configs/klear/klear.yaml
Labels: * artemis *

#1569 asterisk: re-disable realtime pjsip cache
  asterisk/config/sorcery.conf
Labels: * artemis *, +bug, ci-no-tests

#1572 Rating plan prices download issues
  web/admin/application/controllers/KlearCustomDownloadRatingPlanController.php
  web/rest/client/src/Controller/Provider/RatingPlanPricesAction.php
Labels: * artemis *, +bug, web/admin, web/rest

#1573 schema: prepare migration_versions for ivoz provider 3.x
  schema/DoctrineMigrations/Version20210309081308.php
Labels: * artemis *, schema

#1571 admin: avoid quotes in company name to break admin web
  web/admin/application/library/IvozProvider/Klear/Auth/User.php
Labels: * artemis *, +bug, web/admin

#1570 kamusers: mitigate BLF locking in Trying state
  kamailio/users/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, users

#1576 web/admin: fixed holiday date range creation for non english languages
  web/admin/application/controllers/KlearCustomCalendarController.php
Labels: * artemis *, +bug, web/admin

#1577 recordings: avoid race ignoring too recent recorded files
  microservices/recordings/src/Recording/Encoder.php
Labels: * artemis *, +bug, microservices

#1578 set timeout into Kamailio JSON RPC requests
  library/Ivoz/Kam/Infrastructure/Gearman/TrunksClient.php
  library/Ivoz/Kam/Infrastructure/Gearman/UsersClient.php
  library/Ivoz/Kam/Infrastructure/Kamailio/JsonRpcRequestTrait.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/kamailio.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
Labels: * artemis *, +bug, core

#1580 doc: update changelog for 2.17.1 release
  ChangeLog
  README.md
Labels: * artemis *, ci-no-tests, doc
