Repository irontec/ivozprovider, pull requests merged in 2021-05, with the labels that each got.

#1593 core: fixed billable call rotator
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Service/BillableCallHistoric/ImportFromBillableCalls.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  microservices/scheduler/src/BillableCallHistoricController.php
  schema/tests/Provider/BillableCall/BillableCallRepositoryTest.php
Labels: * artemis *, +bug, core, tests

#1594 microservices: [realtime] retry on redis connect error
  microservices/realtime/src/Services/RedisClientFactory.php
Labels: * artemis *, +bug, microservices

#1596 doc: update documentation with Libera.chat IRC channel
  FAQ.md
  README.md
  doc/sphinx/basic_concepts/intro/getting_help.rst
  doc/sphinx/locale/es/LC_MESSAGES/basic_concepts.po
Labels: * artemis *, ci-no-tests, doc
