Repository irontec/ivozprovider, pull requests merged in 2021-10, with the labels that each got.

#1644 Make brand currency mandatory
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandDto.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Brand.BrandAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/Brand/BrandSpec.php
  schema/DoctrineMigrations/Version20210930091127.php
  schema/tests/Provider/Brand/BrandLifeCycleTest.php
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/brand/getBrands.feature
  web/rest/platform/features/provider/brand/postBrands.feature
  web/rest/platform/features/provider/brand/putBrands.feature
  web/rest/platform/features/provider/currency/getCurrency.feature
  web/rest/platform/features/provider/currency/postCurrency.feature
  web/rest/platform/features/provider/currency/putCurrency.feature
  web/rest/platform/features/provider/currency/removeCurrency.feature
  web/rest/platform/features/provider/featuresRelBrand/getFeaturesRelBrand.feature
  web/rest/platform/features/provider/featuresRelBrand/postFeaturesRelBrand.feature
  web/rest/platform/features/provider/proxyTrunkRelBrand/getProxyTrunkRelBrand.feature
  web/rest/platform/features/provider/proxyTrunkRelBrand/postProxyTrunkRelBrand.feature
Labels: +bug, schema, web/rest, * artemis *

#1645 kamusers: fix direction rtpengine param for multisocket + parallel-fo…
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, * artemis *, ci-no-tests

#1648 Removed package-lock.json
  web/client/package-lock.json
Labels: * halliday *
