Repository irontec/ivozprovider, pull requests merged in 2021-01, with the labels that each got.

#1544 asterisk: enable realtime pjsip cache
  asterisk/config/sorcery.conf
Labels: * artemis *, +enhancement, ci-no-tests

#1543 Show ddie164 in ddi collection
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDto.php
  library/composer.lock
  microservices/realtime/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/ddi/getDdi.feature
  web/rest/brand/features/provider/ddi/postDdi.feature
  web/rest/brand/features/provider/ddi/putDdi.feature
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/billableCall/getBillableCall.feature
  web/rest/client/features/provider/ddi/getDdi.feature
  web/rest/client/features/provider/ddi/putDdi.feature
  web/rest/platform/composer.lock
Labels: * artemis *, +bug, web/rest

#1541 web/admin: escape invoices error msg properly
  web/admin/application/library/IvozProvider/Klear/Ghost/Invoice.php
Labels: * artemis *, +bug, web/admin

#1542 Updated pdf generator
  library/Ivoz/Provider/Domain/Service/Invoice/Generator.php
  library/composer.json
  library/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  profiles/portal/etc/supervisor/conf.d/ivozprovider.conf
  schema/DoctrineMigrations/Version20210114122624.php
  web/admin/templates/basic.txt
  web/admin/templates/detailed.txt
  web/admin/templates/header.txt
Labels: * artemis *, +bug, core

#1546 Allow null/not null search on price and cost
  web/admin/application/configs/klear/model/BillableCalls.yaml
  web/admin/application/controllers/KlearCustomBillableCallsController.php
Labels: * artemis *, +feature, web/admin
