Repository irontec/ivozprovider, pull requests merged in 2021-08, with the labels that each got.

#1623 Set default country value in edit screens
  web/admin/application/configs/klear/CallForwardSettingsList.yaml
  web/admin/application/configs/klear/ConditionalRoutesConditionsList.yaml
  web/admin/application/configs/klear/ConditionalRoutesList.yaml
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/configs/klear/ExtensionsList.yaml
  web/admin/application/configs/klear/ExternalCallFiltersList.yaml
  web/admin/application/configs/klear/FaxesList.yaml
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/HuntGroupsRelUsersList.yaml
  web/admin/application/configs/klear/IvrEntriesList.yaml
  web/admin/application/configs/klear/IvrList.yaml
  web/admin/application/configs/klear/MatchListPatternsList.yaml
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
Labels: * artemis *, +bug, web/admin

#1622 doc: update changelog for 2.18.0 release
  ChangeLog
  README.md
  web/admin/public/images/stable-2.18-blue.png
Labels: * artemis *, ci-no-tests, doc

#1620 Upgrade to Kamailio 5.5.1
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/TrunksUacreg/TrunksUacregInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/TrunksUacreg.TrunksUacregAbstract.orm.xml
  schema/DoctrineMigrations/Version20210802143904.php
  schema/tests/Provider/DdiProviderRegistration/DdiProviderRegistrationLifeCycleTest.php
Labels: * halliday *, core, schema

#1625 Show User-Agent in anti-bruteforce list section
  doc/sphinx/administration_portal/brand/views/bruteforce_attacks.rst
  kamailio/users/config/kamailio.cfg
  web/admin/application/configs/klear/BruteForceAttacksList.yaml
Labels: +enhancement, doc, users, web/admin, * artemis *
