Repository irontec/ivozprovider, pull requests merged in 2021-06, with the labels that each got.

#1598 core: updated composer dependencies
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Infrastructure/Api/Jwt/AdminTokenAuthenticator.php
  library/Ivoz/Provider/Infrastructure/Api/Jwt/UserTokenAuthenticator.php
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, +bug

#1597 agis: set max call duration to 3 hours
  asterisk/agi/src/Agi/Action/ExternalNumberAction.php
  asterisk/agi/src/Agi/Action/FriendCallAction.php
  asterisk/agi/src/Agi/Action/ResidentialCallAction.php
  asterisk/agi/src/Agi/Action/UserCallAction.php
Labels: * artemis *, +enhancement, agis

#1599 core: set invoice id by iterating chunks in order to avoid lock timeouts
  library/Ivoz/Provider/Domain/Service/Invoice/Generator.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  microservices/workers/src/Worker/Invoices.php
Labels: * artemis *, +bug, core

#1604 Fixed API filter issues
  library/composer.lock
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
Labels: * artemis *, +bug, web/rest

#1600 web/admin: show External Calls option in related entities
  web/admin/application/configs/klear/BillableCallsClientList.yaml
  web/admin/application/configs/klear/BrandDDIsList.yaml
  web/admin/application/configs/klear/DdiProvidersList.yaml
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +enhancement, i18n, web/admin

#1602 Increase named pickup group size
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.yml
  schema/DoctrineMigrations/Version20210607075411.php
Labels: * artemis *, +enhancement, core, schema

#1603 kam: add carrier/ddiprovider mediarelayset relationship
  doc/sphinx/administration_portal/brand/providers/carriers.rst
  doc/sphinx/administration_portal/brand/providers/ddi_providers.rst
  doc/sphinx/administration_portal/platform/infrastructure/media_relay_sets.rst
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierInterface.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Carrier.CarrierAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DdiProvider.DdiProviderAbstract.orm.yml
  schema/DoctrineMigrations/Version20210607104602.php
  web/admin/application/configs/klear/CarriersList.yaml
  web/admin/application/configs/klear/DdiProvidersList.yaml
  web/admin/application/configs/klear/model/Carriers.yaml
  web/admin/application/configs/klear/model/DdiProviders.yaml
Labels: * artemis *, +enhancement, core, doc, schema, trunks, web/admin

#1606 kamtrunks: fix ddiProvider detection logic
  kamailio/trunks/config/kamailio.cfg
Labels: * artemis *, +bug, ci-no-tests, trunks

#1607 doc: update changelog for 2.17.2 release
  ChangeLog
  README.md
Labels: * artemis *, ci-no-tests, doc
