Repository irontec/ivozprovider, pull requests merged in 2021-02, with the labels that each got.

#1547 web/admin: allow holiday date range creation
  web/admin/application/configs/klear/CalendarsList.yaml
  web/admin/application/configs/klear/HolidayDatesList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/model/HolidayDatesRange.yaml
  web/admin/application/controllers/KlearCustomCalendarController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: * artemis *, +feature, web/admin

#1552 Api max daily usage email
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/company/putCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/getFeaturesRelCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/postFeaturesRelCompanies.feature
Labels: * artemis *, +bug, web/rest

#1551 users: 486 vs 600 in call rejection
  doc/sphinx/administration_portal/client/vpbx/users.rst
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/User/UserAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.UserAbstract.orm.yml
  schema/DoctrineMigrations/Version20210202175605.php
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/user/putUser.feature
Labels: * artemis *, +enhancement, doc, schema, users, web/admin

#1548 provisioning: add support for certificate chains
  web/admin/templates/provisioning/SnomD375/generic.cfg
  web/admin/templates/provisioning/SnomD717/generic.cfg
  web/admin/templates/provisioning/SnomD735/generic.cfg
  web/admin/templates/provisioning/SnomD785/generic.cfg
Labels: * artemis *, +enhancement, provisioning

#1550 core: avoid 0 weight LcrRuleTarget
  library/Ivoz/Kam/Domain/Service/TrunksLcrRuleTarget/TrunksLcrRuleTargetFactory.php
  schema/tests/Provider/CarrierServer/CarrierServerLifeCycleTest.php
Labels: * artemis *, +bug, core

#1553 kamusers: make multiContact per AoR configurable
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  library/Ivoz/Provider/Domain/Model/User/UserAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RetailAccount.RetailAccountAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.UserAbstract.orm.yml
  schema/DoctrineMigrations/Version20210204104125.php
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/model/Friends.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/user/putUser.feature
Labels: * artemis *, +feature, core, doc, i18n, schema, users, web/admin

#1549 tests: added stackhawk configuration for APIs
  debian/ivozprovider-profile-portal.postinst
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  profiles/portal/etc/apache2/sites-available/060-ivozprovider-api.conf
  tests/stackhawk/bin/run
  tests/stackhawk/stackhawk.yml
Labels: * artemis *, +enhancement, tests

#1554 CSV mass user importer
  asterisk/agi/src/Agi/Action/FaxReceiveStatusAction.php
  asterisk/agi/src/Agi/Action/ServiceAction.php
  library/Ivoz/Ast/Domain/Service/Voicemail/UpdateByResidentialDevice.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
  library/Ivoz/Cgr/Domain/Service/TpTiming/CreatedByRatingPlan.php
  library/Ivoz/Kam/Domain/Service/TrunksAddress/UpdateByDdiProviderAddress.php
  library/Ivoz/Kam/Domain/Service/TrunksLcrRule/TrunksLcrRuleFactory.php
  library/Ivoz/Kam/Domain/Service/TrunksUacreg/CreatedByDdiProviderRegistration.php
  library/Ivoz/Provider/Application/Service/User/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Model/Country/CountryRepository.php
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiRepository.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderRepository.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalRepository.php
  library/Ivoz/Provider/Domain/Model/TerminalModel/TerminalModelRepository.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Domain/Model/User/UserRepository.php
  library/Ivoz/Provider/Domain/Service/Ddi/DdiFactory.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByBrand.php
  library/Ivoz/Provider/Domain/Service/Domain/UpdateByCompany.php
  library/Ivoz/Provider/Domain/Service/Extension/ExtensionFactory.php
  library/Ivoz/Provider/Domain/Service/Extension/UpdateByUser.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverTrait.php
  library/Ivoz/Provider/Domain/Service/Terminal/TerminalFactory.php
  library/Ivoz/Provider/Domain/Service/User/UserFactory.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CountryDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiProviderDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalModelDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  library/composer.lock
  library/spec/HelperTrait.php
  library/spec/Ivoz/Provider/Application/Service/User/SyncFromCsvSpec.php
  library/spec/Ivoz/Provider/Domain/Model/Ddi/DdiSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Ddi/DdiFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/Extension/ExtensionFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/Extension/UpdateByUserSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Terminal/TerminalFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/User/UserFactorySpec.php
  schema/DoctrineMigrations/Version20210209154725.php
  schema/tests/Provider/Country/CountryRepositoryTest.php
  schema/tests/Provider/DdiProvider/DdiProviderRepositoryTest.php
  schema/tests/Provider/Terminal/TerminalRepositoryTest.php
  schema/tests/Provider/User/UserRepositoryTest.php
  web/rest/brand/config/api/resources.yml
  web/rest/brand/config/routing.yml
  web/rest/brand/features/provider/user/postUser.feature
  web/rest/brand/src/Controller/Provider/PostUsersMassImportAction.php
  web/rest/brand/src/Model/UsersMassImport.php
Labels: * artemis *, +feature, web/rest

#1557 kam: print quality log messages on dialog end
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, ci-no-tests, trunks, users

#1556 schema: not nullable terminal name
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalAbstract.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Terminal.TerminalAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/Terminal/TerminalSpec.php
  schema/DoctrineMigrations/Version20210215095653.php
Labels: * artemis *, core, schema

#1558 Cgrates reload mutex
  asterisk/agi/composer.lock
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/ReloadService.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml.dist
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/realtime/config/parameters.yml
  microservices/realtime/phpstan.neon
  microservices/realtime/src/Model/RedisConf.php
  microservices/realtime/src/Model/SentinelConf.php
  microservices/realtime/src/Services/Sentinel.php
  microservices/realtime/src/Services/WsServer.php
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: * artemis *, core, microservices

#1559 Improved api response codes
  library/composer.lock
Labels: * artemis *, +enhancement, web/rest

#1555 User mass importer improved validations
  library/Ivoz/Provider/Application/Service/User/CsvStaticValidator.php
  library/Ivoz/Provider/Application/Service/User/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Model/Terminal/Terminal.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalInterface.php
  library/Ivoz/Provider/Domain/Model/TerminalModel/TerminalModelRepository.php
  library/Ivoz/Provider/Domain/Model/User/UserRepository.php
  library/Ivoz/Provider/Domain/Service/Ddi/DdiFactory.php
  library/Ivoz/Provider/Domain/Service/Extension/ExtensionFactory.php
  library/Ivoz/Provider/Domain/Service/Terminal/TerminalFactory.php
  library/Ivoz/Provider/Domain/Service/User/UserFactory.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalModelDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  library/composer.lock
  library/spec/Ivoz/Provider/Application/Service/User/CsvStaticValidatorSpec.php
  library/spec/Ivoz/Provider/Application/Service/User/SyncFromCsvSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Ddi/DdiFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/Extension/ExtensionFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/Terminal/TerminalFactorySpec.php
  library/spec/Ivoz/Provider/Domain/Service/User/UserFactorySpec.php
  schema/tests/Provider/User/UserRepositoryTest.php
  web/rest/brand/config/api/resources.yml
Labels: * artemis *, +enhancement, core, tests

#1562 2.17 Changelog
  ChangeLog
Labels: * artemis *, ci-no-tests, doc

#1564 web/admin: Terminal provisioning error handling
  web/admin/application/modules/provision/controllers/IndexController.php
Labels: * artemis *, +enhancement, provisioning

#1563 core: update composer dependencies namespace
  library/composer.json
  library/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
Labels: * artemis *, +enhancement, core

#1565 fixed external call CSV download error
  web/admin/application/controllers/KlearCustomBillableCallsController.php
Labels: * artemis *, +bug
