Repository irontec/ivozprovider, pull requests merged in 2022-05, with the labels that each got.

#1775 pkg: replace SYMFONY_ENV with APP_ENV enviroment variable
  debian/ivozprovider-asterisk-agi.postinst
  debian/ivozprovider-async-workers.postinst
  debian/ivozprovider-balances.postinst
  debian/ivozprovider-profile-common.preinst
  debian/ivozprovider-realtime.postinst
  debian/ivozprovider-recordings.postinst
  debian/ivozprovider-scheduler.postinst
  debian/ivozprovider-schema.postinst
  debian/ivozprovider-web-rest.postinst
  debian/rules
  microservices/scheduler/bin/run-billable-calls-historic
Labels: +bug, packaging, * halliday *

#1780 web/admin: generic voicemails
  doc/sphinx/administration_portal/client/residential/index.rst
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/residential/residential_voicemails.rst
  web/admin/application/configs/klear/BrandUsersList.yaml
  web/admin/application/configs/klear/CalendarPeriodsList.yaml
  web/admin/application/configs/klear/CallForwardSettingsList.yaml
  web/admin/application/configs/klear/ConditionalRoutesConditionsList.yaml
  web/admin/application/configs/klear/ConditionalRoutesList.yaml
  web/admin/application/configs/klear/ExtensionsList.yaml
  web/admin/application/configs/klear/ExternalCallFiltersList.yaml
  web/admin/application/configs/klear/ExternalCallFiltersResidentialList.yaml
  web/admin/application/configs/klear/HolidayDatesList.yaml
  web/admin/application/configs/klear/HuntGroupsList.yaml
  web/admin/application/configs/klear/IvrEntriesList.yaml
  web/admin/application/configs/klear/IvrList.yaml
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/VoicemailsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/CalendarPeriods.yaml
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
  web/admin/application/configs/klear/model/ConditionalRoutes.yaml
  web/admin/application/configs/klear/model/ConditionalRoutesConditions.yaml
  web/admin/application/configs/klear/model/Extensions.yaml
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
  web/admin/application/configs/klear/model/HolidayDates.yaml
  web/admin/application/configs/klear/model/HolidayDatesRange.yaml
  web/admin/application/configs/klear/model/HuntGroups.yaml
  web/admin/application/configs/klear/model/Ivr.yaml
  web/admin/application/configs/klear/model/IvrEntries.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/configs/klear/model/Voicemails.yaml
  web/admin/application/controllers/ImportFileController.php
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/Voicemail.php
  web/admin/application/library/IvozProvider/Klear/Options/OptionsCustomizerFilterForVoicemail.php
Labels: +enhancement, i18n, web/admin, * halliday *

#1785 web/admin: realtime voicemail messages
  web/admin/application/configs/klear/VoicemailMessagesList.yaml
  web/admin/application/configs/klear/VoicemailsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/model/VoicemailMessages.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +enhancement, web/admin, * halliday *

#1776 pkg: enable web/user package build
  debian/ivozprovider-web-user.install
  debian/rules
  web/user/package.json
Labels: +enhancement, packaging, web/user, * halliday *

#1778 web/admin: vPBX Users Location
  web/admin/application/configs/klear/LocationsList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Locations.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +enhancement, i18n, web/admin, * halliday *

#1779 web/admin: update Call Filters screens with Out of Schedule enabled
  web/admin/application/configs/klear/ExternalCallFiltersList.yaml
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +enhancement, i18n, web/admin, * halliday *

#1781 web/admin: update Call Filters screens with Holiday enabled
  web/admin/application/configs/klear/ExternalCallFiltersList.yaml
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: +enhancement, i18n, web/admin, * halliday *

#1782 web/admin: Call Filters toggles for Holidays & Calendars disabled by default
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
Labels: +enhancement, web/admin, * halliday *

#1783 web/admin: create route locks open by default
  web/admin/application/configs/klear/RouteLocksList.yaml
  web/admin/application/configs/klear/model/RouteLocks.yaml
Labels: +enhancement, web/admin, * halliday *

#1784 web/admin: add CallForwardSettings screens for Friends
  web/admin/application/configs/klear/CallForwardSettingsList.yaml
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
Labels: +enhancement, web/admin, * halliday *

#1789 web/user: adapt requests for new user rest API
  web/rest/user/config/api/raw/provider.yml
  web/user/app/languages/locale-ca.json
  web/user/app/languages/locale-en.json
  web/user/app/languages/locale-es.json
  web/user/app/languages/locale-it.json
  web/user/app/modules/account/accountCrtl.js
  web/user/app/modules/calls/callsCtrl.js
  web/user/app/modules/detours/detoursCtrl.js
  web/user/app/modules/detours/detoursEditCtrl.js
  web/user/app/modules/detours/detoursNewCtrl.js
  web/user/app/views/detours/edit.html
  web/user/app/views/detours/new.html
Labels: +bug, web/rest, web/user, * halliday *

#1787 pkg: add php fpm settings in postinstall
  debian/ivozprovider-profile-portal.postinst
Labels: +bug, packaging, * halliday *

#1790 kamusers: fix fallback DDI selection validation
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, * halliday *

#1792 realtime: fix mysql reconnection check query
  microservices/realtime/spec/Services/RegistrationChannelResolverSpec.php
  microservices/realtime/src/Services/RegistrationChannelResolver.php
Labels: +bug, microservices, * halliday *

#1793 core: properly validate Retail Account Call forward settings
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSetting.php
Labels: +bug, core, * artemis *

#1794 Set workers connection timeout to 3600 seconds
  asterisk/agi/composer.lock
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  microservices/workers/config/services.yaml
  microservices/workers/src/Worker/AsteriskDialplan.php
  microservices/workers/src/Worker/AsteriskHintUpdater.php
  microservices/workers/src/Worker/Cgrates.php
  microservices/workers/src/Worker/Invoices.php
  microservices/workers/src/Worker/KamRpc.php
  microservices/workers/src/Worker/Multimedia.php
  microservices/workers/src/Worker/Rates.php
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +bug, microservices, * halliday *

#1795 kamtrunks: call rtpengine_delete on branch timeout with no reply
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, ci-no-tests

#1800 Add disclaimer about transcoding in retail/wholesale clients
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/wholesale.rst
  web/admin/application/configs/klear/RetailClientsList.yaml
  web/admin/application/configs/klear/WholesaleClientsList.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
Labels: doc, i18n, web/admin, * halliday *, +upport
