Repository irontec/ivozprovider, pull requests merged in 2022-11, with the labels that each got.

#1920 Fix call forward presentation in Hunt Groups users' Call Forwards
  asterisk/agi/src/Agi/ChannelInfo.php
Labels: +bug, agis, * artemis *

#1924 doc: Update firewall ports for web services
  doc/sphinx/locale/es/LC_MESSAGES/administration_portal.po
  doc/sphinx/locale/es/LC_MESSAGES/api_rest.po
  doc/sphinx/locale/es/LC_MESSAGES/basic_concepts.po
  doc/sphinx/locale/es/LC_MESSAGES/security_and_maintenance.po
  doc/sphinx/security_and_maintenance/security/firewall.rst
Labels: +bug, doc, * halliday *

#1925 Add Desciption field to DDIs
  library/DataFixtures/ORM/ProviderDdi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDto.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.yml
  schema/DoctrineMigrations/Version20221103163102.php
  web/admin/application/configs/klear/BrandDDIsList.yaml
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/model/Ddis.yaml
  web/rest/brand/features/provider/ddi/getDdi.feature
  web/rest/brand/features/provider/ddi/postDdi.feature
  web/rest/brand/features/provider/ddi/putDdi.feature
  web/rest/client/features/provider/ddi/getDdi.feature
  web/rest/client/features/provider/ddi/postDdi.feature
  web/rest/client/features/provider/ddi/putDdi.feature
Labels: schema, tests, core, web/rest, web/admin, * artemis *

#1922 Updated brand collection response fields
  library/Ivoz/Provider/Application/Service/Company/CompanyDtoAssembler.php
  library/Ivoz/Provider/Application/Service/Invoice/InvoiceDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerDto.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderDto.php
  library/Ivoz/Provider/Domain/Model/Feature/FeatureDto.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceDto.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/carrierServer/getCarrierServer.feature
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/brand/features/provider/company/putCompanies.feature
  web/rest/brand/features/provider/ddiProvider/getDdiProvider.feature
  web/rest/brand/features/provider/features/getFeatures.feature
  web/rest/brand/features/provider/featuresRelCompanies/getFeaturesRelCompanies.feature
  web/rest/brand/features/provider/featuresRelCompanies/postFeaturesRelCompanies.feature
  web/rest/brand/features/provider/fixedCostsRelInvoice/postFixedCostsRelInvoice.feature
  web/rest/brand/features/provider/invoice/getInvoice.feature
  web/rest/brand/features/provider/invoice/postInvoice.feature
  web/rest/brand/features/provider/invoice/putInvoice.feature
  web/rest/brand/features/provider/outgoingDdiRule/getOutgoingDdiRule.feature
  web/rest/brand/features/provider/outgoingDdiRule/postOutgoingDdiRule.feature
  web/rest/brand/features/provider/outgoingDdiRule/putOutgoingDdiRule.feature
  web/rest/brand/features/provider/outgoingDdiRule/removeOutgoingDdiRule.feature
  web/rest/brand/features/provider/routingPatternGroupsRelPattern/getRoutingPatternGroupsRelPattern.feature
  web/rest/brand/features/provider/webPortal/getWebPortal.feature
  web/rest/brand/features/requestPayloadTzConversions.feature
  web/rest/brand/tests/DataAccessControl/Provider/CodecTest.php
  web/rest/brand/tests/DataAccessControl/Provider/CompaniesRelCodecTest.php
  web/rest/brand/tests/DataAccessControl/Provider/OutgoingDdiRuleTest.php
  web/rest/platform/features/provider/features/getFeatures.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
Labels: +enhancement, tests, * halliday *, rest/brand

#1921 Provider 503 expose carrier server status in brand api
  library/Ivoz/Provider/Application/Service/CarrierServer/CarrierServerDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerDto.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerRegistrationStatus.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/carrierServer/getCarrierServerStatus.feature
Labels: +feature, core, * halliday *

#1926 Add Desciption field to DDIs
  library/DataFixtures/ORM/ProviderDdi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDto.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.xml
  schema/DoctrineMigrations/Version20221103163102.php
  web/admin/application/configs/klear/BrandDDIsList.yaml
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/model/Ddis.yaml
  web/portal/client/src/entities/Ddi/Ddi.tsx
  web/portal/client/src/entities/Ddi/DdiProperties.tsx
  web/portal/client/src/entities/Ddi/Form.tsx
  web/rest/brand/features/provider/ddi/getDdi.feature
  web/rest/brand/features/provider/ddi/postDdi.feature
  web/rest/brand/features/provider/ddi/putDdi.feature
  web/rest/client/features/provider/ddi/getDdi.feature
  web/rest/client/features/provider/ddi/postDdi.feature
  web/rest/client/features/provider/ddi/putDdi.feature
Labels: +enhancement, schema, tests, * halliday *, portal/client

#1929 Add Queue display name to update agents CallerIDName
  asterisk/agi/src/Agi/Action/QueueAction.php
  library/DataFixtures/ORM/ProviderQueue.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.yml
  schema/DoctrineMigrations/Version20221108082529.php
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/rest/client/features/provider/queue/getQueue.feature
  web/rest/client/features/provider/queue/postQueue.feature
  web/rest/client/features/provider/queue/putQueue.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
Labels: +enhancement, schema, tests, core, web/rest, web/admin, * artemis *

#1917 kamtrunks: skip sql-injector detector for within-dialog reqs
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, * artemis *

#1931 Add Queue display name to update agents CallerIDName #1929
  asterisk/agi/src/Agi/Action/QueueAction.php
  library/DataFixtures/ORM/ProviderQueue.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.xml
  schema/DoctrineMigrations/Version20221108082529.php
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/portal/client/src/entities/Queue/Form.tsx
  web/portal/client/src/entities/Queue/Queue.tsx
  web/portal/client/src/entities/Queue/QueueProperties.tsx
  web/rest/client/features/provider/queue/getQueue.feature
  web/rest/client/features/provider/queue/postQueue.feature
  web/rest/client/features/provider/queue/putQueue.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
Labels: schema, tests, core, web/admin, * halliday *, portal/client, +upport, rest/client

#1932 Fix bigint issues
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdr.php
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdrAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdrDtoAbstract.php
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdrInterface.php
  library/Ivoz/Kam/Domain/Model/UsersLocationAttr/UsersLocationAttr.php
  library/Ivoz/Kam/Domain/Model/UsersLocationAttr/UsersLocationAttrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/UsersLocationAttr/UsersLocationAttrInterface.php
  library/Ivoz/Kam/Domain/Model/UsersLocationAttr/UsersLocationAttrTrait.php
  library/composer.lock
  schema/composer.lock
Labels: +bug, core, * halliday *

#1934 Renamed CarrierServerRegistrationStatus -> CarrierServerStatus
  library/Ivoz/Provider/Application/Service/CarrierServer/CarrierServerDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerDto.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerStatus.php
Labels: +bug, core, * halliday *

#1933 Modified SPA50*.cfg for firmwareVersion variable typo.
  microservices/provision/templates/provisioning/SPA502G/generic.cfg
  microservices/provision/templates/provisioning/SPA504G/generic.cfg
  microservices/provision/templates/provisioning/SPA509G/generic.cfg
  microservices/provision/templates/provisioning/SPA514G/generic.cfg
  microservices/provision/templates/provisioning/SPA525G2/generic.cfg
  web/admin/templates/provisioning/SPA502G/generic.cfg
  web/admin/templates/provisioning/SPA504G/generic.cfg
  web/admin/templates/provisioning/SPA509G/generic.cfg
  web/admin/templates/provisioning/SPA514G/generic.cfg
  web/admin/templates/provisioning/SPA525G2/generic.cfg
Labels: core, microservices, * halliday *

#1928 Added status to DdiProviderRegistration entity
  library/Ivoz/Provider/Application/Service/DdiProviderRegistration/DdiProviderRegistrationDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistrationDto.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/ddiProviderRegistration/getDdiProviderRegistration.feature
  web/rest/brand/features/provider/ddiProviderRegistration/getDdiProviderRegistrationStatus.feature
Labels: +feature, core, * halliday *

#1930 New fields in scheduled csv reports.
  library/DataFixtures/ORM/ProviderBillableCalls.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  library/Ivoz/Provider/Domain/Service/BillableCall/CsvExporter.php
  web/rest/brand/features/provider/billableCalls/getBillableCalls.feature
  web/rest/brand/features/provider/billableCalls/putBillableCalls.feature
  web/rest/client/features/provider/billableCall/getBillableCall.feature
  web/rest/platform/features/provider/billableCalls/getBillableCalls.feature
  web/rest/platform/features/provider/billableCalls/putBillableCalls.feature
Labels: +enhancement, +feature, tests, * artemis *

#1938 Fixed object error in TrunksClient.
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
Labels: +bug, core

#1943 Updated dependencies
  web/portal/brand/package.json
  web/portal/brand/src/router/AppRoutes.tsx
  web/portal/brand/yarn.lock
Labels: +enhancement, * halliday *, javascript, portal/brand

#1935 Added brand portal in providers forms
  web/portal/brand/package.json
  web/portal/brand/src/entities/BalanceMovement/Form.tsx
  web/portal/brand/src/entities/BalanceMovement/SelectOptions.ts
  web/portal/brand/src/entities/BalanceNotification/BalanceNotification.tsx
  web/portal/brand/src/entities/BalanceNotification/Form.tsx
  web/portal/brand/src/entities/BalanceNotification/SelectOptions.ts
  web/portal/brand/src/entities/BrandService/SelectOptions.ts
  web/portal/brand/src/entities/Carrier/Form.tsx
  web/portal/brand/src/entities/Carrier/SelectOptions.ts
  web/portal/brand/src/entities/CarrierServer/CarrierServer.tsx
  web/portal/brand/src/entities/CarrierServer/Form.tsx
  web/portal/brand/src/entities/Ddi/Form.tsx
  web/portal/brand/src/entities/DdiProvider/Form.tsx
  web/portal/brand/src/entities/DdiProviderAddress/Form.tsx
  web/portal/brand/src/entities/DdiProviderRegistration/DdiProviderRegistration.tsx
  web/portal/brand/src/entities/DdiProviderRegistration/Form.tsx
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/SelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplateContent/SelectOptions.ts
  web/portal/brand/src/entities/ProxyTrunk/SelectOptions.ts
  web/portal/brand/src/entities/RatingProfile/Form.tsx
  web/portal/brand/src/entities/TransformationRuleSet/SelectOptions.ts
  web/portal/brand/src/router/EntityMap.ts
Labels: * halliday *, portal/brand

#1941 portal/brand: Added invoicing forms
  web/portal/brand/package.json
  web/portal/brand/src/entities/Company/SelectOptions.ts
  web/portal/brand/src/entities/FixedCost/Form.tsx
  web/portal/brand/src/entities/FixedCost/SelectOptions.ts
  web/portal/brand/src/entities/FixedCostsRelInvoice/Form.tsx
  web/portal/brand/src/entities/FixedCostsRelInvoiceScheduler/FixedCostsRelInvoiceScheduler.tsx
  web/portal/brand/src/entities/FixedCostsRelInvoiceScheduler/Form.tsx
  web/portal/brand/src/entities/Invoice/Field/TaxRate.tsx
  web/portal/brand/src/entities/Invoice/Form.tsx
  web/portal/brand/src/entities/Invoice/Invoice.tsx
  web/portal/brand/src/entities/InvoiceNumberSequence/Form.tsx
  web/portal/brand/src/entities/InvoiceNumberSequence/InvoiceNumberSequence.tsx
  web/portal/brand/src/entities/InvoiceNumberSequence/SelectOptions.ts
  web/portal/brand/src/entities/InvoiceScheduler/Form.tsx
  web/portal/brand/src/entities/InvoiceScheduler/InvoiceScheduler.tsx
  web/portal/brand/src/entities/InvoiceTemplate/Form.tsx
  web/portal/brand/src/entities/InvoiceTemplate/SelectOptions.ts
  web/portal/brand/src/router/AppRoutes.tsx
  web/portal/brand/yarn.lock
Labels: * halliday *, portal/brand

#1944 Queue Announce position
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/queues.rst
  library/DataFixtures/ORM/ProviderQueue.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Ast/Domain/Service/Queue/UpdateByIvozQueue.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.yml
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.yml
  schema/DoctrineMigrations/Version20221123120153.php
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/queue/postQueue.feature
  web/rest/client/features/provider/queue/putQueue.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
Labels: +enhancement, doc, i18n, schema, tests, core, web/rest, * artemis *

#1948 [upport] Queue Announce position
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/queues.rst
  library/DataFixtures/ORM/ProviderQueue.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Ast/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Ast/Domain/Service/Queue/UpdateByIvozQueue.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.xml
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Queue/QueueInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.xml
  schema/DoctrineMigrations/Version20221123120153.php
  schema/tests/Provider/Queue/QueueLifeCycleTest.php
  web/admin/application/configs/klear/QueuesList.yaml
  web/admin/application/configs/klear/model/Queues.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/portal/client/src/entities/Queue/Form.tsx
  web/portal/client/src/entities/Queue/Queue.tsx
  web/portal/client/src/entities/Queue/QueueProperties.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/features/provider/queue/postQueue.feature
  web/rest/client/features/provider/queue/putQueue.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
Labels: duplicate, +enhancement, i18n, schema, tests, core, * halliday *, portal/client, rest/client

#1942 portal/brand: Added settings forms
  web/portal/brand/src/entities/BrandService/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/BrandService/Form.tsx
  web/portal/brand/src/entities/Country/SelectOptions.ts
  web/portal/brand/src/entities/Language/SelectOptions.ts
  web/portal/brand/src/entities/MatchList/Form.tsx
  web/portal/brand/src/entities/MatchListPattern/Form.tsx
  web/portal/brand/src/entities/MusicOnHold/Form.tsx
  web/portal/brand/src/entities/MusicOnHold/MusicOnHold.tsx
  web/portal/brand/src/entities/NotificationTemplate/Form.tsx
  web/portal/brand/src/entities/NotificationTemplateContent/Form.tsx
  web/portal/brand/src/entities/NotificationTemplateContent/NotificationTemplateContent.tsx
  web/portal/brand/src/entities/Service/Form.tsx
  web/portal/brand/src/entities/Service/SelectOptions/SelectOptions.ts
  web/portal/brand/src/entities/Service/SelectOptions/UnassignedServiceSelectOptions.ts
  web/portal/brand/src/entities/Service/SelectOptions/index.ts
  web/portal/brand/src/entities/SpecialNumber/Form.tsx
  web/portal/brand/src/entities/TransformationRule/Form.tsx
  web/portal/brand/src/entities/TransformationRule/TransformationRule.tsx
  web/portal/brand/src/entities/TransformationRuleSet/Form.tsx
  web/portal/brand/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
  web/portal/brand/src/entities/WebPortal/Form.tsx
  web/portal/brand/src/entities/WebPortal/SelectOptions.ts
  web/portal/brand/src/entities/WebPortal/WebPortal.tsx
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/features/provider/service/getUnassignedServices.feature
  web/rest/brand/src/Controller/Provider/ServicesUnassignedAction.php
Labels: * halliday *, portal/brand
