Repository irontec/ivozprovider, pull requests merged in 2022-04, with the labels that each got.

#1758 web/rest: restore client my/active_calls controller
  web/rest/client/config/services.yaml
  web/rest/client/src/Controller/My/ActiveCallsAction.php
Labels: +bug, web/rest, * halliday *

#1760 Provider 181 fix web client dependencies
  web/client/package.json
  web/client/yarn.lock
Labels: +bug, packaging, * artemis *

#1757 web/client: fixed extension.conditionalRoute visual toggle
  web/client/src/entities/Extension/Extension.tsx
Labels: +bug, * halliday *, web/client

#1759 Add support for Route Locks hints
  asterisk/agi/composer.lock
  asterisk/agi/config/services.yaml
  asterisk/agi/src/Hints/ExtensionHintsGenerator.php
  asterisk/agi/src/Hints/Generator.php
  asterisk/agi/src/Hints/RouteLockHintsGenerator.php
  asterisk/config/modules.conf
  library/Ivoz/Ast/Domain/Job/AriDialplanReloadJobInterface.php
  library/Ivoz/Ast/Domain/Job/AriHintUpdateJobInterface.php
  library/Ivoz/Ast/Infrastructure/Asterisk/ARI/ARIConnector.php
  library/Ivoz/Ast/Infrastructure/Redis/Job/DialplanReloadJob.php
  library/Ivoz/Ast/Infrastructure/Redis/Job/HintUpdateJob.php
  library/Ivoz/Provider/Domain/Model/RouteLock/RouteLock.php
  library/Ivoz/Provider/Domain/Model/RouteLock/RouteLockAbstract.php
  library/Ivoz/Provider/Domain/Model/RouteLock/RouteLockDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RouteLock/RouteLockInterface.php
  library/Ivoz/Provider/Domain/Model/RouteLock/RouteLockRepository.php
  library/Ivoz/Provider/Domain/Model/Service/ServiceRepository.php
  library/Ivoz/Provider/Domain/Service/RouteLock/RouteLockLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/RouteLock/RouteLockLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/RouteLock/SendDialplanReload.php
  library/Ivoz/Provider/Domain/Service/RouteLock/SendUpdateHintState.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RouteLock.RouteLockAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/RouteLockDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ServiceDoctrineRepository.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/jobs.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/bin/asterisk-dialplan-reload
  microservices/workers/bin/asterisk-hint-update
  microservices/workers/composer.lock
  microservices/workers/config/routes.yaml
  microservices/workers/config/services.yaml
  microservices/workers/psalm-baseline.xml
  microservices/workers/src/Worker/AsteriskDialplan.php
  microservices/workers/src/Worker/AsteriskHintUpdater.php
  profiles/portal/etc/supervisor/conf.d/asterisk-dialplan.conf
  profiles/portal/etc/supervisor/conf.d/asterisk-hints.conf
  schema/DoctrineMigrations/Version20220407092831.php
  schema/composer.lock
  web/client/src/entities/RouteLock/Form.tsx
  web/client/src/entities/RouteLock/RouteLock.tsx
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, agis, tests, core, microservices, * halliday *, web/client

#1761 Provider 183 web client acls
  library/Ivoz/Provider/Domain/Model/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorRelPublicEntityDoctrineRepository.php
  library/composer.lock
  microservices/realtime/composer.lock
  schema/composer.json
  schema/composer.lock
  schema/symfony.lock
  schema/tests/Provider/AdministratorRelPublicEntity/AdministratorRelPublicEntityRepositoryTest.php
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/api/resources.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/my/activeCalls/getActiveCalls.feature
  web/rest/client/features/my/profile/getProfile.feature
  web/rest/client/phpstan-baseline.neon
  web/rest/client/src/Controller/My/ProfileAction.php
  web/rest/client/src/Model/Profile.php
  web/rest/client/src/Model/ProfileAcl.php
  web/rest/client/src/Service/Behat/FeatureContext.php
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, tests, * halliday *

#1765 vPbx admin validations in client portal
  web/client/src/components/Dashboard/Dashboard.tsx
  web/client/src/components/Dashboard/DashboardBlock.tsx
  web/client/src/entities/Ddi/Ddi.tsx
  web/client/src/entities/Ddi/Field/RouteType.tsx
  web/client/src/entities/Ddi/Form.tsx
  web/client/src/entities/Ddi/foreignKeyGetter.tsx
  web/client/src/entities/Extension/Extension.tsx
  web/client/src/entities/Queue/Field/Strategy.tsx
  web/client/src/entities/Queue/Form.tsx
  web/client/src/entities/Queue/Queue.tsx
  web/client/src/router/EntityMap.tsx
  web/client/src/router/useAclFilteredEntityMap.tsx
  web/client/yarn.lock
Labels: +enhancement, +feature, web/client

#1768 web/client: added entity access validation for wholesale admins
  web/client/src/router/EntityMap.tsx
Labels: +enhancement, * halliday *, web/client

#1770 rename my profile pbx by vpbx
  web/client/src/entities/CallForwardSetting/Field/TargetType.tsx
  web/client/src/entities/CallForwardSetting/Form.tsx
  web/client/src/entities/Ddi/Field/RouteType.tsx
  web/client/src/entities/Ddi/Form.tsx
  web/client/src/router/EntityMap.tsx
  web/client/src/store/clientSession/aboutMe.ts
  web/rest/client/features/my/profile/getProfile.feature
  web/rest/client/src/Model/Profile.php
Labels: +bug, web/rest, * halliday *, web/client

#1771 Voicemail API validation
  library/DataFixtures/ORM/ProviderAdministrator.php
  library/DataFixtures/ORM/ProviderCompany.php
  web/rest/brand/features/provider/administrator/postAdministrators.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/voicemail/getVoicemail.feature
  web/rest/client/src/Service/Behat/FeatureContext.php
  web/rest/platform/features/provider/administrator/postAdministrators.feature
Labels: tests, web/rest, * halliday *

#1773 data: added rpz custom zone to bind
  profiles/data/etc/bind/db.rpz.local
  profiles/data/etc/bind/named.conf.local.ivozprovider
  profiles/data/etc/bind/named.conf.options.ivozprovider
Labels: * artemis *

#1772 Fixed terminal domain resolution in API
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Application/Service/Terminal/TerminalDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalDto.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/client/src/entities/RetailAccount/Form.tsx
  web/client/src/entities/Terminal/Form.tsx
  web/client/src/entities/Terminal/Terminal.tsx
  web/client/src/entities/Terminal/TerminalProperties.tsx
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/features/provider/terminal/getTerminal.feature
  web/rest/client/features/provider/terminal/getUnassignedTerminals.feature
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +bug, core, * halliday *, web/client

#1774 Check client features
  web/client/src/router/EntityMap.tsx
  web/client/src/store/clientSession/aboutMe.ts
  web/rest/client/config/api/raw/provider.yml
Labels: +bug, web/rest, * halliday *, web/client
