Repository irontec/ivozprovider, pull requests merged in 2022-12, with the labels that each got.

#1952 Add behat to provision microservice
  library/DataFixtures/ORM/ProviderTerminalModel.php
  microservices/provision/behat.yml.dist
  microservices/provision/bin/prepare-test-db
  microservices/provision/bin/test-provision
  microservices/provision/composer.json
  microservices/provision/composer.lock
  microservices/provision/config/bundles.php
  microservices/provision/config/packages/test/behat.yaml
  microservices/provision/config/packages/test/doctrine.yaml
  microservices/provision/config/services.yaml
  microservices/provision/features/bootstrap/bootstrap.php
  microservices/provision/features/test.feature
  microservices/provision/psalm.xml
  microservices/provision/src/Behat/Context/FeatureContext.php
  microservices/provision/symfony.lock
  microservices/provision/your-baseline.xml
Labels: tests, microservices, * halliday *

#1955 Fix Call CSV Scheduler endpoint field filtering
  web/admin/application/configs/klear/model/CallCsvSchedulers.yaml
  web/admin/application/library/IvozProvider/Klear/Filter/CallCsvSchedulerEndpointType.php
Labels: web/admin, * artemis *

#1953 Changelog for 2.22.0
  ChangeLog
  README.md
  asterisk/config/pjsip.conf
  debian/changelog
  doc/sphinx/conf.py
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/rest/client/CHANGELOG.md
Labels: +enhancement, packaging, doc, * artemis *

#1961 portal/brand: Fix links to nowhere
  web/portal/brand/package.json
  web/portal/brand/src/entities/Company/genericCompanyForeignKeyResolver.ts
  web/portal/brand/src/entities/Ddi/ForeignKeyResolver.tsx
  web/portal/brand/yarn.lock
Labels: +bug, * halliday *, portal/brand

#1962 web/admin: removed old terminal provisioning system
  web/admin/application/configs/application.ini
  web/admin/application/modules/provision/Bootstrap.php
  web/admin/application/modules/provision/controllers/IndexController.php
  web/admin/application/modules/provision/views/scripts/error/error.phtml
  web/admin/application/modules/provision/views/scripts/index/index.phtml
  web/admin/application/modules/provision/views/scripts/index/template.phtml
Labels: provisioning, microservices, php

#1967 feat: Added language selector
  web/portal/brand/src/App.tsx
  web/portal/brand/src/index.tsx
  web/portal/brand/src/router/AppRouteContentWrapper/AppRouteContentWrapper.tsx
  web/portal/brand/src/translations/languages.ts
Labels: +feature, i18n, * halliday *, portal/brand

#1963 Add terminal provisioning tests
  library/DataFixtures/ORM/ProviderTerminal.php
  library/DataFixtures/ORM/ProviderTerminalModel.php
  library/DataFixtures/ORM/ProviderUser.php
  microservices/provision/behat.yml.dist
  microservices/provision/config/packages/test/behat.yaml
  microservices/provision/features/genericProvision.feature
  microservices/provision/features/specificProvision.feature
  microservices/provision/src/Behat/Context/FeatureContext.php
  microservices/provision/src/Controller/ProvisionController.php
  schema/tests/Provider/Domain/DomainLifeCycleTest.php
  web/rest/brand/features/my/registrationSummary/getRegistrationSummary.feature
  web/rest/brand/features/provider/terminal/getTerminalStatus.feature
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/client/features/provider/huntGroup/getHuntGroupUsersAvailable.feature
  web/rest/client/features/provider/terminal/getTerminal.feature
  web/rest/client/features/provider/terminal/getTerminalStatus.feature
  web/rest/client/features/provider/terminal/postTerminal.feature
  web/rest/client/features/provider/terminalModel/getTerminalModel.feature
  web/rest/client/features/provider/user/getUser.feature
  web/rest/client/features/provider/user/postUser.feature
  web/rest/platform/features/provider/terminalModel/getTerminalModel.feature
Labels: +enhancement, provisioning, tests, microservices, * halliday *

#1970 core: return array as defined in function header
  library/Ivoz/Kam/Infrastructure/Kamailio/TrunksClient.php
  library/phpstan-baseline.neon
Labels: +bug, core, * halliday *
