Repository irontec/ivozprovider, pull requests merged in 2022-03, with the labels that each got.

#1724 core: updated composer dependencies
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: core, * halliday *

#1734 core: assign ddi route type in users mass import
  library/Ivoz/Provider/Application/Service/User/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
Labels: +enhancement, core

#1698 Enable HTTP/2 protocol
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  profiles/portal/etc/apache2/sites-available/060-ivozprovider-api.conf
Labels: +enhancement, * halliday *

#1732 New api endpoints
  library/DataFixtures/ORM/ProviderExtension.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionRepository.php
  library/Ivoz/Provider/Domain/Model/HuntGroupsRelUser/HuntGroupsRelUserRepository.php
  library/Ivoz/Provider/Domain/Model/Invoice/InvoiceDto.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalRepository.php
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  library/Ivoz/Provider/Domain/Model/User/UserRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ExtensionDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/HuntGroupsRelUserDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  library/composer.lock
  library/psalm-baseline.xml
  library/psalm.xml
  microservices/realtime/composer.lock
  schema/tests/Provider/Extension/ExtensionLifeCycleTest.php
  schema/tests/Provider/Extension/ExtensionRepositoryTest.php
  schema/tests/Provider/HuntGroupsRelUser/HuntGroupsRelUserRepositoryTest.php
  schema/tests/Provider/Terminal/TerminalRepositoryTest.php
  schema/tests/Provider/User/UserRepositoryTest.php
  web/rest/brand/composer.lock
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/provider/extension/getExtension.feature
  web/rest/client/features/provider/extension/getExtensionUnassigned.feature
  web/rest/client/features/provider/extension/postExtension.feature
  web/rest/client/features/provider/faxesInOut/removeFaxesInOut.feature
  web/rest/client/features/provider/huntGroup/getHuntGroupUsersAvailable.feature
  web/rest/client/features/provider/terminal/getUnassignedTerminals.feature
  web/rest/client/features/provider/user/getUser.feature
  web/rest/client/psalm-baseline.xml
  web/rest/client/src/Controller/Provider/ExtensionsUnassignedAction.php
  web/rest/client/src/Controller/Provider/HuntGroupUsersAvailableAction.php
  web/rest/client/src/Controller/Provider/TerminalsUnassignedAction.php
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
  web/rest/user/features/my/company_extensions/getCompanyExtensions.feature
  web/rest/user/features/my/company_voicemails/getCompanyVoicemails.feature
Labels: +enhancement, +feature, web/rest, * halliday *

#1729 New local dns entry cache.ivozprovider.local
  cgrates/config/cgrates.json
  debian/ivozprovider-profile-common.config
  debian/ivozprovider-profile-data.postinst
  debian/ivozprovider-profile-data.templates
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml.dist
  microservices/realtime/config/services.yaml
  profiles/data/etc/bind/db.ivozprovider.local
Labels: +enhancement, packaging, core, * halliday *

#1730 New local dns entry hep.ivozprovider.local
  debian/ivozprovider-profile-data.config
  debian/ivozprovider-profile-data.postinst
  debian/ivozprovider-profile-data.templates
  profiles/data/etc/bind/db.ivozprovider.local
Labels: +enhancement, packaging, * halliday *

#1731 Add support for friend call forward settings
  asterisk/agi/config/routes.yaml
  asterisk/agi/config/services.yaml
  asterisk/agi/phpstan-baseline.neon
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Agi/Action/FriendCallAction.php
  asterisk/agi/src/Agi/Action/FriendStatusAction.php
  asterisk/agi/src/Dialplan/FriendStatus.php
  asterisk/config/dialplan/default.conf
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/index.rst
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendTrait.php
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallForwardSetting.CallForwardSettingAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.Friend.orm.xml
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20220303101103.php
  web/client/package.json
  web/client/src/entities/CallForwardSetting/CallForwardSetting.tsx
  web/client/src/entities/CallForwardSetting/CallForwardSettingProperties.tsx
  web/client/src/entities/CallForwardSetting/Form.tsx
  web/client/src/router/EntityMap.tsx
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/callForwardSetting/postCallForwardSetting.feature
  web/rest/client/features/provider/callForwardSetting/putCallForwardSetting.feature
  web/rest/client/tests/DataAccessControl/Provider/CallForwardSettingTest.php
Labels: agis, doc, schema, tests, core, * halliday *

#1736 tests: add new BBS tests for friends call forward settings
  tests/bbs/2530-test-friend-cfw-unregisted.yaml
  tests/bbs/2531-test-friend-cfw-busy.yaml
  tests/bbs/2532-test-friend-cfw-noanswer.yaml
  tests/bbs/dataset.json
Labels: tests, * halliday *

#1738 Rework apache modules and sites configurations
  debian/ivozprovider-profile-portal.postinst
Labels: +enhancement, packaging, * halliday *

#1737 Enhanced rerating
  library/DataFixtures/ORM/CgrTpCdr.php
  library/DataFixtures/ORM/KamTrunksCdr.php
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdrRepository.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/RerateCallService.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/TpCdrDoctrineRepository.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  schema/tests/Cgr/TpCdr/TpCdrRepositoryTest.php
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
Labels: +enhancement, tests, core, * artemis *

#1739 Remove swagger export commands
  debian/ivozprovider-web-rest.postinst
  library/bin/cache-clear
  web/rest/.gitignore
  web/rest/brand/public/swagger.json
  web/rest/client/public/swagger.json
  web/rest/platform/bin/swagger-export
  web/rest/platform/public/swagger.json
  web/rest/user/public/swagger.json
Labels: +enhancement, tests, web/rest, * halliday *

#1740 External call filters: make schedule filtering optional
  doc/sphinx/administration_portal/client/vpbx/routing_tools/external_call_filters.rst
  library/DataFixtures/ORM/ProviderExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ExternalCallFilter.ExternalCallFilterAbstract.orm.xml
  schema/DoctrineMigrations/Version20220315151325.php
  web/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
  web/client/src/entities/ExternalCallFilter/ExternalCallFilterProperties.tsx
  web/client/src/entities/ExternalCallFilter/Form.tsx
  web/client/src/lib/services/entity/EntityService.ts
  web/rest/client/features/provider/externalCallFilter/postExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilter/putExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilterBlackList/getExternalCallFilterBlackList.feature
  web/rest/client/features/provider/externalCallFilterBlackList/postExternalCallFilterBlackList.feature
  web/rest/client/features/provider/externalCallFilterRelCalendar/getExternalCallFilterRelCalendar.feature
  web/rest/client/features/provider/externalCallFilterRelCalendar/postExternalCallFilterRelCalendar.feature
  web/rest/client/features/provider/externalCallFilterRelSchedule/getExternalCallFilterRelSchedule.feature
  web/rest/client/features/provider/externalCallFilterRelSchedule/postExternalCallFilterRelSchedule.feature
  web/rest/client/features/provider/externalCallFilterWhiteList/getExternalCallFilterWhiteList.feature
  web/rest/client/features/provider/externalCallFilterWhiteList/postExternalCallFilterWhiteList.feature
Labels: +enhancement, schema, tests, core, web/rest, * halliday *

#1749 Remove doctrine json array references
  library/DataFixtures/ORM/ProviderDestinationRateGroup.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/Mapping/TpCdr.TpCdrAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCallHistoric.BillableCallHistoricAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Changelog.ChangelogAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Commandlog.CommandlogAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DestinationRateGroup.File.orm.xml
  schema/DoctrineMigrations/Version20220324123318.php
  schema/initial.sql
  web/rest/brand/features/provider/destinationRateGroup/postDestinationRateGroup.feature
Labels: schema, * halliday *

#1751 web/admin: hide retailAccount in DDI list section
  web/admin/application/configs/klear/DdiProvidersList.yaml
Labels: +bug, web/admin, * artemis *

#1750 External call filters: make calendar filtering optional
  doc/sphinx/administration_portal/client/vpbx/routing_tools/external_call_filters.rst
  library/DataFixtures/ORM/ProviderExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilter.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ExternalCallFilter.ExternalCallFilterAbstract.orm.xml
  schema/DoctrineMigrations/Version20220324084602.php
  web/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
  web/client/src/entities/ExternalCallFilter/ExternalCallFilterProperties.tsx
  web/client/src/entities/ExternalCallFilter/Form.tsx
  web/rest/client/features/provider/externalCallFilter/postExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilter/putExternalCallFilter.feature
  web/rest/client/features/provider/externalCallFilterBlackList/getExternalCallFilterBlackList.feature
  web/rest/client/features/provider/externalCallFilterBlackList/postExternalCallFilterBlackList.feature
  web/rest/client/features/provider/externalCallFilterRelCalendar/getExternalCallFilterRelCalendar.feature
  web/rest/client/features/provider/externalCallFilterRelCalendar/postExternalCallFilterRelCalendar.feature
  web/rest/client/features/provider/externalCallFilterRelSchedule/getExternalCallFilterRelSchedule.feature
  web/rest/client/features/provider/externalCallFilterRelSchedule/postExternalCallFilterRelSchedule.feature
  web/rest/client/features/provider/externalCallFilterWhiteList/getExternalCallFilterWhiteList.feature
  web/rest/client/features/provider/externalCallFilterWhiteList/postExternalCallFilterWhiteList.feature
Labels: +enhancement, schema, tests, core, * halliday *, web/client

#1752 Set External Call Filters toggles for Holidays & Calenders disabled by default
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterAbstract.php
  library/Ivoz/Provider/Domain/Model/ExternalCallFilter/ExternalCallFilterDtoAbstract.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ExternalCallFilter.ExternalCallFilterAbstract.orm.xml
  schema/DoctrineMigrations/Version20220328144016.php
  web/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
Labels: +enhancement, schema, core, * halliday *, web/client

#1746 vPBX Users Location support
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/client/vpbx/user_configuration/index.rst
  doc/sphinx/administration_portal/client/vpbx/user_configuration/locations.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  library/DataFixtures/ORM/ProviderLocation.php
  library/DataFixtures/ORM/ProviderUser.php
  library/Ivoz/Provider/Domain/Model/Location/Location.php
  library/Ivoz/Provider/Domain/Model/Location/LocationAbstract.php
  library/Ivoz/Provider/Domain/Model/Location/LocationDto.php
  library/Ivoz/Provider/Domain/Model/Location/LocationDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Location/LocationInterface.php
  library/Ivoz/Provider/Domain/Model/Location/LocationRepository.php
  library/Ivoz/Provider/Domain/Model/Location/LocationTrait.php
  library/Ivoz/Provider/Domain/Model/User/UserAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/LocationDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Location.Location.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Location.LocationAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.UserAbstract.orm.xml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20220322110232.php
  schema/composer.lock
  web/client/src/entities/Location/Form.tsx
  web/client/src/entities/Location/Location.tsx
  web/client/src/entities/Location/LocationProperties.tsx
  web/client/src/entities/Location/SelectOptions.ts
  web/client/src/entities/User/Form.tsx
  web/client/src/entities/User/User.tsx
  web/client/src/entities/User/UserProperties.tsx
  web/client/src/entities/index.ts
  web/client/src/router/EntityMap.tsx
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/location/getLocation.feature
  web/rest/client/features/provider/location/postLocation.feature
  web/rest/client/features/provider/location/putLocation.feature
  web/rest/client/features/provider/location/removeLocation.feature
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/user/putUser.feature
  web/rest/client/tests/DataAccessControl/Provider/UserTest.php
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +feature, doc, schema, core, web/rest, dependencies, * halliday *, web/client

#1753 updated ivoz-ui version
  web/client/package.json
  web/client/yarn.lock
Labels: +enhancement, * halliday *, web/client

#1754 core: fix unassigned terminals repository query
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalDoctrineRepository.php
Labels: +bug, core, * halliday *
