Repository irontec/ivozprovider, pull requests merged in 2022-08, with the labels that each got.

#1870 Users terminal status
  library/Ivoz/Provider/Application/Service/User/UserDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/entities/User/UserProperties.tsx
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/client/features/provider/huntGroup/getHuntGroupUsersAvailable.feature
  web/rest/client/features/provider/user/getUser.feature
Labels: tests, web/rest, web/client

#1871 web/rest: Replaced plain text contexts by its Entity's constants.
  web/rest/brand/config/api/raw/provider.yml
  web/rest/client/config/api/raw/provider.yml
  web/rest/platform/config/api/raw/provider.yml
  web/rest/user/config/api/raw/provider.yml
Labels: +enhancement, web/rest

#1875 Provider 416 revisar deprecation warning
  asterisk/agi/config/packages/prod/monolog.yaml
  microservices/balances/config/packages/framework.yaml
  microservices/balances/config/packages/prod/monolog.yaml
  microservices/balances/src/Kernel.php
  microservices/realtime/config/packages/framework.yaml
  microservices/realtime/config/packages/security.yaml
  microservices/realtime/src/Kernel.php
  schema/config/packages/framework.yaml
  web/rest/brand/config/packages/framework.yaml
  web/rest/client/config/packages/framework.yaml
  web/rest/client/config/packages/test/framework.yaml
  web/rest/platform/config/packages/framework.yaml
  web/rest/user/config/packages/framework.yaml
Labels: +bug, +enhancement

#1881 ci: remove npm dependency already provided by nodejs package
  debian/Dockerfile
  debian/control
  tests/docker/Dockerfile
  tests/packaging/Dockerfile
Labels: +enhancement, devops, * halliday *

#1882 ci: upgrade yarn package to 1.22.19
  debian/Dockerfile
  debian/control
  debian/rules
  tests/docker/Dockerfile
  tests/packaging/Dockerfile
  web/portal/client/bin/build
  web/portal/user/bin/build
Labels: +enhancement, packaging, devops, * halliday *

#1874 Client portal: Vite as webpack replacement
  web/portal/client/bin/build
  web/portal/client/bin/start
  web/portal/client/index.html
  web/portal/client/package.json
  web/portal/client/src/App.tsx
  web/portal/client/src/config.js
  web/portal/client/src/entities/index.ts
  web/portal/client/src/router/AppRoutes.tsx
  web/portal/client/src/router/useEntityMap.ts
  web/portal/client/src/store/index.ts
  web/portal/client/tsconfig.json
  web/portal/client/tsconfig.node.json
  web/portal/client/vite.config.ts
  web/portal/client/yarn.lock
Labels: +enhancement, web/client

#1878 User portal: Vite as webpack replacement
  web/portal/user/bin/build
  web/portal/user/bin/start
  web/portal/user/index.html
  web/portal/user/package.json
  web/portal/user/public/index.html
  web/portal/user/src/App.tsx
  web/portal/user/src/config.js
  web/portal/user/src/entities/Account/ForeignKeyGetter.tsx
  web/portal/user/src/entities/Account/ForeignKeyResolver.tsx
  web/portal/user/src/entities/Account/Form.tsx
  web/portal/user/src/entities/CallForwardSetting/CallForwardSetting.tsx
  web/portal/user/src/entities/CallForwardSetting/ForeignKeyGetter.tsx
  web/portal/user/src/entities/CallForwardSetting/ForeignKeyResolver.tsx
  web/portal/user/src/entities/Country/SelectOptions.ts
  web/portal/user/src/entities/Extension/SelectOptions.ts
  web/portal/user/src/entities/Preferences/ForeignKeyGetter.tsx
  web/portal/user/src/entities/Preferences/ForeignKeyResolver.tsx
  web/portal/user/src/entities/Preferences/Form.tsx
  web/portal/user/src/entities/Timezone/SelectOptions.ts
  web/portal/user/src/entities/User/ForeignKeyGetter.tsx
  web/portal/user/src/entities/User/ForeignKeyResolver.tsx
  web/portal/user/src/entities/User/Form.tsx
  web/portal/user/src/entities/User/User.tsx
  web/portal/user/src/entities/UsersCdr/ForeignKeyGetter.tsx
  web/portal/user/src/entities/UsersCdr/ForeignKeyResolver.tsx
  web/portal/user/src/entities/UsersCdr/Form.tsx
  web/portal/user/src/entities/UsersCdr/SelectOptions.ts
  web/portal/user/src/entities/UsersCdr/UsersCdr.tsx
  web/portal/user/src/entities/Voicemail/SelectOptions.ts
  web/portal/user/src/entities/index.ts
  web/portal/user/src/store/index.ts
  web/portal/user/tsconfig.json
  web/portal/user/tsconfig.node.json
  web/portal/user/vite.config.ts
  web/portal/user/yarn.lock
Labels: +enhancement, web/user, * halliday *

#1883 update web portals build path
  debian/ivozprovider-web-client.install
  debian/ivozprovider-web-user.install
  debian/rules
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  web/portal/client/.gitignore
  web/portal/client/bin/build
  web/portal/user/.gitignore
  web/portal/user/bin/build
Labels: +bug, packaging, web/user, * halliday *, web/client

#1877 web/admin: fixed Retail Accounts > DDI > External calls screen
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/configs/klear/RetailAccountsList.yaml
Labels: +bug, * artemis *

#1884 Updated composer dependencies
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20190101000000.php
  schema/DoctrineMigrations/Version20211105124136.php
  schema/DoctrineMigrations/Version20220308132214.php
  schema/DoctrineMigrations/Version20220315151325.php
  schema/DoctrineMigrations/Version20220317124540.php
  schema/DoctrineMigrations/Version20220324084602.php
  schema/DoctrineMigrations/Version20220324123318.php
  schema/DoctrineMigrations/Version20220325081551.php
  schema/DoctrineMigrations/Version20220328101058.php
  schema/DoctrineMigrations/Version20220328144016.php
  schema/DoctrineMigrations/Version20220328161039.php
  schema/DoctrineMigrations/Version20220329110601.php
  schema/DoctrineMigrations/Version20220331091438.php
  schema/DoctrineMigrations/Version20220407092831.php
  schema/DoctrineMigrations/Version20220408095037.php
  schema/DoctrineMigrations/Version20220520060237.php
  schema/DoctrineMigrations/Version20220603083243.php
  schema/DoctrineMigrations/Version20220603091748.php
  schema/DoctrineMigrations/Version20220603094200.php
  schema/DoctrineMigrations/Version20220606152356.php
  schema/DoctrineMigrations/Version20220607135943.php
  schema/DoctrineMigrations/Version20220608140537.php
  schema/DoctrineMigrations/Version20220620142050.php
  schema/DoctrineMigrations/Version20220624114352.php
  schema/DoctrineMigrations/Version20220627151626.php
  schema/DoctrineMigrations/Version20220707125449.php
  schema/DoctrineMigrations/Version20220715093144.php
  schema/composer.json
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, schema, core, * halliday *

#1885 Updated composer dependencies
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: +enhancement, core, * artemis *

#1887 web/admin: fix DDI PRovider Registation status check
  web/admin/application/library/IvozProvider/Klear/Ghost/RegisterStatus.php
Labels: +bug, web/admin, * artemis *

#1886 kam: add HEP forwarding support
  kamailio/trunks/config/kamailio.cfg
  kamailio/trunks/config/siptrace.cfg.in
  kamailio/users/config/kamailio.cfg
  kamailio/users/config/siptrace.cfg.in
Labels: +feature, trunks, users, * artemis *, ci-no-tests

#1888 web/admin: fix initial DDI PRovider Registation status check
  web/admin/application/library/IvozProvider/Klear/Ghost/RegisterStatus.php
Labels: web/admin, * halliday *, +upport
