Repository irontec/ivozprovider, pull requests merged in 2022-10, with the labels that each got.

#1907 schema: change kam_users_location_attrs id to bigint
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersLocationAttr.UsersLocationAttr.orm.xml
  schema/DoctrineMigrations/Version20220929101012.php
Labels: +enhancement, schema, * halliday *

#1911 core: convert routing tag company type validation into a service
  library/Ivoz/Provider/Domain/Model/CompanyRelRoutingTag/CompanyRelRoutingTag.php
  library/Ivoz/Provider/Domain/Model/CompanyRelRoutingTag/CompanyRelRoutingTagInterface.php
  library/Ivoz/Provider/Domain/Service/CompanyRelRoutingTag/CheckCompanyType.php
  library/Ivoz/Provider/Domain/Service/CompanyRelRoutingTag/CompanyRelRoutingTagLifecycleServiceCollection.php
  library/phpstan-baseline.neon
Labels: +bug, core, * halliday *

#1913 Change rtpengine control port to 2223
  debian/ivozprovider-profile-proxy.postinst
  library/DataFixtures/ORM/KamRtpengine.php
  schema/DoctrineMigrations/Version20221007090801.php
  web/admin/application/configs/klear/model/KamRtpengine.yaml
  web/rest/platform/features/kam/rtpengine/getRtpengine.feature
  web/rest/platform/features/kam/rtpengine/postRtpengine.feature
Labels: +enhancement, schema, tests, web/admin, * halliday *

#1914 kamusers: fix URL-decode $rU
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, * artemis *
