Repository irontec/ivozprovider, pull requests merged in 2022-06, with the labels that each got.

#1801 Api device status error
  library/DataFixtures/ORM/KamUsersLocation.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  web/rest/brand/features/provider/residentialDevice/getResidentialDeviceStatus.feature
  web/rest/client/features/provider/residentialDevices/getResidentialDeviceStatus.feature
Labels: core, web/rest, * halliday *, +upport

#1803 schema: add unique constraint to TerminalModel genericUrlPattern field
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/TerminalModel.TerminalModelAbstract.orm.xml
  schema/DoctrineMigrations/Version20220207084804.php
  schema/tests/Provider/TerminalModel/TerminalModelLifeCycleTest.php
  web/rest/platform/features/provider/terminalModel/postTerminalModel.feature
Labels: schema, * halliday *, +upport

#1804 kam_user_cdrs start_time index
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.xml
  schema/DoctrineMigrations/Version20220207102413.php
Labels: schema, * halliday *, +upport

#1805 Improved rerating
  library/DataFixtures/ORM/KamTrunksCdr.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/RerateCallService.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Domain/Service/TrunksCdr/RerateCallServiceInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/phpstan-baseline.neon
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
Labels: tests, core, * halliday *, +upport

#1798 kam: new maintenance mode
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: trunks, users, ci-no-tests, * halliday *, +upport

#1807 Enhanced rerating
  library/DataFixtures/ORM/CgrTpCdr.php
  library/DataFixtures/ORM/KamTrunksCdr.php
  library/Ivoz/Cgr/Domain/Model/TpCdr/TpCdrRepository.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/RerateCallService.php
  library/Ivoz/Cgr/Infrastructure/Persistence/Doctrine/TpCdrDoctrineRepository.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  schema/tests/Cgr/TpCdr/TpCdrRepositoryTest.php
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
Labels: tests, core, * halliday *, +upport

#1809 web/admin: replace OutgointRouting routing mode constants
  web/admin/application/library/IvozProvider/Klear/Filter/OutgoingRoutingMode.php
  web/admin/application/library/IvozProvider/Klear/Ghost/OutgoingRouting.php
Labels: +bug, web/admin, * halliday *

#1813 Make asterisk and kamailio MySQL passwords configurable
  cgrates/config/cgrates.json
  cgrates/scripts/cgrates-reload
  debian/ivozprovider-profile-as.postinst
  debian/ivozprovider-profile-data.postinst
  debian/ivozprovider-profile-proxy.postinst
  profiles/as/etc/odbc.ini.ivozprovider
  profiles/proxy/etc/mysql/conf.d/kamailio.cnf
  schema/initial.sql
Labels: +enhancement, packaging, schema, * halliday *

#1812 Make Application Server name not nullable
  library/Ivoz/Kam/Domain/Service/Dispatcher/UpdateByApplicationServer.php
  library/Ivoz/Provider/Domain/Model/ApplicationServer/ApplicationServerAbstract.php
  library/Ivoz/Provider/Domain/Model/ApplicationServer/ApplicationServerDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ApplicationServer/ApplicationServerInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ApplicationServer.ApplicationServerAbstract.orm.xml
  schema/DoctrineMigrations/Version20220603094200.php
Labels: +bug, schema, * halliday *

#1816 schema: fix wrong escaped Public entities fqdns
  schema/DoctrineMigrations/Version20220607135943.php
Labels: +bug, schema, * halliday *

#1815 web/client: fix copy&paste typos in multiple entities
  web/client/src/entities/CalendarPeriod/Field/Target.tsx
  web/client/src/entities/CallForwardSetting/Field/TargetTypeValue.tsx
  web/client/src/entities/ConditionalRoutesCondition/Field/ConditionMatch.tsx
  web/client/src/entities/ConditionalRoutesCondition/Field/Target.tsx
  web/client/src/entities/HolidayDate/Field/Calendar.tsx
  web/client/src/entities/HolidayDate/Field/Target.tsx
  web/client/src/entities/IvrEntry/Field/Target.tsx
  web/client/src/entities/MatchListPattern/Field/MatchValue.tsx
Labels: +bug, * halliday *, web/client

#1811 Make country names not nullable
  library/Ivoz/Provider/Domain/Model/Country/CountryAbstract.php
  library/Ivoz/Provider/Domain/Model/Country/CountryDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Country/Name.php
  library/Ivoz/Provider/Domain/Service/RoutingPattern/UpdateByBrand.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Country.Name.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20220603091748.php
Labels: +bug, schema, core, * halliday *

#1819 Add IVR entry custom display name support
  asterisk/agi/src/Agi/Action/IvrAction.php
  library/DataFixtures/ORM/ProviderIvrEntry.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryAbstract.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryDto.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/IvrEntry.IvrEntryAbstract.orm.xml
  schema/DoctrineMigrations/Version20220608140537.php
  tests/bbs/2011-test-ivr-custom-displayname.yaml
  tests/bbs/dataset.json
  web/admin/application/configs/klear/IvrEntriesList.yaml
  web/admin/application/configs/klear/model/IvrEntries.yaml
  web/client/src/entities/IvrEntry/Form.tsx
  web/client/src/entities/IvrEntry/IvrEntry.tsx
  web/client/src/entities/IvrEntry/IvrEntryProperties.tsx
  web/rest/client/features/provider/ivrEntry/getIvrEntry.feature
  web/rest/client/features/provider/ivrEntry/postIvrEntry.feature
  web/rest/client/features/provider/ivrEntry/putIvrEntry.feature
Labels: +enhancement, agis, tests, web/admin, * halliday *, web/client

#1821 Provider 327 fix generator value object validations
  asterisk/agi/composer.lock
  debian/ivozprovider-common-library.postinst
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/Country/CountryAbstract.php
  library/Ivoz/Provider/Domain/Model/Currency/CurrencyAbstract.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/Feature/FeatureAbstract.php
  library/Ivoz/Provider/Domain/Model/Language/LanguageAbstract.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/RatingPlanGroupAbstract.php
  library/Ivoz/Provider/Domain/Model/RoutingPattern/RoutingPatternAbstract.php
  library/Ivoz/Provider/Domain/Model/Service/ServiceAbstract.php
  library/Ivoz/Provider/Domain/Model/Timezone/TimezoneAbstract.php
  library/Ivoz/Provider/Domain/Model/TransformationRuleSet/TransformationRuleSetAbstract.php
  library/composer-packages/irontec/ivoz-provider-bundle/.env
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer.lock
  library/psalm-baseline.xml
  microservices/balances/composer.lock
  microservices/balances/psalm-baseline.xml
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/recordings/psalm-baseline.xml
  microservices/scheduler/composer.lock
  microservices/scheduler/psalm-baseline.xml
  microservices/workers/composer.lock
  microservices/workers/psalm-baseline.xml
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/psalm-baseline.xml
  web/rest/client/composer.lock
  web/rest/client/psalm-baseline.xml
  web/rest/platform/composer.lock
  web/rest/platform/psalm-baseline.xml
  web/rest/user/composer.lock
  web/rest/user/psalm-baseline.xml
Labels: packaging, tests, core, dependencies, * halliday *

#1823 doc: updated client API changelog for 3.0.0
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: doc, * halliday *

#1808 kam: autogenerate Kamailio listeners file
  .gitignore
  debian/control
  debian/systemd/kamailio@.service
  kamailio/trunks/config/additional_addresses.cfg.in
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  profiles/proxy/etc/kamailio/autoconf
Labels: packaging, trunks, users, ci-no-tests, * halliday *

#1825 microservices: replace avconv with ffmpeg
  microservices/recordings/src/Recording/Encoder.php
  microservices/recordings/src/Service/Encoder.php
  microservices/workers/src/Worker/Multimedia.php
Labels: +bug, microservices, * halliday *

#1824 web client fix password save
  .gitignore
  web/client/src/entities/User/User.tsx
Labels: +bug, * halliday *, web/client

#1826 doc: update installation documentation for halliday
  doc/sphinx/basic_concepts/installation/debian_install.rst
  doc/sphinx/basic_concepts/installation/extra_components.rst
  doc/sphinx/basic_concepts/installation/requirements.rst
Labels: +enhancement, doc, * halliday *

#1828 Remove duplicate migrations in halliday
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.UserAbstract.orm.xml
  schema/DoctrineMigrations/Version00000000000000.php
  schema/DoctrineMigrations/Version20210607104602.php
  schema/DoctrineMigrations/Version20210708134307.php
  schema/DoctrineMigrations/Version20210729130714.php
  schema/DoctrineMigrations/Version20220207084804.php
  schema/DoctrineMigrations/Version20220207102413.php
  schema/DoctrineMigrations/Version20220303101103.php
  schema/DoctrineMigrations/Version20220322110232.php
  schema/initial.sql
Labels: +bug, schema, * halliday *

#1829 Upport brand currency mandatory
  library/Ivoz/Provider/Domain/Model/Brand/BrandAbstract.php
  library/Ivoz/Provider/Domain/Model/Brand/BrandInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Brand.BrandAbstract.orm.xml
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  library/spec/Ivoz/Provider/Domain/Model/Brand/BrandSpec.php
  schema/initial.sql
  schema/tests/Provider/Brand/BrandLifeCycleTest.php
  web/rest/platform/features/provider/brand/postBrands.feature
  web/rest/platform/features/provider/currency/getCurrency.feature
  web/rest/platform/features/provider/currency/postCurrency.feature
  web/rest/platform/features/provider/currency/putCurrency.feature
  web/rest/platform/features/provider/currency/removeCurrency.feature
Labels: schema, core, * halliday *, +upport

#1832 kamtrunks: use contact_addr uacreg field
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Service/TrunksUacreg/CreatedByDdiProviderRegistration.php
  schema/DoctrineMigrations/Version20220624114352.php
  schema/tests/Provider/DdiProviderRegistration/DdiProviderRegistrationLifeCycleTest.php
Labels: +enhancement, schema, trunks, core, * halliday *

#1837 kam: use rtimer instead of timer
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +bug, trunks, users, ci-no-tests, * halliday *

#1838 kamtrunks: remove duplicates from gws final avp
  kamailio/trunks/config/kamailio.cfg
Labels: +enhancement, trunks, ci-no-tests, * halliday *

#1836 kamtrunks: avoid gw failover on bounced calls
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, * artemis *, ci-no-tests

#1839 kamtrunks: avoid gw failover on bounced calls
  kamailio/trunks/config/kamailio.cfg
Labels: trunks, ci-no-tests, * halliday *, +upport

#1841 web/admin: fix Company creation/deletion ACLs
  web/admin/application/configs/klear/CompaniesList.yaml
Labels: +bug, web/admin, * artemis *

#1833 Import voicemail realtime script
  debian/control
  scripts/FSOVoicemailMessages.py
Labels: +enhancement, packaging, * halliday *

#1843 kamusers: skip options count in antiflood
  doc/sphinx/security_and_maintenance/security/antiflooding.rst
  kamailio/users/config/kamailio.cfg
Labels: doc, users, ci-no-tests, * halliday *, +upport

#1840 kamusers: make auth optional in retail and residential
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  kamailio/users/config/kamailio.cfg
  library/DataFixtures/ORM/ProviderResidentialDevice.php
  library/DataFixtures/ORM/ProviderRetailAccount.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDto.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.yml
  library/spec/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceSpec.php
  schema/DoctrineMigrations/Version20220627180555.php
  schema/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
  schema/tests/Provider/RetailAccount/RetailAccountLifeCycleTest.php
  web/admin/application/configs/klear/BrandResidentialDevicesList.yaml
  web/admin/application/configs/klear/ResidentialDevicesList.yaml
  web/admin/application/configs/klear/model/ResidentialDevices.yaml
  web/admin/application/configs/klear/model/RetailAccounts.yaml
  web/rest/brand/features/provider/residentialDevice/getResidentialDevice.feature
  web/rest/brand/features/provider/residentialDevice/postResidentialDevice.feature
  web/rest/brand/features/provider/residentialDevice/putResidentialDevice.feature
  web/rest/brand/features/provider/retailAccount/getRetailAccount.feature
  web/rest/brand/features/provider/retailAccount/postRetailAccount.feature
  web/rest/brand/features/provider/retailAccount/putRetailAccount.feature
Labels: +enhancement, doc, schema, users, core, web/admin, * artemis *
