Repository irontec/ivozprovider, pull requests merged in 2022-02, with the labels that each got.

#1703 agi: fix error handling in voicemail sender service
  asterisk/agi/src/MicroKernel.php
  asterisk/agi/src/Voicemail/Sender.php
Labels: +bug, agis, * artemis *

#1700 Random custom Music on Hold
  schema/DoctrineMigrations/Version20220121095227.php
Labels: +enhancement, schema, * artemis *

#1705 Updated composer dependencies
  asterisk/agi/composer.lock
  asterisk/agi/symfony.lock
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/User/User.php
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/balances/symfony.lock
  microservices/realtime/composer.lock
  microservices/realtime/symfony.lock
  microservices/recordings/composer.lock
  microservices/recordings/symfony.lock
  microservices/scheduler/composer.lock
  microservices/scheduler/symfony.lock
  microservices/workers/composer.lock
  microservices/workers/symfony.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/config/packages/security.yaml
  web/rest/brand/src/Controller/Auth/TokenExchangeAction.php
  web/rest/brand/src/Controller/My/ActiveCallsAction.php
  web/rest/brand/src/Controller/My/RegistrationSummaryAction.php
  web/rest/brand/symfony.lock
  web/rest/client/composer.lock
  web/rest/client/config/packages/security.yaml
  web/rest/client/src/Controller/Auth/TokenExchangeAction.php
  web/rest/client/symfony.lock
  web/rest/platform/composer.lock
  web/rest/platform/config/packages/security.yaml
  web/rest/platform/src/Controller/My/ActiveCallsAction.php
  web/rest/platform/symfony.lock
  web/rest/user/composer.lock
  web/rest/user/config/packages/security.yaml
  web/rest/user/phpstan-baseline.neon
  web/rest/user/src/Controller/My/PutProfileAction.php
  web/rest/user/symfony.lock
Labels: +bug, tests, core, * halliday *

#1708 kam_user_cdrs start_time index
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.yml
  schema/DoctrineMigrations/Version20220207102413.php
Labels: +enhancement, schema, * artemis *

#1706 schema: add primary key to BillableCallHistorics
  schema/DoctrineMigrations/Version20220207082635.php
Labels: +enhancement, schema, * artemis *

#1701 ci: add Jira notifications to Jenkinsfile
  Jenkinsfile
Labels: +feature, devops

#1710 Improved changelog
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Model/Changelog/Changelog.php
  library/Ivoz/Provider/Domain/Model/Changelog/ChangelogInterface.php
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: +bug, core, * artemis *

#1711 Portal sub sections
  web/client/public/index.html
  web/client/src/App.styles.tsx
  web/client/src/App.tsx
  web/client/src/components/AppRoutes.tsx
  web/client/src/components/Dashboard.tsx
  web/client/src/components/Dashboard/Dashboard.styles.tsx
  web/client/src/components/Dashboard/Dashboard.tsx
  web/client/src/components/Dashboard/index.ts
  web/client/src/entities/HuntGroupsRelUser/HuntGroupsRelUser.tsx
  web/client/src/entities/HuntGroupsRelUser/HuntGroupsRelUserProperties.tsx
  web/client/src/entities/index.ts
  web/client/src/index.tsx
  web/client/src/lib/components/List/Content/CTA/DeleteRowButton.tsx
  web/client/src/lib/components/List/Content/CTA/EditRowButton.tsx
  web/client/src/lib/components/List/Content/CTA/ViewRowButton.tsx
  web/client/src/lib/components/List/Content/Card/ContentCard.styles.tsx
  web/client/src/lib/components/List/Content/Card/ContentCard.tsx
  web/client/src/lib/components/List/Content/ListContent.tsx
  web/client/src/lib/components/List/Content/ListContentValue.tsx
  web/client/src/lib/components/List/Content/Shared/BuildLink.ts
  web/client/src/lib/components/List/Content/Shared/ChildEntityLinks.tsx
  web/client/src/lib/components/List/Content/Table/ContentTable.styles.tsx
  web/client/src/lib/components/List/Content/Table/ContentTable.tsx
  web/client/src/lib/components/List/Content/Table/ContentTableHead/ContentTableHead.tsx
  web/client/src/lib/components/List/Content/Table/ContentTableRow/ContentTableRow.tsx
  web/client/src/lib/components/List/Content/Table/ContentTableRow/index.ts
  web/client/src/lib/components/List/Filter/ContentFilter.tsx
  web/client/src/lib/components/List/Filter/ContentFilterSelector.tsx
  web/client/src/lib/components/List/List.tsx
  web/client/src/lib/components/layout/Breadcrumbs/Breadcrumbs.styles.tsx
  web/client/src/lib/components/layout/Breadcrumbs/Breadcrumbs.tsx
  web/client/src/lib/components/layout/Breadcrumbs/index.ts
  web/client/src/lib/components/layout/CollapsedBreadcrumbs.tsx
  web/client/src/lib/components/layout/Header.tsx
  web/client/src/lib/entities/DefaultEntityBehavior.styles.tsx
  web/client/src/lib/entities/DefaultEntityBehavior.tsx
  web/client/src/lib/entities/EntityInterface.ts
  web/client/src/lib/router/RouteContent.tsx
  web/client/src/lib/router/findRoute.tsx
  web/client/src/lib/router/parseRoutes.ts
  web/client/src/lib/router/parseRoutes.tsx
  web/client/src/lib/router/routeMapParser.ts
  web/client/src/lib/services/entity/EntityService.ts
  web/client/src/router/AppRouteContentWrapper/AppRouteContentWrapper.styles.tsx
  web/client/src/router/AppRouteContentWrapper/AppRouteContentWrapper.tsx
  web/client/src/router/AppRouteContentWrapper/index.ts
  web/client/src/router/AppRoutes.tsx
  web/client/src/router/EntityMap.tsx
  web/client/src/store/route.ts
Labels: +enhancement, * halliday *, web/client

#1709 Improved rerating
  library/DataFixtures/ORM/KamTrunksCdr.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/RerateCallService.php
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
Labels: tests, core, * artemis *

#1713 Updated API collection responses
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingDto.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesCondition/ConditionalRoutesConditionDto.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesConditionsRelMatchlist/ConditionalRoutesConditionsRelMatchlistDto.php
  library/Ivoz/Provider/Domain/Model/ConditionalRoutesConditionsRelRouteLock/ConditionalRoutesConditionsRelRouteLockDto.php
  library/Ivoz/Provider/Domain/Model/IvrEntry/IvrEntryDto.php
  web/rest/brand/features/provider/user/postUser.feature
  web/rest/brand/features/provider/user/postUserMassImport.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/callForwardSetting/getCallForwardSetting.feature
  web/rest/client/features/provider/conditionalRoutesCondition/getConditionalRoutesCondition.feature
  web/rest/client/features/provider/conditionalRoutesConditionsRelRouteLock/getConditionalRoutesConditionsRelRouteLock.feature
  web/rest/client/features/provider/conditionalRoutesConditionsRelRouteLock/postConditionalRoutesConditionsRelRouteLock.feature
  web/rest/client/features/provider/ivrEntry/getIvrEntry.feature
  web/rest/client/tests/DataAccessControl/Provider/HuntGroupsRelUserTest.php
Labels: tests, web/rest, * artemis *

#1714 core: User/SyncFromCsv assign new ddis to user
  library/Ivoz/Provider/Application/Service/User/SyncFromCsv.php
Labels: +bug, core, * artemis *

#1716 vPBX Users Location support
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/client/vpbx/user_configuration/index.rst
  doc/sphinx/administration_portal/client/vpbx/user_configuration/locations.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  library/DataFixtures/ORM/ProviderLocation.php
  library/DataFixtures/ORM/ProviderUser.php
  library/Ivoz/Provider/Domain/Model/Location/Location.php
  library/Ivoz/Provider/Domain/Model/Location/LocationAbstract.php
  library/Ivoz/Provider/Domain/Model/Location/LocationDto.php
  library/Ivoz/Provider/Domain/Model/Location/LocationDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Location/LocationInterface.php
  library/Ivoz/Provider/Domain/Model/Location/LocationRepository.php
  library/Ivoz/Provider/Domain/Model/Location/LocationTrait.php
  library/Ivoz/Provider/Domain/Model/User/UserAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/LocationDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Location.Location.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Location.LocationAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.UserAbstract.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20220217170946.php
  schema/composer.lock
  web/admin/application/configs/klear/LocationsList.yaml
  web/admin/application/configs/klear/UsersList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Locations.yaml
  web/admin/application/configs/klear/model/Users.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/location/getLocation.feature
  web/rest/client/features/provider/location/postLocation.feature
  web/rest/client/features/provider/location/putLocation.feature
  web/rest/client/features/provider/location/removeLocation.feature
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/user/putUser.feature
  web/rest/client/tests/DataAccessControl/Provider/UserTest.php
  web/rest/platform/composer.lock
Labels: +enhancement, doc, schema, tests, web/rest, web/admin, * artemis *

#1715 Add support for friend call forward settings
  asterisk/agi/config/services.yml
  asterisk/agi/src/Agi/Action/CallForwardAction.php
  asterisk/agi/src/Agi/Action/FriendCallAction.php
  asterisk/agi/src/Agi/Action/FriendStatusAction.php
  asterisk/agi/src/Dialplan/FriendStatus.php
  asterisk/agi/src/MicroKernel.php
  asterisk/config/dialplan/default.conf
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/index.rst
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendTrait.php
  library/Ivoz/Provider/Domain/Service/CallForwardSetting/CheckUniqueness.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallForwardSetting.CallForwardSettingAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.Friend.orm.yml
  schema/DoctrineMigrations/Version20220215153348.php
  web/admin/application/configs/klear/CallForwardSettingsList.yaml
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/model/CallForwardSettings.yaml
  web/rest/client/features/provider/callForwardSetting/postCallForwardSetting.feature
  web/rest/client/features/provider/callForwardSetting/putCallForwardSetting.feature
Labels: agis, doc, schema, core, * artemis *

#1719 kamtrunks: avoid inactivating gw if any reply received
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, * artemis *, ci-no-tests

#1718 kamusers: add P-Preferred-Identity support
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/retail/retail_accounts.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/remote_friends.rst
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, doc, users, * artemis *, ci-no-tests

#1720 kamtrunks: skip gw inactivation on bounced calls
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, * artemis *, ci-no-tests

#1721 core: trim passwords
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServer.php
  library/Ivoz/Provider/Domain/Model/DdiProviderRegistration/DdiProviderRegistration.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Domain/Model/Terminal/Terminal.php
Labels: +enhancement, core, * artemis *

#1722 core: updated symfony composer dependencies
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
Labels: core, * artemis *

#1712 doc: update changelog for 2.20.0
  ChangeLog
  web/rest/client/CHANGELOG.md
Labels: doc, !wip, * artemis *, ci-no-tests
