Repository irontec/ivozprovider, pull requests merged in 2022-09, with the labels that each got.

#1890 Show domain in API client responses
  library/Ivoz/Provider/Application/Service/Company/CompanyDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/client/features/provider/company/getCompany.feature
Labels: tests, web/rest, * artemis *

#1901 kamusers: no savp when talking to as
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, * artemis *, ci-no-tests

#1898 web/user: Hidden view button in Call List.
  web/portal/user/src/router/EntityMap.tsx
Labels: +bug, web/user, * halliday *

#1893 web/user: Renamed Call forward setting -> Call Forward Settings
  web/portal/user/src/entities/CallForwardSetting/CallForwardSetting.tsx
Labels: +bug, tests, web/user, * halliday *

#1904 Kamusers: minimize presence database usage
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, * artemis *, ci-no-tests

#1902 Terminal Provisioning: generic provision templates
  library/Ivoz/Provider/Domain/Model/TerminalModel/TerminalModelRepository.php
  library/Ivoz/Provider/Domain/Model/User/UserRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/TerminalModelDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  library/bin/cache-clear
  library/bin/cache-rm
  library/bin/composer-install
  library/bin/composer-remove
  library/bin/composer-update
  library/bin/test-app-console
  library/bin/test-phplint
  library/bin/test-phpstan
  library/bin/test-psalm
  library/bin/vendor-rm
  microservices/provision/config/routes.yaml
  microservices/provision/config/services.yaml
  microservices/provision/src/Controller/ProvisionController.php
  microservices/provision/src/Services/Provision.php
  microservices/provision/templates/.htaccess
  microservices/provision/templates/provisioning/SPA502G/generic.cfg
  microservices/provision/templates/provisioning/SPA502G/specific.cfg
  microservices/provision/templates/provisioning/SPA504G/generic.cfg
  microservices/provision/templates/provisioning/SPA504G/specific.cfg
  microservices/provision/templates/provisioning/SPA509G/generic.cfg
  microservices/provision/templates/provisioning/SPA509G/specific.cfg
  microservices/provision/templates/provisioning/SPA514G/generic.cfg
  microservices/provision/templates/provisioning/SPA514G/specific.cfg
  microservices/provision/templates/provisioning/SPA525G2/generic.cfg
  microservices/provision/templates/provisioning/SPA525G2/specific.cfg
  microservices/provision/templates/provisioning/SnomD375/generic.cfg
  microservices/provision/templates/provisioning/SnomD375/specific.cfg
  microservices/provision/templates/provisioning/SnomD717/generic.cfg
  microservices/provision/templates/provisioning/SnomD717/specific.cfg
  microservices/provision/templates/provisioning/SnomD735/generic.cfg
  microservices/provision/templates/provisioning/SnomD735/specific.cfg
  microservices/provision/templates/provisioning/SnomD785/generic.cfg
  microservices/provision/templates/provisioning/SnomD785/specific.cfg
  microservices/provision/templates/provisioning/YealinkT21P/generic.cfg
  microservices/provision/templates/provisioning/YealinkT21P/specific.cfg
  microservices/provision/templates/provisioning/YealinkT21P_E2/generic.cfg
  microservices/provision/templates/provisioning/YealinkT21P_E2/specific.cfg
  microservices/provision/templates/provisioning/YealinkT23P/generic.cfg
  microservices/provision/templates/provisioning/YealinkT23P/specific.cfg
  microservices/provision/templates/provisioning/YealinkT27P/generic.cfg
  microservices/provision/templates/provisioning/YealinkT27P/specific.cfg
  microservices/provision/templates/provisioning/YealinkT46G/generic.cfg
  microservices/provision/templates/provisioning/YealinkT46G/specific.cfg
  microservices/provision/templates/provisioning/YealinkT48G/generic.cfg
  microservices/provision/templates/provisioning/YealinkT48G/specific.cfg
  microservices/provision/templates/provisioning/YealinkW5XP/generic.cfg
  microservices/provision/templates/provisioning/YealinkW5XP/specific.cfg
  schema/tests/Provider/TerminalModel/TerminalModelRepositoryTest.php
  schema/tests/Provider/User/UserRepositoryTest.php
Labels: +enhancement, core, microservices, * halliday *

#1908 Updated ivoz-ui
  web/portal/client/package.json
  web/portal/client/yarn.lock
Labels: +feature, * halliday *, portal/client
