Repository irontec/ivozprovider, pull requests merged in 2023-05, with the labels that each got.

#2241 kamusers: fix caller/callee in click2dial calls
  asterisk/config/dialplan/click2dial.conf
  asterisk/config/modules.conf
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, ci-no-tests, * halliday *

#2242 web/admin: fixed residential client forced values
  web/admin/application/configs/klear/ResidentialClientsList.yaml
Labels: +bug, web/admin

#2240 Add corporations klear screens and documentation
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/administration_portal/brand/settings/corporations.rst
  doc/sphinx/administration_portal/brand/settings/index.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/friends/internal_friends.rst
  web/admin/application/configs/klear/CompaniesList.yaml
  web/admin/application/configs/klear/CorporationsList.yaml
  web/admin/application/configs/klear/FriendsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/Corporations.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Filter/FriendInterCompany.php
Labels: +enhancement, i18n, web/admin, * halliday *, ci-force-tests

#2244 Moved Invoice to General section.
  web/portal/client/src/router/EntityMap.ts
Labels: portal/client

#2246 Fix new portals prod build
  web/portal/brand/vite.config.ts
  web/portal/client/vite.config.ts
  web/portal/package.json
  web/portal/platform/vite.config.ts
  web/portal/user/vite.config.ts
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2249 Web portal refactoring
  web/portal/brand/src/entities/CallCsvScheduler/Form.tsx
  web/portal/brand/src/entities/Company/ClientFeatures.ts
  web/portal/brand/src/entities/Company/Field/TypeIcon.tsx
  web/portal/brand/src/entities/Company/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Company/Form.tsx
  web/portal/brand/src/entities/Company/genericCompanyForeignKeyResolver.ts
  web/portal/brand/src/entities/Ddi/Field/RouteType.tsx
  web/portal/brand/src/entities/Feature/SelectOptions/ResidentialSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/RetailFeatureSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/SelectOptions.ts
  web/portal/brand/src/entities/Retail/Form.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/platform/src/entities/Brand/Brand.tsx
Labels: +enhancement, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2255 Billable call price column
  web/portal/client/src/entities/BillableCall/BillableCall.tsx
  web/portal/client/src/store/index.ts
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, * halliday *, portal/client, ci-force-tests-front

#2254 Hide company fields by billing feature
  web/portal/brand/src/entities/Company/Form.tsx
  web/portal/brand/src/router/EntityMap.ts
Labels: +bug, * halliday *, portal/brand

#2251 Fixed impersonate regression
  web/portal/brand/src/components/Login.tsx
  web/portal/brand/src/router/AppRoutesGuard.tsx
  web/portal/brand/src/store/clientSession/aboutMe.ts
  web/portal/client/src/components/Login.tsx
  web/portal/client/src/router/AppRoutesGuard.tsx
  web/portal/platform/src/components/Login.tsx
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2253 Carrier calculate cost
  library/DataFixtures/ORM/ProviderCarrier.php
  library/Ivoz/Provider/Domain/Model/Carrier/Carrier.php
  web/portal/brand/src/entities/Carrier/Form.tsx
Labels: +bug, +enhancement, core, portal/brand

#2250 Added lifecycle for avoiding nested features removal.
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/FeaturesRelCompany/FeaturesRelCompanyRepository.php
  library/Ivoz/Provider/Domain/Service/FeaturesRelBrand/AvoidFeaturesInUseRemoval.php
  library/Ivoz/Provider/Domain/Service/FeaturesRelBrand/FeaturesRelBrandLifecycleServiceCollection.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/FeaturesRelCompanyDoctrineRepository.php
  schema/tests/Provider/Company/CompanyRepositoryTest.php
  schema/tests/Provider/FeaturesRelCompany/FeaturesRelCompanyRepositoryTest.php
  web/rest/platform/features/provider/featuresRelBrand/removeFeaturesRelBrand.feature
Labels: tests, core

#2248 Added fields restrictions to Friend web entity.
  web/portal/client/src/entities/Friend/Form.tsx
  web/portal/client/src/entities/Friend/Friend.tsx
Labels: portal/client
