Repository irontec/ivozprovider, pull requests merged in 2023-06, with the labels that each got.

#2256 Current day usage custom fields
  library/Ivoz/Provider/Domain/Assembler/Company/CompanyDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  library/Ivoz/Provider/Domain/Service/Company/CompanyBalanceServiceInterface.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/cgrates.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  web/portal/brand/bin/test-lint
  web/portal/brand/src/entities/Company/CompanyProperties.ts
  web/portal/brand/src/entities/CompanyCurrentDayUsage/CompanyCurrentDayUsage.tsx
  web/portal/client/bin/test-lint
  web/portal/platform/bin/test-lint
  web/portal/user/bin/test-lint
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/platform/features/provider/company/getCompany.feature
Labels: +bug, +enhancement, core, rest/brand

#2259 Delete double check
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/platform/src/entities/Brand/Brand.tsx
Labels: +enhancement, portal/client, portal/brand

#2261 Regenerate invoice button
  web/portal/brand/src/entities/Invoice/Action/Regenerate.tsx
  web/portal/brand/src/entities/Invoice/Action/index.ts
  web/portal/brand/src/entities/Invoice/Invoice.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +feature, * halliday *, portal/brand

#2264 Unban brute force attack IP
  web/portal/brand/src/entities/BannedAddressBruteForce/Action/Unban.tsx
  web/portal/brand/src/entities/BannedAddressBruteForce/Action/index.ts
  web/portal/brand/src/entities/BannedAddressBruteForce/BannedAddressBruteForce.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +feature, * halliday *, portal/brand

#2266 Destinationset group importer
  web/portal/brand/src/entities/DestinationRateGroup/Action/ImportRates.tsx
  web/portal/brand/src/entities/DestinationRateGroup/Action/ImportRatesMappingTable.tsx
  web/portal/brand/src/entities/DestinationRateGroup/Action/index.ts
  web/portal/brand/src/entities/DestinationRateGroup/DestinationRateGroup.tsx
  web/portal/brand/src/entities/DestinationRateGroup/Form.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/package.json
  web/portal/yarn.lock
Labels: +feature, * halliday *, portal/brand, ci-force-tests-front

#2263 Portal brand add remove customer carriers balances prepaid pseudoprepaid
  web/portal/brand/src/entities/Carrier/Action/BalanceOperations.tsx
  web/portal/brand/src/entities/Carrier/Action/index.ts
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/entities/CompanyBalances/Action/BalanceOperations.tsx
  web/portal/brand/src/entities/CompanyBalances/Action/index.ts
  web/portal/brand/src/entities/CompanyBalances/CompanyBalances.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/features/provider/carrier/postModifyCarrierBalance.feature
  web/rest/brand/features/provider/company/postModifyCompanyBalance.feature
Labels: +feature, tests, core, * halliday *, portal/brand

#2267 Update ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: +enhancement, portal/user, portal/client, portal/brand, portal/platform

#2271 Upgrade ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2272 Fixed corporation form
  web/portal/brand/src/entities/Corporation/Corporation.tsx
  web/portal/brand/src/entities/Corporation/Form.tsx
Labels: +bug, * halliday *, portal/brand

#2273 Remove recordings microservice duplicated service
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/recordings/src/Recording/Encoder.php
  microservices/recordings/src/Service/Encoder.php
  microservices/recordings/symfony.lock
Labels: +bug, microservices, * halliday *

#2283 Web platform media relays 0 as default value in name attribute when you create a media relay set
  library/Ivoz/Provider/Domain/Model/MediaRelaySet/MediaRelaySetAbstract.php
  library/Ivoz/Provider/Domain/Model/MediaRelaySet/MediaRelaySetDtoAbstract.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/MediaRelaySet.MediaRelaySetAbstract.orm.xml
  schema/DoctrineMigrations/Version20230621151043.php
Labels: schema, core

#2281 Hidded some non required columns
  web/portal/brand/src/entities/Residential/Residential.tsx
Labels: portal/brand

#2280 Web client retail account missing multiple fields
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDto.php
  web/portal/client/src/entities/RetailAccount/Form.tsx
  web/portal/client/src/entities/RetailAccount/RetailAccount.tsx
  web/portal/client/src/router/EntityMap.ts
Labels: core, portal/client

#2268 portal/platform: Updated translations in all languages
  Jenkinsfile
  web/portal/platform/src/components/ActiveCalls/ActiveCallsTable.tsx
  web/portal/platform/src/entities/AdministratorRelPublicEntity/AdministratorRelPublicEntity.tsx
  web/portal/platform/src/entities/ApplicationServer/ApplicationServer.tsx
  web/portal/platform/src/entities/BannedAddress/BannedAddress.tsx
  web/portal/platform/src/entities/BillableCall/BillableCall.tsx
  web/portal/platform/src/entities/Brand/Action/Impersonate.tsx
  web/portal/platform/src/entities/Brand/Brand.tsx
  web/portal/platform/src/entities/Brand/Form.tsx
  web/portal/platform/src/entities/Ddi/Ddi.tsx
  web/portal/platform/src/entities/DdiProvider/DdiProvider.tsx
  web/portal/platform/src/entities/Domain/Domain.tsx
  web/portal/platform/src/entities/NotificationTemplate/NotificationTemplate.tsx
  web/portal/platform/src/entities/NotificationTemplateContent/NotificationTemplateContent.tsx
  web/portal/platform/src/entities/ProxyTrunk/ProxyTrunk.tsx
  web/portal/platform/src/entities/ProxyUser/ProxyUser.tsx
  web/portal/platform/src/entities/PublicEntity/PublicEntity.tsx
  web/portal/platform/src/entities/TerminalManufacturer/TerminalManufacturer.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
Labels: +enhancement, i18n, * halliday *, portal/platform

#2278 Fixed residential external call filters
  web/portal/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
  web/portal/client/src/entities/ExternalCallFilter/Form.tsx
Labels: +bug, * halliday *, portal/client

#2282 Filter web portal list
  web/portal/platform/src/router/EntityMap.ts
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/provider/webPortal/putWebPortal.feature
  web/rest/platform/features/provider/webPortal/removeWebPortal.feature
Labels: +bug, * halliday *, portal/platform, rest/platform

#2274 Update PsIdentify when owner entity changes
  library/Ivoz/Ast/Domain/Service/PsIdentify/UpdateByFriend.php
  library/Ivoz/Ast/Domain/Service/PsIdentify/UpdateByResidentialDevice.php
  library/Ivoz/Ast/Domain/Service/PsIdentify/UpdateByRetailAccount.php
  library/Ivoz/Ast/Domain/Service/PsIdentify/UpdateByTerminal.php
  schema/tests/Provider/Friend/FriendLifeCycleTest.php
  schema/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
  schema/tests/Provider/RetailAccount/RetailAccountLifeCycleTest.php
  schema/tests/Provider/Terminal/TerminalLifeCycleTest.php
Labels: +bug, core, * halliday *

#2277 portal/client: Updated translations in all languages
  Jenkinsfile
  web/portal/client/bin/test-i18n
  web/portal/client/package.json
  web/portal/client/src/components/ActiveCalls/ActiveCalls.tsx
  web/portal/client/src/entities/ActiveCalls/ActiveCalls.tsx
  web/portal/client/src/entities/CalendarPeriod/CalendarPeriod.tsx
  web/portal/client/src/entities/CalendarPeriodsRelSchedule/CalendarPeriodsRelSchedule.tsx
  web/portal/client/src/entities/CallAcl/CallAcl.tsx
  web/portal/client/src/entities/CallAclRelMatchList/CallAclRelMatchList.tsx
  web/portal/client/src/entities/CallCsvReport/CallCsvReport.tsx
  web/portal/client/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
  web/portal/client/src/entities/CallForwardSetting/CallForwardSetting.tsx
  web/portal/client/src/entities/Company/Company.tsx
  web/portal/client/src/entities/CompanyService/CompanyService.tsx
  web/portal/client/src/entities/ConditionalRoute/ConditionalRoute.tsx
  web/portal/client/src/entities/ConditionalRoutesCondition/ConditionalRoutesCondition.tsx
  web/portal/client/src/entities/ConferenceRoom/ConferenceRoom.tsx
  web/portal/client/src/entities/Contact/Contact.tsx
  web/portal/client/src/entities/Country/Country.tsx
  web/portal/client/src/entities/Ddi/Ddi.tsx
  web/portal/client/src/entities/Extension/Extension.tsx
  web/portal/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
  web/portal/client/src/entities/ExternalCallFilter/Form.tsx
  web/portal/client/src/entities/FaxesInOut/FaxesInOut.tsx
  web/portal/client/src/entities/FeaturesRelCompany/FeaturesRelCompany.tsx
  web/portal/client/src/entities/Friend/Field/StatusIcon.tsx
  web/portal/client/src/entities/Friend/Friend.tsx
  web/portal/client/src/entities/FriendsPattern/FriendsPattern.tsx
  web/portal/client/src/entities/HolidayDate/HolidayDate.tsx
  web/portal/client/src/entities/HuntGroup/HuntGroup.tsx
  web/portal/client/src/entities/HuntGroupMember/HuntGroupMember.tsx
  web/portal/client/src/entities/Invoice/Invoice.tsx
  web/portal/client/src/entities/Ivr/Ivr.tsx
  web/portal/client/src/entities/IvrEntry/IvrEntry.tsx
  web/portal/client/src/entities/Locution/Locution.tsx
  web/portal/client/src/entities/MatchListPattern/MatchListPattern.tsx
  web/portal/client/src/entities/OutgoingDdiRulesPattern/Field/ForcedDdi.tsx
  web/portal/client/src/entities/OutgoingDdiRulesPattern/Field/ForcedDdiStr.tsx
  web/portal/client/src/entities/OutgoingDdiRulesPattern/OutgoingDdiRulesPattern.tsx
  web/portal/client/src/entities/PickUpGroup/PickUpGroup.tsx
  web/portal/client/src/entities/Queue/Queue.tsx
  web/portal/client/src/entities/QueueMember/QueueMember.tsx
  web/portal/client/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/client/src/entities/RatingProfile/RatingProfile.tsx
  web/portal/client/src/entities/Recording/Recording.tsx
  web/portal/client/src/entities/ResidentialDevice/ResidentialDevice.tsx
  web/portal/client/src/entities/RetailAccount/Field/StatusIcon.tsx
  web/portal/client/src/entities/RetailAccount/RetailAccount.tsx
  web/portal/client/src/entities/RoutingTag/RoutingTag.tsx
  web/portal/client/src/entities/Terminal/Terminal.tsx
  web/portal/client/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/entities/UsersCdr/UsersCdr.tsx
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
  web/portal/client/src/entities/VoicemailMessage/View.tsx
  web/portal/client/src/entities/VoicemailMessage/VoicemailMessage.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +enhancement, i18n, * halliday *, portal/client

#2287 portal/user: Updated translations in all languages
  Jenkinsfile
  web/portal/user/bin/test-i18n
  web/portal/user/i18next-parser.config.mjs
  web/portal/user/package.json
  web/portal/user/src/components/Header/MenuItems/MenuItems.tsx
  web/portal/user/src/entities/Account/Account.tsx
  web/portal/user/src/entities/CallForwardSetting/CallForwardSetting.tsx
  web/portal/user/src/entities/Country/Country.tsx
  web/portal/user/src/entities/Preferences/Preferences.tsx
  web/portal/user/src/entities/User/User.tsx
  web/portal/user/src/entities/UsersCdr/UsersCdr.tsx
  web/portal/user/src/translations/ca.json
  web/portal/user/src/translations/en.json
  web/portal/user/src/translations/es.json
  web/portal/user/src/translations/it.json
Labels: +enhancement, i18n, portal/user, * halliday *

#2286 Added to string into RetailAccount entity
  web/portal/client/src/entities/RetailAccount/RetailAccount.tsx
Labels: +bug, * halliday *, portal/client

#2275 Fixed client forms
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/brand/src/entities/Company/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Company/Form.tsx
  web/portal/brand/src/entities/Residential/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Residential/Residential.tsx
  web/portal/brand/src/entities/Retail/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Retail/Form.tsx
  web/portal/brand/src/entities/Retail/Retail.tsx
  web/portal/brand/src/entities/Wholesale/Form.tsx
  web/portal/brand/src/entities/Wholesale/Wholesale.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +bug, * halliday *, portal/brand

#2284 Fixed unused title
  web/portal/client/src/components/ActiveCalls/ActiveCalls.tsx
Labels: +bug, * halliday *, portal/client

#2285 Modified columns in Faxes Out entity.
  web/portal/client/src/entities/FaxesInOut/FaxesInOut.tsx
  web/portal/client/src/entities/FaxesInOut/FaxesInOutProperties.tsx
  web/portal/client/src/entities/FaxesOut/FaxesOut.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +bug, * halliday *, portal/client

#2288 User CFS filter issues
  library/Ivoz/Provider/Domain/Model/CallForwardSetting/CallForwardSettingRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CallForwardSettingDoctrineRepository.php
  web/portal/package.json
  web/portal/user/src/components/Header/Avatar/Avatar.tsx
  web/portal/user/src/components/Header/MenuItems/MenuItems.tsx
  web/portal/user/src/components/Header/useTerminalStatus.ts
  web/portal/yarn.lock
  web/rest/user/config/api/raw/provider.yml
  web/rest/user/phpstan-baseline.neon
  web/rest/user/psalm-baseline.xml
  web/rest/user/psalm.xml
  web/rest/user/src/Controller/My/CallForwardSettingsAction.php
  web/rest/user/src/Controller/My/CallHistoryAction.php
  web/rest/user/src/Controller/My/FilterCollectionTrait.php
Labels: +bug, portal/user, rest/user

#2292 Impersonate enhancements
  web/portal/brand/src/entities/BillableCall/Action/index.ts
  web/portal/brand/src/entities/Company/Action/Impersonate.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/package.json
  web/portal/platform/src/entities/Brand/Action/Impersonate.tsx
  web/portal/platform/src/router/EntityMap.ts
  web/portal/yarn.lock
Labels: +enhancement, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2291 Fixed residential external call filter issues
  web/admin/application/configs/klear/ExternalCallFiltersResidentialList.yaml
  web/admin/application/configs/klear/model/CalendarPeriods.yaml
  web/admin/application/configs/klear/model/ExternalCallFilters.yaml
  web/admin/application/configs/klear/model/ExternalCallFiltersResidential.yaml
  web/admin/application/configs/klear/model/HolidayDates.yaml
  web/admin/application/configs/klear/model/HolidayDatesRange.yaml
Labels: +bug, web/admin, * halliday *, ci-force-tests-back

#2290 Menu rearrange
  web/portal/brand/src/router/EntityMap.ts
  web/portal/client/src/router/EntityMap.ts
Labels: +bug, * halliday *, portal/client, portal/brand

#2293 Fixed user portal hangs
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, * halliday *, ci-force-tests-front

#2295 Filter platform web portals properly
  web/portal/platform/src/router/EntityMap.ts
Labels: +bug, * halliday *, portal/platform

#2296 Fixed random page hangs on reload
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, * halliday *, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2294 Add toggle to configure Webportal default interface (new or classic)
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/WebPortal.WebPortalAbstract.orm.xml
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  schema/DoctrineMigrations/Version20230626081909.php
  web/admin/application/configs/klear/BrandPortalsList.yaml
  web/admin/application/configs/klear/ClientPortalsList.yaml
  web/admin/application/configs/klear/PlatformPortalsList.yaml
  web/admin/application/configs/klear/model/CompanyPortals.yaml
  web/admin/application/configs/klear/model/WebPortals.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Dynamic/Builder.php
  web/admin/public/.htaccess
  web/portal/brand/src/entities/WebPortal/Form.tsx
  web/portal/brand/src/entities/WebPortal/WebPortal.tsx
  web/portal/brand/src/entities/WebPortal/WebPortalProperties.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/platform/src/entities/WebPortal/Form.tsx
  web/portal/platform/src/entities/WebPortal/WebPortal.tsx
  web/portal/platform/src/entities/WebPortal/WebPortalProperties.ts
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
  web/rest/brand/features/provider/webPortal/getWebPortal.feature
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/brand/features/provider/webPortal/putWebPortal.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/provider/webPortal/putWebPortal.feature
Labels: +enhancement, i18n, schema, core, web/admin, * halliday *, portal/brand, portal/platform

#2300 In Ddis If assigned an external call filter it cannot be unlinked afterwards
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  web/portal/client/src/entities/Ddi/Ddi.tsx
Labels: core, portal/client

#2305 CallForwardSettings visible outside three dots of options
  web/portal/client/src/router/EntityMap.ts
Labels: +bug, portal/client

#2303 Email should be required if sendByEmail is activated
  web/portal/client/src/entities/Fax/Fax.tsx
Labels: portal/client

#2301 API querystring filter issues
  asterisk/agi/composer.lock
  library/composer.lock
  microservices/balances/composer.lock
  microservices/provision/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/platform/features/querystringFilters.feature
  web/rest/user/composer.lock
Labels: +bug, * halliday *, rest/platform, rest/brand, rest/client, rest/user, ci-force-tests-front

#2304 Ignore internal admin timezones in UserTimezoneInjector
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorInterface.php
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorRepository.php
  library/Ivoz/Provider/Infrastructure/Api/Timezone/UserTimezoneInjector.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorDoctrineRepository.php
  schema/tests/Provider/Administrator/AdministratorRepositoryTest.php
Labels: core, web/rest, * halliday *, ci-force-tests-back

#2298 Brand admin issues
  library/composer.lock
  microservices/realtime/composer.lock
  web/portal/platform/src/entities/Administrator/Administrator.tsx
  web/portal/platform/src/router/EntityMap.ts
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/administrator/getAdministrators.feature
  web/rest/platform/features/provider/administratorRelPublicEntities/getAdministratorRelPublicEntities.feature
  web/rest/platform/features/querystringFilters.feature
  web/rest/user/composer.lock
Labels: +bug, * halliday *, portal/platform

#2308 Include ivoz UI translations
  web/portal/brand/src/translations/index.js
  web/portal/client/src/translations/index.js
  web/portal/package.json
  web/portal/platform/src/translations/index.js
  web/portal/user/src/translations/index.js
  web/portal/yarn.lock
Labels: portal/user, * halliday *, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2297 Avoid use of some features in certain type of clients.
  web/portal/brand/src/entities/Company/ClientFeatures.ts
  web/portal/brand/src/entities/Company/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Company/Form.tsx
  web/portal/brand/src/entities/Feature/SelectOptions/ResidentialFeatureSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/RetailFeatureSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/index.ts
Labels: +bug, * halliday *, portal/brand

#2312 Fixed destination issues
  web/portal/brand/src/entities/Destination/Destination.tsx
  web/portal/brand/src/entities/Destination/Form.tsx
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, * halliday *, portal/client, portal/brand, portal/platform
