Repository irontec/ivozprovider, pull requests merged in 2023-09, with the labels that each got.

#2353 Unify useAclFilteredEntityMap hook
  web/portal/brand/src/router/useAclFilteredEntityMap.tsx
  web/portal/client/src/router/useAclFilteredEntityMap.tsx
  web/portal/platform/src/router/useAclFilteredEntityMap.tsx
Labels: +enhancement, portal/client, portal/brand, portal/platform

#2359 Reset daily usage counter issues
  microservices/balances/bin/reset-daily-usage-counter
  microservices/balances/bin/sync
  microservices/balances/config/routes.yaml
  microservices/recordings/bin/recordings-encoder
  microservices/scheduler/bin/run-billable-calls
  microservices/scheduler/bin/run-billable-calls-historic
  microservices/scheduler/bin/run-call-csv-to-email
  microservices/scheduler/bin/run-invoice-scheduler
  microservices/scheduler/bin/run-voicemail-messages
  microservices/workers/bin/asterisk-dialplan-reload
  microservices/workers/bin/asterisk-hint-update
  microservices/workers/bin/cgrates-reloader
  microservices/workers/bin/invoicer
  microservices/workers/bin/kam-rpc-delayed
  microservices/workers/bin/kam-rpc-request
  microservices/workers/bin/multimedia-encoder
  microservices/workers/bin/rates-import
Labels: +bug, core, microservices, * halliday *

#2358 Added condition to be able to work with regexp type
  web/portal/brand/src/entities/MatchListPattern/Field/MatchValue.tsx
Labels: +bug, * halliday *, portal/brand

#2356 Feature iden constants
  library/DataFixtures/Stub/Ast/PsEndpointStub.php
  library/DataFixtures/Stub/Ast/VoicemailStub.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/Carrier/Carrier.php
  library/Ivoz/Provider/Domain/Model/Feature/Feature.php
  library/Ivoz/Provider/Domain/Traits/RoutableTrait.php
  microservices/workers/src/Worker/Invoices.php
  schema/tests/Provider/Company/CompanyLifeCycleTest.php
  web/rest/brand/src/Controller/Provider/Carrier/ModifyCarrierBalanceAction.php
  web/rest/brand/src/Controller/Provider/Company/ModifyCompanyBalanceAction.php
  web/rest/client/src/Controller/My/ProfileAction.php
Labels: +enhancement, schema, core, * halliday *, rest/brand, rest/client

#2360 Fixed api array filters
  library/composer.lock
  web/rest/platform/features/querystringFilters.feature
Labels: +bug, tests, core, * halliday *

#2361 portal: upgrade ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: +feature, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2362 Fast search on foreign keys
  web/portal/package.json
  web/portal/yarn.lock
Labels: +feature, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2364 Fixed translation issues
  web/portal/brand/src/entities/Language/Language.tsx
  web/portal/brand/src/entities/Service/Service.tsx
Labels: +bug, * halliday *, portal/brand

#2354 Updated public entities
  schema/DoctrineMigrations/Version20230817114147.php
Labels: +bug, schema

#2365 Rating profile simulate call
  library/Ivoz/Provider/Application/Service/RatingProfile/SimulateCallByRatingProfile.php
  web/portal/brand/src/entities/RatingProfile/Action/SimulateCall.tsx
  web/portal/brand/src/entities/RatingProfile/Action/index.ts
  web/portal/brand/src/entities/RatingProfile/RatingProfile.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +feature, * halliday *, portal/brand

#2367 Change logos ivoz provider
  README.md
  web/admin/application/configs/klear/klear.yaml
  web/admin/public/images/irontec.png
  web/admin/public/images/logoprovider.png
  web/portal/brand/public/logo.svg
  web/portal/client/public/logo.svg
  web/portal/package.json
  web/portal/platform/public/logo.svg
  web/portal/yarn.lock
Labels: +enhancement, core, web/admin, portal/client, portal/brand, portal/platform

#2366 Rating plan group simulate call
  library/Ivoz/Provider/Application/Service/RatingPlanGroup/SimulateCallByRatingPlanGroup.php
  web/portal/brand/src/entities/RatingPlanGroup/Action/SimulateCall.tsx
  web/portal/brand/src/entities/RatingPlanGroup/Action/index.ts
  web/portal/brand/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/brand/src/router/EntityMap.ts
Labels: +feature, * halliday *, portal/brand

#2371 Halliday date range
  library/Ivoz/Provider/Application/Service/HolidayDate/CreateHolidayDateRange.php
  library/Ivoz/Provider/Domain/Model/HolidayDate/HolidayDateRange.php
  web/portal/client/bin/generate-entity
  web/portal/client/src/entities/Calendar/Calendar.tsx
  web/portal/client/src/entities/HolidayDate/Action/AddHolidayDateRange.tsx
  web/portal/client/src/entities/HolidayDate/Action/index.ts
  web/portal/client/src/entities/HolidayDate/Form.tsx
  web/portal/client/src/entities/HolidayDate/HolidayDate.tsx
  web/portal/client/src/entities/HolidayDateRange/ForeignKeyGetter.tsx
  web/portal/client/src/entities/HolidayDateRange/Form.tsx
  web/portal/client/src/entities/HolidayDateRange/HolidayDateRange.tsx
  web/portal/client/src/entities/HolidayDateRange/HolidayDateRangeProperties.ts
  web/portal/client/src/router/EntityMap.ts
  web/portal/client/src/router/addCustomRoutes.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/portal/package.json
  web/portal/yarn.lock
  web/rest/client/features/provider/holidayDate/postHolidayDateRange.feature
  web/rest/client/psalm-baseline.xml
  web/rest/client/src/Controller/Provider/CreateHolidayDatesAction.php
Labels: +feature, * halliday *, portal/client, rest/client

#2368 Billable calls rerate
  web/portal/brand/src/entities/BillableCall/Action/Rerate.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +feature, * halliday *, portal/brand

#2370 Added childDecorator as argument of Voicemails
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
Labels: portal/client

#2376 Contact menu rename
  web/portal/client/src/router/EntityMap.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +bug, * halliday *, portal/client

#2374 Recordings conversion error handling
  microservices/recordings/src/Recording/Encoder.php
Labels: +bug, microservices, * artemis *

#2381 microservices: properly handle recordings conversion errors
  microservices/recordings/src/Service/Encoder.php
Labels: +bug, microservices, * halliday *, +upport

#2378 Make newUI default value in WebPortals
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDtoAbstract.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/WebPortal.WebPortalAbstract.orm.xml
  schema/DoctrineMigrations/Version20230918140953.php
  web/rest/brand/features/provider/webPortal/getWebPortal.feature
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/brand/features/provider/webPortal/putWebPortal.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
Labels: +feature, schema, * halliday *

#2384 Fixed dashboard styles in small devices
  web/portal/brand/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/client/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/user/src/components/Dashboard/Dashboard.styles.tsx
Labels: +bug, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2385 Invoice template preview backend issues
  library/Ivoz/Provider/Domain/Service/InvoiceTemplate/InvoiceTemplatePreviewGenerator.php
  tests/docker/Dockerfile
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/features/provider/invoiceTemplate/getInvoiceTemplatePreview.feature
  web/rest/brand/src/Controller/Provider/InvoiceTemplatePreviewAction.php
  web/rest/platform/composer.json
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/config/routes.yaml
  web/rest/platform/features/provider/invoiceTemplate/getInvoiceTemplatePreview.feature
  web/rest/platform/src/Controller/Provider/InvoiceTemplatePreviewAction.php
Labels: +bug, +feature, * halliday *, rest/platform, rest/brand

#2387 Invoice template preview [frontend]
  web/portal/brand/src/entities/InvoiceTemplate/Action/Preview.tsx
  web/portal/brand/src/entities/InvoiceTemplate/Action/index.ts
  web/portal/brand/src/entities/InvoiceTemplate/InvoiceTemplate.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/platform/src/entities/InvoiceTemplate/Action/Preview.tsx
  web/portal/platform/src/entities/InvoiceTemplate/Action/index.ts
  web/portal/platform/src/entities/InvoiceTemplate/InvoiceTemplate.tsx
  web/portal/platform/src/router/EntityMap.ts
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
Labels: +feature, * halliday *, portal/brand, portal/platform

#2383 Domain based portal router
  debian/control
  debian/ivozprovider-router.install
  debian/ivozprovider-router.postinst
  debian/rules
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/WebPortalDoctrineRepository.php
  microservices/router/.env
  microservices/router/.env.test
  microservices/router/.gitignore
  microservices/router/bin/console
  microservices/router/composer.json
  microservices/router/composer.lock
  microservices/router/config/bootstrap.php
  microservices/router/config/bundles.php
  microservices/router/config/packages/cache.yaml
  microservices/router/config/packages/doctrine.yaml
  microservices/router/config/packages/framework.yaml
  microservices/router/config/packages/lexik_jwt_authentication.yaml
  microservices/router/config/packages/monolog.yml
  microservices/router/config/packages/prod/deprecations.yaml
  microservices/router/config/packages/prod/doctrine.yaml
  microservices/router/config/packages/prod/routing.yaml
  microservices/router/config/packages/security.yaml
  microservices/router/config/packages/test/framework.yaml
  microservices/router/config/packages/test/twig.yaml
  microservices/router/config/packages/translation.yaml
  microservices/router/config/packages/twig.yaml
  microservices/router/config/routes.yaml
  microservices/router/config/routes/dev/twig.yaml
  microservices/router/config/services.yaml
  microservices/router/phpstan-baseline.neon
  microservices/router/phpstan.neon
  microservices/router/psalm-baseline.xml
  microservices/router/psalm.xml
  microservices/router/public/index.php
  microservices/router/src/Kernel.php
  microservices/router/src/RouterController.php
  microservices/router/translations/.gitignore
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
  schema/tests/Provider/WebPortal/WebPortalRepositoryTest.php
  web/admin/application/Bootstrap.php
  web/admin/application/configs/application.ini
  web/admin/application/configs/klear/klear.yaml
  web/admin/public/.htaccess
  web/admin/public/zf.php
Labels: +enhancement, packaging, web/admin, portal/user, * halliday *, portal/client, portal/brand, portal/platform, ci-force-tests

#2379 Back web client import holidays
  library/Ivoz/Provider/Application/Service/HolidayDate/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Service/HolidayDate/HolidayDateFactory.php
  web/rest/client/config/api/resources.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/provider/holidayDate/postHolidayDateMassImport.feature
  web/rest/client/src/Controller/Provider/PostHolidaysMassImportAction.php
  web/rest/client/src/Model/HolidaysMassImport.php
Labels: +enhancement, tests, core, * halliday *, rest/client

#2386 Web client import holiday dates for vpbx
  web/portal/client/src/components/FileUpload.tsx
  web/portal/client/src/entities/HolidayDate/Action/Import.tsx
  web/portal/client/src/entities/HolidayDate/Action/index.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +enhancement, * halliday *, portal/client

#2389 Webportal logo fallback
  library/DataFixtures/ORM/ProviderWebPortal.php
  library/Ivoz/Provider/Application/Service/WebPortal/WebThemeFactory.php
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/my/theme/getWebTheme.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/psalm-baseline.xml
  web/rest/platform/src/Service/Behat/FeatureContext.php
Labels: tests, core, * halliday *, rest/platform, rest/brand, rest/client, rest/user

#2391 Update portals circle chart
  web/portal/brand/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/brand/src/components/Dashboard/Dashboard.tsx
  web/portal/client/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/client/src/components/Dashboard/Dashboard.tsx
  web/portal/package.json
  web/portal/platform/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.tsx
  web/portal/user/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/user/src/components/Dashboard/Dashboard.tsx
  web/portal/yarn.lock
Labels: +enhancement, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2382 Back extensions section alias import
  library/Ivoz/Provider/Application/Service/Extension/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Service/Extension/ExtensionFactory.php
  library/spec/Ivoz/Provider/Application/Service/User/SyncFromCsvSpec.php
  library/spec/Ivoz/Provider/Domain/Service/Extension/ExtensionFactorySpec.php
  web/rest/client/config/api/resources.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/provider/extension/postExtensionMassImport.feature
  web/rest/client/src/Controller/Provider/PostExtensionsMassImportAction.php
  web/rest/client/src/Model/ExtensionsMassImport.php
Labels: +enhancement, tests, core, * halliday *, rest/client

#2388 Web client extensions section import aliases
  web/portal/client/src/entities/Extension/Action/Import.tsx
  web/portal/client/src/entities/Extension/Action/index.ts
  web/portal/client/src/entities/Extension/Extension.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +enhancement, * halliday *, portal/client

#2393 fixed klear custom script paths
  web/admin/application/controllers/KlearCustomAclController.php
  web/admin/application/controllers/KlearCustomBruteForceUnbanController.php
  web/admin/application/controllers/KlearCustomDownloadFileController.php
  web/admin/application/controllers/KlearCustomDownloadRatingPlanController.php
  web/admin/application/controllers/KlearCustomForwardFaxController.php
  web/admin/application/controllers/KlearCustomIncrementBalanceController.php
  web/admin/application/controllers/KlearCustomRestoreBackupController.php
  web/admin/application/controllers/KlearCustomRestoreDefaultController.php
  web/admin/application/controllers/KlearCustomRtController.php
  web/admin/application/controllers/KlearCustomRunCodeController.php
  web/admin/application/controllers/KlearCustomTarificatorController.php
  web/admin/application/controllers/KlearCustomUploadFileController.php
Labels: +bug, web/admin, * halliday *

#2392 Secure provision template parser
  Jenkinsfile
  library/DataFixtures/ORM/ProviderUserExtension.php
  microservices/provision/features/genericProvision.feature
  microservices/provision/features/specificProvision.feature
  microservices/provision/psalm-baseline.xml
  microservices/provision/src/Services/TemplateRenderer.php
  microservices/provision/templates/provisioning/YealinkT21P_E2/specific.cfg
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/client/features/my/dashboard/getDashboard.feature
  web/rest/client/features/provider/huntGroup/getHuntGroupUsersAvailable.feature
  web/rest/client/features/provider/terminalModel/getTerminalModel.feature
  web/rest/client/features/provider/user/getUser.feature
  web/rest/platform/features/provider/terminalModel/getTerminalModel.feature
Labels: core, microservices, * halliday *, ci-force-tests-back

#2390 Terminal model custom actions
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Service/Terminal/Provision/Provision.php
  library/Ivoz/Provider/Domain/Service/Terminal/Provision/ProvisionGeneric.php
  library/Ivoz/Provider/Domain/Service/Terminal/Provision/ProvisionSpecific.php
  library/Ivoz/Provider/Domain/Service/TerminalModel/TemplateRenderer.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/parameters.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/domain.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  library/psalm-baseline.xml
  microservices/balances/composer.lock
  microservices/provision/composer.lock
  microservices/provision/config/services.yaml
  microservices/provision/psalm-baseline.xml
  microservices/provision/src/Controller/ProvisionController.php
  microservices/provision/templates/provisioning/YealinkT21P_E2/generic.cfg
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/symfony.lock
  web/rest/client/composer.lock
  web/rest/client/symfony.lock
  web/rest/platform/composer.lock
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/config/routes.yaml
  web/rest/platform/config/services.yaml
  web/rest/platform/features/provider/terminalModel/getTerminalModelDefaultTemplate.feature
  web/rest/platform/features/provider/terminalModel/getTerminalModelGenericTemplate.feature
  web/rest/platform/features/provider/terminalModel/getTerminalModelSpecificTemplate.feature
  web/rest/platform/src/Controller/Provider/TerminalModel/DefaultTemplateAction.php
  web/rest/platform/src/Controller/Provider/TerminalModel/TestGenericTemplateAction.php
  web/rest/platform/src/Controller/Provider/TerminalModel/TestSpecificTemplateAction.php
  web/rest/platform/src/Service/Behat/FeatureContext.php
  web/rest/platform/symfony.lock
  web/rest/user/composer.lock
  web/rest/user/symfony.lock
Labels: +bug, +feature, core, web/admin, * halliday *, rest/platform

#2395 portal: upgrade ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: portal/user, * halliday *, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2394 Terminal model custom actions front
  web/portal/platform/src/entities/TerminalModel/Field/GenericTemplate/GenericTemplate.tsx
  web/portal/platform/src/entities/TerminalModel/Field/GenericTemplate/Restore.tsx
  web/portal/platform/src/entities/TerminalModel/Field/GenericTemplate/RunTemplate.tsx
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/Restore.tsx
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/RunTemplate.tsx
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/SpecificTemplate.tsx
  web/portal/platform/src/entities/TerminalModel/Field/TemplateAction.styles.tsx
  web/portal/platform/src/entities/TerminalModel/TerminalModel.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
  web/rest/platform/config/api/raw/provider.yml
Labels: i18n, * halliday *, portal/platform, rest/platform
