Repository irontec/ivozprovider, pull requests merged in 2023-11, with the labels that each got.

#2408 core: update scripts with automatic app discovery loops
  library/bin/cache-clear
  library/bin/cache-rm
  library/bin/composer-install
  library/bin/composer-remove
  library/bin/composer-require
  library/bin/composer-update
  library/bin/test-app-console
  library/bin/test-phplint
  library/bin/test-phpstan
  library/bin/test-psalm
  library/bin/vendor-rm
  microservices/router/psalm-baseline.xml
Labels: +enhancement, core, * halliday *, ci-force-tests

#2412 Conference Announce user count
  asterisk/agi/src/Agi/Action/ConferenceRoomAction.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomAbstract.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomDto.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ConferenceRoom.ConferenceRoomAbstract.orm.yml
  schema/DoctrineMigrations/Version20231108092228.php
  web/admin/application/configs/klear/ConferenceRoomsList.yaml
  web/admin/application/configs/klear/model/ConferenceRooms.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/rest/client/features/provider/conferenceRoom/getConferenceRoom.feature
  web/rest/client/features/provider/conferenceRoom/postConferenceRoom.feature
Labels: +enhancement, agis, i18n, schema, core, web/admin, * artemis *

#2415 Conference Announce user count
  asterisk/agi/src/Agi/Action/ConferenceRoomAction.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomAbstract.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomDto.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ConferenceRoom/ConferenceRoomInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ConferenceRoom.ConferenceRoomAbstract.orm.xml
  schema/DoctrineMigrations/Version20231108092228.php
  web/admin/application/configs/klear/ConferenceRoomsList.yaml
  web/admin/application/configs/klear/model/ConferenceRooms.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/portal/client/src/entities/ConferenceRoom/ConferenceRoom.tsx
  web/portal/client/src/entities/ConferenceRoom/ConferenceRoomProperties.tsx
  web/portal/client/src/entities/ConferenceRoom/Form.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/features/provider/conferenceRoom/getConferenceRoom.feature
  web/rest/client/features/provider/conferenceRoom/postConferenceRoom.feature
Labels: agis, schema, tests, web/admin, portal/user, * halliday *

#2411 Fix clients residential dashboard
  library/Ivoz/Provider/Domain/Model/Voicemail/VoicemailRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/VoicemailDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/VoicemailMessageDoctrineRepository.php
  web/rest/client/features/my/dashboard/getDashboard.feature
  web/rest/client/src/Service/Domain/Dashboard/GetResidentialInfo.php
Labels: +bug, core, * halliday *, portal/client, rest/client

#2421 Fixed new portal background image
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, ci-force-tests-front

#2420 Fixed audio players
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform

#2418 Operator panel feature
  library/Ivoz/Provider/Domain/Model/Feature/Feature.php
  library/Ivoz/Provider/Domain/Service/FeaturesRelCompany/CheckValidity.php
  library/Ivoz/Provider/Domain/Service/FeaturesRelCompany/FeaturesRelCompanyLifecycleServiceCollection.php
  schema/DoctrineMigrations/Version20231115173418.php
  web/portal/brand/src/entities/Company/ClientFeatures.ts
  web/portal/brand/src/entities/Feature/SelectOptions/ResidentialFeatureSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/RetailFeatureSelectOptions.ts
Labels: schema, core

#2416 Endpoints to retrieve realtime filter actions
  library/Ivoz/Provider/Application/Service/ActiveCall/RegistrationChannelResolver.php
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Service/ActiveCall/AssertAccessGranted.php
  web/rest/brand/config/api/resources.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/features/my/activeCalls/getActiveCallsFilters.feature
  web/rest/brand/src/Controller/My/ActiveCallsRealtimeFilterAction.php
  web/rest/client/config/api/resources.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/my/activeCalls/getActiveCallsFilters.feature
  web/rest/client/src/Controller/My/ActiveCallsRealtimeFilterAction.php
  web/rest/platform/config/api/resources.yml
  web/rest/platform/config/routes.yaml
  web/rest/platform/features/my/activeCalls/getActiveCallsFilters.feature
  web/rest/platform/src/Controller/My/ActiveCallsRealtimeFilterAction.php
Labels: +enhancement, +feature, tests, core, * halliday *, rest/platform, rest/brand, rest/client, php

#2426 Queue pause and unpause services
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Wrapper.php
  library/Ivoz/Ast/Domain/Model/QueueMember/QueueMemberRepository.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/QueueMemberDoctrineRepository.php
  library/Ivoz/Provider/Domain/Model/Service/Service.php
  schema/DoctrineMigrations/Version20231127093825.php
  schema/tests/Ast/QueueMember/QueueMemberRepositoryTest.php
Labels: +feature, agis, core, * halliday *

#2427 v3.4 API changelog
  web/rest/client/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, * halliday *

#2429 Remove realtime packaging postinstall scripts
  debian/ivozprovider-realtime.postinst
  debian/ivozprovider-realtime.preinst
Labels: +bug, packaging, ci-no-tests, * halliday *

#2431 Fixed realtime bug in party type
  microservices/realtime/pkg/services/feeder/users_calls.go
  microservices/realtime/pkg/services/redis_helper.go
Labels: +bug, microservices, * halliday *, ci-force-tests-back

#2433 Added logger functionality to realtime
  microservices/realtime/configs/config.yml
  microservices/realtime/go.mod
  microservices/realtime/go.sum
  microservices/realtime/pkg/config/viper.go
  microservices/realtime/pkg/services/http.go
  microservices/realtime/pkg/services/redis_helper.go
  microservices/realtime/pkg/websocket/websocket_server.go
Labels: +enhancement, +feature, microservices, * halliday *, ci-force-tests-back

#2434 Wrapped Logger initialization
  microservices/realtime/cmd/server/main.go
  microservices/realtime/pkg/log/logrus.go
  microservices/realtime/pkg/services/http.go
  microservices/realtime/pkg/services/redis_helper.go
  microservices/realtime/pkg/websocket/websocket_server.go
Labels: +bug, microservices, * halliday *, go

#2435 core: Updated ivoz-dev-tools
  library/composer.json
  library/composer.lock
Labels: +enhancement, core, * halliday *

#2436 Fix translation typo
  web/portal/platform/src/translations/es.json
Labels: +bug, * halliday *, portal/platform

#2440 Fixed recording form fields when client is retail
  web/portal/brand/src/entities/Company/Form.tsx
Labels: +bug, * halliday *, portal/brand

#2441 Fixed brand translations
  web/portal/brand/src/entities/Trusted/Trusted.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +bug, * halliday *, portal/brand
