Repository irontec/ivozprovider, pull requests merged in 2023-07, with the labels that each got.

#2309 Fixed cost and connectionFee fields at the form component and destination prefixes inside parenthesis
  web/portal/brand/src/entities/Destination/SelectOptions.ts
  web/portal/brand/src/entities/DestinationRate/DestinationRate.tsx
  web/portal/brand/src/entities/DestinationRate/Field/ConnectionFee.tsx
  web/portal/brand/src/entities/DestinationRate/Field/Cost.tsx
Labels: +bug, portal/brand

#2313 portal/client: fixed call scheduler form issues
  web/portal/client/src/entities/CallCsvScheduler/Form.tsx
Labels: +bug, * halliday *, portal/client

#2311 Portal platform terminal models url generic value nor specific is being shown on the list
  library/DataFixtures/ORM/ProviderTerminalModel.php
  library/Ivoz/Provider/Domain/Model/TerminalModel/TerminalModelDto.php
  web/rest/client/features/provider/terminalModel/getTerminalModel.feature
  web/rest/platform/features/provider/terminalModel/getTerminalModel.feature
Labels: +bug, tests, core, rest/platform, rest/client

#2310 Portal brand destination rate rate delete currency column
  web/portal/brand/src/entities/DestinationRate/DestinationRate.tsx
Labels: +bug, portal/brand

#2302 Added required columns in External Call Filters
  web/portal/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
Labels: +bug, portal/client

#2316 Platform custom dashboard
  library/Ivoz/Provider/Domain/Model/Brand/BrandRepository.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/User/UserRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BrandDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
  web/portal/platform/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.tsx
  web/portal/platform/src/components/Dashboard/IconClients.tsx
  web/portal/platform/src/components/Dashboard/IconPlatforms.tsx
  web/portal/platform/src/components/Dashboard/IconUsers.tsx
  web/portal/platform/src/components/Dashboard/index.ts
  web/portal/platform/src/router/AppRoutes.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
  web/rest/platform/config/api/resources.yml
  web/rest/platform/config/routes.yaml
  web/rest/platform/config/services.yaml
  web/rest/platform/features/my/dashboard/getDashboard.feature
  web/rest/platform/src/Controller/My/DashboardAction.php
  web/rest/platform/src/Model/Dashboard/Dashboard.php
  web/rest/platform/src/Model/Dashboard/DashboardAdmin.php
  web/rest/platform/src/Model/Dashboard/DashboardBrand.php
  web/rest/platform/src/Service/Application/Dashboard/GetDashboard.php
Labels: * halliday *, portal/platform, rest/platform

#2318 Brand dashboard
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiDoctrineRepository.php
  schema/tests/Provider/Brand/BrandRepositoryTest.php
  schema/tests/Provider/Carrier/CarrierRepositoryTest.php
  schema/tests/Provider/Company/CompanyRepositoryTest.php
  schema/tests/Provider/Ddi/DdiRepositoryTest.php
  schema/tests/Provider/User/UserRepositoryTest.php
  web/portal/brand/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/brand/src/components/Dashboard/Dashboard.tsx
  web/portal/brand/src/components/Dashboard/IconClients.tsx
  web/portal/brand/src/components/Dashboard/IconPlatforms.tsx
  web/portal/brand/src/components/Dashboard/IconUsers.tsx
  web/portal/brand/src/components/Dashboard/index.ts
  web/portal/brand/src/router/AppRoutes.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/config/api/resources.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/config/services.yaml
  web/rest/brand/features/my/dashboard/getDashboard.feature
  web/rest/brand/src/Controller/My/DashboardAction.php
  web/rest/brand/src/Model/Dashboard/Dashboard.php
  web/rest/brand/src/Model/Dashboard/DashboardBrand.php
  web/rest/brand/src/Model/Dashboard/DashboardClient.php
  web/rest/brand/src/Service/Application/Dashboard/GetDashboard.php
Labels: +feature, * halliday *, portal/brand, rest/brand

#2314 Portal platform not found snackbar when inital load at list
  web/portal/platform/src/entities/BillableCall/BillableCall.tsx
  web/portal/platform/src/entities/BillableCall/ForeignKeyResolver.tsx
  web/portal/platform/src/entities/Ddi/Ddi.tsx
  web/portal/platform/src/entities/DdiProvider/DdiProvider.tsx
Labels: +bug, tests, portal/platform, rest/platform

#2319 Fixed client forms
  web/portal/brand/src/entities/Company/Form.tsx
Labels: +bug, * halliday *, portal/brand

#2320 Empty carrier menu items
  web/portal/brand/src/entities/Carrier/Action/BalanceOperations.tsx
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/router/useAclFilteredEntityMap.tsx
  web/portal/brand/src/store/clientSession/aboutMe.ts
Labels: +bug, * halliday *, portal/brand

#2323 Logo by url
  library/Ivoz/Provider/Application/Service/WebPortal/WebThemeFactory.php
  web/portal/brand/public/empty.svg
  web/portal/brand/src/App.tsx
  web/portal/client/public/empty.svg
  web/portal/client/src/App.tsx
  web/portal/package.json
  web/portal/platform/public/empty.svg
  web/portal/platform/src/App.tsx
  web/portal/user/public/empty.svg
  web/portal/user/src/App.tsx
  web/portal/yarn.lock
  web/rest/brand/features/my/theme/getWebTheme.feature
  web/rest/client/features/my/theme/getWebTheme.feature
  web/rest/platform/features/my/theme/getWebTheme.feature
  web/rest/user/features/my/theme/getWebTheme.feature
Labels: +feature, core, portal/user, * halliday *, portal/client, portal/brand, portal/platform

#2322 Portal brand error on create fixed cost of ddi type at invoice scheduler
  library/Ivoz/Provider/Domain/Model/FixedCostsRelInvoiceScheduler/FixedCostsRelInvoiceSchedulerDto.php
  web/portal/.gitignore
Labels: +bug, core

#2324 Friend form issues
  web/portal/client/src/entities/Friend/Form.tsx
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/tests/DataAccessControl/Provider/FriendTest.php
Labels: +bug, * halliday *, portal/client, rest/client

#2326 Carrier balance operation issues
  web/portal/brand/src/entities/Carrier/Action/BalanceOperations.tsx
  web/portal/brand/src/router/EntityMap.ts
Labels: +bug, * halliday *, portal/brand

#2327 Fixed translation
  web/portal/brand/src/entities/FixedCostsRelInvoice/FixedCostsRelInvoice.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +bug, * halliday *, portal/brand

#2329 Impersonate admin chain in commandlog
  asterisk/agi/composer.lock
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Infrastructure/Api/Jwt/JWTCreatedListener.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/services/infraestructure/rest.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.lock
  microservices/balances/composer.lock
  microservices/provision/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +bug, core, * halliday *

#2331 Fixed invoice issues
  web/portal/brand/src/entities/Invoice/Field/Total.tsx
  web/portal/brand/src/entities/Invoice/Field/TotalWithTax.tsx
  web/portal/brand/src/entities/Invoice/Invoice.tsx
Labels: +bug, portal/brand

#2332 core: fixed changelog impersonation chain
  library/Ivoz/Provider/Infrastructure/Api/Jwt/AdminTokenAuthenticator.php
Labels: +bug, core, * halliday *

#2321 Added width and empty content to specific and generic templates
  web/portal/package.json
  web/portal/platform/src/entities/TerminalModel/Form.tsx
  web/portal/yarn.lock
Labels: +bug, portal/platform

#2339 Updated dependencies
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform

#2338 portal/platform: update Brand Webportals documentation link
  web/portal/platform/src/router/EntityMap.ts
Labels: doc, * halliday *, portal/platform

#2334 doc: updated API changelog
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: doc

#2335 doc: update ChangeLog for 3.2.0 release
  ChangeLog
  README.md
Labels: +enhancement, doc, * halliday *
