Repository irontec/ivozprovider, pull requests merged in 2023-12, with the labels that each got.

#2442 Prevent strict comparison issues in ActiveCall/AssertAccessGranted
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierRepository.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderRepository.php
  library/Ivoz/Provider/Domain/Service/ActiveCall/AssertAccessGranted.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CarrierDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/DdiProviderDoctrineRepository.php
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
Labels: core, * halliday *, rest/platform, rest/brand, rest/client, rest/user

#2443 kamusers: avoid nat_uac_test(18) for responses
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, ci-no-tests, * halliday *

#2437 Form fields disposition
  web/portal/brand/src/entities/Company/Form.tsx
Labels: +bug, * halliday *, portal/brand

#2439 Documented api response codes for platform
  web/rest/platform/config/api/raw/provider.yml
Labels: +bug, * halliday *, rest/platform

#2428 v3.4 ChangeLog
  ChangeLog
Labels: +enhancement, doc, ci-no-tests, * halliday *

#2445 Fixed unit tests
  library/spec/Ivoz/Provider/Domain/Service/CallCsvScheduler/NextExecutionResolverSpec.php
Labels: +bug, tests, ci-force-tests-back, *tempest*

#2380 ci: update pipeline Docker image to Debian bookworm
  asterisk/agi/composer.lock
  library/bin/test-i18n
  library/composer.lock
  library/spec/Ivoz/Provider/Domain/Service/CallCsvScheduler/NextExecutionResolverSpec.php
  microservices/balances/composer.lock
  microservices/provision/composer.lock
  microservices/recordings/composer.lock
  microservices/router/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  microservices/workers/src/Worker/Invoices.php
  schema/composer.lock
  tests/docker/Dockerfile
  web/portal/brand/src/translations/ca.json
  web/portal/client/src/translations/ca.json
  web/portal/platform/src/translations/ca.json
  web/portal/user/src/translations/ca.json
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, devops, !wip, !breaking, ci-force-tests, *tempest*

#2423 Store user-side missed calls
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdrAbstract.php
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdrDtoAbstract.php
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdrInterface.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.xml
  schema/DoctrineMigrations/Version20231124114023.php
Labels: +feature, schema, users, *tempest*

#2448 DDI country default value by client
  web/portal/brand/src/entities/Country/CountryProperties.tsx
  web/portal/brand/src/entities/Ddi/Form.tsx
  web/portal/brand/src/entities/Ddi/hooks/useDefaultCountryId.tsx
Labels: +enhancement, portal/brand

#2447 Default country value in new entity forms
  web/portal/client/src/entities/CalendarPeriod/Form.tsx
  web/portal/client/src/entities/CallForwardSetting/Form.tsx
  web/portal/client/src/entities/ConditionalRoute/Form.tsx
  web/portal/client/src/entities/ConditionalRoutesCondition/Form.tsx
  web/portal/client/src/entities/Contact/Form.tsx
  web/portal/client/src/entities/Extension/Form.tsx
  web/portal/client/src/entities/ExternalCallFilter/Form.tsx
  web/portal/client/src/entities/FaxesOut/Form.tsx
  web/portal/client/src/entities/HolidayDate/Form.tsx
  web/portal/client/src/entities/HuntGroupMember/Form.tsx
  web/portal/client/src/entities/Ivr/Form.tsx
  web/portal/client/src/entities/IvrEntry/Form.tsx
  web/portal/client/src/entities/MatchListPattern/Form.tsx
  web/portal/client/src/entities/Queue/Form.tsx
  web/portal/client/src/store/clientSession/aboutMe.ts
  web/rest/client/features/my/profile/getProfile.feature
  web/rest/client/src/Controller/My/ProfileAction.php
  web/rest/client/src/Model/Profile.php
Labels: +bug, portal/client, rest/client, *tempest*

#2453 microservices/realtime: Added call filters
  microservices/realtime/pkg/services/http.go
  microservices/realtime/pkg/utils/jwt.go
  microservices/realtime/pkg/websocket/websocket_server.go
Labels: +enhancement, microservices, * halliday *

#2424 Provider users cdrs table
  library/DataFixtures/ORM/ProviderUsersCdr.php
  library/DataFixtures/Stub/Provider/UsersCdrStub.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdr.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrAbstract.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrDto.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrInterface.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrRepository.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdr.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UsersCdrDoctrineRepository.php
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  library/composer.lock
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20231128163917.php
  web/portal/client/src/entities/UsersCdr/ForeignKeyResolver.tsx
  web/portal/client/src/entities/UsersCdr/UsersCdr.tsx
  web/portal/client/src/entities/UsersCdr/UsersCdrProperties.tsx
  web/portal/client/src/entities/UsersCdr/View.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/portal/user/src/entities/UsersCdr/Action/Export.tsx
  web/portal/user/src/entities/UsersCdr/Action/index.ts
  web/portal/user/src/entities/UsersCdr/UsersCdr.tsx
  web/portal/user/src/entities/UsersCdr/UsersCdrProperties.ts
  web/portal/user/src/translations/ca.json
  web/portal/user/src/translations/en.json
  web/portal/user/src/translations/es.json
  web/portal/user/src/translations/it.json
  web/rest/client/config/api/raw/kam.yml
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/kam/usersCdr/getUsersCdr.feature
  web/rest/client/features/provider/usersCdr/getUsersCdr.feature
  web/rest/user/config/api/raw/kam.yml
  web/rest/user/config/api/raw/provider.yml
  web/rest/user/config/routes.yaml
  web/rest/user/features/my/call_history/getCallHistory.feature
  web/rest/user/psalm-baseline.xml
  web/rest/user/src/Controller/My/CallHistoryAction.php
Labels: +enhancement, +feature, schema, tests, core, rest/client, rest/user, *tempest*

#2452 Fixed balance operations in Carrier entity
  web/portal/brand/src/entities/Carrier/Action/BalanceOperations.tsx
Labels: +bug, * halliday *, javascript, portal/brand

#2454 protal/brand: linted code
  web/portal/brand/src/entities/Carrier/Action/BalanceOperations.tsx
Labels: +bug, javascript, portal/brand

#2451 ci: new test to validate application composer dependencies
  Jenkinsfile
  library/bin/test-app-dependencies
Labels: +enhancement, devops, *tempest*

#2456 Access credentials notification templates
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateAbstract.php
  library/Ivoz/Provider/Domain/Model/NotificationTemplate/NotificationTemplateInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/NotificationTemplate.NotificationTemplateAbstract.orm.xml
  schema/DoctrineMigrations/Version20231218161807.php
  web/portal/platform/src/entities/NotificationTemplate/NotificationTemplate.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
Labels: +enhancement, schema, core, * halliday *, php

#2455 Backend portal themes
  library/Ivoz/Provider/Application/Service/WebPortal/WebThemeFactory.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalInterface.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebTheme.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/WebPortal.WebPortalAbstract.orm.xml
  schema/DoctrineMigrations/Version20231214112518.php
  web/rest/brand/features/my/theme/getWebTheme.feature
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/brand/features/provider/webPortal/putWebPortal.feature
  web/rest/client/features/my/theme/getWebTheme.feature
  web/rest/platform/features/my/theme/getWebTheme.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/provider/webPortal/putWebPortal.feature
  web/rest/user/features/my/theme/getWebTheme.feature
Labels: +enhancement, +feature, tests, core, * halliday *, php

#2459 Add Jenkins pipeline functional stage checks
  Jenkinsfile
Labels: +enhancement, devops, *tempest*
