Repository irontec/ivozprovider, pull requests merged in 2023-01, with the labels that each got.

#1966 Move Voicemail app calls to dialplan contexts
  asterisk/agi/src/Agi/Action/ServiceAction.php
  asterisk/agi/src/Agi/Action/VoiceMailAction.php
  asterisk/agi/src/Agi/Wrapper.php
  asterisk/config/dialplan/default.conf
Labels: +enhancement, agis, * artemis *

#1968 Portals shared dependencies
  debian/control
  debian/ivozprovider-web-client.install
  debian/ivozprovider-web-portals.install
  debian/ivozprovider-web-user.install
  debian/rules
  library/bin/test-codestyle
  tests/docker/bin/prepare-and-run
  web/portal/.eslintrc.json
  web/portal/.gitignore
  web/portal/brand/bin/test-build
  web/portal/brand/bin/test-lint
  web/portal/brand/package.json
  web/portal/client/.eslintrc.json
  web/portal/client/bin/test-build
  web/portal/client/bin/test-lint
  web/portal/client/package.json
  web/portal/client/src/entities/CompanyService/foreignKeyGetter.tsx
  web/portal/client/src/entities/User/SelectOptions/HuntGroupAvailableSelectOptions.ts
  web/portal/client/src/router/AppRoutes.tsx
  web/portal/client/yarn.lock
  web/portal/package.json
  web/portal/user/.eslintrc.json
  web/portal/user/bin/test-build
  web/portal/user/bin/test-lint
  web/portal/user/package.json
  web/portal/user/src/router/AppRoutes.tsx
  web/portal/user/yarn.lock
  web/portal/yarn.lock
Labels: +enhancement, packaging, * halliday *, portal/client, portal/brand

#1969 Company feture multiselect visual toggles
  web/portal/brand/src/entities/Company/Form.tsx
  web/portal/brand/src/entities/Feature/SelectOptions/SelectOptions.ts
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, * halliday *, portal/brand

#1983 kamusers: skip IP filter for push servers
  kamailio/users/config/kamailio.cfg
  kamailio/users/config/pushservers.cfg.in
Labels: users, ci-no-tests, * halliday *, +upport

#1972 Review brand api default collections order
  web/portal/brand/src/entities/BillableCall/BillableCall.tsx
Labels: +enhancement, tests, web/rest, * halliday *, portal/brand, rest/brand

#1979 New brand portal invoice templates preview
  library/DataFixtures/ORM/ProviderInvoiceTemplate.php
  library/composer.json
  library/composer.lock
  web/rest/brand/config/routes.yaml
  web/rest/brand/config/services.yaml
  web/rest/brand/features/provider/invoiceTemplate/getInvoiceTemplatePreview.feature
  web/rest/brand/src/Controller/Provider/InvoiceTemplatePreviewAction.php
  web/rest/brand/src/Service/InvoiceTemplate/InvoiceTemplateGenerator.php
Labels: +enhancement, tests, core, web/rest, * halliday *, rest/brand

#1984 Initial Address book support
  asterisk/agi/composer.lock
  doc/sphinx/administration_portal/client/vpbx/addressbook.rst
  doc/sphinx/administration_portal/client/vpbx/index.rst
  library/DataFixtures/ORM/ProviderContact.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyTrait.php
  library/Ivoz/Provider/Domain/Model/Contact/Contact.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactAbstract.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactDto.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactInterface.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactRepository.php
  library/Ivoz/Provider/Domain/Model/Contact/ContactTrait.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Domain/Model/User/UserTrait.php
  library/Ivoz/Provider/Domain/Service/Contact/UpdateByUser.php
  library/Ivoz/Provider/Domain/Service/User/UserLifecycleServiceCollection.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ContactDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.Company.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Contact.Contact.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Contact.ContactAbstract.orm.yml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.User.orm.yml
  library/composer-packages/irontec/ivoz-provider-bundle/Resources/config/orm_target_entities.yml
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  microservices/balances/composer.lock
  microservices/realtime/composer.lock
  microservices/recordings/composer.lock
  microservices/scheduler/composer.lock
  microservices/workers/composer.lock
  schema/DoctrineMigrations/Version20230113114920.php
  schema/composer.lock
  schema/tests/Provider/Extension/ExtensionLifeCycleTest.php
  schema/tests/Provider/User/UserLifeCycleTest.php
  web/admin/application/configs/klear/ContactsList.yaml
  web/admin/application/configs/klear/conf.d/mapperList.yaml
  web/admin/application/configs/klear/klear.yaml
  web/admin/application/configs/klear/model/Contacts.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/admin/application/library/IvozProvider/Klear/Options/OptionsCustomizerFilterForContact.php
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/contact/getContact.feature
  web/rest/client/features/provider/contact/postContact.feature
  web/rest/client/features/provider/contact/putContact.feature
  web/rest/client/features/provider/contact/removeContact.feature
  web/rest/client/features/provider/pickUpRelUser/getPickUpRelUser.feature
  web/rest/client/features/provider/pickUpRelUser/postPickUpRelUser.feature
  web/rest/client/features/provider/queueMember/getQueueMember.feature
  web/rest/client/features/provider/queueMember/postQueueMember.feature
  web/rest/client/features/provider/user/putUser.feature
  web/rest/platform/composer.lock
Labels: +feature, schema, tests, core, web/rest, web/admin, * artemis *

#1985 feat: multilang support lists
  web/portal/brand/src/entities/Destination/Destination.tsx
  web/portal/brand/src/entities/DestinationRateGroup/DestinationRateGroup.tsx
  web/portal/brand/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/brand/src/entities/RoutingPattern/ForeignKeyResolver.tsx
  web/portal/brand/src/entities/RoutingPattern/RoutingPattern.tsx
  web/portal/brand/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
  web/portal/package.json
  web/portal/yarn.lock
Labels: +feature, i18n, * halliday *, portal/brand

#1987 New brand portal translations system
  Jenkinsfile
  tests/docker/Dockerfile
  web/portal/brand/bin/test-i18n
  web/portal/brand/i18next-parser.config.mjs
  web/portal/brand/package.json
  web/portal/brand/src/components/ActiveCalls/ActiveCalls.tsx
  web/portal/brand/src/components/ActiveCalls/ActiveCallsTable.tsx
  web/portal/brand/src/entities/ActiveCalls/ActiveCalls.tsx
  web/portal/brand/src/entities/Administrator/Administrator.tsx
  web/portal/brand/src/entities/BalanceMovement/BalanceMovement.tsx
  web/portal/brand/src/entities/BalanceNotification/BalanceNotification.tsx
  web/portal/brand/src/entities/BillableCall/BillableCall.tsx
  web/portal/brand/src/entities/BrandService/BrandService.tsx
  web/portal/brand/src/entities/CallCsvReport/CallCsvReport.tsx
  web/portal/brand/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/entities/CarrierServer/CarrierServer.tsx
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/brand/src/entities/Ddi/Ddi.tsx
  web/portal/brand/src/entities/DdiProvider/DdiProvider.tsx
  web/portal/brand/src/entities/DdiProviderAddress/DdiProviderAddress.tsx
  web/portal/brand/src/entities/DdiProviderRegistration/DdiProviderRegistration.tsx
  web/portal/brand/src/entities/DestinationRate/DestinationRate.tsx
  web/portal/brand/src/entities/DestinationRateGroup/DestinationRateGroup.tsx
  web/portal/brand/src/entities/Fax/Fax.tsx
  web/portal/brand/src/entities/FixedCostsRelInvoice/FixedCostsRelInvoice.tsx
  web/portal/brand/src/entities/FixedCostsRelInvoiceScheduler/FixedCostsRelInvoiceScheduler.tsx
  web/portal/brand/src/entities/Friend/Friend.tsx
  web/portal/brand/src/entities/Invoice/Invoice.tsx
  web/portal/brand/src/entities/InvoiceScheduler/InvoiceScheduler.tsx
  web/portal/brand/src/entities/MatchListPattern/MatchListPattern.tsx
  web/portal/brand/src/entities/NotificationTemplate/NotificationTemplate.tsx
  web/portal/brand/src/entities/NotificationTemplateContent/NotificationTemplateContent.tsx
  web/portal/brand/src/entities/OutgoingDdiRule/OutgoingDdiRule.tsx
  web/portal/brand/src/entities/OutgoingRouting/Form.tsx
  web/portal/brand/src/entities/OutgoingRouting/OutgoingRouting.tsx
  web/portal/brand/src/entities/RatingPlan/RatingPlan.tsx
  web/portal/brand/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/brand/src/entities/RatingProfile/RatingProfile.tsx
  web/portal/brand/src/entities/ResidentialDevice/ResidentialDevice.tsx
  web/portal/brand/src/entities/RetailAccount/RetailAccount.tsx
  web/portal/brand/src/entities/SpecialNumber/SpecialNumber.tsx
  web/portal/brand/src/entities/TransformationRule/TransformationRule.tsx
  web/portal/brand/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
  web/portal/brand/src/entities/Trusted/Trusted.tsx
  web/portal/brand/src/entities/User/User.tsx
  web/portal/brand/src/entities/UsersAddress/UsersAddress.tsx
  web/portal/brand/src/entities/WebPortal/WebPortal.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/package.json
  web/portal/yarn.lock
Labels: i18n, * halliday *, portal/brand

#1988 Queue Announce Position field naming fix
  library/Ivoz/Provider/Domain/Model/Queue/QueueAbstract.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Queue.QueueAbstract.orm.xml
  schema/DoctrineMigrations/Version20221123120153.php
Labels: +bug, schema, * halliday *

#1990 web/portal: set languages from store
  web/portal/brand/src/App.tsx
  web/portal/brand/src/router/AppRouteContentWrapper/AppRouteContentWrapper.tsx
  web/portal/brand/src/router/AppRoutes.tsx
  web/portal/brand/src/translations/languages.ts
  web/portal/package.json
  web/portal/yarn.lock
Labels: i18n, * halliday *, portal/brand

#1992 portal/client: fixed router regression
  web/portal/client/src/entities/CallForwardSetting/Form.tsx
  web/portal/client/src/entities/Ddi/Form.tsx
Labels: +bug, * halliday *, portal/client

#1989 kam: add APIBAN optional support
  .gitignore
  kamailio/trunks/config/apiban.cfg.in
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/apiban.cfg.in
  kamailio/users/config/kamailio.cfg
Labels: +feature, trunks, users, ci-no-tests, * halliday *

#1986 Admin access privileges update multiple
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/AdministratorRelPublicEntityDoctrineRepository.php
  library/composer.lock
  microservices/realtime/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/config/services.yaml
  web/rest/brand/features/provider/administrator/postAdministratorMassUpdateAcl.feature
  web/rest/brand/public/swagger.json
  web/rest/brand/src/Controller/Provider/Administrator/MassUpdateAclsAction.php
  web/rest/brand/src/Service/AdministratorRelPublicEntity/SwitchAcl.php
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, tests, web/rest, * halliday *, rest/brand

#1973 Impossible to use destination rate groups file importer arguments from api
  library/Ivoz/Provider/Application/Service/DestinationRateGroup/DestinationRateGroupDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDto.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/DestinationRateGroupDto.php
  library/Ivoz/Provider/Domain/Model/DestinationRateGroup/FileImporterArguments.php
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  library/composer.lock
  microservices/realtime/composer.lock
  web/rest/brand/composer.lock
  web/rest/brand/features/provider/destinationRateGroup/getDestinationRateGroup.feature
  web/rest/brand/features/provider/destinationRateGroup/postDestinationRateGroup.feature
  web/rest/brand/features/provider/destinationRateGroup/putDestinationRateGroup.feature
  web/rest/client/composer.lock
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +bug, tests, core, * halliday *

#1991 DDIS type: in&out or outbound only
  doc/sphinx/administration_portal/client/vpbx/ddis.rst
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDto.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.xml
  schema/DoctrineMigrations/Version20230110150114.php
  web/admin/application/configs/klear/BrandDDIsList.yaml
  web/admin/application/configs/klear/DdisList.yaml
  web/admin/application/configs/klear/RetailDdisList.yaml
  web/admin/application/configs/klear/model/Ddis.yaml
  web/admin/application/languages/ca_ES/ca_ES.po
  web/admin/application/languages/en_US/en_US.po
  web/admin/application/languages/es_ES/es_ES.po
  web/admin/application/languages/it_IT/it_IT.po
  web/portal/brand/src/entities/Ddi/Ddi.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/features/provider/ddi/postDdi.feature
  web/rest/brand/features/provider/ddi/putDdi.feature
Labels: doc, i18n, trunks, core, web/admin, portal/client, +upport

#1993 Make externallyRated a company setting
  doc/sphinx/administration_portal/brand/clients/residential.rst
  doc/sphinx/administration_portal/brand/clients/retail.rst
  doc/sphinx/administration_portal/brand/clients/virtual_pbx.rst
  doc/sphinx/administration_portal/brand/clients/wholesale.rst
  doc/sphinx/administration_portal/brand/providers/carriers.rst
  kamailio/trunks/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.xml
  schema/DoctrineMigrations/Version20230124171627.php
  web/admin/application/configs/klear/model/Companies.yaml
  web/admin/application/configs/klear/model/ResidentialClients.yaml
  web/admin/application/configs/klear/model/RetailClients.yaml
  web/admin/application/configs/klear/model/WholesaleClients.yaml
  web/portal/brand/src/entities/Company/Company.tsx
Labels: billing, doc, schema, trunks, core, web/admin, !breaking, * halliday *, portal/brand

#1994 kamtrunks: fix carrier/ddiprovider mediarelay selection
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, ci-no-tests, * halliday *

#1996 Add RTP timeout fields to asterisk endpoints table
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointDtoAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointInterface.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.xml
  schema/DoctrineMigrations/Version20230125165233.php
  schema/tests/Provider/ResidentialDevice/ResidentialDeviceLifeCycleTest.php
Labels: +enhancement, schema, * halliday *

#2003 call CSV scheduler filter issues
  web/admin/application/library/IvozProvider/Klear/Filter/CallCsvSchedulerEndpointType.php
Labels: +bug, web/admin, * artemis *

#2002 Upport show domain in client collection api responses
  library/Ivoz/Provider/Application/Service/Company/CompanyDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDto.php
  web/rest/brand/features/provider/company/getCompanies.feature
  web/rest/client/features/provider/company/getCompany.feature
Labels: tests, web/rest, * halliday *, +upport, rest/brand

#1998 Status definitions in api are not correct
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierDto.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierStatus.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerDto.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServerStatus.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/carrierServer/getCarrierServer.feature
  web/rest/brand/features/provider/carrierServer/getCarrierServerStatus.feature
Labels: +bug, tests, core, * halliday *, rest/brand

#2000 Add service to update contact phone by extension
  library/Ivoz/Provider/Domain/Service/Contact/UpdateByExtension.php
  library/Ivoz/Provider/Domain/Service/Extension/ExtensionLifecycleServiceCollection.php
Labels: +bug, core, * artemis *

#1999 Expose user field in rest API collection responses
  library/Ivoz/Provider/Domain/Model/Contact/ContactDto.php
  web/rest/client/features/provider/contact/getContact.feature
Labels: +bug, web/rest, * artemis *

#2001 kamusers: handle parallel-forking media-sessions properly
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, * halliday *

#1997 Simulate call rating plan group
  library/DataFixtures/ORM/CgrTpDestination.php
  library/DataFixtures/ORM/CgrTpRatingPlan.php
  library/DataFixtures/ORM/ProviderDestination.php
  library/DataFixtures/ORM/ProviderRatingPlanGroups.php
  library/DataFixtures/Stub/Cgr/TpDestinationStub.php
  library/DataFixtures/Stub/Cgr/TpRatingPlanStub.php
  library/Ivoz/Cgr/Domain/Model/TpRatingProfile/SimulatedCall.php
  library/Ivoz/Cgr/Infrastructure/Cgrates/Service/BillingService.php
  library/Ivoz/Provider/Application/Service/RatingPlanGroup/SimulateCallByRatingPlanGroup.php
  library/Ivoz/Provider/Domain/Model/RatingPlanGroup/TarificationInfo.php
  library/bin/composer-require
  schema/tests/Provider/Destination/DestinationLifeCycleTest.php
  schema/tests/Provider/RatingPlan/RatingPlanLifeCycleTest.php
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/config/services.yaml
  web/rest/brand/features/provider/destination/getDestination.feature
  web/rest/brand/features/provider/destination/postDestination.feature
  web/rest/brand/features/provider/destinationRateGroup/postDestinationRateGroup.feature
  web/rest/brand/features/provider/ratingPlanGroup/getRatingPlanGroup.feature
  web/rest/brand/features/provider/ratingPlanGroup/postRatingPlanGroup.feature
  web/rest/brand/features/provider/ratingPlanGroup/postRatingPlanGroupSimulateCall.feature
  web/rest/brand/src/Controller/Provider/SimulateCallAction.php
Labels: tests, core, web/rest, * halliday *, rest/brand

#2004 Fix Voicemail rest API delete ACLs
  library/DataFixtures/ORM/ProviderVoicemail.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/voicemail/postVoicemail.feature
  web/rest/client/features/provider/voicemail/removeVoicemail.feature
Labels: +bug, tests, * halliday *, rest/client

#2008 Fixed destination form error
  web/portal/brand/src/entities/Destination/Form.tsx
  web/portal/brand/src/entities/Destination/SelectOptions.ts
Labels: +bug, * halliday *, portal/brand

#2010 Session & Login conflicts
  web/portal/brand/src/App.tsx
  web/portal/client/src/App.tsx
  web/portal/platform/src/App.tsx
  web/portal/user/src/App.tsx
  web/rest/brand/public/index.php
  web/rest/client/public/index.php
  web/rest/platform/public/index.php
  web/rest/user/public/index.php
Labels: core, portal/user, * halliday *, portal/client, portal/brand, portal/platform
