Repository irontec/ivozprovider, pull requests merged in 2024-09, with the labels that each got.

#2744 Fix Content-Security-Policy for img blob
  profiles/portal/etc/apache2/sites-available/020-ivozprovider-portals.conf
Labels: +bug, devops, ci-force-tests-front, *tempest*, functional-review

#2748 kamailio: avoid hardcoded SIP ports
  .gitignore
  kamailio/.gitignore
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  profiles/proxy/etc/kamailio/autoconf
Labels: +bug, trunks, users, ci-no-tests, *tempest*

#2747 Portal brand notification templates filter notification types based on enabled features
  web/portal/brand/cypress/e2e/NotificationTemplate/NotificationTemplateWithoutBilling.cy.js
  web/portal/brand/cypress/e2e/NotificationTemplate/NotificationTemplateWithoutInvoice.cy.js
  web/portal/brand/cypress/e2e/NotificationTemplate/NotificationTemplateWithoutVpbxAndResidential.cy.js
  web/portal/brand/cypress/fixtures/Provider/NotificationTemplates/getItem.json
  web/portal/brand/cypress/fixtures/Provider/NotificationTemplates/post.json
  web/portal/brand/cypress/fixtures/Provider/NotificationTemplates/put.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
  web/portal/brand/src/entities/NotificationTemplate/Form.tsx
Labels: tests, portal/brand, javascript, functional-review

#2749 Disabled edit and delete buttons
  web/portal/brand/src/entities/SpecialNumber/SpecialNumber.tsx
Labels: +bug, portal/brand, *tempest*, functional-review

#2750 Order invoice creation form
  web/portal/brand/src/entities/Invoice/Form.tsx
Labels: +enhancement, billing, portal/brand, *tempest*

#2746 Update dependencies
  library/Ivoz/Provider/Domain/Model/Voicemail/VoicemailInterface.php
  library/Ivoz/Provider/Domain/Model/Voicemail/VoicemailTrait.php
  library/composer.lock
Labels: +bug, core, *tempest*, functional-review

#2755 Update PsEndpoints when User changes its Terminal or is deleted
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUserDeleted.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUserTerminalUnassignment.php
  library/Ivoz/Provider/Domain/Service/User/UserLifecycleServiceCollection.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUserDeletedSpec.php
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUserTerminalUnassignmentSpec.php
Labels: +bug, core, *tempest*

#2751 Asterisk pjsip development config support
  asterisk/config/.gitignore
  asterisk/config/pjsip.conf.in
  debian/control
  debian/ivozprovider-asterisk-config.install
Labels: +enhancement, packaging, *tempest*, asterisk

#2754 Change the default email option to no
  web/portal/client/src/entities/Fax/Fax.tsx
Labels: portal/client, *tempest*

#2752 Fix various issues in Csv Scheduler
  web/portal/brand/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +bug, portal/brand, *tempest*, functional-review

#2756 asterisk: fix wrong endpoint identify in single IP standalone installs
  asterisk/config/pjsip.conf.in
  debian/ivozprovider.postinst
Labels: +bug, *tempest*, asterisk

#2739 alter schema start time userscdr billablecalls
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallInterface.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrAbstract.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/BillableCall.BillableCallAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/UsersCdr.UsersCdrAbstract.orm.xml
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/CreateOrUpdateByTrunksCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateByTpCdrSpec.php
  library/spec/Ivoz/Provider/Domain/Service/BillableCall/UpdateDtoByDefaultRunTpCdrSpec.php
  schema/DoctrineMigrations/Version20240826105439.php
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/platform/cypress/fixtures/apiSpec.json
  web/portal/user/cypress/fixtures/apiSpec.json
Labels: schema, core, ci-force-tests, *tempest*

#2736 Use provider entities on recordings microservice
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UsersCdrDoctrineRepository.php
  microservices/recordings/phpstan-baseline.neon
  microservices/recordings/psalm-baseline.xml
  microservices/recordings/src/Service/Encoder.php
Labels: microservices, ci-force-tests-back, *tempest*, functional-review

#2759 agis: fix on demand record code on simple huntgroups
  asterisk/agi/src/Agi/Action/HuntGroupCallAction.php
  asterisk/agi/src/Dialplan/Trunks.php
  asterisk/agi/src/Dialplan/Users.php
Labels: +bug, agis, *tempest*, functional-review

#2729 Fix holiday dates importer
  library/Ivoz/Provider/Application/Service/HolidayDate/SyncFromCsv.php
  library/Ivoz/Provider/Domain/Model/Calendar/CalendarRepository.php
  library/Ivoz/Provider/Domain/Service/HolidayDate/HolidayDateFactory.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CalendarDoctrineRepository.php
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/client/src/entities/HolidayDate/Action/Import.tsx
  web/portal/client/src/entities/HolidayDate/Action/ImportHolidayDates.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/config/api/resources.yml
  web/rest/client/features/provider/holidayDate/postHolidayDateMassImport.feature
  web/rest/client/src/Controller/Provider/PostHolidaysMassImportAction.php
Labels: +enhancement, tests, portal/client, rest/client, *tempest*, functional-review

#2758 Fixed action icons per row
  web/portal/brand/cypress/e2e/Administrator/Administrator.tests.js
  web/portal/client/cypress/e2e/Ddi/Ddi.cy.js
  web/portal/client/cypress/e2e/Fax/Fax.cy.js
  web/portal/client/cypress/e2e/Fax/FaxIn/FaxIn.cy.js
  web/portal/client/cypress/e2e/Friend/CallForwardSettings/CallForwardSettings.cy.js
  web/portal/client/cypress/e2e/Friend/Friend.cy.js
  web/portal/client/cypress/e2e/Recording/Recording.cy.js
  web/portal/client/cypress/e2e/User/HuntGroups/HuntGroups.cy.js
  web/portal/client/cypress/e2e/User/User.cy.js
  web/portal/client/cypress/fixtures/Company/getCollection.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, dependencies, *tempest*, functional-review

#2764 Add validation to the email field
  library/Ivoz/Provider/Domain/Model/Voicemail/Voicemail.php
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +bug, core, portal/client, *tempest*, functional-review

#2740 Impersonation with webportal
  library/Ivoz/Provider/Domain/Model/Administrator/AdministratorDto.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/VirtualPbxs.tests.js
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/brand/src/entities/Administrator/Action/Impersonate.tsx
  web/portal/brand/src/entities/Administrator/Administrator.tsx
  web/portal/brand/src/entities/Administrator/ForeignKeyResolver.tsx
  web/portal/brand/src/entities/Administrator/List.tsx
  web/portal/brand/src/entities/Company/Action/Impersonate.tsx
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/brand/src/entities/Company/CompanyProperties.ts
  web/portal/brand/src/entities/Company/List.tsx
  web/portal/brand/src/entities/WebPortal/WebPortalProperties.ts
  web/portal/package.json
  web/portal/platform/cypress/fixtures/WebPortal/getCollection.json
  web/portal/platform/cypress/fixtures/apiSpec.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
  web/portal/platform/src/entities/Administrator/Action/Impersonate.tsx
  web/portal/platform/src/entities/Administrator/Administrator.tsx
  web/portal/platform/src/entities/Administrator/ForeignKeyResolver.tsx
  web/portal/platform/src/entities/Administrator/List.tsx
  web/portal/platform/src/entities/Brand/Action/Impersonate.tsx
  web/portal/platform/src/entities/Brand/Brand.tsx
  web/portal/platform/src/entities/Brand/BrandProperties.ts
  web/portal/platform/src/entities/Brand/List.tsx
  web/portal/yarn.lock
  web/rest/brand/features/provider/administrator/getAdministrators.feature
  web/rest/brand/features/provider/webPortal/getWebPortal.feature
  web/rest/platform/features/provider/webPortal/getWebPortal.feature
Labels: core, portal/brand, portal/platform, rest/brand, *tempest*, functional-review

#2765 portal: update ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: dependencies, *tempest*, functional-review

#2770 Initial docker-compose support for development containers
  doc/dev/AcceptedCommitTagsList.txt
  docker-compose.yml
  docker/backend/060-ivozprovider-api.conf
  docker/backend/Dockerfile
  docker/backend/start.sh
  docker/backend/xdebug.ini
  docker/mariadb/Dockerfile
  docker/mariadb/initial.sql
  docker/portal/Dockerfile
  docker/portal/start.sh
  docker/redis/Dockerfile
  docker/redis/redis.conf
  docker/redis/sentinel.conf
  docker/redis/supervisord.conf
  web/portal/brand/vite.config.ts
  web/portal/client/vite.config.ts
  web/portal/platform/vite.config.ts
  web/portal/user/vite.config.ts
Labels: +enhancement, *tempest*, docker

#2773 Fix Holidays Date import cypress test
  web/portal/client/cypress/e2e/Calendar/HolidayDate/HolidayDate.cy.js
  web/portal/scripts/test-pact
Labels: +bug, tests, portal/client, ci-force-tests-front, *tempest*

#2775 cypress client calls block
  web/portal/client/cypress/e2e/Calls/ActiveCalls.cy.js
  web/portal/client/cypress/e2e/Calls/BillableCalls.cy.js
  web/portal/client/cypress/e2e/Calls/Recordings.cy.js
  web/portal/client/cypress/e2e/Calls/UsersCdrs.cy.js
  web/portal/client/cypress/fixtures/UsersCdrs/getCollection.json
  web/portal/client/cypress/pacts/client-provider-UsersCdrs-client-consumer-UsersCdrs.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: tests, portal/client, *tempest*

#2776 Added email validation to all email fields
  library/Ivoz/Provider/Domain/Model/Administrator/Administrator.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvScheduler.php
  library/Ivoz/Provider/Domain/Model/Contact/Contact.php
  library/Ivoz/Provider/Domain/Model/Fax/Fax.php
  library/Ivoz/Provider/Domain/Model/User/User.php
Labels: +enhancement, core, ci-force-tests, *tempest*

#2771 Updated dashboard tests for retail account
  web/portal/client/cypress/e2e/Dashboard/RetailDashboard.cy.js
  web/portal/client/cypress/fixtures/My/Profile/getRetailProfile.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: tests, portal/client, javascript

#2777 Fix vite configuration
  web/portal/brand/vite.config.ts
  web/portal/client/vite.config.ts
  web/portal/platform/vite.config.ts
  web/portal/user/vite.config.ts
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2772 Retail Accounts and DDI
  web/portal/client/cypress/e2e/RetailAccount/CallForwardSetting/CallForwardSetting.cy.js
  web/portal/client/cypress/e2e/RetailAccount/Ddi/Ddi.cy.js
  web/portal/client/cypress/e2e/RetailAccount/RetailAccount.cy.js
  web/portal/client/cypress/fixtures/My/Profile/getProfileRetail.json
  web/portal/client/cypress/fixtures/RetailAccount/getItem.json
  web/portal/client/cypress/fixtures/RetailAccount/post.json
  web/portal/client/cypress/fixtures/RetailAccount/put.json
  web/portal/client/cypress/pacts/client-provider-Retail-Accounts-CallForwardSetting-client-consumer-Retail-Accounts-CallForwardSetting.json
  web/portal/client/cypress/pacts/client-provider-Retail-Accounts-Ddi-client-consumer-Retail-Accounts-Ddi.json
  web/portal/client/cypress/pacts/client-provider-Retail-Accounts-client-consumer-Retail-Accounts.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: tests, portal/client

#2779 Selected single proxyTrunk choice
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/entities/Carrier/Form.tsx
  web/portal/brand/src/entities/Carrier/hooks/useDefaultProxyTrunk.tsx
  web/portal/brand/src/entities/DdiProvider/DdiProvider.tsx
  web/portal/brand/src/entities/DdiProvider/Form.tsx
  web/portal/brand/src/entities/DdiProvider/hooks/useDefaultProxyTrunk.tsx
Labels: +enhancement, portal/brand, *tempest*
