Repository irontec/ivozprovider, pull requests merged in 2024-12, with the labels that each got.

#2830 Disabled edit button for contacts with non-null userId
  web/portal/client/src/entities/Contact/Form.tsx
Labels: +bug, portal/client, functional-review

#2838 Reload rtpengine after media relay set delete
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/DeleteProtection.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/MediaRelaySetLifecycleEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/MediaRelaySetLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/SendTrunksRtpengineReloadRequest.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/SendUsersRtpengineReloadRequest.php
  library/spec/Ivoz/Provider/Domain/Service/MediaRelaySet/SendTrunksRtpengineReloadRequestSpec.php
  library/spec/Ivoz/Provider/Domain/Service/MediaRelaySet/SendUsersRtpengineReloadRequestSpec.php
  schema/tests/Provider/MediaRelaySet/MediaRelaySetLifecycleTest.php
Labels: +enhancement, core, *tempest*

#2839 Pipeline mergeability tests
  Jenkinsfile
  doc/dev/AcceptedCommitTagsList.txt
Labels: +enhancement, devops, *tempest*

#2835 portal/client: New impersonate option in the vPBX client user list
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/client/src/entities/User/Action/Impersonate.tsx
  web/portal/client/src/entities/User/Action/index.ts
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/router/EntityMap.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/portal/user/src/App.tsx
  web/portal/user/src/components/Login.tsx
  web/portal/user/src/router/AppRoutesGuard.tsx
  web/portal/user/src/store/userStatus/status.ts
  web/rest/brand/features/provider/user/getUser.feature
  web/rest/client/features/provider/huntGroup/getHuntGroupUsersAvailable.feature
  web/rest/client/features/provider/user/getUser.feature
Labels: +feature, portal/client, *tempest*, functional-review

#2842 portal/brand: Updated apiSpec
  web/portal/brand/cypress/fixtures/apiSpec.json
Labels: +bug, tests, portal/brand, *tempest*, functional-review

#2831 Updated brand cypress tests
  web/portal/brand/cypress/e2e/OutgoingRouting/OutgoingRouting.cy.js
  web/portal/brand/cypress/e2e/RoutingPattern/RoutingPattern.cy.js
  web/portal/brand/cypress/e2e/RoutingPatternGroup/RoutingPatternGroup.cy.js
  web/portal/brand/cypress/e2e/RoutingTag/RoutingTag.cy.js
  web/portal/brand/cypress/fixtures/Provider/OutgoingRoutings/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/OutgoingRoutings/getItem.json
  web/portal/brand/cypress/fixtures/Provider/OutgoingRoutings/post.json
  web/portal/brand/cypress/fixtures/Provider/OutgoingRoutings/put.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroups/getCollections.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatternGroups/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatternGroups/getItem.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatternGroups/post.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatternGroups/put.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatterns/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatterns/getItem.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatterns/post.json
  web/portal/brand/cypress/fixtures/Provider/RoutingPatterns/put.json
  web/portal/brand/cypress/fixtures/Provider/RoutingTags/getItem.json
  web/portal/brand/cypress/fixtures/Provider/RoutingTags/post.json
  web/portal/brand/cypress/fixtures/Provider/RoutingTags/put.json
  web/portal/brand/cypress/pacts/brand-provider-OutgoingRouting-brand-consumer-OutgoingRouting.json
  web/portal/brand/cypress/pacts/brand-provider-RoutingPattern-brand-consumer-RoutingPattern.json
  web/portal/brand/cypress/pacts/brand-provider-RoutingPatternGroup-brand-consumer-RoutingPatternGroup.json
  web/portal/brand/cypress/pacts/brand-provider-RoutingTag-brand-consumer-RoutingTag.json
  web/portal/brand/cypress/support/commands/fillTheForm.js
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, portal/brand, *tempest*, javascript

#2843 portal/user: Hide owner column in call log
  web/portal/user/src/entities/UsersCdr/UsersCdr.tsx
Labels: +enhancement, portal/user, *tempest*, functional-review

#2797 Delete obsolete fields
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Provider/Domain/Model/ApplicationServerSetRelApplicationServer/ApplicationServerSetRelApplicationServerRepository.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyInterface.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderInterface.php
  library/Ivoz/Provider/Domain/Service/ApplicationServer/ApplicationServerLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/ApplicationServer/DeleteProtection.php
  library/Ivoz/Provider/Domain/Service/Company/CompanyLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Company/SanitizeEmptyValues.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ApplicationServerSetRelApplicationServerDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Carrier.CarrierAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Company.CompanyAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DdiProvider.DdiProviderAbstract.orm.xml
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  library/spec/Ivoz/Provider/Domain/Service/Company/SanitizeEmptyValuesSpec.php
  schema/DoctrineMigrations/Version20241028083130.php
  schema/tests/Provider/Company/CompanyLifeCycleTest.php
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/platform/cypress/fixtures/apiSpec.json
  web/rest/brand/features/provider/carrier/postCarrier.feature
  web/rest/brand/features/provider/carrier/putCarrier.feature
  web/rest/brand/features/provider/ddiProvider/postDdiProvider.feature
  web/rest/brand/features/provider/ddiProvider/putDdiProvider.feature
  web/rest/platform/features/provider/applicationServer/removeApplicationServer.feature
Labels: +enhancement, schema, core, ci-force-tests, *tempest*

#2834 Added cypress tests for portal brand invoincing section
  web/portal/brand/cypress/e2e/Invoicing/FixedCosts/FixedCosts.cy.js
  web/portal/brand/cypress/e2e/Invoicing/FixedCosts/FixedCosts.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceNumberSequences/InvoiceNumberSequences.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceNumberSequences/InvoiceNumberSequences.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceSchedulers/InvoiceSchedulers.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceSchedulers/InvoiceSchedulers.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceTemplate/InvoiceTemplate.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceTemplate/InvoiceTemplate.tests.js
  web/portal/brand/cypress/e2e/Invoicing/Invoices/BillableInvoices/BillableCalls.cy.js
  web/portal/brand/cypress/e2e/Invoicing/Invoices/FixedCostsRelInvoice/FixedCostsRelInvoice.cy.js
  web/portal/brand/cypress/e2e/Invoicing/Invoices/FixedCostsRelInvoice/FixedCostsRelInvoice.tests.js
  web/portal/brand/cypress/fixtures/FixedCosts/getCollection.json
  web/portal/brand/cypress/fixtures/FixedCosts/getItem.json
  web/portal/brand/cypress/fixtures/FixedCosts/post.json
  web/portal/brand/cypress/fixtures/FixedCosts/put.json
  web/portal/brand/cypress/fixtures/FixedCostsRelInvoice/getCollection.json
  web/portal/brand/cypress/fixtures/FixedCostsRelInvoice/getItem.json
  web/portal/brand/cypress/fixtures/FixedCostsRelInvoice/post.json
  web/portal/brand/cypress/fixtures/FixedCostsRelInvoice/put.json
  web/portal/brand/cypress/fixtures/InvoiceNumberSequence/getCollection.json
  web/portal/brand/cypress/fixtures/InvoiceNumberSequence/getItem.json
  web/portal/brand/cypress/fixtures/InvoiceNumberSequence/post.json
  web/portal/brand/cypress/fixtures/InvoiceNumberSequence/put.json
  web/portal/brand/cypress/fixtures/InvoiceScheduler/getCollection.json
  web/portal/brand/cypress/fixtures/InvoiceScheduler/getItem.json
  web/portal/brand/cypress/fixtures/InvoiceScheduler/post.json
  web/portal/brand/cypress/fixtures/InvoiceScheduler/put.json
  web/portal/brand/cypress/fixtures/InvoiceTemplate/getCollection.json
  web/portal/brand/cypress/fixtures/InvoiceTemplate/getItem.json
  web/portal/brand/cypress/fixtures/InvoiceTemplate/post.json
  web/portal/brand/cypress/fixtures/InvoiceTemplate/put.json
  web/portal/brand/cypress/fixtures/Invoicing/getCollection.json
  web/portal/brand/cypress/fixtures/Invoicing/getItem.json
  web/portal/brand/cypress/fixtures/Invoicing/post.json
  web/portal/brand/cypress/fixtures/Invoicing/put.json
  web/portal/brand/cypress/pacts/brand-provider-Fixed-costs-brand-consumer-Fixed-costs.json
  web/portal/brand/cypress/pacts/brand-provider-Invoice-fixed-costs-brand-consumer-Invoice-fixed-costs.json
  web/portal/brand/cypress/pacts/brand-provider-Invoice-invoice-schedulers-brand-consumer-Invoice-invoice-schedulers.json
  web/portal/brand/cypress/pacts/brand-provider-Invoice-number-sequences-brand-consumer-Invoice-number-sequences.json
  web/portal/brand/cypress/pacts/brand-provider-Invoice-templates-brand-consumer-Invoice-templates.json
  web/portal/brand/cypress/pacts/brand-provider-invoice-billable_calls-brand-consumer-invoice-billable_calls.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, tests, portal/brand, *tempest*

#2845 Use company's mediaRelaySets in Carrier and DdiProvider
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierAbstract.php
  library/Ivoz/Provider/Domain/Model/Carrier/CarrierInterface.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderAbstract.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderDto.php
  library/Ivoz/Provider/Domain/Model/DdiProvider/DdiProviderInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Carrier.CarrierAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/DdiProvider.DdiProviderAbstract.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20241219145458.php
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/entities/DdiProvider/DdiProvider.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/carrier/postCarrier.feature
  web/rest/brand/features/provider/ddiProvider/postDdiProvider.feature
Labels: +enhancement, core, portal/brand, rest/brand, *tempest*

#2846 Fixed table application server set rel application server
  library/Ivoz/Kam/Domain/Service/Dispatcher/UpdateByApplicationServerSetRelApplicationServer.php
  library/Ivoz/Provider/Domain/Assembler/ApplicationServerSet/ApplicationServerSetDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/ApplicationServerSetRelApplicationServer/ApplicationServerSetRelApplicationServerAbstract.php
  library/Ivoz/Provider/Domain/Model/ApplicationServerSetRelApplicationServer/ApplicationServerSetRelApplicationServerInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ApplicationServerSetRelApplicationServer.ApplicationServerSetRelApplicationServerAbstract.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20241219160857.php
Labels: +enhancement, schema, core, *tempest*

#2833 Testing Client configuration block
  web/portal/brand/cypress/e2e/Corporation/Corporation.cy.js
  web/portal/brand/cypress/e2e/Friends/Friends.cy.js
  web/portal/brand/cypress/e2e/ResidentialDevice/ResidentialDevice.cy.js
  web/portal/brand/cypress/e2e/RetailAccount/RetailAccount.cy.js
  web/portal/brand/cypress/fixtures/Provider/Companies/getUnassignedCollection.json
  web/portal/brand/cypress/fixtures/Provider/Corporations/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Corporations/post.json
  web/portal/brand/cypress/fixtures/Provider/Corporations/put.json
  web/portal/brand/cypress/fixtures/Provider/Domains/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Friends/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Friends/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Friends/post.json
  web/portal/brand/cypress/fixtures/Provider/Friends/put.json
  web/portal/brand/cypress/fixtures/Provider/ProxyUsers/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/ResidentialDevices/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/ResidentialDevices/getItem.json
  web/portal/brand/cypress/fixtures/Provider/ResidentialDevices/post.json
  web/portal/brand/cypress/fixtures/Provider/ResidentialDevices/put.json
  web/portal/brand/cypress/fixtures/Provider/RetailAccounts/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/RetailAccounts/getItem.json
  web/portal/brand/cypress/fixtures/Provider/RetailAccounts/post.json
  web/portal/brand/cypress/fixtures/Provider/RetailAccounts/put.json
  web/portal/brand/cypress/pacts/brand-provider-Corporation-brand-consumer-Corporation.json
  web/portal/brand/cypress/pacts/brand-provider-Friend-brand-consumer-Friend.json
  web/portal/brand/cypress/pacts/brand-provider-ResidentialDevice-brand-consumer-ResidentialDevice.json
  web/portal/brand/cypress/pacts/brand-provider-RetailAccount-brand-consumer-RetailAccount.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
  web/rest/brand/features/provider/friend/getFriend.feature
  web/rest/brand/features/provider/residentialDevice/postResidentialDevice.feature
  web/rest/brand/features/provider/residentialDevice/putResidentialDevice.feature
  web/rest/brand/features/provider/retailAccount/postRetailAccount.feature
  web/rest/brand/features/provider/retailAccount/putRetailAccount.feature
Labels: +enhancement, portal/brand, rest/brand, *tempest*, javascript
