Repository irontec/ivozprovider, pull requests merged in 2024-04, with the labels that each got.

#2597 Hide "Route Labels" if brand has not retail or wholesale features
  web/portal/brand/src/router/EntityMap.ts
Labels: * artemis *, portal/brand, *tempest*

#2598 Faxes resend on error option
  library/DataFixtures/ORM/ProviderFaxesInOut.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/provider/faxesInOut/getFaxesInOut.feature
  web/rest/client/features/provider/faxesInOut/postFaxesInOut.feature
  web/rest/client/features/provider/faxesInOut/postFaxesInOutResend.feature
  web/rest/client/src/Controller/Provider/PostFaxResendAction.php
  web/rest/client/src/Service/Domain/FaxesInOut/ResendFax.php
Labels: tests, rest/client

#2596 Hide balance if the brand does not have Pricing feature
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/package.json
  web/portal/yarn.lock
Labels: +enhancement, portal/brand, *tempest*

#2600 Enhanced DDI columns in portals
  web/portal/brand/src/entities/Ddi/Ddi.tsx
  web/portal/client/src/entities/Ddi/Ddi.tsx
Labels: portal/client, portal/brand, *tempest*

#2595 Modal terminal Model updating text GenericTemplate and SpecificTemplate
  web/portal/platform/src/entities/TerminalModel/Field/GenericTemplate/Restore.tsx
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/Restore.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/es.json
Labels: +enhancement, portal/platform, *tempest*

#2602 Updated ivoz-api-bundle
  library/composer.json
  library/composer.lock
  web/rest/brand/composer.lock
  web/rest/client/composer.lock
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
  web/rest/user/composer.lock
Labels: +enhancement, core, ci-force-tests, *tempest*

#2606 Complete test for domains
  web/rest/brand/features/provider/domain/postDomains.feature
  web/rest/brand/features/provider/domain/putDomains.feature
  web/rest/brand/features/provider/domain/removeDomains.feature
  web/rest/client/features/provider/domain/postDomains.feature
  web/rest/client/features/provider/domain/putDomains.feature
  web/rest/client/features/provider/domain/removeDomains.feature
  web/rest/platform/features/provider/domain/postDomains.feature
  web/rest/platform/features/provider/domain/putDomains.feature
  web/rest/platform/features/provider/domain/removeDomains.feature
Labels: +enhancement, tests, ci-force-tests-back, *tempest*

#2601 Hide Add Holiday date range option if user does not have permissions
  web/portal/client/src/entities/HolidayDate/Action/AddHolidayDateRange.tsx
Labels: +bug, portal/client, *tempest*

#2605 Add option to resend fax
  web/portal/client/src/entities/FaxesOut/Action/Resend.tsx
  web/portal/client/src/entities/FaxesOut/Action/index.ts
  web/portal/client/src/entities/FaxesOut/FaxesOut.tsx
  web/portal/client/src/router/EntityMap.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: portal/client, *tempest*

#2610 kamusers: discard SUBSCRIBEs to non existing hints
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2611 kamusers: force min subscription expires to 1800
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2613 asterisk: disable initial unsolicited MWI notification
  asterisk/config/pjsip.conf
Labels: +enhancement, *tempest*, asterisk

#2612 Error when redirecting to call acl rel match lists
  web/portal/client/src/entities/CallAclRelMatchList/CallAclRelMatchList.tsx
Labels: +enhancement, portal/client, *tempest*

#2614 Configuration to download the imported file
  web/portal/brand/src/entities/DestinationRateGroup/Form.tsx
Labels: portal/brand, *tempest*

#2615 Disable edit button instead of hiding it
  web/portal/brand/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
Labels: portal/brand, *tempest*

#2617 Show correct content in specific template
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/RunTemplate.tsx
Labels: portal/platform, *tempest*

#2619 Fetch country infinite request loop
  web/portal/brand/src/entities/Ddi/hooks/useDefaultCountryId.tsx
Labels: +bug, portal/brand, *tempest*

#2618 kamtrunks: unassigned DDIs handling
  asterisk/config/dialplan/default.conf
  kamailio/trunks/config/kamailio.cfg
Labels: +feature, trunks, ci-no-tests, *tempest*, asterisk

#2622 Update ChangeLog for 4.0.4 release
  ChangeLog
  README.md
  debian/changelog
  web/rest/client/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, *tempest*

#2623 kamtrunks: reject calls to retail DDI linked to no retail account
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, ci-no-tests, *tempest*

#2624 kamusers: avoid routing within dialog SUBSCRIBE to wrong AS
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2626 Fixed search by special characters
  web/portal/package.json
  web/portal/yarn.lock
Labels: portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2631 Get Migration bundle back
  library/composer.json
  library/composer.lock
  schema/composer.lock
  schema/config/bundles.php
  schema/config/services.yaml
Labels: +bug, schema, core, *tempest*

#2627 Fixed terminals foreign key resolver race condition
  web/portal/client/src/entities/Terminal/ForeignKeyResolver.tsx
Labels: +bug, portal/client, *tempest*

#2629 Brand not shown on sip domains
  library/Ivoz/Provider/Domain/Assembler/Domain/DomainDtoAssembler.php
  web/rest/platform/features/provider/domain/getDomains.feature
Labels: +bug, core, rest/platform, *tempest*

#2630 portal/brand: fixed multilanguage issues
  web/portal/brand/src/entities/Currency/Currency.tsx
  web/portal/brand/src/entities/Destination/Destination.tsx
  web/portal/brand/src/entities/DestinationRateGroup/DestinationRateGroup.tsx
  web/portal/brand/src/entities/Feature/Feature.tsx
  web/portal/brand/src/entities/PublicEntity/PublicEntity.tsx
  web/portal/brand/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/brand/src/entities/RoutingPattern/RoutingPattern.tsx
Labels: +bug, portal/brand

#2625 Outgoing routing form rework
  web/portal/brand/src/entities/OutgoingRouting/Form.tsx
  web/portal/brand/src/entities/OutgoingRouting/OutgoingRouting.tsx
Labels: +enhancement, portal/brand, *tempest*

#2628 Avoid delete referenced application server
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Provider/Domain/Model/Company/CompanyRepository.php
  library/Ivoz/Provider/Domain/Service/ApplicationServer/ApplicationServerLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/ApplicationServer/DeleteProtection.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/CompanyDoctrineRepository.php
  schema/tests/Provider/ApplicationServer/ApplicationServerLifeCycleTest.php
  schema/tests/Provider/Company/CompanyRepositoryTest.php
  web/rest/platform/features/provider/applicationServer/removeApplicationServer.feature
Labels: schema, core, rest/platform

#2635 asterisk: enable sorcery caches for endpoints, aors and identifies
  asterisk/config/sorcery.conf
Labels: +enhancement, ci-no-tests, *tempest*, asterisk

#2634 Fix endpoints hints migration
  schema/DoctrineMigrations/Version20220317124540.php
Labels: +bug, schema, *tempest*

#2638 kamusers: SUBSCRIBE Event dialog only
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2637 kamusers: stop using attributes per contact (ulattrs)
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2642 kamusers: fix media-relay interface for AoRs with just one contact
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, ci-no-tests, *tempest*
