Repository irontec/ivozprovider, pull requests merged in 2024-03, with the labels that each got.

#2536 Add new package ivozprovider-provision
  debian/control
  debian/ivozprovider-provision.install
  debian/ivozprovider-provision.postinst
  debian/ivozprovider-provision.preinst
Labels: +enhancement, packaging, ci-no-tests, *tempest*

#2521 Documentation review
  doc/sphinx/administration_portal/brand/settings/notification_templates.rst
  doc/sphinx/administration_portal/client/residential/index.rst
  doc/sphinx/administration_portal/client/residential/residential_devices.rst
  doc/sphinx/administration_portal/client/vpbx/ddis.rst
  doc/sphinx/administration_portal/client/vpbx/extensions.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/conference_rooms.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/hunt_groups.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/ivrs.rst
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/queues.rst
  doc/sphinx/administration_portal/client/vpbx/routing_tools/calendars.rst
  doc/sphinx/administration_portal/client/vpbx/routing_tools/external_call_filters.rst
  doc/sphinx/administration_portal/client/vpbx/terminals.rst
  doc/sphinx/administration_portal/client/vpbx/users.rst
  doc/sphinx/administration_portal/client/vpbx/voicemails.rst
Labels: doc, *tempest*

#2538 Set all realtime keys TTL to 3 hours
  microservices/realtime/pkg/services/redis_helper.go
Labels: +bug, microservices, ci-force-tests-back, *tempest*

#2541 Fix cgrates-reload database access for all brands reloading
  cgrates/scripts/cgrates-reload
  debian/ivozprovider-profile-proxy.postinst
Labels: +bug, billing, *tempest*

#2542 Update documentation for tempest install and upgrade
  doc/UPGRADE-4.0.md
  doc/sphinx/basic_concepts/installation/debian_install.rst
  doc/sphinx/conf.py
Labels: +enhancement, doc, ci-no-tests, *tempest*

#2539 Translation issues
  web/portal/brand/src/i18n.js
  web/portal/client/src/i18n.js
  web/portal/package.json
  web/portal/platform/src/i18n.js
  web/portal/user/src/i18n.js
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2544 Realtime issues
  microservices/realtime/bin
  web/portal/brand/src/components/ActiveCalls/hooks/useRealtimeCalls.tsx
  web/portal/client/src/components/ActiveCalls/ActiveCallsTable.tsx
  web/portal/client/src/components/ActiveCalls/useRealtimeCalls.tsx
  web/portal/platform/src/components/ActiveCalls/hooks/useRealtimeCalls.tsx
  web/portal/platform/src/components/ActiveCalls/useRealtimeCalls.tsx
  web/portal/platform/src/components/ActiveCalls/useWsClient.ts
Labels: +bug, portal/client, portal/brand, portal/platform, *tempest*

#2547 kamusers: drop as-feature-event to avoid pike
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2548 Remove Total and Taxes column in invoice list
  web/portal/brand/src/entities/Invoice/Invoice.tsx
Labels: portal/brand, *tempest*

#2545 Modified Spanish text on portal
  web/portal/brand/src/translations/es.json
  web/portal/client/src/translations/es.json
  web/portal/platform/src/translations/es.json
Labels: +bug, portal/client, portal/brand, portal/platform, *tempest*

#2556 Remove file_get_contents from generic SNOM templates
  microservices/provision/templates/provisioning/SnomD375/generic.cfg
  microservices/provision/templates/provisioning/SnomD717/generic.cfg
  microservices/provision/templates/provisioning/SnomD735/generic.cfg
  microservices/provision/templates/provisioning/SnomD785/generic.cfg
Labels: +bug, provisioning, *tempest*

#2543 PROVIDER-1687-Chart-colors
  web/portal/brand/src/components/Dashboard/Dashboard.tsx
  web/portal/client/src/components/Dashboard/Dashboard.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.tsx
  web/portal/user/src/components/Dashboard/Dashboard.tsx
Labels: portal/user, portal/client, portal/brand, portal/platform

#2555 Custom select option issues
  web/portal/brand/src/entities/Company/SelectOptions/CorporationSelectOptions.ts
  web/portal/brand/src/entities/Company/SelectOptions/ResidentialSelectOptions.ts
  web/portal/brand/src/entities/Company/SelectOptions/RetailSelectOptions.ts
  web/portal/brand/src/entities/Company/SelectOptions/VpbxSelectOptions.ts
  web/portal/brand/src/entities/Company/SelectOptions/WholesaleSelectOptions.ts
  web/portal/brand/src/entities/Country/CountryNameSelectOptions.ts
  web/portal/brand/src/entities/Ddi/SelectOptions/CompanyDdiSelectOptions.ts
  web/portal/brand/src/entities/Fax/SelectOptions/CompanyFaxSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/ResidentialFeatureSelectOptions.ts
  web/portal/brand/src/entities/Feature/SelectOptions/RetailFeatureSelectOptions.ts
  web/portal/brand/src/entities/Friend/SelectOptions/CompanyFriendSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/AccessCredentialSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/CallCsvSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/FaxSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/InvoiceSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/LowBalanceSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/MaxDailyUsageSelectOptions.ts
  web/portal/brand/src/entities/NotificationTemplate/SelectOptions/VoicemailSelectOptions.ts
  web/portal/brand/src/entities/ResidentialDevice/SelectOptions/CompanyResidentialDeviceSelectOptions.ts
  web/portal/brand/src/entities/RetailAccount/SelectOptions/CompanyRetailAccountSelectOptions.ts
  web/portal/brand/src/entities/Service/SelectOptions/UnassignedServiceSelectOptions.ts
  web/portal/brand/src/entities/User/SelectOptions/CompanyUserSelectOptions.ts
  web/portal/client/src/entities/Company/SelectOptions/CompanyUnassignedSelectOptions.ts
  web/portal/client/src/entities/Extension/SelectOptions/UnassignedExtensionSelectOptions.ts
  web/portal/client/src/entities/Extension/SelectOptions/UserExtensionSelectOptions.ts
  web/portal/client/src/entities/Service/SelectOptions/UnassignedServiceSelectOptions.ts
  web/portal/client/src/entities/Terminal/SelectOptions/UnassignedTerminalSelectOptions.ts
  web/portal/client/src/entities/User/SelectOptions/BossAssistantSelectOptions.ts
  web/portal/client/src/entities/User/SelectOptions/HuntGroupAvailableSelectOptions.ts
  web/portal/client/src/entities/Voicemail/EnabledVoicemailSelectOptions.ts
  web/portal/package.json
  web/portal/platform/src/entities/Country/CountryNameSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/CallCsvSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/FaxSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/InvoiceSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/LowBalanceSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/MaxDailyUsageSelectOptions.ts
  web/portal/platform/src/entities/NotificationTemplate/SelectOptions/VoicemailSelectOptions.ts
  web/portal/platform/src/entities/Service/SelectOptions/UnassignedServiceSelectOptions.ts
  web/portal/yarn.lock
Labels: +bug, portal/client, portal/brand, portal/platform, *tempest*

#2561 kamusers: avoid presence requests in invite logics
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2560 kamusers+kamtrunks: avoid AS failover on 404
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, trunks, users, ci-no-tests, *tempest*

#2551 Invoice data issues
  library/Ivoz/Provider/Domain/Service/Invoice/Generator.php
  library/psalm-baseline.xml
  web/rest/brand/config/api/raw/provider.yml
Labels: +bug, core, rest/brand, *tempest*

#2563 kamusers: record-route initial presence requests
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, ci-no-tests, *tempest*

#2564 Use default startsecs for supervisord workers
  profiles/portal/etc/supervisor/conf.d/asterisk-dialplan.conf
  profiles/portal/etc/supervisor/conf.d/asterisk-hints.conf
  profiles/portal/etc/supervisor/conf.d/kamrpc-daemon.conf
  profiles/portal/etc/supervisor/conf.d/kamrpc-delayed-daemon.conf
Labels: +enhancement, ci-no-tests, *tempest*

#2565 kamusers: save Refer-to URI in dlg_var(referee)
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2559 center dashboard icons
  web/portal/brand/src/components/Dashboard/DialpadIcon.tsx
  web/portal/brand/src/components/Dashboard/SuitCaseIcon.tsx
  web/portal/client/src/components/Dashboard/ActiveCallIcon.tsx
  web/portal/client/src/components/Dashboard/DialpadIcon.tsx
  web/portal/client/src/components/Dashboard/HashIcon.tsx
  web/portal/client/src/components/Dashboard/IncomingCallIcon.tsx
  web/portal/client/src/components/Dashboard/OutgoingCallIcon.tsx
  web/portal/client/src/components/Dashboard/RetailIcon.tsx
  web/portal/client/src/components/Dashboard/UserCommIcon.tsx
  web/portal/client/src/components/Dashboard/UsersIcon.tsx
  web/portal/client/src/components/Dashboard/VoiceMailIcon.tsx
  web/portal/platform/src/components/Dashboard/BrandIcon.tsx
  web/portal/platform/src/components/Dashboard/SuitCaseIcon.tsx
  web/portal/platform/src/components/Dashboard/UsersIcon.tsx
  web/portal/user/src/components/Dashboard/ForwardingIconCall.tsx
  web/portal/user/src/components/Dashboard/IncomingCallIcon.tsx
  web/portal/user/src/components/Dashboard/OutgoingCallIcon.tsx
Labels: portal/user, portal/client, portal/brand, portal/platform

#2535 portal/brand: showing current date and time in component
  web/portal/brand/src/entities/RatingProfile/RatingProfile.tsx
Labels: +bug, portal/brand, *tempest*

#2566 Residential device issues
  library/Ivoz/Provider/Domain/Assembler/ResidentialDevice/ResidentialDeviceDtoAssembler.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDto.php
  web/rest/brand/features/provider/residentialDevice/getResidentialDevice.feature
  web/rest/client/features/provider/residentialDevices/getResidentialDevice.feature
Labels: +bug, core, rest/platform, rest/brand, rest/client, rest/user, *tempest*

#2550 Invoice scheduler success feedback
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerDto.php
  web/portal/brand/src/entities/InvoiceScheduler/Field/LastExecution.tsx
  web/portal/brand/src/entities/InvoiceScheduler/InvoiceScheduler.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/features/provider/invoiceScheduler/getInvoiceScheduler.feature
Labels: +bug, core, portal/brand, *tempest*

#2552 Get only 5 user data in dashboard
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UserDoctrineRepository.php
Labels: +bug, portal/client, *tempest*

#2567 PROVIDER-1720-Fix-doughnut-colors-dashboard
  web/portal/brand/src/components/Dashboard/Dashboard.tsx
  web/portal/client/src/components/Dashboard/Dashboard.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.tsx
  web/portal/user/src/components/Dashboard/Dashboard.tsx
Labels: portal/user, portal/client, portal/brand, portal/platform

#2568 Change dashboard banners text & image
  web/portal/brand/public/assets/img/dashboard-welcome.svg
  web/portal/brand/src/components/Dashboard/Dashboard.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/client/public/assets/img/dashboard-welcome.svg
  web/portal/client/src/components/Dashboard/TitleDescription.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/portal/platform/public/assets/img/dashboard-welcome.svg
  web/portal/platform/src/components/Dashboard/Dashboard.tsx
  web/portal/platform/src/translations/ca.json
  web/portal/platform/src/translations/en.json
  web/portal/platform/src/translations/es.json
  web/portal/platform/src/translations/it.json
  web/portal/user/public/assets/img/dashboard-welcome.svg
  web/portal/user/src/components/Dashboard/Dashboard.tsx
  web/portal/user/src/translations/ca.json
  web/portal/user/src/translations/en.json
  web/portal/user/src/translations/es.json
  web/portal/user/src/translations/it.json
Labels: +enhancement, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2557 Fix default order on lists
  web/portal/brand/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
  web/portal/brand/src/entities/Carrier/Carrier.tsx
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/brand/src/entities/CompanyCurrentDayUsage/CompanyCurrentDayUsage.tsx
  web/portal/brand/src/entities/Ddi/Ddi.tsx
  web/portal/brand/src/entities/DdiProvider/DdiProvider.tsx
  web/portal/brand/src/entities/Destination/Destination.tsx
  web/portal/brand/src/entities/DestinationRateGroup/DestinationRateGroup.tsx
  web/portal/brand/src/entities/Fax/Fax.tsx
  web/portal/brand/src/entities/FixedCost/FixedCost.tsx
  web/portal/brand/src/entities/Friend/Friend.tsx
  web/portal/brand/src/entities/InvoiceNumberSequence/InvoiceNumberSequence.tsx
  web/portal/brand/src/entities/InvoiceScheduler/InvoiceScheduler.tsx
  web/portal/brand/src/entities/InvoiceTemplate/InvoiceTemplate.tsx
  web/portal/brand/src/entities/Location/Location.tsx
  web/portal/brand/src/entities/MatchList/MatchList.tsx
  web/portal/brand/src/entities/MusicOnHold/MusicOnHold.tsx
  web/portal/brand/src/entities/NotificationTemplate/NotificationTemplate.tsx
  web/portal/brand/src/entities/OutgoingDdiRule/OutgoingDdiRule.tsx
  web/portal/brand/src/entities/OutgoingRouting/OutgoingRouting.tsx
  web/portal/brand/src/entities/RatingPlanGroup/RatingPlanGroup.tsx
  web/portal/brand/src/entities/RatingProfile/RatingProfile.tsx
  web/portal/brand/src/entities/RoutingPattern/RoutingPattern.tsx
  web/portal/brand/src/entities/RoutingTag/RoutingTag.tsx
  web/portal/brand/src/entities/WebPortal/WebPortal.tsx
  web/portal/client/src/entities/Calendar/Calendar.tsx
  web/portal/client/src/entities/CallAcl/CallAcl.tsx
  web/portal/client/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
  web/portal/client/src/entities/CompanyService/CompanyService.tsx
  web/portal/client/src/entities/ConditionalRoute/ConditionalRoute.tsx
  web/portal/client/src/entities/ConferenceRoom/ConferenceRoom.tsx
  web/portal/client/src/entities/Contact/Contact.tsx
  web/portal/client/src/entities/Ddi/Ddi.tsx
  web/portal/client/src/entities/Extension/Extension.tsx
  web/portal/client/src/entities/ExternalCallFilter/ExternalCallFilter.tsx
  web/portal/client/src/entities/Fax/Fax.tsx
  web/portal/client/src/entities/Friend/Friend.tsx
  web/portal/client/src/entities/HuntGroup/HuntGroup.tsx
  web/portal/client/src/entities/Invoice/Invoice.tsx
  web/portal/client/src/entities/Ivr/Ivr.tsx
  web/portal/client/src/entities/Location/Location.tsx
  web/portal/client/src/entities/Locution/Locution.tsx
  web/portal/client/src/entities/MatchList/MatchList.tsx
  web/portal/client/src/entities/MusicOnHold/MusicOnHold.tsx
  web/portal/client/src/entities/OutgoingDdiRule/OutgoingDdiRule.tsx
  web/portal/client/src/entities/PickUpGroup/PickUpGroup.tsx
  web/portal/client/src/entities/Queue/Queue.tsx
  web/portal/client/src/entities/RatingProfile/RatingProfile.tsx
  web/portal/client/src/entities/Recording/Recording.tsx
  web/portal/client/src/entities/RouteLock/RouteLock.tsx
  web/portal/client/src/entities/Schedule/Schedule.tsx
  web/portal/client/src/entities/Terminal/Terminal.tsx
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/features/provider/ddi/getDdi.feature
  web/rest/brand/features/provider/outgoingRouting/getOutgoingRouting.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/matchList/getMatchList.feature
  web/rest/client/features/provider/voicemail/getVoicemail.feature
Labels: portal/client, portal/brand, rest/brand, rest/client

#2570 portal/brand: text translation into Spanish in billing block
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: portal/brand, *tempest*

#2569 Theme based web titles
  library/Ivoz/Provider/Application/Service/WebPortal/WebThemeFactory.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebTheme.php
  web/portal/brand/index.html
  web/portal/brand/src/Theme.tsx
  web/portal/client/index.html
  web/portal/client/src/Theme.tsx
  web/portal/platform/index.html
  web/portal/platform/src/App.tsx
  web/portal/platform/src/Theme.tsx
  web/portal/user/src/Theme.tsx
  web/rest/brand/features/my/theme/getWebTheme.feature
  web/rest/client/features/my/theme/getWebTheme.feature
  web/rest/platform/features/my/theme/getWebTheme.feature
  web/rest/user/features/my/theme/getWebTheme.feature
Labels: +bug, core, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2571 Fixed bashboard img position
  web/portal/brand/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/client/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/platform/src/components/Dashboard/Dashboard.styles.tsx
  web/portal/user/src/components/Dashboard/Dashboard.styles.tsx
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2577 Invoice Number Sequence - Prefix field should be optional
  web/portal/brand/src/entities/InvoiceNumberSequence/InvoiceNumberSequence.tsx
Labels: portal/brand, *tempest*

#2573 show buttons correctly in generi and specific template
  web/portal/platform/src/entities/TerminalModel/Field/GenericTemplate/RunTemplate.tsx
  web/portal/platform/src/entities/TerminalModel/Field/SpecificTemplate/RunTemplate.tsx
Labels: portal/platform, *tempest*

#2575 Form data optional mail and mandatory numbering
  web/portal/brand/src/entities/InvoiceScheduler/InvoiceScheduler.tsx
Labels: portal/brand, *tempest*

#2579 Change inbound/outbund icon call on table calls
  web/portal/brand/src/components/ActiveCalls/ActiveCallsTable.tsx
  web/portal/client/src/components/ActiveCalls/ActiveCallsTable.tsx
  web/portal/platform/src/components/ActiveCalls/ActiveCallsTable.tsx
Labels: +enhancement, portal/client, portal/brand, portal/platform

#2581 Showing data to filter by domain
  web/portal/brand/src/entities/Domain/Domain.tsx
  web/portal/brand/src/entities/Domain/DomainSelectOptions.ts
  web/portal/client/src/entities/Domain/Domain.tsx
  web/portal/client/src/entities/Domain/DomainSelectOptions.ts
Labels: portal/client, portal/brand, *tempest*

#2584 Fixed library composer autoload rules
  library/composer.json
Labels: +bug, core, *tempest*

#2587 Increase websocket idle timeout to 3600 seconds
  profiles/portal/etc/apache2/conf-available/realtime.conf
Labels: +enhancement, *tempest*

#2576 Show buttons and set them to disabled in invoices template
  web/portal/brand/src/entities/InvoiceTemplate/InvoiceTemplate.tsx
Labels: portal/brand, ci-force-tests, *tempest*

#2585 kamusers: save external element Contact for Cisco phones
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*

#2586 Company nullable in ddi pool
  asterisk/agi/src/Agi/Action/ExternalFilterAction.php
  asterisk/agi/src/Agi/Agents/DdiAgent.php
  asterisk/agi/src/Dialplan/Trunks.php
  library/Ivoz/Provider/Domain/Model/Ddi/Ddi.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Domain/Service/Ddi/DdiFactory.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.DdiAbstract.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20240319221538.php
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/brand/src/entities/Ddi/Ddi.tsx
  web/portal/brand/src/entities/Ddi/Form.tsx
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/tests/DataAccessControl/Provider/CallCsvSchedulerTest.php
Labels: schema, tests, core, portal/brand, rest/brand, ci-force-tests-front

#2582 Proxy trunk advertised address issues
  web/portal/brand/src/entities/ProxyTrunk/ProxyTrunk.tsx
  web/portal/brand/src/entities/ProxyTrunk/ProxyTrunkProperties.ts
  web/portal/brand/src/entities/ProxyTrunk/SelectOptions.ts
  web/portal/platform/src/entities/ProxyTrunk/ProxyTrunk.tsx
  web/portal/platform/src/entities/ProxyTrunk/SelectOptions.ts
Labels: portal/brand, portal/platform, ci-force-tests

#2591 kamusers: fix behind nat proxied SUBSCRIBEs
  kamailio/users/config/kamailio.cfg
Labels: +bug, users, ci-no-tests, *tempest*

#2590 Update ChangeLog for 4.0.3 release
  ChangeLog
  README.md
  debian/changelog
  web/rest/brand/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, *tempest*
