Repository irontec/ivozprovider, pull requests merged in 2024-10, with the labels that each got.

#2780 Fixed webPortal logo load
  library/Ivoz/Provider/Application/Service/WebPortal/GetLogoPath.php
Labels: +bug, core, *tempest*, functional-review

#2778 Sort list in the Voicemail section in the Vpbx client
  library/Ivoz/Provider/Domain/Model/Voicemail/VoicemailRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/VoicemailDoctrineRepository.php
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
  web/portal/user/cypress/fixtures/apiSpec.json
  web/portal/user/src/entities/Voicemail/Voicemail.tsx
  web/rest/user/config/api/raw/provider.yml
  web/rest/user/src/Controller/My/VoicemailsAction.php
Labels: +bug, core, portal/user, portal/client, *tempest*, functional-review

#2785 kamailio: avoid short callid collisions
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, trunks, users, ci-no-tests, *tempest*, functional-review

#2768 Enable or disable the Impersonate feature
  web/portal/brand/cypress/e2e/Clients/Residential/Administrator/Administrator.cy.js
  web/portal/brand/cypress/e2e/Clients/Retails/Administrator/Administrator.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/Administrator/Administrator.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/VirtualPbxs.cy.js
  web/portal/brand/cypress/pacts/brand-provider-residential-client-administrator-brand-consumer-residential-client-administrator.json
  web/portal/brand/cypress/pacts/brand-provider-retail-client-administrator-brand-consumer-retail-client-administrator.json
  web/portal/brand/src/entities/Administrator/Action/Impersonate.tsx
  web/portal/brand/src/entities/Company/Action/Impersonate.tsx
  web/portal/platform/src/entities/Administrator/Action/Impersonate.tsx
  web/portal/platform/src/entities/Brand/Action/Impersonate.tsx
Labels: +enhancement, tests, portal/brand, functional-review

#2781 Upgraded ivoz-ui dependencies
  web/portal/package.json
  web/portal/yarn.lock
Labels: +enhancement, dependencies, functional-review

#2791 Testing section voicemail and fax
  web/portal/user/cypress/e2e/Fax/Fax.cy.js
  web/portal/user/cypress/e2e/Fax/FaxIn/FaxIn.cy.js
  web/portal/user/cypress/e2e/Fax/FaxOut/FaxOut.cy.js
  web/portal/user/cypress/e2e/Voicemail/Voicemail.cy.js
  web/portal/user/cypress/e2e/Voicemail/VoicemailMessage/VoicemailMessage.cy.js
  web/portal/user/cypress/fixtures/Fax/getCollection.json
  web/portal/user/cypress/fixtures/Fax/getItem.json
  web/portal/user/cypress/fixtures/Fax/post.json
  web/portal/user/cypress/fixtures/Fax/put.json
  web/portal/user/cypress/fixtures/FaxInOut/getCollection.json
  web/portal/user/cypress/fixtures/FaxInOut/getItem.json
  web/portal/user/cypress/fixtures/FaxInOut/post.json
  web/portal/user/cypress/fixtures/FaxInOut/put.json
  web/portal/user/cypress/fixtures/VoicemailMessage/getCollection.json
  web/portal/user/cypress/pacts/user-provider-Fax-Incomingfaxfiles-user-consumer-Fax-Incomingfaxfiles.json
  web/portal/user/cypress/pacts/user-provider-Fax-OutgoingFaxfiles-user-consumer-Fax-OutgoingFaxfiles.json
  web/portal/user/cypress/pacts/user-provider-Voicemail-VoicemailMessage-user-consumer-Voicemail-VoicemailMessage.json
  web/portal/user/cypress/pacts/user-provider-Voicemail-user-consumer-Voicemail.json
  web/portal/user/cypress/support/commands/prepareGenericPactInterceptors.ts
Labels: billing, tests, portal/user

#2793 portal/user: call test section
  web/portal/user/cypress/e2e/Calls/Calls.cy.ts
  web/portal/user/cypress/pacts/user-provider-User-Calls-user-consumer-User-Calls.json
Labels: billing, tests, portal/user

#2794 asterisk: add odbc configuration to override default results order
  asterisk/config/res_config_odbc.conf
Labels: +bug, *tempest*, asterisk

#2792 Hide brand price profiles
  web/portal/brand/src/entities/Company/List.tsx
Labels: billing, portal/brand, *tempest*, functional-review

#2798 Added Dashboard cy tests
  web/portal/brand/cypress/e2e/Dashboard/Dashboard.cy.js
  web/portal/brand/cypress/fixtures/My/Dashboard/getDashboard.json
  web/portal/brand/cypress/fixtures/Provider/ProxyTrunks/getCollection.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, portal/brand, javascript

#2799 Added Dashboard cy tests
  web/portal/user/.gitignore
  web/portal/user/cypress/e2e/Dashboard/Dashboard.cy.js
  web/portal/user/cypress/fixtures/My/Calls/getCallHistory.json
  web/portal/user/cypress/fixtures/My/Dashboard/getDashboard.json
  web/portal/user/cypress/pacts/user-provider-User-Calls-user-consumer-User-Calls.json
  web/portal/user/src/translations/en.json
Labels: +enhancement, +feature, portal/user, *tempest*
