Repository irontec/ivozprovider, pull requests merged in 2024-06, with the labels that each got.

#2665 Replace Headers AGI with diaplan functions
  asterisk/agi/src/Dialplan/FaxDial.php
  asterisk/agi/src/Dialplan/Friends.php
  asterisk/agi/src/Dialplan/Residentials.php
  asterisk/agi/src/Dialplan/Retails.php
  asterisk/agi/src/Dialplan/Trunks.php
  asterisk/agi/src/Dialplan/Users.php
  asterisk/config/dialplan/default.conf
  asterisk/config/modules.conf
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointDtoAbstract.php
  library/Ivoz/Ast/Domain/Model/PsEndpoint/PsEndpointInterface.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByExtension.php
  library/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByUser.php
  library/Ivoz/Ast/Infrastructure/Persistence/Doctrine/Mapping/PsEndpoint.PsEndpointAbstract.orm.xml
  library/spec/Ivoz/Ast/Domain/Service/PsEndpoint/UpdateByExtensionSpec.php
  schema/DoctrineMigrations/Version20240527071749.php
  schema/tests/Provider/Extension/ExtensionLifeCycleTest.php
Labels: +enhancement, agis, schema, tests, *tempest*, asterisk

#2668 Simple Hunt Groups support
  asterisk/agi/src/Agi/Action/HuntGroupAction.php
  asterisk/agi/src/Agi/Action/HuntGroupStatusAction.php
  asterisk/config/dialplan/default.conf
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroup.php
  library/Ivoz/Provider/Domain/Model/HuntGroup/HuntGroupInterface.php
  tests/bbs/2405-test-huntgroup-all-complex.yaml
  tests/bbs/2415-test-huntgroup-rr-complex.yaml
  tests/bbs/dataset.json
Labels: +enhancement, agis, core, *tempest*, asterisk

#2666 manage friends from brand portal
  library/DataFixtures/ORM/ProviderFriend.php
  library/Ivoz/Provider/Application/Service/Friend/CreateInterVpbxFriend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDto.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendRepository.php
  library/Ivoz/Provider/Domain/Service/Friend/DeleteInterVpbx.php
  library/Ivoz/Provider/Domain/Service/Friend/FriendLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/Friend/SanitizeInterVpbxPriority.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/FriendDoctrineRepository.php
  schema/tests/Provider/Friend/FriendRepositoryTest.php
  web/portal/brand/src/entities/Company/SelectOptions/CompanyUnassignedSelectOptions.ts
  web/portal/brand/src/entities/Company/SelectOptions/index.ts
  web/portal/brand/src/entities/Friend/Field/StatusIcon.styles.tsx
  web/portal/brand/src/entities/Friend/Field/StatusIcon.tsx
  web/portal/brand/src/entities/Friend/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/Friend/ForeignKeyResolver.tsx
  web/portal/brand/src/entities/Friend/Form.tsx
  web/portal/brand/src/entities/Friend/Friend.tsx
  web/portal/brand/src/entities/Friend/FriendProperties.ts
  web/portal/brand/src/entities/Friend/SelectOptions/CompanyFriendSelectOptions.ts
  web/portal/brand/src/entities/Friend/hooks/useIntercompanyId.tsx
  web/portal/brand/src/router/EntityMap.ts
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/portal/client/src/entities/Friend/Form.tsx
  web/portal/client/src/router/EntityMap.ts
  web/rest/brand/config/api/raw/provider.yml
  web/rest/brand/config/routes.yaml
  web/rest/brand/features/provider/friend/getFriend.feature
  web/rest/brand/features/provider/friend/getFriendStatus.feature
  web/rest/brand/features/provider/friend/postFriend.feature
  web/rest/brand/features/provider/friend/putFriend.feature
  web/rest/brand/features/provider/friend/removeFriend.feature
  web/rest/brand/psalm-baseline.xml
  web/rest/brand/src/Controller/Provider/CompaniesByCorporateUnassignedAction.php
  web/rest/brand/src/Controller/Provider/Friend/PostFriend.php
  web/rest/brand/src/Service/Application/Company/GetCompaniesByCorporateUnassigned.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/friend/getFriend.feature
  web/rest/client/features/provider/friend/getFriendStatus.feature
  web/rest/client/features/provider/friend/postFriend.feature
  web/rest/client/features/provider/friend/putFriend.feature
  web/rest/client/features/provider/friend/removeFriend.feature
Labels: core, portal/client, portal/brand, rest/brand, rest/client, functional-review

#2671 Direct connectivity friends must have proxy user
  library/DataFixtures/ORM/ProviderFriend.php
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDto.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.Friend.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.xml
  library/psalm-baseline.xml
  library/spec/Ivoz/Provider/Domain/Model/Friend/FriendSpec.php
  schema/DoctrineMigrations/Version20240527074431.php
  schema/tests/Provider/Friend/FriendLifeCycleTest.php
  web/portal/brand/src/entities/Friend/Form.tsx
  web/portal/brand/src/entities/Friend/Friend.tsx
  web/portal/brand/src/entities/Friend/FriendProperties.ts
  web/rest/brand/features/provider/friend/getFriend.feature
  web/rest/brand/features/provider/friend/postFriend.feature
  web/rest/brand/features/provider/friend/putFriend.feature
Labels: +enhancement, schema, tests, core, portal/brand, rest/brand, functional-review

#2674 Trust sdp ips on static location
  kamailio/users/config/kamailio.cfg
  library/Ivoz/Provider/Domain/Model/Friend/Friend.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDto.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Friend/FriendInterface.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDevice.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDto.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceInterface.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccount.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDto.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Friend.FriendAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/ResidentialDevice.ResidentialDeviceAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/RetailAccount.RetailAccountAbstract.orm.xml
  schema/DoctrineMigrations/Version20240527134623.php
  web/portal/client/src/entities/Friend/Form.tsx
  web/portal/client/src/entities/Friend/Friend.tsx
  web/portal/client/src/entities/Friend/FriendProperties.tsx
  web/portal/client/src/entities/ResidentialDevice/Form.tsx
  web/portal/client/src/entities/ResidentialDevice/ResidentialDevice.tsx
  web/portal/client/src/entities/ResidentialDevice/ResidentialDeviceProperties.tsx
  web/portal/client/src/entities/RetailAccount/Form.tsx
  web/portal/client/src/entities/RetailAccount/RetailAccount.tsx
  web/portal/client/src/entities/RetailAccount/RetailAccountProperties.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/features/provider/friend/getFriend.feature
  web/rest/client/features/provider/residentialDevices/getResidentialDevice.feature
  web/rest/client/features/provider/residentialDevices/putResidentialDevice.feature
  web/rest/client/features/provider/retailAccount/getRetailAccount.feature
Labels: schema, users, tests, core, portal/client, rest/client, *tempest*, functional-review

#2675 Readonly client on brand retail residential and friend
  library/Ivoz/Provider/Domain/Service/Friend/AvoidUpdateCompany.php
  library/Ivoz/Provider/Domain/Service/Friend/FriendLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/ResidentialDevice/AvoidUpdateCompany.php
  library/Ivoz/Provider/Domain/Service/ResidentialDevice/ResidentialDeviceLifecycleServiceCollection.php
  library/Ivoz/Provider/Domain/Service/RetailAccount/AvoidUpdateCompany.php
  library/Ivoz/Provider/Domain/Service/RetailAccount/RetailAccountLifecycleServiceCollection.php
  library/spec/Ivoz/Provider/Domain/Service/Friend/AvoidUpdateCompanySpec.php
  library/spec/Ivoz/Provider/Domain/Service/ResidentialDevice/AvoidUpdateCompanySpec.php
  library/spec/Ivoz/Provider/Domain/Service/RetailAccount/AvoidUpdateCompanySpec.php
  web/portal/brand/src/entities/ResidentialDevice/Form.tsx
  web/portal/brand/src/entities/RetailAccount/Form.tsx
  web/rest/brand/features/provider/friend/putFriend.feature
  web/rest/brand/features/provider/residentialDevice/putResidentialDevice.feature
  web/rest/brand/features/provider/retailAccount/putRetailAccount.feature
Labels: +enhancement, core, portal/brand, rest/brand, *tempest*

#2676 pkg: update debian packaging Dockerfile
  debian/Dockerfile
  debian/control
Labels: +enhancement, packaging, *tempest*

#2677 kamusers: force selected socket for direct connectivity objects
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, users, ci-no-tests, *tempest*, functional-review

#2679 Use global irontec packaging image
  debian/Dockerfile
  debian/sources.list
Labels: +enhancement, packaging, *tempest*

#2673 Hide faxes section when unavailable
  web/portal/user/.eslintrc.js
  web/portal/user/src/App.tsx
  web/portal/user/src/components/Header/useTerminalStatus.ts
  web/portal/user/src/router/EntityMap.tsx
  web/portal/user/src/router/addCustomRoutes.ts
  web/portal/user/src/router/useEntityMap.ts
  web/portal/user/src/router/useFeatureFilteredEntityMap.tsx
  web/portal/user/src/store/index.ts
  web/portal/user/src/store/userStatus/index.ts
  web/portal/user/src/store/userStatus/status.ts
  web/rest/user/features/my/status/getStatus.feature
  web/rest/user/src/Controller/My/StatusAction.php
  web/rest/user/src/Model/UserStatus.php
Labels: +feature, tests, portal/user, rest/user

#2681 ci: add packaging testing stage to pipeline
  Jenkinsfile
Labels: +enhancement, packaging, devops, *tempest*

#2678 Handle timezone conversion of partial date time strings
  library/composer.json
  library/composer.lock
  web/rest/platform/features/querystringFilters.feature
Labels: tests, dependencies

#2686 pkg: add missing dependency on ivozprovider-web-rest
  debian/control
Labels: +bug, packaging, *tempest*

#2683 Unskipped faxes from residential and vpbx clients
  web/portal/client/src/entities/Ddi/Form.tsx
Labels: portal/client, javascript, functional-review

#2685 Fixed holiday dates on edition
  web/portal/client/src/entities/HolidayDate/Field/Calendar.tsx
  web/portal/client/src/entities/HolidayDate/HolidayDate.tsx
Labels: +bug, portal/client, javascript, functional-review

#2687 Update @irontec/ivoz-ui
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, javascript, functional-review

#2689 Fixed label on breadcrumbs
  web/portal/brand/src/entities/DdiProviderRegistration/DdiProviderRegistration.tsx
Labels: portal/brand

#2690 microservice scheduler-historic-calls fails on start up
  microservices/scheduler/bin/run-billable-calls-historic
Labels: +bug, microservices, functional-review

#2693 Fixed target value when is of type number
  web/portal/client/src/entities/HolidayDate/Field/Target.tsx
Labels: +bug, portal/client, functional-review

#2694 Hide Import CSV from Holiday rows
  web/portal/client/src/entities/HolidayDate/Action/Import.tsx
Labels: portal/client, functional-review

#2691 kamailio: changes in fast media liberation delayer
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, trunks, users, ci-no-tests, *tempest*

#2692 Added Ghost Status Icon
  web/portal/brand/src/entities/DdiProviderRegistration/DdiProviderRegistration.tsx
  web/portal/brand/src/entities/DdiProviderRegistration/DdiProviderRegistrationProperties.ts
  web/portal/brand/src/entities/DdiProviderRegistration/Field/StatusIcon.tsx
  web/portal/brand/src/entities/DdiProviderRegistration/Field/StyledStatus.styles.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
Labels: +bug, portal/brand, *tempest*, javascript, functional-review

#2695 Removed extra edition icon
  web/portal/brand/src/entities/TransformationRule/TransformationRule.tsx
  web/portal/brand/src/entities/TransformationRuleSet/TransformationRuleSet.tsx
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/brand, *tempest*, javascript, functional-review

#2698 doc: update ChangeLog for 4.1.0
  ChangeLog
  README.md
  asterisk/config/pjsip.conf
  debian/changelog
  doc/sphinx/conf.py
  extra/simple-cdd/package.list
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, *tempest*

#2697 Binding portals to one client
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortal.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalInterface.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/WebPortal.WebPortalAbstract.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20240627075829.php
  web/portal/brand/src/entities/CallCsvScheduler/Form.tsx
  web/portal/brand/src/entities/WebPortal/ForeignKeyGetter.tsx
  web/portal/brand/src/entities/WebPortal/Form.tsx
  web/portal/brand/src/entities/WebPortal/WebPortal.tsx
  web/portal/brand/src/entities/WebPortal/WebPortalProperties.ts
  web/portal/brand/src/entities/WebPortal/hooks/useCompany.tsx
  web/portal/brand/src/translations/ca.json
  web/portal/brand/src/translations/en.json
  web/portal/brand/src/translations/es.json
  web/portal/brand/src/translations/it.json
  web/rest/brand/features/provider/webPortal/postWebPortal.feature
  web/rest/brand/features/provider/webPortal/putWebPortal.feature
  web/rest/platform/features/provider/webPortal/postWebPortal.feature
  web/rest/platform/features/provider/webPortal/putWebPortal.feature
Labels: +enhancement, schema, tests, core, portal/brand, portal/platform, rest/brand
