Repository irontec/ivozprovider, pull requests merged in 2024-11, with the labels that each got.

#2805 Show disabled buttons for media relay set
  web/portal/platform/src/entities/MediaRelaySet/MediaRelaySet.tsx
Labels: +bug, portal/platform, *tempest*

#2803 Avoid deleting default media relay set
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/DeleteProtection.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/MediaRelaySetEventHandlerInterface.php
  library/Ivoz/Provider/Domain/Service/MediaRelaySet/MediaRelaySetLifecycleServiceCollection.php
  library/psalm-baseline.xml
  schema/tests/Provider/MediaRelaySet/MediaRelaySetRepositoryTest.php
  web/rest/platform/features/provider/mediaRelaySet/removeMediaRelaySet.feature
Labels: +enhancement, tests, core, *tempest*

#2806 Updated cypress tests
  web/portal/client/cypress/e2e/Dashboard/ResidentialDashboard.cy.js
  web/portal/client/cypress/fixtures/My/Dashboard/getResidentialDashboard.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, tests, *tempest*, javascript

#2808 Added wholesale dashboard cypress support
  web/portal/client/cypress/e2e/Dashboard/ResidentialDashboard.cy.js
  web/portal/client/cypress/e2e/Dashboard/RetailDashboard.cy.js
  web/portal/client/cypress/e2e/Dashboard/WholesaleDashboard.cy.js
  web/portal/client/cypress/fixtures/My/Dashboard/getWholesaleDashboard.json
  web/portal/client/cypress/fixtures/My/Profile/getWholesaleProfile.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, tests, *tempest*, javascript

#2811 Hint sip alg terminales broken
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalDto.php
  web/portal/client/src/entities/RetailAccount/Field/Status.tsx
  web/rest/brand/features/provider/terminal/getTerminalStatus.feature
  web/rest/client/features/provider/terminal/getTerminal.feature
  web/rest/client/features/provider/terminal/getTerminalStatus.feature
Labels: +bug, core, portal/client, rest/brand, rest/client, php, *tempest*, javascript

#2813 Residential Client Testing
  web/portal/client/cypress/e2e/Ddi/ResidentialDdi/BillableCalls/BillableCalls.cy.js
  web/portal/client/cypress/e2e/Ddi/ResidentialDdi/Ddi.cy.js
  web/portal/client/cypress/e2e/ExternalCallFilter/ExternalCallFilterResidential/ExternalCallFilter.cy.js
  web/portal/client/cypress/e2e/MatchList/ResidentialMatchList/MatchList.cy.js
  web/portal/client/cypress/fixtures/Ddi/getItemResidential.json
  web/portal/client/cypress/fixtures/Ddi/getResidentialCollection.json
  web/portal/client/cypress/fixtures/Ddi/putResidential.json
  web/portal/client/cypress/pacts/client-provider-Ddi-Residential-client-consumer-Ddi-Residential.json
  web/portal/client/cypress/pacts/client-provider-ExternalCallFilter-Residential-client-consumer-ExternalCallFilter-Residential.json
  web/portal/client/cypress/pacts/client-provider-MatchList-Residential-client-consumer-MatchList-Residential.json
Labels: billing, tests, portal/client

#2814 Add cypress tests for billing section
  web/portal/client/cypress/e2e/Invoice/Invoice.cy.js
  web/portal/client/cypress/e2e/RatingProfile/RatingProfile.cy.js
  web/portal/client/cypress/e2e/RatingProfile/SimulateCall/SimulateCall.cy.js
  web/portal/client/cypress/fixtures/Invoices/getCollection.json
  web/portal/client/cypress/fixtures/RatingPlanGroup/getCollection.json
  web/portal/client/cypress/fixtures/RatingProfiles/getCollection.json
  web/portal/client/cypress/fixtures/RoutingTag/getCollection.json
  web/portal/client/cypress/pacts/client-provider-RatingProfiles-client-consumer-RatingProfiles.json
  web/portal/client/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, tests, portal/client, *tempest*

#2810 Add clients block cypress tests
  web/portal/brand/cypress/e2e/Clients/Residential/RatingProfile/RatingProfile.cy.js
  web/portal/brand/cypress/e2e/Clients/Residential/UsersAddress/UsersAddress.cy.js
  web/portal/brand/cypress/e2e/Clients/Retails/RatingProfile/RatingProfile.cy.js
  web/portal/brand/cypress/e2e/Clients/Retails/UsersAddress/UsersAdress.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/BannedAddress/BannedAddress.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/RatingProfile/RatingProfile.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/UsersAddress/UsersAdress.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/Administrator/Administrator.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/RatingProfile/RatingProfile.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/Trusted/Trusted.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/Wholesales.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/Wholesales.tests.js
  web/portal/brand/cypress/e2e/Clients/common/RatingProfile.tests.js
  web/portal/brand/cypress/e2e/Clients/common/UserAddress.tests.js
  web/portal/brand/cypress/e2e/Clients/utils/PbxsValidator.ts
  web/portal/brand/cypress/fixtures/Kam/Trusted/getCollection.json
  web/portal/brand/cypress/fixtures/Kam/Trusted/getItem.json
  web/portal/brand/cypress/fixtures/Kam/Trusted/post.json
  web/portal/brand/cypress/fixtures/Kam/Trusted/put.json
  web/portal/brand/cypress/fixtures/Kam/UsersAddresses/getCollection.json
  web/portal/brand/cypress/fixtures/Kam/UsersAddresses/post.json
  web/portal/brand/cypress/fixtures/Kam/UsersAddresses/put.json
  web/portal/brand/cypress/fixtures/Provider/BannedAddress/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Companies/Wholesales/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Companies/Wholesales/post.json
  web/portal/brand/cypress/fixtures/Provider/Companies/Wholesales/put.json
  web/portal/brand/cypress/fixtures/Provider/Companies/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroup/getCollections.json
  web/portal/brand/cypress/fixtures/Provider/RatingProfile/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/RatingProfile/postItem.json
  web/portal/brand/cypress/fixtures/Provider/RatingProfile/putItem.json
  web/portal/brand/cypress/pacts/brand-provider-residential-client-rating-profiles-brand-consumer-residential-client-rating-profiles.json
  web/portal/brand/cypress/pacts/brand-provider-residential-client-users-addresses-brand-consumer-residential-client-users-addresses.json
  web/portal/brand/cypress/pacts/brand-provider-retail-client-users-addresses-brand-consumer-retail-client-users-addresses.json
  web/portal/brand/cypress/pacts/brand-provider-retails-client-rating-profiles-brand-consumer-retails-client-rating-profiles.json
  web/portal/brand/cypress/pacts/brand-provider-vpbx-client-rating-profiles-brand-consumer-vpbx-client-rating-profiles.json
  web/portal/brand/cypress/pacts/brand-provider-vpbx-client-users-addresses-brand-consumer-vpbx-client-users-addresses.json
  web/portal/brand/cypress/pacts/brand-provider-wholesale-brand-consumer-wholesale.json
  web/portal/brand/cypress/pacts/brand-provider-wholesale-client-trusted-brand-consumer-wholesale-client-trusted.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, portal/brand, *tempest*

#2812 Added daily usage sync to microservices/balance
  microservices/balances/src/Controller/Sync.php
Labels: +bug, core, microservices, *tempest*, functional-review

#2822 portal/brand: Residential customers should not have the Residential C…
  web/portal/brand/src/entities/Feature/SelectOptions/ResidentialFeatureSelectOptions.ts
Labels: +bug, portal/brand, functional-review

#2818 Fix email validation in contacts screen
  library/Ivoz/Provider/Domain/Model/Contact/Contact.php
Labels: +bug, core, *tempest*, functional-review

#2821 portal/brand: enforce CSV call scheduler specific endpoint
  web/portal/brand/src/entities/CallCsvScheduler/CallCsvScheduler.tsx
Labels: +bug, portal/brand, *tempest*, functional-review

#2824 Add scripts for updating Debian package version
  scripts/update-package-version.sh
  scripts/update-version.sh
Labels: +enhancement, packaging, *tempest*

#2827 Retrieve carrier with calculate cost if lcr selected
  web/portal/brand/src/entities/Carrier/SelectOptions/CalculateCostSelectOptions.ts
  web/portal/brand/src/entities/Carrier/SelectOptions/SelectOptions.ts
  web/portal/brand/src/entities/Carrier/SelectOptions/index.ts
  web/portal/brand/src/entities/OutgoingRouting/Form.tsx
  web/portal/brand/src/entities/OutgoingRouting/hooks/useCarriers.ts
Labels: +bug, portal/brand, javascript, functional-review

#2829 Enable fk on testing environent
  asterisk/agi/composer.json
  asterisk/agi/composer.lock
  library/DataFixtures/ORM/ProviderApplicationServerSetRelApplicationServers.php
  library/composer-packages/irontec/ivoz-provider-bundle/composer.json
  library/composer.json
  library/composer.lock
  microservices/balances/composer.json
  microservices/balances/composer.lock
  microservices/provision/bin/prepare-test-db
  microservices/provision/composer.json
  microservices/provision/composer.lock
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/recordings/psalm-baseline.xml
  microservices/router/composer.json
  microservices/router/composer.lock
  microservices/scheduler/composer.json
  microservices/scheduler/composer.lock
  microservices/workers/composer.json
  microservices/workers/composer.lock
  microservices/workers/psalm-baseline.xml
  schema/bin/prepare-test-db
  schema/composer.json
  schema/composer.lock
  schema/tests/Provider/ApplicationServer/ApplicationServerLifeCycleTest.php
  schema/tests/Provider/CallCsvScheduler/CallCsvSchedulerLifeCycleTest.php
  tests/docker/Dockerfile
  web/rest/brand/bin/prepare-test-db
  web/rest/brand/composer.lock
  web/rest/brand/features/provider/applicationServerSets/getApplicationServerSets.feature
  web/rest/brand/features/provider/company/postCompanies.feature
  web/rest/client/bin/prepare-test-db
  web/rest/client/composer.lock
  web/rest/platform/bin/prepare-test-db
  web/rest/platform/composer.json
  web/rest/platform/composer.lock
  web/rest/platform/features/provider/applicationServer/removeApplicationServer.feature
  web/rest/platform/features/provider/applicationServerSet/getApplicationServerSet.feature
  web/rest/platform/features/provider/applicationServerSet/removeApplicationServerSet.feature
  web/rest/platform/features/provider/mediaRelaySet/removeMediaRelaySet.feature
  web/rest/user/bin/prepare-test-db
  web/rest/user/composer.lock
Labels: +enhancement, tests, core, ci-force-tests, *tempest*

#2816 Default empty email in CallCsvScheduler
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/CallCsvScheduler/CallCsvSchedulerDtoAbstract.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/CallCsvScheduler.CallCsvSchedulerAbstract.orm.xml
  schema/DoctrineMigrations/Version20241114091020.php
Labels: +enhancement, schema, core, functional-review

#2832 Updated brand and client apiSpec
  web/portal/brand/cypress/fixtures/apiSpec.json
  web/portal/client/cypress/fixtures/apiSpec.json
Labels: +bug, ci-force-tests, *tempest*, functional-review
