Repository irontec/ivozprovider, pull requests merged in 2024-07, with the labels that each got.

#2699 Add cypress tests for platform to pipeline
  Jenkinsfile
  tests/docker/Dockerfile
  tests/httpd/Dockerfile
  tests/httpd/config/my-httpd.conf
  web/portal/platform/.eslintrc.js
  web/portal/platform/.gitignore
  web/portal/platform/bin/test-pact
  web/portal/platform/bin/test-sync-api-spec
  web/portal/platform/cypress/e2e/Administrator/Administrator.cy.js
  web/portal/platform/cypress/e2e/Administrator/Administrator.tests.js
  web/portal/platform/cypress/e2e/InvoiceTemplate/InvoiceTemplate.cy.js
  web/portal/platform/cypress/e2e/InvoiceTemplate/InvoiceTemplate.tests.js
  web/portal/platform/cypress/e2e/TerminalManufacturer/TerminalManufacturer.cy.js
  web/portal/platform/cypress/e2e/TerminalManufacturer/TerminalManufacturer.tests.js
  web/portal/platform/cypress/e2e/login.cy.js
  web/portal/platform/cypress/fixtures/Administrator/getCollection.json
  web/portal/platform/cypress/fixtures/Administrator/getItem.json
  web/portal/platform/cypress/fixtures/Administrator/post.json
  web/portal/platform/cypress/fixtures/Administrator/put.json
  web/portal/platform/cypress/fixtures/InvoiceTemplate/put.json
  web/portal/platform/cypress/fixtures/My/ActiveCalls/getActiveCalls.json
  web/portal/platform/cypress/fixtures/My/Dashboard/getDashboard.json
  web/portal/platform/cypress/fixtures/My/Profile/getProfile.json
  web/portal/platform/cypress/fixtures/My/Theme/getTheme.json
  web/portal/platform/cypress/fixtures/Timezones/getTimezones.json
  web/portal/platform/cypress/fixtures/Users/userLogin.json
  web/portal/platform/cypress/fixtures/apiSpec.json
  web/portal/platform/cypress/pacts/platform-provider-Administrator-platform-consumer-Administrator.json
  web/portal/platform/cypress/pacts/platform-provider-InvoiceTemplate-platform-consumer-InvoiceTemplate.json
  web/portal/platform/cypress/pacts/platform-provider-TerminalManufacturer-platform-consumer-TerminalManufacturer.json
  web/portal/platform/cypress/pacts/platform-provider-login-platform-consumer-login.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
  web/portal/platform/cypress/support/e2e.js
  web/portal/platform/package.json
  web/portal/platform/src/i18n.js
Labels: +enhancement, devops, tests, *tempest*, functional-review

#2703 User portal gs wave q rcode not shown
  web/portal/package.json
  web/portal/user/src/components/Header/MenuItems/MenuItems.styles.tsx
  web/portal/user/src/components/Header/MenuItems/MenuItems.tsx
  web/portal/user/src/components/Header/QrCode/QrCode.tsx
  web/portal/user/src/components/Header/useTerminalStatus.ts
  web/portal/user/src/components/Header/useWebTheme.ts
  web/portal/user/src/entities/FaxesOut/Form.tsx
  web/portal/user/src/store/userStatus/status.ts
  web/portal/user/src/translations/es.json
  web/portal/yarn.lock
Labels: +bug, portal/user, javascript, functional-review

#2704 ci: optimize testing Dockerfile commands
  Jenkinsfile
  tests/docker/Dockerfile
  tests/docker/bin/prepare-and-run
  tests/docker/bin/prepare-node-modules
Labels: +enhancement, devops, ci-force-tests, *tempest*

#2708 microservices/recordings: use hashid for temporal MP3 filename
  microservices/recordings/src/Service/Encoder.php
Labels: +bug, microservices, *tempest*

#2707 Update commit tags test to only allow exact documented tags
  library/bin/test-commit-tags
Labels: +bug, tests, *tempest*

#2706 Fix portal default languages
  web/portal/brand/cypress/e2e/Language/Language.cy.js
  web/portal/brand/src/i18n.js
  web/portal/client/cypress/e2e/Language/Language.cy.js
  web/portal/client/src/i18n.js
  web/portal/platform/cypress/e2e/Language/Language.cy.js
  web/portal/platform/src/i18n.js
Labels: +bug, portal/client, portal/brand, portal/platform, *tempest*, functional-review

#2705 Updated translations Calendar Periods for Special Schedules
  doc/sphinx/administration_portal/client/vpbx/routing_endpoints/conditional_routes.rst
  doc/sphinx/administration_portal/client/vpbx/routing_tools/calendars.rst
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
Labels: +bug, i18n, portal/client, *tempest*, functional-review

#2711 Add fields to recordings
  library/DataFixtures/Stub/Provider/RecordingStub.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiInterface.php
  library/Ivoz/Provider/Domain/Model/Ddi/DdiTrait.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingAbstract.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/Recording/RecordingInterface.php
  library/Ivoz/Provider/Domain/Model/User/UserDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/User/UserInterface.php
  library/Ivoz/Provider/Domain/Model/User/UserTrait.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Ddi.Ddi.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/Recording.RecordingAbstract.orm.xml
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/User.User.orm.xml
  library/psalm-baseline.xml
  schema/DoctrineMigrations/Version20240726184847.php
  schema/tests/Provider/Company/CompanySoftDeleteTest.php
  web/rest/client/features/provider/recording/getRecording.feature
Labels: +feature, schema, core, *tempest*
