Repository irontec/ivozprovider, pull requests merged in 2025-07, with the labels that each got.

#2988 [PROVIDER-2296] kamtrunks: fix socket for bounced calls
  kamailio/trunks/config/kamailio.cfg
Labels: +bug, trunks, *tempest*

#2989 [PROVIDER-2299] Add missing xdebug entry in hosts file
  docker/backend/start.sh
Labels: +bug, *tempest*, docker

#2986 [PROVIDER-2292] Fix platform entities default ordering configuration
  web/portal/platform/cypress/pacts/platform-provider-default-notification-templates-platform-consumer-default-notification-templates.json
  web/portal/platform/src/entities/ActiveCalls/ActiveCalls.tsx
  web/portal/platform/src/entities/Administrator/Administrator.tsx
  web/portal/platform/src/entities/ApplicationServer/ApplicationServer.tsx
  web/portal/platform/src/entities/ApplicationServerSet/ApplicationServerSet.tsx
  web/portal/platform/src/entities/BillableCall/BillableCall.tsx
  web/portal/platform/src/entities/Brand/Brand.tsx
  web/portal/platform/src/entities/Currency/Currency.tsx
  web/portal/platform/src/entities/Domain/Domain.tsx
  web/portal/platform/src/entities/InvoiceTemplate/InvoiceTemplate.tsx
  web/portal/platform/src/entities/MediaRelaySet/MediaRelaySet.tsx
  web/portal/platform/src/entities/NotificationTemplate/NotificationTemplate.tsx
  web/portal/platform/src/entities/NotificationTemplateContent/NotificationTemplateContent.tsx
  web/portal/platform/src/entities/ProxyTrunk/ProxyTrunk.tsx
  web/portal/platform/src/entities/ProxyUser/ProxyUser.tsx
  web/portal/platform/src/entities/Rtpengine/Rtpengine.tsx
  web/portal/platform/src/entities/Service/Service.tsx
  web/portal/platform/src/entities/SpecialNumber/SpecialNumber.tsx
  web/portal/platform/src/entities/TerminalManufacturer/TerminalManufacturer.tsx
  web/portal/platform/src/entities/WebPortal/WebPortal.tsx
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/config/api/resources.yml
  web/rest/platform/features/provider/service/getService.feature
Labels: +enhancement, portal/platform, rest/platform, *tempest*, functional-review

#2992 [PROVIDER-2301] Add missing entities on restricted admin permissions
  web/rest/platform/config/api/raw/provider.yml
  web/rest/platform/features/provider/publicEntity/getPublicEntities.feature
Labels: +bug, rest/platform, *tempest*, functional-review
