Repository irontec/ivozprovider, pull requests merged in 2025-01, with the labels that each got.

#2854 Add API spec sync tests to pipeline backend stage
  Jenkinsfile
  web/portal/platform/cypress/fixtures/apiSpec.json
Labels: +bug, devops, ci-force-tests-back, *tempest*

#2855 Fix ISO image Debian dependencies
  debian/ivozprovider-profile-as.links
  debian/ivozprovider-profile-as.postinst
  doc/dev/AcceptedCommitTagsList.txt
  extra/simple-cdd/profiles/ivozprovider.downloads
Labels: +bug, packaging, devops, *tempest*

#2851 Impersonation extra slashes in url
  web/portal/brand/src/components/Login.tsx
  web/portal/client/src/components/Login.tsx
  web/portal/user/src/components/Login.tsx
Labels: +bug, portal/user, portal/client, portal/brand, *tempest*, javascript, functional-review

#2852 Clients cannot download their invoices
  web/portal/client/cypress/e2e/Invoice/Invoice.cy.js
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/client/src/entities/Invoice/Invoice.tsx
  web/rest/client/config/api/raw/provider.yml
Labels: +bug, portal/client, rest/client, php, *tempest*, javascript, functional-review

#2849 Use company locution service code instead of global service code
  web/portal/client/src/entities/Locution/Field/RecordingExtension.tsx
  web/portal/client/src/store/clientSession/recordLocutionService.ts
Labels: +bug, portal/client, *tempest*, javascript, functional-review

#2850 Fix filter operators when search field changes
  web/portal/package.json
  web/portal/yarn.lock
Labels: portal/user, dependencies, portal/client, portal/brand, portal/platform, functional-review

#2857 Application Server Set documentation link
  doc/sphinx/administration_portal/platform/infrastructure/application_server_sets.rst
  web/portal/platform/src/entities/ApplicationServerSet/ApplicationServerSet.tsx
Labels: +enhancement, doc, portal/platform, *tempest*

#2853 Cypress tests for portal/brand view section
  web/portal/brand/cypress/e2e/BannedIpAddress/BannedIpAddress.cy.js
  web/portal/brand/cypress/e2e/BruteForceAttacks/BruteForceAttacks.cy.js
  web/portal/brand/cypress/e2e/Invoicing/FixedCosts/FixedCosts.cy.js
  web/portal/brand/cypress/e2e/Invoicing/FixedCosts/FixedCosts.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceNumberSequences/InvoiceNumberSequences.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceNumberSequences/InvoiceNumberSequences.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceSchedulers/InvoiceSchedulers.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceSchedulers/InvoiceSchedulers.tests.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceTemplate/InvoiceTemplate.cy.js
  web/portal/brand/cypress/e2e/Invoicing/InvoiceTemplate/InvoiceTemplate.tests.js
  web/portal/brand/cypress/e2e/Invoicing/Invoices/FixedCostsRelInvoice/FixedCostsRelInvoice.cy.js
  web/portal/brand/cypress/e2e/Invoicing/Invoices/FixedCostsRelInvoice/FixedCostsRelInvoice.tests.js
  web/portal/brand/cypress/e2e/User/User.cy.js
  web/portal/brand/cypress/e2e/login.cy.js
  web/portal/brand/cypress/fixtures/Provider/BannedAddress/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Extension/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/FixedCosts/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/FixedCosts/getItem.json
  web/portal/brand/cypress/fixtures/Provider/FixedCosts/post.json
  web/portal/brand/cypress/fixtures/Provider/FixedCosts/put.json
  web/portal/brand/cypress/fixtures/Provider/FixedCostsRelInvoice/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/FixedCostsRelInvoice/getItem.json
  web/portal/brand/cypress/fixtures/Provider/FixedCostsRelInvoice/post.json
  web/portal/brand/cypress/fixtures/Provider/FixedCostsRelInvoice/put.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceNumberSequence/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceNumberSequence/getItem.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceNumberSequence/post.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceNumberSequence/put.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceScheduler/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceScheduler/getItem.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceScheduler/post.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceScheduler/put.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceTemplate/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceTemplate/getItem.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceTemplate/post.json
  web/portal/brand/cypress/fixtures/Provider/InvoiceTemplate/put.json
  web/portal/brand/cypress/fixtures/Provider/Invoicing/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Invoicing/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Invoicing/post.json
  web/portal/brand/cypress/fixtures/Provider/Invoicing/put.json
  web/portal/brand/cypress/fixtures/Provider/Location/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Terminal/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Users/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Users/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Users/post.json
  web/portal/brand/cypress/fixtures/Provider/Users/put.json
  web/portal/brand/cypress/fixtures/Provider/Users/userLogin.json
  web/portal/brand/cypress/fixtures/Provider/Users/userWrongLogin.json
  web/portal/brand/cypress/fixtures/Users/getCollection.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
  web/rest/brand/features/provider/extension/getExtension.feature
  web/rest/brand/features/provider/location/getLocation.feature
  web/rest/brand/features/provider/terminal/getTerminal.feature
Labels: +enhancement, tests, portal/brand, rest/brand, *tempest*, javascript

#2858 Hide application server set selector for wholesale client
  library/DataFixtures/ORM/ProviderCompany.php
  library/Ivoz/Provider/Domain/Model/Company/Company.php
  web/portal/brand/cypress/e2e/Clients/utils/PbxsValidator.ts
  web/portal/brand/cypress/pacts/brand-provider-wholesale-brand-consumer-wholesale.json
  web/portal/brand/src/entities/Company/Company.tsx
  web/portal/brand/src/entities/Company/Form.tsx
  web/rest/brand/features/provider/company/getCompanies.feature
Labels: +enhancement, core, portal/brand, *tempest*

#2862 Testing platform session infrastructure
  web/portal/platform/cypress/e2e/Infrastructure/ApplicationServers/ApplicationServers.cy.js
  web/portal/platform/cypress/e2e/Infrastructure/ApplicationServers/ApplicationServers.tests.js
  web/portal/platform/cypress/e2e/Infrastructure/MediaRelaySets/MediaRelaySets.cy.js
  web/portal/platform/cypress/e2e/Infrastructure/MediaRelaySets/MediaRelaySets.tests.js
  web/portal/platform/cypress/e2e/Infrastructure/MediaRelaySets/Rtpengine/Rtpengine.cy.js
  web/portal/platform/cypress/e2e/Infrastructure/MediaRelaySets/Rtpengine/Rtpengine.tests.js
  web/portal/platform/cypress/e2e/Infrastructure/ProxiesUser/ProxyUser.cy.js
  web/portal/platform/cypress/e2e/Infrastructure/ProxiesUser/ProxyUser.tests.js
  web/portal/platform/cypress/e2e/Infrastructure/ProxyTrunk/ProxyTrunk.cy.js
  web/portal/platform/cypress/e2e/Infrastructure/ProxyTrunk/ProxyTrunk.tests.js
  web/portal/platform/cypress/fixtures/ApplicationServer/getItem.json
  web/portal/platform/cypress/fixtures/ApplicationServer/post.json
  web/portal/platform/cypress/fixtures/ApplicationServer/put.json
  web/portal/platform/cypress/fixtures/MediaRelaySets/getCollection.json
  web/portal/platform/cypress/fixtures/MediaRelaySets/getItem.json
  web/portal/platform/cypress/fixtures/MediaRelaySets/post.json
  web/portal/platform/cypress/fixtures/MediaRelaySets/put.json
  web/portal/platform/cypress/fixtures/ProxyTrunk/getCollection.json
  web/portal/platform/cypress/fixtures/ProxyTrunk/getItem.json
  web/portal/platform/cypress/fixtures/ProxyTrunk/post.json
  web/portal/platform/cypress/fixtures/ProxyTrunk/put.json
  web/portal/platform/cypress/fixtures/ProxyUser/getCollection.json
  web/portal/platform/cypress/fixtures/ProxyUser/getItem.json
  web/portal/platform/cypress/fixtures/ProxyUser/post.json
  web/portal/platform/cypress/fixtures/ProxyUser/put.json
  web/portal/platform/cypress/fixtures/Rtpengine/getCollection.json
  web/portal/platform/cypress/fixtures/Rtpengine/getItem.json
  web/portal/platform/cypress/fixtures/Rtpengine/post.json
  web/portal/platform/cypress/fixtures/Rtpengine/put.json
  web/portal/platform/cypress/pacts/platform-provider-Application-servers-platform-consumer-Application-servers.json
  web/portal/platform/cypress/pacts/platform-provider-Media-relay-sets-platform-consumer-Media-relay-sets.json
  web/portal/platform/cypress/pacts/platform-provider-Proxy-trunk-platform-consumer-Proxy-trunk.json
  web/portal/platform/cypress/pacts/platform-provider-Proxy-user-platform-consumer-Proxy-user.json
  web/portal/platform/cypress/pacts/platform-provider-Rtpengine-platform-consumer-Rtpengine.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: billing, tests, portal/platform, *tempest*

#2848 Extensions selector do not works fine
  library/DataFixtures/ORM/ProviderExtension.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/ExtensionDoctrineRepository.php
  schema/tests/Provider/Extension/ExtensionLifeCycleTest.php
  schema/tests/Provider/Extension/ExtensionRepositoryTest.php
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/client/src/entities/Extension/SelectOptions/UnassignedExtensionSelectOptions.ts
  web/portal/client/src/entities/User/ForeignKeyGetter.tsx
  web/rest/brand/features/provider/extension/getExtension.feature
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/my/dashboard/getDashboard.feature
  web/rest/client/features/provider/extension/getExtension.feature
  web/rest/client/features/provider/extension/getExtensionUnassigned.feature
  web/rest/client/features/provider/extension/postExtension.feature
  web/rest/client/features/provider/extension/postExtensionMassImport.feature
  web/rest/client/src/Controller/Provider/ExtensionsUnassignedAction.php
  web/rest/user/features/my/company_extensions/getCompanyExtensions.feature
Labels: +bug, core, portal/client, php, *tempest*, javascript, functional-review

#2863 Testing Platform section portals and platform operators
  web/portal/platform/cypress/e2e/Administrator/AdministratorRelPublicEntities/AdministratorRelPublicEntities.cy.js
  web/portal/platform/cypress/e2e/Administrator/AdministratorRelPublicEntities/AdministratorRelPublicEntities.tests.js
  web/portal/platform/cypress/e2e/webPortal/WebPortal.cy.js
  web/portal/platform/cypress/e2e/webPortal/WebPortal.tests.js
  web/portal/platform/cypress/fixtures/AdministratorRelPublicEntities/getCollection.json
  web/portal/platform/cypress/fixtures/AdministratorRelPublicEntities/getItem.json
  web/portal/platform/cypress/fixtures/AdministratorRelPublicEntities/put.json
  web/portal/platform/cypress/fixtures/PublicEntities/getCollection.json
  web/portal/platform/cypress/fixtures/PublicEntities/getItem.json
  web/portal/platform/cypress/fixtures/PublicEntities/post.json
  web/portal/platform/cypress/fixtures/PublicEntities/put.json
  web/portal/platform/cypress/fixtures/WebPortal/getItem.json
  web/portal/platform/cypress/fixtures/WebPortal/post.json
  web/portal/platform/cypress/fixtures/WebPortal/put.json
  web/portal/platform/cypress/pacts/platform-provider-Administrator-relPublic-entities-platform-consumer-Administrator-relPublic-entities.json
  web/portal/platform/cypress/pacts/platform-provider-Web-portals-platform-consumer-Web-portals.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, billing, tests, portal/platform, *tempest*

#2826 Refactorize and test microservice/recordings
  microservices/recordings/bin/prepare-test-db
  microservices/recordings/bin/test-recordings
  microservices/recordings/composer.json
  microservices/recordings/composer.lock
  microservices/recordings/config/bundles.php
  microservices/recordings/config/packages/test/doctrine.yaml
  microservices/recordings/config/services.yaml
  microservices/recordings/phpstan-baseline.neon
  microservices/recordings/phpunit.xml.dist
  microservices/recordings/psalm-baseline.xml
  microservices/recordings/src/Model/Mp3FileInfo.php
  microservices/recordings/src/Model/RawRecordingInfo.php
  microservices/recordings/src/Service/Encoder.php
  microservices/recordings/src/Service/FileUnlinker.php
  microservices/recordings/src/Service/RawRecordingInfoFactory.php
  microservices/recordings/src/Service/RawRecordingProcessor.php
  microservices/recordings/src/Service/RawRecordingsGetter.php
  microservices/recordings/symfony.lock
  microservices/recordings/tests/Service/EncoderTest.php
  microservices/recordings/tests/bootstrap.php
Labels: +enhancement, microservices, *tempest*, functional-review

#2825 Update ChangeLog for 4.3.0 release
  ChangeLog
  README.md
  asterisk/config/pjsip.conf.in
  doc/sphinx/conf.py
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, *tempest*, functional-review

#2868 Update Jira custom field ids in pipelines
  Jenkinsfile
Labels: +enhancement, devops, *tempest*, functional-review

#2866 IVR: Request digits in dialplan instead of inside the AGI
  asterisk/agi/config/routes.yaml
  asterisk/agi/config/services.yaml
  asterisk/agi/src/Agi/Action/IvrAction.php
  asterisk/agi/src/Agi/Wrapper.php
  asterisk/agi/src/Dialplan/IvrStatus.php
  asterisk/config/dialplan/default.conf
Labels: +enhancement, agis, ci-force-tests-back, *tempest*

#2869 Check rtpengine recording has ended using lsof
  microservices/recordings/config/services.yaml
  microservices/recordings/src/Model/RawRecordingInfo.php
  microservices/recordings/src/Service/Encoder.php
  microservices/recordings/src/Service/RawRecordingInfoFactory.php
  microservices/recordings/src/Service/RecordingEndedChecker.php
  microservices/recordings/tests/Service/EncoderTest.php
  microservices/recordings/tests/Service/RecordingEndedCheckerTest.php
Labels: +enhancement, microservices, *tempest*, functional-review

#2871 asterisk: configure voicemail audio files to store on disk
  asterisk/config/voicemail.conf
Labels: +enhancement, *tempest*, asterisk

#2861 Testing Platform Generic Configuration section
  web/portal/platform/cypress/e2e/GenericConfiguration/Currencies/Currencies.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/Currencies/Currencies.tests.js
  web/portal/platform/cypress/e2e/GenericConfiguration/InvoiceTemplate/InvoiceTemplate.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/InvoiceTemplate/InvoiceTemplate.tests.js
  web/portal/platform/cypress/e2e/GenericConfiguration/NotificationTemplate/NotificationTemplate.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/NotificationTemplate/NotificationTemplateContents/NotificationTemplateContents.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/Services/Services.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/Services/Services.tests.js
  web/portal/platform/cypress/e2e/GenericConfiguration/SpecialNumber/SpecialNumber.cy.js
  web/portal/platform/cypress/e2e/GenericConfiguration/SpecialNumber/SpecialNumber.tests.js
  web/portal/platform/cypress/fixtures/Countries/getCollection.json
  web/portal/platform/cypress/fixtures/Currencies/getCollection.json
  web/portal/platform/cypress/fixtures/Currencies/getItem.json
  web/portal/platform/cypress/fixtures/Currencies/post.json
  web/portal/platform/cypress/fixtures/Currencies/put.json
  web/portal/platform/cypress/fixtures/Language/getCollection.json
  web/portal/platform/cypress/fixtures/Language/getItem.json
  web/portal/platform/cypress/fixtures/NotificationTemplate/getCollection.json
  web/portal/platform/cypress/fixtures/NotificationTemplate/getItem.json
  web/portal/platform/cypress/fixtures/NotificationTemplateContent/getCollection.json
  web/portal/platform/cypress/fixtures/NotificationTemplateContent/getItem.json
  web/portal/platform/cypress/fixtures/NotificationTemplateContent/put.json
  web/portal/platform/cypress/fixtures/Services/getCollection.json
  web/portal/platform/cypress/fixtures/Services/getItem.json
  web/portal/platform/cypress/fixtures/Services/put.json
  web/portal/platform/cypress/fixtures/SpecialNumber/getCollection.json
  web/portal/platform/cypress/fixtures/SpecialNumber/getItem.json
  web/portal/platform/cypress/fixtures/SpecialNumber/post.json
  web/portal/platform/cypress/fixtures/SpecialNumber/put.json
  web/portal/platform/cypress/pacts/platform-provider-Currencies-platform-consumer-Currencies.json
  web/portal/platform/cypress/pacts/platform-provider-Services-platform-consumer-Services.json
  web/portal/platform/cypress/pacts/platform-provider-Special-numbers-platform-consumer-Special-numbers.json
  web/portal/platform/cypress/pacts/platform-provider-default-notification-templates-contents-platform-consumer-default-notification-templates-contents.json
  web/portal/platform/cypress/pacts/platform-provider-default-notification-templates-platform-consumer-default-notification-templates.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: billing, tests, portal/platform, *tempest*

#2864 Testing platform session billable calls
  web/portal/platform/cypress/e2e/Calls/Externalcalls/ExternalCalls.cy.js
  web/portal/platform/cypress/fixtures/ExternalCalls/billableCallsExport.json
  web/portal/platform/cypress/fixtures/ExternalCalls/getCollection.json
  web/portal/platform/cypress/pacts/platform-provider-invoice-billable_calls-platform-consumer-invoice-billable_calls.json
  web/portal/platform/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: billing, tests, portal/platform, *tempest*

#2873 kamailio: do not forward within-dlg INFO to AS-es (except DTMFs)
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
Labels: +enhancement, trunks, users, ci-no-tests, *tempest*

#2875 Testing Brand session calls
  web/portal/brand/cypress/e2e/Calls/CallCsvSchedulers/CallCsvReport/CallCsvReport.cy.js
  web/portal/brand/cypress/e2e/Calls/CallCsvSchedulers/CallCsvScheduler.cy.js
  web/portal/brand/cypress/e2e/Calls/CallCsvSchedulers/CallCsvSchedulers.tests.js
  web/portal/brand/cypress/e2e/Calls/Externalcalls/ExternalCalls.cy.js
  web/portal/brand/cypress/fixtures/Provider/BillableCalls/billableCallsExport.json
  web/portal/brand/cypress/fixtures/Provider/BillableCalls/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvReport/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvReport/getItem.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvScheduler/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvScheduler/getItem.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvScheduler/post.json
  web/portal/brand/cypress/fixtures/Provider/CallCsvScheduler/put.json
  web/portal/brand/cypress/pacts/brand-provider-Call-Csv-Report-brand-consumer-Call-Csv-Report.json
  web/portal/brand/cypress/pacts/brand-provider-Call-Csv-Scheduler-brand-consumer-Call-Csv-Scheduler.json
  web/portal/brand/cypress/pacts/brand-provider-External-calls-brand-consumer-External-calls.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: tests, portal/brand, *tempest*

#2874 Web client user impersonation do not use user portal urls
  library/Ivoz/Provider/Domain/Model/WebPortal/WebPortalDto.php
  web/portal/client/cypress/fixtures/apiSpec.json
  web/portal/client/src/entities/User/Action/Impersonate.tsx
  web/portal/client/src/entities/User/List.tsx
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/entities/WebPortal/WebPortal.tsx
  web/portal/client/src/entities/WebPortal/WebPortalProperties.ts
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/features/provider/webPortal/getWebPortal.feature
Labels: +bug, tests, portal/client, rest/client, php, javascript, functional-review

#2877 tests: ignore merge commits while validating commit tags
  library/bin/test-commit-tags
Labels: +bug, tests, *tempest*

#2876 Correctly link the main background image in the user portal
  web/portal/user/src/components/AppRouteContentWrapper/AppRouteContentWrapper.styles.tsx
  web/portal/user/src/components/AppRouteContentWrapper/AppRouteContentWrapper.tsx
  web/portal/user/src/components/AppRouteContentWrapper/index.ts
  web/portal/user/src/router/AppRoutes.tsx
Labels: billing, portal/user, *tempest*, functional-review
