Repository irontec/ivozprovider, pull requests merged in 2025-05, with the labels that each got.

#2952 [PROVIDER-1699] Update menu icons in brand portal
  web/portal/brand/cypress/e2e/BannedIpAddress/BannedIpAddress.cy.js
  web/portal/brand/cypress/e2e/BruteForceAttacks/BruteForceAttacks.cy.js
  web/portal/brand/cypress/e2e/Calls/CallCsvSchedulers/CallCsvReport/CallCsvReport.cy.js
  web/portal/brand/cypress/e2e/Calls/CallCsvSchedulers/CallCsvScheduler.cy.js
  web/portal/brand/cypress/e2e/Clients/Residential/Residentials.cy.js
  web/portal/brand/cypress/e2e/Clients/Retails/Retails.cy.js
  web/portal/brand/cypress/e2e/Clients/VirtualPbxs/VirtualPbxs.cy.js
  web/portal/brand/cypress/e2e/Clients/Wholesales/Wholesales.cy.js
  web/portal/brand/cypress/e2e/Corporation/Corporation.cy.js
  web/portal/brand/cypress/e2e/Friends/Friends.cy.js
  web/portal/brand/cypress/e2e/OutgoingRouting/OutgoingRouting.cy.js
  web/portal/brand/cypress/e2e/ResidentialDevice/ResidentialDevice.cy.js
  web/portal/brand/cypress/e2e/RetailAccount/RetailAccount.cy.js
  web/portal/brand/cypress/e2e/RoutingPattern/RoutingPattern.cy.js
  web/portal/brand/cypress/e2e/RoutingPatternGroup/RoutingPatternGroup.cy.js
  web/portal/brand/cypress/e2e/RoutingTag/RoutingTag.cy.js
  web/portal/brand/cypress/e2e/User/User.cy.js
  web/portal/brand/src/router/EntityMap.ts
Labels: +enhancement, portal/brand, *tempest*, functional-review

#2955 [PROVIDER-2248] Add api client endpoint for user detailed collection
  library/Ivoz/Provider/Domain/Model/User/UserDto.php
  web/rest/client/config/api/raw/provider.yml
  web/rest/client/config/routes.yaml
  web/rest/client/features/provider/user/getUsersDetailed.feature
  web/rest/client/public/apiSpec.json
Labels: portal/client, rest/client, *tempest*, functional-review

#2957 [PROVIDER-2251] Remove unused callid methods
  library/Ivoz/Kam/Domain/Model/TrunksCdr/TrunksCdrRepository.php
  library/Ivoz/Kam/Domain/Model/UsersCdr/UsersCdrRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/TrunksCdrDoctrineRepository.php
  library/Ivoz/Kam/Infrastructure/Persistence/Doctrine/UsersCdrDoctrineRepository.php
  schema/tests/Kam/TrunksCdr/TrunksCdrRepositoryTest.php
  schema/tests/Kam/UsersCdr/UsersCdrRepositoryTest.php
Labels: tests, core, !breaking, *tempest*

#2958 [PROVIDER-2256] Update test-phpstan-update-baseline to avoid premature exit
  library/bin/test-phpstan
  library/bin/test-phpstan-update-baseline
Labels: +bug, tests, *tempest*

#2959 [PROVIDER-2257] Update pact-cypress-adapter dev dependency in portals
  web/portal/package.json
  web/portal/yarn.lock
Labels: +bug, portal/user, portal/client, portal/brand, portal/platform, *tempest*

#2941 [PROVIDER-2231] Fix sanitizer on carrier server and survival device
  library/DataFixtures/ORM/ProviderSurvivalDevice.php
  library/Ivoz/Provider/Domain/Model/CarrierServer/CarrierServer.php
  library/Ivoz/Provider/Domain/Model/SurvivalDevice/SurvivalDevice.php
  library/phpstan-baseline.neon
  library/psalm-baseline.xml
  microservices/provision/features/specificProvision.feature
  web/portal/client/src/entities/SurvivalDevice/SurvivalDevice.tsx
  web/portal/client/src/translations/ca.json
  web/portal/client/src/translations/en.json
  web/portal/client/src/translations/es.json
  web/portal/client/src/translations/it.json
  web/rest/client/features/provider/location/getLocation.feature
  web/rest/client/features/provider/survivalDevice/getSurvivalDevices.feature
  web/rest/client/features/provider/survivalDevice/postSurvivalDevice.feature
  web/rest/client/features/provider/survivalDevice/putSurvivalDevice.feature
Labels: core, portal/client, portal/brand, functional-review

#2960 [PROVIDER-2250] Library update for enhanced one to many relations
  library/Ivoz/Provider/Domain/Model/Ddi/DdiTrait.php
  library/Ivoz/Provider/Domain/Model/Domain/DomainTrait.php
  library/Ivoz/Provider/Domain/Model/Extension/ExtensionTrait.php
  library/Ivoz/Provider/Domain/Model/Location/Location.php
  library/Ivoz/Provider/Domain/Model/Location/LocationInterface.php
  library/Ivoz/Provider/Domain/Model/Location/LocationTrait.php
  library/Ivoz/Provider/Domain/Model/ResidentialDevice/ResidentialDeviceTrait.php
  library/Ivoz/Provider/Domain/Model/RetailAccount/RetailAccountTrait.php
  library/Ivoz/Provider/Domain/Model/Terminal/TerminalTrait.php
  library/Ivoz/Provider/Domain/Model/User/UserTrait.php
  library/composer.json
  library/composer.lock
Labels: +enhancement, core, ci-force-tests, *tempest*, functional-review

#2962 [PROVIDER-1700] Updated menu icons portal clients
  web/portal/client/cypress/e2e/Ddi/BillableCalls/BillableCalls.cy.js
  web/portal/client/cypress/e2e/Ddi/ResidentialDdi/BillableCalls/BillableCalls.cy.js
  web/portal/client/src/entities/BillableCall/BillableCall.tsx
  web/portal/client/src/entities/Extension/Extension.tsx
  web/portal/client/src/entities/MatchList/MatchList.tsx
  web/portal/client/src/entities/ResidentialDevice/ResidentialDevice.tsx
  web/portal/client/src/entities/RetailAccount/RetailAccount.tsx
  web/portal/client/src/entities/Terminal/Terminal.tsx
  web/portal/client/src/entities/User/User.tsx
  web/portal/client/src/entities/Voicemail/Voicemail.tsx
  web/portal/client/src/router/EntityMap.ts
Labels: +enhancement, portal/client, functional-review

#2963 [PROVIDER-2263] Change calls menu icon portal platform
  web/portal/platform/src/router/EntityMap.ts
Labels: +bug, portal/platform, *tempest*, functional-review

#2967 [PROVIDER-2260] fix show routing tag retail wholesale
  web/portal/brand/cypress/pacts/brand-provider-retails-client-rating-profiles-brand-consumer-retails-client-rating-profiles.json
  web/portal/brand/src/entities/RatingProfile/Form.tsx
Labels: +bug, portal/brand, *tempest*, functional-review

#2965 [PROVIDER-2258] Add automatic retries after failed invoice creation
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerAbstract.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerDto.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerDtoAbstract.php
  library/Ivoz/Provider/Domain/Model/InvoiceScheduler/InvoiceSchedulerInterface.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolver.php
  library/Ivoz/Provider/Domain/Service/InvoiceScheduler/SetExecutionError.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/Mapping/InvoiceScheduler.InvoiceSchedulerAbstract.orm.xml
  library/spec/Ivoz/Provider/Domain/Service/InvoiceScheduler/NextExecutionResolverSpec.php
  library/spec/Ivoz/Provider/Domain/Service/InvoiceScheduler/SetExecutionErrorSpec.php
  schema/DoctrineMigrations/Version20250514135139.php
  schema/tests/Provider/InvoiceScheduler/InvoiceSchedulerLifeCycleTest.php
Labels: +enhancement, billing, schema, core, *tempest*, functional-review

#2966 [PROVIDER-2268] Do not restart services on package upgrade
  debian/rules
Labels: +bug, packaging, *tempest*

#2964 [PROVIDER-2267] Use named service to restar DNS server
  debian/ivozprovider-profile-data.postinst
  debian/ivozprovider.postinst
Labels: +bug, packaging, *tempest*

#2969 [PROVIDER-1961] Added cypress tests for billing section
  web/portal/brand/cypress/e2e/Billing/DestinationRateGroup/DestinationRate/DestinationRate.cy.js
  web/portal/brand/cypress/e2e/Billing/DestinationRateGroup/DestinationRateGroup.cy.js
  web/portal/brand/cypress/e2e/Billing/Destinations/Destinations.cy.js
  web/portal/brand/cypress/e2e/Billing/RatingPlanGroups/RatingPlanGroups.cy.js
  web/portal/brand/cypress/fixtures/Provider/CurrentDayUsages/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/CurrentDayUsages/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Destination/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/Destination/getItem.json
  web/portal/brand/cypress/fixtures/Provider/Destination/postItem.json
  web/portal/brand/cypress/fixtures/Provider/Destination/put.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRateGroup/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRateGroup/getItem.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRateGroup/postItem.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRateGroup/put.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRates/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRates/getItem.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRates/postItem.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRates/put.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRatingPlanGroups/getCollection.json
  web/portal/brand/cypress/fixtures/Provider/DestinationRatingPlanGroups/postItem.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlan/getCollections.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroups/getItem.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroups/postItem.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroups/postSimulateCall.json
  web/portal/brand/cypress/fixtures/Provider/RatingPlanGroups/putItem.json
  web/portal/brand/cypress/pacts/brand-provider-DestinationRateGroup-brand-consumer-DestinationRateGroup.json
  web/portal/brand/cypress/pacts/brand-provider-destinationRateGroup-rates-brand-consumer-destinationRateGroup-rates.json
  web/portal/brand/cypress/pacts/brand-provider-destinations-brand-consumer-destinations.json
  web/portal/brand/cypress/pacts/brand-provider-ratingPlanGroups-brand-consumer-ratingPlanGroups.json
  web/portal/brand/cypress/support/commands/prepareGenericPactInterceptors.js
Labels: +enhancement, portal/brand, *tempest*

#2968 [PROVIDER-2269] Fixed wrong recording to CDR matching
  library/Ivoz/Provider/Domain/Model/BillableCall/BillableCallRepository.php
  library/Ivoz/Provider/Domain/Model/UsersCdr/UsersCdrRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/BillableCallDoctrineRepository.php
  library/Ivoz/Provider/Infrastructure/Persistence/Doctrine/UsersCdrDoctrineRepository.php
  microservices/recordings/src/Model/RawRecordingInfo.php
  microservices/recordings/src/Service/Encoder.php
  microservices/recordings/src/Service/RawRecordingInfoFactory.php
  microservices/recordings/tests/Service/EncoderTest.php
  schema/tests/Provider/BillableCall/BillableCallRepositoryTest.php
  schema/tests/Provider/UsersCdr/UsersCdrRepositoryTest.php
Labels: +bug, core, microservices, *tempest*, functional-review

#2973 [PROVIDER-2271] Update ChangeLog for 4.4.0 release
  ChangeLog
  README.md
  asterisk/config/pjsip.conf.in
  doc/sphinx/conf.py
  kamailio/trunks/config/kamailio.cfg
  kamailio/users/config/kamailio.cfg
  web/rest/brand/CHANGELOG.md
  web/rest/client/CHANGELOG.md
  web/rest/platform/CHANGELOG.md
  web/rest/user/CHANGELOG.md
Labels: +enhancement, doc, ci-no-tests, *tempest*

#2975 [PROVIDER-2277] Added lsof dependency to ivozprovider-recordings package
  debian/control
Labels: +bug, packaging, *tempest*
